Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

Deploying to doc_pages from @ openvinotoolkit/nncf@62d1b36556df818aa81f9dc918c62162aaa36bd0 🚀
  schema/index.html
Due: none

Inherit OverfloFix and QuantizationPreset from StrEnum (#2608)
  nncf/__init__.py
  nncf/common/quantization/structs.py
  nncf/quantization/advanced_parameters.py
Due: common, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@9674f7705ad4924a0685630d178bf6efae0c3d76 🚀
  _sources/autoapi/nncf/index.rst.txt
  _sources/autoapi/nncf/quantization/advanced_parameters/index.rst.txt
  autoapi/nncf/index.html
  autoapi/nncf/quantization/advanced_parameters/index.html
  genindex.html
  objects.inv
  schema/index.html
  searchindex.js
Due: none

Update refs for OV 24.1
  tests/openvino/native/data/2024.1/reference_scales/yolo-v3-tiny-onnx_mixed.json
  tests/openvino/native/data/2024.1/reference_scales/yolo-v3-tiny-onnx_performance.json
Due: none

deprecate install extra packages
  README.md
Due: none

Update refs for OV 24.1 (#2615)
  tests/openvino/native/data/2024.1/reference_scales/yolo-v3-tiny-onnx_mixed.json
  tests/openvino/native/data/2024.1/reference_scales/yolo-v3-tiny-onnx_performance.json
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@ec497ce0781fe867d73d5c5bdf8310fdb40604a4 🚀
  schema/index.html
Due: none

Move Convert after Reshape in case of grouped compression
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: openvino, ptq

add int4 and int8 checks
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

instead
  README.md
Due: none

clean installation
  docs/Installation.md
Due: none

onnx
  docs/Installation.md
Due: none

Add is_subtype argument for metatype register (#2611)
  nncf/common/graph/operator_metatypes.py
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  nncf/tensorflow/graph/metatypes/keras_layers.py
  nncf/torch/graph/operator_metatypes.py
Due: common, torch, tensorflow, onnx, openvino

Deploying to doc_pages from @ openvinotoolkit/nncf@7105e8c1271436b88597f34566f8592e7d171597 🚀
  schema/index.html
Due: none

fix
  nncf/torch/graph/transformations/command_creation.py
Due: torch

clean
  nncf/torch/graph/operator_metatypes.py
Due: torch

fix
  tests/torch/test_model_transformer.py
Due: none

Fixing more errors
  nncf/common/pruning/operations.py
  nncf/common/pruning/shape_pruning_processor.py
  nncf/common/pruning/utils.py
Due: common

update
  nncf/common/pruning/operations.py
  nncf/common/pruning/shape_pruning_processor.py
  nncf/common/pruning/utils.py
Due: common

dataloader
  docs/compression_algorithms/post_training/Quantization.md
Due: none

Added extra hyperparameter for scale estimation.
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/model_scope.py
Due: ptq

feat: Added to the test scope
  tests/post_training/model_scope.py
Due: none

fix
  nncf/torch/graph/operator_metatypes.py
  tests/torch/test_layer_attributes.py
Due: torch

comment
  nncf/torch/quantization/strip.py
Due: torch

Update md-dead-link-check
  .github/workflows/nightly.yml
  .github/workflows/pre-commit-linters.yml
Due: none

Update md-dead-link-check action to v0.8 (#2620)
  .github/workflows/nightly.yml
  .github/workflows/pre-commit-linters.yml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@0b407de48da8d6e30fdb11325e8a1913139d5cfb 🚀
  schema/index.html
Due: none

Update tests/post_training/data/wc_reference_data.yaml
  tests/post_training/data/wc_reference_data.yaml
Due: none

Use one shared module for Torch unified scale quantization points
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/torch/graph/transformations/command_creation.py
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/inception_v3.dot
Due: torch, onnx, openvino, ptq

comments
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/torch/model_transformer.py
Due: torch, ptq

fix
  nncf/torch/model_graph_manager.py
  nncf/torch/model_transformer.py
  tests/torch/test_model_graph_manager.py
Due: torch

clean
  nncf/torch/model_graph_manager.py
Due: torch

formatting
  docs/compression_algorithms/post_training/Quantization.md
Due: none

bump up version
  .pre-commit-config.yaml
  ruff.toml
Due: none

tests
  tests/onnx/quantization/test_ptq_params.py
  tests/openvino/native/quantization/test_ptq_params.py
  tests/post_training/test_templates/test_ptq_params.py
  tests/torch/ptq/test_ptq_params.py
  tests/torch/test_model_transformer.py
Due: none

no adding outputs with no parent node (initializer case)
  nncf/onnx/graph/nncf_graph_builder.py
  tests/onnx/data/reference_graphs/original_nncf_graph/synthetic/output_with_no_parents_model.dot
Due: onnx

Expose more properties to be available as nncf.*
  nncf/__init__.py
  nncf/common/quantization/structs.py
  nncf/quantization/advanced_parameters.py
Due: common, ptq

fix test
  tests/torch/test_tracing_context.py
Due: none
