Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@e0f80e01088bc05f628fbf919e9075ebc2e9f76a 🚀
  schema/index.html
Due: none

reply to comments
  examples/llm_compression/onnx/tiny_llama/main.py
  examples/llm_compression/onnx/tiny_llama/requirements.txt
Due: none

next commit
  nncf/quantization/algorithms/min_max/algorithm.py
Due: ptq

rfc
  nncf/common/graph/operator_metatypes.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  nncf/torch/graph/operator_metatypes.py
  tests/common/quantization/metatypes.py
  tests/common/quantization/test_quantizer_propagation_solver.py
Due: common, torch, openvino

fix
  nncf/onnx/graph/onnx_helper.py
  tests/onnx/test_onnx_helper.py
Due: onnx

target_inputs_port
  nncf/common/graph/operator_metatypes.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/common/quantization/metatypes.py
  tests/common/quantization/test_quantizer_propagation_solver.py
Due: common, openvino, ptq

1
  nncf/torch/graph/operator_metatypes.py
Due: torch

Fixed bug.
  nncf/common/quantization/quantizer_propagation/solver.py
Due: common

Update README.md
  README.md
Due: none

Update ReleaseNotes.md
  ReleaseNotes.md
Due: none

Update Usage.md
  docs/usage/training_time_compression/quantization_aware_training_lora/Usage.md
Due: none

Initial commit
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/config.py
  nncf/quantization/algorithms/weight_compression/handle_errors.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/cross_fw/test_templates/template_test_weights_compression.py
  tests/openvino/native/quantization/test_gptq.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: torch, openvino, ptq

reply to comments
  nncf/onnx/graph/onnx_helper.py
Due: onnx

update test duration
  tests/post_training/data/wc_test_durations.json
Due: none

Speed up weight compression for ONNX backend (opset < 21) (#3516)
  nncf/onnx/graph/onnx_helper.py
  tests/onnx/test_onnx_helper.py
  tests/post_training/data/wc_test_durations.json
Due: onnx

Deploying to doc_pages from @ openvinotoolkit/nncf@0bea3df95adb07f65267d823b7e0d651b75c5315 🚀
  schema/index.html
Due: none

add test
  tests/onnx/test_onnx_helper.py
Due: none

use pad
  nncf/onnx/graph/onnx_helper.py
Due: onnx

update
  examples/llm_compression/onnx/tiny_llama/README.md
  examples/llm_compression/onnx/tiny_llama/main.py
Due: none

reply to comments
  examples/llm_compression/onnx/tiny_llama/main.py
Due: none

Aanuf/sdpa v fp8 (#3485)
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
Due: common, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@4db830070cb592731c84290e46cb1d12c49bba0e 🚀
  schema/index.html
Due: none

Use OVModelForCausalLM for ONNX weight compression example (#3517)
  examples/llm_compression/onnx/tiny_llama/README.md
  examples/llm_compression/onnx/tiny_llama/main.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@84ff9a918892bc0ab1e8b0859bbafbcc467775bf 🚀
  schema/index.html
Due: none

removed NLS from notes for previous release
  ReleaseNotes.md
Due: none

A dedicated page for a new common algorithm utilized in 2 samples: QAT + LoRA and QAT + NLS (#3514)
  .ci/cspell_dict.txt
  README.md
  ReleaseNotes.md
  docs/Algorithms.md
  docs/usage/training_time_compression/quantization_aware_training_lora/Usage.md
  docs/usage/training_time_compression/quantization_aware_training_lora/absorb_lora.png
  docs/usage/training_time_compression/quantization_aware_training_lora/workflow.png
  examples/llm_compression/torch/distillation_qat_with_lora/README.md
  examples/llm_compression/torch/distillation_qat_with_lora/custom_eval_tasks/preprocess_wikitext.py
  examples/llm_compression/torch/distillation_qat_with_lora/custom_eval_tasks/wikitext_validation.yaml
  examples/llm_compression/torch/distillation_qat_with_lora/main.py
  examples/llm_compression/torch/distillation_qat_with_lora/pics/absorbable_lora_adapters.png
  examples/llm_compression/torch/distillation_qat_with_lora/pics/training_pipeline.png
  examples/llm_compression/torch/distillation_qat_with_lora/requirements.txt
  examples/llm_compression/torch/downstream_qat_with_nls/README.md
  examples/llm_compression/torch/downstream_qat_with_nls/main.py
  examples/llm_compression/torch/downstream_qat_with_nls/pics/lora_vs_nls.png
  examples/llm_compression/torch/downstream_qat_with_nls/requirements.txt
  examples/llm_compression/torch/qat_with_lora/README.md
  examples/llm_compression/torch/qat_with_lora/pics/training_pipeline.png
  tests/cross_fw/examples/.test_durations
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@c6af29515c744cb60bdc1da26d213ac483df164a 🚀
  schema/index.html
Due: none

Applied suggestions.
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/common.py
  nncf/quantization/algorithms/weight_compression/onnx_backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
Due: torch, onnx, openvino, ptq

Fixed tests.
  nncf/quantization/advanced_parameters.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: ptq

Added codebook parametars validation.
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/quantize_model.py
Due: ptq

Fixed bug.
  nncf/quantization/algorithms/weight_compression/algorithm.py
Due: ptq

fix
  tests/onnx/quantization/test_weights_compression.py
Due: none

Used by section is extended
  README.md
Due: none

cspell_dict.txt is updated
  .ci/cspell_dict.txt
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@d349b9c42150f99b195ae2ba712c2c2a8f195fcd 🚀
  schema/index.html
Due: none

bump nncf version 2180
  nncf/version.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@5bf99fc3729b91babd6e38a91611f3229d8b28a3 🚀
  schema/index.html
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@a8b5c6573a7631d9edbce1532d20dd7e46f85510 🚀
  schema/index.html
Due: none

release notes template
  ReleaseNotes.md
Due: none

[README] Used by section is extended (#3520)
  .ci/cspell_dict.txt
  README.md
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
