Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

import issue
  nncf/quantization/quantize_model.py
Due: ptq

polishing
  nncf/quantization/statistics_caching.py
Due: ptq

add onnx and torch_fx tests on aggregator
  tests/onnx/test_statistics_caching.py
  tests/torch/fx/test_statistics_caching.py
Due: none

[PT] Introduce GraphBuilderMode (#3029)
  nncf/experimental/torch2/function_hook/__init__.py
  nncf/experimental/torch2/function_hook/graph/__init__.py
  nncf/experimental/torch2/function_hook/graph/build_graph_mode.py
  nncf/experimental/torch2/function_hook/graph/graph_utils.py
  nncf/experimental/torch2/function_hook/graph/graph_visualization.py
  nncf/experimental/torch2/function_hook/hook_executor_mode.py
  nncf/experimental/torch2/function_hook/hook_storage.py
  nncf/experimental/torch2/function_hook/weak_map.py
  nncf/experimental/torch2/function_hook/wrapper.py
  tests/torch2/conftest.py
  tests/torch2/data/function_hook/graph_visualization/to_pydot_style_disable.dot
  tests/torch2/data/function_hook/graph_visualization/to_pydot_style_full.dot
  tests/torch2/data/function_hook/graph_visualization/to_pydot_style_short.dot
  tests/torch2/function_hook/graph/test_build_graph_mode.py
  tests/torch2/function_hook/graph/test_graph_visualisation.py
  tests/torch2/function_hook/helpers.py
  tests/torch2/function_hook/test_function_hook_mode.py
  tests/torch2/function_hook/test_hook_storage.py
  tests/torch2/utils.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@94f10067266e7ab0cfc8960670a6889d00949c63 🚀
  _sources/autoapi/nncf/experimental/torch2/function_hook/graph/build_graph_mode/index.rst.txt
  _sources/autoapi/nncf/experimental/torch2/function_hook/graph/graph_utils/index.rst.txt
  _sources/autoapi/nncf/experimental/torch2/function_hook/graph/graph_visualization/index.rst.txt
  _sources/autoapi/nncf/experimental/torch2/function_hook/graph/index.rst.txt
  autoapi/nncf/experimental/torch2/function_hook/graph/build_graph_mode/index.html
  autoapi/nncf/experimental/torch2/function_hook/graph/graph_utils/index.html
  autoapi/nncf/experimental/torch2/function_hook/graph/graph_visualization/index.html
  autoapi/nncf/experimental/torch2/function_hook/graph/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

add get_matmul_nodes()
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/statistics_caching.py
Due: ptq

[Torch] INT4 weight compression (#3014)
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/layers.py
  nncf/torch/quantization/quantize_functions.py
  tests/post_training/data/wc_reference_data_2024.5.yaml
  tests/post_training/experimental/sparsify_activations/pipelines.py
  tests/post_training/model_scope.py
  tests/post_training/test_quantize_conformance.py
  tests/torch/data/experimental/sparsify_activations/dummy_llama_int8_sym_weights_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/linear_int8_sym_weights_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/three_linear_ignore1_int8_sym_weights_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/three_linear_int8_sym_weights_sparse_activations.dot
  tests/torch/fx/test_compress_weights.py
  tests/torch/ptq/test_weights_compression.py
Due: torch, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@ef9cdd29825a22ae5916c0c0aa49219e7030f0df 🚀
  schema/index.html
Due: none

add lora to test scope
  tests/openvino/native/quantization/test_weights_compression_statistics_caching.py
Due: none

Fix e2e_tf (#3034)
  tests/tensorflow/test_sota_checkpoints.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@45012334e6b731bf0fca1301646b86998446d148 🚀
  schema/index.html
Due: none

Update wc_reference_data.yaml
  tests/post_training/data/wc_reference_data.yaml
Due: none

test refactor
  tests/openvino/native/quantization/test_weights_compression_statistics_caching.py
Due: none

minor
  tests/openvino/native/quantization/test_weights_compression_statistics_caching.py
  tests/openvino/requirements.txt
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

add test
  tests/common/quantization/test_quantizer_propagation_graph.py
Due: none

[Quantization] Fix bug with removing PropagatingQuantizer (#3008)
  nncf/common/quantization/quantizer_propagation/graph.py
  tests/common/quantization/test_quantizer_propagation_graph.py
Due: common

Deploying to doc_pages from @ openvinotoolkit/nncf@dca2cadc1c6d231c89859a8608b008a617162a97 🚀
  schema/index.html
Due: none

GPTQ + Scale Eestimation conformance test (#2942)
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/model_scope.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@c01a50f1a4065a62a6085803b216e524e604903b 🚀
  schema/index.html
Due: none

Cast quantile result to float32
  nncf/quantization/algorithms/weight_compression/awq.py
Due: ptq

Data-free mixed precision algorithm for Torch and Torch FX backends
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/quantize_model.py
  tests/post_training/model_scope.py
  tests/torch/fx/test_compress_weights.py
  tests/torch/ptq/test_weights_compression.py
Due: ptq

update onnx, onnxruntime reqs
  constraints.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
Due: none

upd readme version
  README.md
Due: none

include pytorch in imports to avoid patchign problem due to impor order in user code
  nncf/torch/dynamic_graph/patch_pytorch.py
Due: torch

remove ndoes which are not directly or indirectly connected to output node.
  nncf/experimental/torch/fx/transformations.py
Due: none

update cuda version
  README.md
Due: none

Add test for new function for getting connected nodes.
  nncf/experimental/torch/fx/transformations.py
  tests/torch/fx/test_model_transformer.py
Due: none

comments
  nncf/experimental/common/tensor_statistics/collectors.py
  tests/common/experimental/test_statistic_collector.py
Due: none

skip fx example on windows
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/test_examples.py
Due: none

setuptools<=72.1.0
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/quantization_aware_training/torch/anomalib/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
Due: none

bump anomalib
  examples/quantization_aware_training/torch/anomalib/requirements.txt
Due: none

updated test references
  nncf/quantization/quantize_model.py
  tests/post_training/data/wc_reference_data_2024.5.yaml
  tests/post_training/test_quantize_conformance.py
  tests/torch/fx/test_compress_weights.py
  tests/torch/ptq/test_weights_compression.py
Due: ptq

update cuda version in CI
  .github/workflows/precommit.yml
Due: none

fix precommit
  .github/workflows/precommit.yml
  nncf/torch/dynamic_graph/patch_pytorch.py
Due: torch

update helpers for torch test
  tests/cross_fw/shared/helpers.py
Due: none

Add conditional check before importing torchvision in JIT patching function
  nncf/torch/dynamic_graph/patch_pytorch.py
  tests/cross_fw/shared/helpers.py
Due: torch

pre-commit fix
  nncf/torch/dynamic_graph/patch_pytorch.py
Due: torch

1.0.1
  examples/quantization_aware_training/torch/anomalib/requirements.txt
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
