Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

minor fixes
  docs/usage/post_training_compression/weights_compression/Usage.md
  nncf/parameters.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/quantize_model.py
  tests/torch/ptq/test_weights_compression.py
Due: ptq

Update wc conformance tests
  tests/post_training/data/wc_reference_data.yaml
Due: none

fix test
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: ptq

Apply comments
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/torch/quantization/layers.py
  nncf/torch/quantization/quantize_functions.py
Due: torch, openvino, ptq

update wc_reference_data.yaml
  nncf/torch/quantization/layers.py
  nncf/torch/quantization/quantize_functions.py
  tests/post_training/data/wc_reference_data.yaml
Due: torch

rename function
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
Due: ptq

Reduce computation time for ASYM mode
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
Due: ptq

docstring
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
Due: ptq

Release notes v2.11 (#2710)
  ReleaseNotes.md
Due: none

refactoring
  nncf/common/graph/graph.py
  nncf/openvino/quantization/quantize_model.py
  nncf/scopes.py
Due: common, openvino

minor
  nncf/scopes.py
Due: none

upd err msg
  nncf/scopes.py
Due: none

mypy
  nncf/common/graph/graph.py
Due: common

Change OV version
  constraints.txt
  docs/Installation.md
Due: none

aligned traversing
  nncf/openvino/quantization/quantize_ifmodel.py
Due: openvino

upd graph ids based on IF node name
  nncf/openvino/quantization/quantize_ifmodel.py
  nncf/openvino/quantization/quantize_model.py
Due: openvino

added gptq documentation
  docs/usage/post_training_compression/weights_compression/Usage.md
Due: none

[Release] Release notes v2.11 (#2710) (#2733)
  ReleaseNotes.md
Due: none

typehint
  nncf/openvino/quantization/quantize_model.py
Due: openvino

replied to comments
  docs/usage/post_training_compression/weights_compression/Usage.md
Due: none

GPTQ documentation (#2735)
  docs/usage/post_training_compression/weights_compression/Usage.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@b1cc78e3afc58a4f0d3afd4e68a4db8992a6ba7c 🚀
  schema/index.html
Due: none

GPTQ documentation (#2736)
  docs/usage/post_training_compression/weights_compression/Usage.md
Due: none

excluded comprasion operations from quantizable operations for transformer models
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
Due: torch, onnx, openvino, ptq

Excluded comprasion operations from quantizable operations (#2737)
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
Due: torch, onnx, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@14df47792cd6b46ef3a6aa2c0461321cc2fe1887 🚀
  schema/index.html
Due: none

Added 24.3 refs
  tests/openvino/native/data/2024.3/reference_graphs/original_nncf_graph/ssd-mobilenet.dot
  tests/openvino/native/data/2024.3/reference_graphs/quantized/ssd-vgg-300_performance.dot
Due: none

doc
  docs/api/source/conf.py
  nncf/tensor/README.md
Due: none

Added 24.3 references (#2738)
  tests/openvino/native/data/2024.3/reference_graphs/original_nncf_graph/ssd-mobilenet.dot
  tests/openvino/native/data/2024.3/reference_graphs/quantized/ssd-vgg-300_performance.dot
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@ae935c216de078a2d953caaf1c1505d333428287 🚀
  schema/index.html
Due: none

Applied comments.
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/awq_patterns.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

Added missing updates
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
Due: none

[Release] Bump OV version (#2734)
  constraints.txt
  docs/Installation.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
Due: none

Bump NNCF version
  nncf/version.py
Due: none

Andreyan/awq extention (#2708)
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/awq_patterns.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@0c22c2c1a1b58488775137a6f09952b06e38b976 🚀
  schema/index.html
Due: none
