Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

made NLS sample self-contained
  examples/llm_compression/torch/qat_with_nls_downstream/main.py
Due: none

Revert "Take into account cahching in tests"
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/optimized_functions/test_compression_functions.py
Due: ptq

Revert "Add caching for _can_run_optimized"
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: ptq

geq
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/openvino/optimized_functions/test_compression_functions.py
Due: ptq

Simplify test helper fn
  tests/openvino/optimized_functions/test_compression_functions.py
Due: none

add test
  tests/onnx/quantization/test_weights_compression.py
Due: none

Add copyright and modification notes for borrowed code in various files
  .ci/cspell_dict.txt
  CONTRIBUTING.md
  examples/llm_compression/torch/qat_with_lora/custom_eval_tasks/preprocess_wikitext.py
  nncf/torch/automl/agent/ddpg/memory.py
  tests/openvino/native/quantization/test_gptq.py
  tests/torch/automl/test_memory.py
  tests/torch/automl/test_ring_buffer.py
  tests/torch/nas/models/tcn.py
  tests/torch/test_models/swin.py
Due: torch

minor fix
  nncf/quantization/algorithms/weight_compression/onnx_backend.py
Due: onnx, ptq

Fixed NLS for INT4_SYM mode (#3505)
  nncf/torch/quantization/layers.py
  tests/torch/quantization/test_layers.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@5b40768bb0fab63349e3e24b125f285b19333a4f 🚀
  schema/index.html
Due: none

Update swin.py
  tests/torch/test_models/swin.py
Due: none

Update tcn.py
  tests/torch/nas/models/tcn.py
Due: none

add times
  tests/post_training/data/wc_test_durations.json
Due: none

Refactoring.
  nncf/openvino/graph/node_utils.py
  nncf/openvino/optimized_functions/functions.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/codebook.py
  nncf/quantization/algorithms/weight_compression/config.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: openvino, ptq

added license for autogptq and lm_eval (#3503)
  .ci/cspell_dict.txt
  CONTRIBUTING.md
  examples/llm_compression/torch/qat_with_lora/custom_eval_tasks/preprocess_wikitext.py
  licensing/third-party-programs.txt
  nncf/torch/automl/agent/ddpg/memory.py
  tests/openvino/native/quantization/test_gptq.py
  tests/torch/automl/test_memory.py
  tests/torch/automl/test_ring_buffer.py
  tests/torch/nas/models/tcn.py
  tests/torch/test_models/swin.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@24fc60c5c40a775b03984d17b2ad5d9eaf8a6855 🚀
  schema/index.html
Due: none

Delete codebook algo.
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/codebook.py
Due: ptq

Check inheritance from GenerationMixin
  nncf/data/generators.py
Due: none

Add test
  tests/torch/test_dataset_generators.py
Due: none

Data generation: check inheritance from `GenerationMixin` instead of `PreTrainedModel.__bases__` (#3507)
  nncf/data/generators.py
  tests/torch/test_dataset_generators.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@593e650008cafeca73d0b41bc9dc9cda0986af93 🚀
  schema/index.html
Due: none

Made NLS sample self-contained (#3506)
  examples/llm_compression/torch/qat_with_nls_downstream/main.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@0f29e65d3e7331b5b9130cdef8f8f65da6067b0e 🚀
  schema/index.html
Due: none

setuptools
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/quantization_aware_training/torch/anomalib/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
Due: none

Refactoring.
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/config.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: openvino, ptq

parallel on 4 hosts
  .github/workflows/conformance_weight_compression.yml
Due: none

review changes
  examples/llm_compression/torch_fx/tiny_llama/main.py
  tests/cross_fw/examples/test_examples.py
Due: none

pre commit fix
  examples/llm_compression/torch_fx/tiny_llama/main.py
Due: none

pre commit fix
  tests/cross_fw/examples/test_examples.py
Due: none

f
  .github/workflows/conformance_weight_compression.yml
Due: none

init
  tests/post_training/pipelines/fx_utils.py
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

Introduce a minimal input size restriction for optimized weights compression (#3492)
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/optimized_functions/test_compression_functions.py
Due: ptq

Remove limit setuptools in requirements of examples (#3509)
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/quantization_aware_training/torch/anomalib/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@6dfb519bfc051a36cd7ce3be6f36723ce1439614 🚀
  schema/index.html
Due: none

[gha] parallel on 4 hosts for wc tests (#3510)
  .github/workflows/conformance_weight_compression.yml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@b3a3334fe9280ac07148dc267e142889d02740aa 🚀
  schema/index.html
Due: none

rename fx utils
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

rename
  tests/post_training/pipelines/fx_modelling.py
Due: none

rename
  tests/post_training/pipelines/fx_utils.py
Due: none

Data aware codebook.
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/config.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/quantize_model.py
Due: openvino, ptq

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
