Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

No trace parameters in nncf modules
  nncf/torch/dynamic_graph/wrappers.py
  nncf/torch/external_hook.py
  tests/torch/test_nncf_graph.py
  tests/torch/test_tracing_context.py
Due: torch

Fixed API Enums serialization/deserialization issue
  nncf/parameters.py
Due: none

Fixed API Enums serialization/deserialization issue (#2474)
  nncf/parameters.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@d6df215488e7fa28daf2701e5c27f97c884595fc 🚀
  _sources/autoapi/nncf/index.rst.txt
  autoapi/nncf/index.html
  schema/index.html
  searchindex.js
Due: none

Removed unused file_stream variable
  tests/common/utils/test_os.py
Due: none

[PT] Update reference for dorefa (#2471)
  tests/torch/sota_checkpoints_eval.json
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@89d1675f411e3f93bad28a20218b143d3e1cf67b 🚀
  schema/index.html
Due: none

Fix BC calculations
  nncf/quantization/algorithms/bias_correction/algorithm.py
Due: ptq

Added scale constant creation
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

[PT] Update reference for dorefa (#2471) (#2476)
  tests/torch/sota_checkpoints_eval.json
Due: none

correct handling of dtype for compressed torch.nn.Parameter
  nncf/torch/__init__.py
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/dynamic_graph/structs.py
  nncf/torch/dynamic_graph/trace_tensor.py
  tests/torch/ptq/test_weights_compression.py
Due: torch

Update tests
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: none

Added try-catch for the OMZ imports
  tests/onnx/benchmarking/accuracy_checker.py
  tests/onnx/benchmarking/run_ptq.py
  tests/openvino/datasets_helpers.py
  tests/openvino/tools/calibrate.py
  tests/openvino/tools/config.py
Due: none

[PTQ][OV] Added scale constant creation (#2475)
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@59a6a40118037471f09b3cb7f1142180c0da2824 🚀
  schema/index.html
Due: none

[PTQ][v2.9.0] Added try-catch for the OMZ imports (#2478)
  tests/onnx/benchmarking/accuracy_checker.py
  tests/onnx/benchmarking/run_ptq.py
  tests/openvino/datasets_helpers.py
  tests/openvino/tools/calibrate.py
  tests/openvino/tools/config.py
Due: none

Lint
  tests/common/sdl/test_schema.py
  tests/common/test_monkey_patching.py
  tests/common/utils/test_decorators.py
  tests/common/utils/test_os.py
  tests/common/utils/test_timer.py
Due: none

Insert point for not replaced modules
  nncf/torch/dynamic_graph/context.py
  nncf/torch/model_transformer.py
  nncf/torch/nncf_network.py
  tests/torch/test_model_transformer.py
Due: torch

test gpu runner
  .github/workflows/precommit.yml
Due: none

Choose subset based on lenght of sequences.
  nncf/quantization/algorithms/weight_compression/awq.py
Due: ptq

[PTQ][OV][v2.9.0] Added scale constant creation (#2475) (#2480)
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: openvino, ptq

[PT] Propagate is_shared attribute from constant node (#2467)
  nncf/torch/dynamic_graph/context.py
  nncf/torch/dynamic_graph/trace_tensor.py
  nncf/torch/graph/graph_builder.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/model_analyzer.py
  nncf/torch/nncf_network.py
  tests/torch/helpers.py
  tests/torch/nas/helpers.py
  tests/torch/ptq/test_wrap_model.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@fb32e46d5e137436dde2dc00bf1eb8941682f082 🚀
  schema/index.html
Due: none

Apply comment
  nncf/quantization/advanced_parameters.py
Due: ptq

More docstrings
  nncf/quantization/algorithms/min_max/algorithm.py
Due: ptq

[PTQ] Added try-catch for the OMZ imports (#2478) (#2483)
  tests/onnx/benchmarking/accuracy_checker.py
  tests/onnx/benchmarking/run_ptq.py
  tests/openvino/datasets_helpers.py
  tests/openvino/tools/calibrate.py
  tests/openvino/tools/config.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@20312de642f3fe8989c6a1313a03ac39f3dbd761 🚀
  schema/index.html
Due: none

Update reference metric
  tests/post_training/data/ptq_reference_data.yaml
Due: none

Reverted
  nncf/quantization/fake_quantize.py
Due: ptq

Fix TypeError: revert_operations_to_floating_point_precision() missing 2 required positional arguments (#2484)
  nncf/quantization/algorithms/accuracy_control/ranker.py
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@f27287e2a9348954de7de206c14dd7f1ad2bc0bf 🚀
  schema/index.html
Due: none

Fix TypeError: revert_operations_to_floating_point_precision() missing 2 required positional arguments (#2485)
  nncf/quantization/algorithms/accuracy_control/ranker.py
Due: ptq

Fix TypeError: revert_operations_to_floating_point_precision() missing 2 required positional arguments
  nncf/quantization/algorithms/accuracy_control/ranker.py
Due: ptq

Add unit tests for NNCF utils (#2468)
  tests/common/sdl/test_schema.py
  tests/common/test_monkey_patching.py
  tests/common/utils/__init__.py
  tests/common/utils/test_decorators.py
  tests/common/utils/test_os.py
  tests/common/utils/test_timer.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@98cf1c1066bdbc03ecfdf73cfc139c9beb9e0f1b 🚀
  schema/index.html
Due: none

Update copyright year
  tests/post_training/test_tune_range.py
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
