Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

Input port id is corrected for the commands
  tests/torch/helpers.py
  tests/torch/nncf_network/helpers.py
Due: none

get_applied_transformation_layout -> transformation_layout
  nncf/torch/nncf_network.py
  tests/torch/nncf_network/test_get_applied_modifications.py
Due: torch

Comments
  nncf/torch/graph/graph.py
  nncf/torch/nncf_network.py
  tests/torch/helpers.py
  tests/torch/nncf_network/helpers.py
  tests/torch/nncf_network/test_get_applied_modifications.py
  tests/torch/nncf_network/test_hook_handlers.py
  tests/torch/nncf_network/test_nncf_network.py
  tests/torch/test_api_behavior.py
Due: torch

Fix target_type detection bug
  nncf/torch/nncf_network.py
  tests/torch/helpers.py
  tests/torch/test_nncf_network.py
Due: torch

[Torch] NNCFNetwork.get_applied_transformation_layout
  nncf/torch/graph/graph.py
  nncf/torch/nncf_network.py
  tests/torch/test_nncf_network.py
Due: torch

Minor
  tests/torch/nncf_network/helpers.py
Due: none

xdist
  .github/workflows/precommit.yml
  tests/torch/requirements.txt
Due: none

revert addict
  examples/torch/requirements.txt
Due: none

Update ReleaseNotes.md
  ReleaseNotes.md
Due: none

linter
  ReleaseNotes.md
Due: none

Fixed AWQ for group_size==-1 and check correctness of MatMul in AWQ pattern.
  nncf/quantization/algorithms/weight_compression/awq.py
Due: ptq

marks cuda
  tests/torch/quantization/test_autoq_precision_init.py
  tests/torch/quantization/test_range_init.py
  tests/torch/test_extensions_build.py
  tests/torch/test_utils.py
Due: none

gpu
  .github/workflows/precommit.yml
Due: none

fix: Returned initial implementation of _validate()
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

chore: Temporary dummy data
  tests/post_training/data/wc_reference_data.yaml
Due: none

fix: Model Preparation for TORCH backend
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

fix: Removed unsupported parameters for INT8
  tests/post_training/model_scope.py
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

chore: Comment on important addition
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

feat: Added correct metric value according to @aleksu52
  tests/post_training/data/wc_reference_data.yaml
Due: none

marks
  tests/torch/quantization/test_autoq_precision_init.py
  tests/torch/quantization/test_range_init.py
  tests/torch/test_extensions_build.py
  tests/torch/test_utils.py
Due: none

no parallel cuda
  .github/workflows/precommit.yml
Due: none

ra
  .github/workflows/precommit.yml
Due: none

fix: Mode accurate check for the INT8 compression mode
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

nightly for multi gpu tests
  tests/torch/quantization/test_algo_quantization.py
  tests/torch/test_nncf_network.py
Due: none

make
  .github/workflows/precommit.yml
  Makefile
Due: none

feat: Problematic code for @aleksu52 to reproduce
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

inception_resnet_v2 bs 128 -> bs 64
  tests/post_training/model_scope.py
Due: none

Fix issues with compression_rate_target
  nncf/common/accuracy_aware_training/runner.py
  nncf/common/accuracy_aware_training/training_loop.py
Due: common

clean
  nncf/torch/quantization/extensions.py
Due: torch

xdist
  .github/workflows/precommit.yml
  Makefile
  tests/openvino/native/test_model_transformer.py
  tests/openvino/requirements.txt
Due: none

ra
  Makefile
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@590bc6d1372f3ae08b1bb7d18889c7cff575bffa 🚀
  _sources/autoapi/nncf/torch/model_analyzer/index.rst.txt
  autoapi/nncf/torch/model_analyzer/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

upd inception_resnet_v2 ref
  tests/post_training/data/ptq_reference_data.yaml
Due: none

[OV] Speedup precommit tests (#2650)
  .github/workflows/precommit.yml
  Makefile
  tests/openvino/native/test_model_transformer.py
  tests/openvino/requirements.txt
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@9c7a2124f3d6e918c0b5cdfdd18896576b53b9b4 🚀
  schema/index.html
Due: none

feat: Use AutoModelForCausalLM for TORCH models
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

fix: Added model specific parameters during preparation
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

[Torch] Do not wrap not tensor inputs, raise error for tensor input for non tensor param
  nncf/torch/dynamic_graph/io_handling.py
  tests/torch/helpers.py
  tests/torch/test_input_management.py
Due: torch

added the model type check
  nncf/torch/model_creation.py
Due: torch
