Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

typehints
  nncf/quantization/algorithms/min_max/algorithm.py
Due: ptq

fix
  nncf/quantization/algorithms/min_max/algorithm.py
Due: ptq

upd onnx graph
  tests/onnx/quantization/test_min_max.py
Due: none

Apply comments
  tests/openvino/native/test_smooth_quant.py
  tests/post_training/test_templates/test_smooth_quant.py
Due: none

xfail for test_torch_compile in windows (#2751)
  tests/torch/test_pytorch_patch.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@af341c92ec859c5986b2042f4812e080bfefb4d5 🚀
  schema/index.html
Due: none

Apply comments
  nncf/openvino/graph/model_transformer.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

comments
  tests/onnx/quantization/test_min_max.py
  tests/openvino/native/quantization/test_min_max.py
  tests/post_training/test_templates/test_min_max.py
  tests/torch/ptq/test_min_max.py
Due: none

upd test
  tests/onnx/quantization/test_min_max.py
  tests/openvino/native/quantization/test_min_max.py
  tests/post_training/test_templates/models.py
  tests/post_training/test_templates/test_min_max.py
  tests/torch/ptq/test_min_max.py
Due: none

@abstractmethod
  tests/post_training/test_templates/test_min_max.py
Due: none

Tests revision (#2749)
  tests/openvino/native/quantization/test_graphs.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/native/test_smooth_quant.py
  tests/openvino/native/test_statistic_collector.py
  tests/post_training/test_templates/test_smooth_quant.py
  tests/torch/ptq/test_statistic_collector.py
  tests/torch/sparsity/movement/test_model_saving.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@f4bd077250d6226a5533201efc820e82ed99d5fc 🚀
  schema/index.html
Due: none

Introduce get_linear_activations_layout_from_node
  nncf/openvino/graph/layout.py
  nncf/openvino/graph/nncf_graph_builder.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/torch_backend.py
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  nncf/quantization/algorithms/smooth_quant/openvino_backend.py
Due: torch, onnx, openvino, ptq

Adapt tests
  tests/openvino/native/test_layer_attributes.py
  tests/openvino/native/test_smooth_quant.py
  tests/post_training/test_templates/test_smooth_quant.py
Due: none

Remove method
  nncf/openvino/graph/node_utils.py
Due: openvino

Update WC metric values
  tests/post_training/data/wc_reference_data.yaml
Due: none

f
  nncf/openvino/graph/layout.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/torch/model_graph_manager.py
  tests/torch/test_model_graph_manager.py
Due: torch, openvino, ptq

Bump version of skikit-learn
  tests/onnx/requirements.txt
  tests/post_training/requirements.txt
  tests/torch/models_hub_test/requirements.txt
Due: none

Update WC metric values (#2754)
  tests/post_training/data/wc_reference_data.yaml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@6a1e2167b70649fae4ce5bc25f7f5b25a9de2b72 🚀
  schema/index.html
Due: none

make a test common
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/common/quantization/test_minmax.py
  tests/onnx/quantization/test_min_max.py
  tests/openvino/native/quantization/test_min_max.py
  tests/post_training/test_templates/models.py
  tests/post_training/test_templates/test_min_max.py
  tests/torch/ptq/test_min_max.py
Due: ptq

comments
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/common/quantization/test_minmax.py
Due: ptq

Fix do_dequantization func
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: ptq

[OV] Parallel tests by scope (#2758)
  Makefile
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@306f394b2b576f64d2ab03dd9401c0e0faaf2d76 🚀
  schema/index.html
Due: none

add def val
  tests/openvino/tools/calibrate.py
Due: none

Parallel tests by scope
  Makefile
Due: none

<=
  tests/onnx/requirements.txt
  tests/post_training/requirements.txt
  tests/torch/models_hub_test/requirements.txt
Due: none

Rollback SQ changes
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  nncf/quantization/algorithms/smooth_quant/openvino_backend.py
  tests/openvino/native/test_smooth_quant.py
  tests/post_training/test_templates/test_smooth_quant.py
Due: openvino, ptq

>=
  tests/onnx/requirements.txt
  tests/post_training/requirements.txt
  tests/torch/models_hub_test/requirements.txt
Due: none

Bump version of scikit-learn (#2756)
  tests/onnx/requirements.txt
  tests/post_training/requirements.txt
  tests/torch/models_hub_test/requirements.txt
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@4ccb32eaaaaed8fe86f37d244aa03beaf5a15315 🚀
  schema/index.html
Due: none

Adapt FBC for MatMuls
  nncf/onnx/graph/nncf_graph_builder.py
  nncf/onnx/graph/node_utils.py
  nncf/openvino/graph/layout.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/openvino_backend.py
Due: onnx, openvino, ptq

[PTQ] MinMax make empty cache != initialized cache (#2746)
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/common/quantization/test_minmax.py
  tests/post_training/test_templates/test_quantizer_config.py
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@2ef25788bc35a381dfb87195c90213c3e5ca2052 🚀
  schema/index.html
Due: none

Fix tests
  nncf/onnx/graph/node_utils.py
  nncf/quantization/algorithms/fast_bias_correction/torch_backend.py
  tests/onnx/test_layer_attributes.py
  tests/openvino/native/data/2024.1/reference_scales/MatMul2DModel_mixed.json
  tests/openvino/native/data/2024.1/reference_scales/MatMul2DModel_performance.json
  tests/openvino/native/models.py
  tests/openvino/native/test_layer_attributes.py
Due: torch, onnx, ptq

Added comments
  nncf/onnx/graph/nncf_graph_builder.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  tests/openvino/native/models.py
Due: onnx, openvino, ptq

Fix BC
  nncf/quantization/algorithms/bias_correction/algorithm.py
Due: ptq

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
