Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

Ignore mypy
  nncf/common/utils/decorators.py
Due: common

Reuse DTYPE_MAP_REV
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

examples
  .gitignore
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/deploy.py
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
  examples/post_training_quantization/openvino/yolov8/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  examples/post_training_quantization/torch/ssd300_vgg16/main.py
  examples/post_training_quantization/torch_fx/resnet18/main.py
  examples/quantization_aware_training/torch/anomalib/main.py
  examples/quantization_aware_training/torch/resnet18/main.py
Due: none

Update Usage.md
  docs/usage/post_training_compression/weights_compression/Usage.md
Due: none

[Release] Added modification note (#3092)
  tests/openvino/native/quantization/test_gptq.py
Due: none

Added a note for statistics caching (#3093)
  docs/usage/post_training_compression/weights_compression/Usage.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@11bfa886a8d9cb5cf9951ef4b286b2ba6e49f86f 🚀
  schema/index.html
Due: none

[Release] Added a note for statistics caching (#3094)
  docs/usage/post_training_compression/weights_compression/Usage.md
Due: none

[Release][TorchFX] Documetation update (#3090)
  README.md
  docs/Algorithms.md
  docs/usage/post_training_compression/post_training_quantization/Usage.md
Due: none

Expand TorchFX example with torch.export.export
  README.md
Due: none

[TorchFX] Documetation update
  README.md
  docs/Algorithms.md
  docs/usage/post_training_compression/post_training_quantization/Usage.md
Due: none

'
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
Due: none

rollback collectors change; add copying to ONNXEngine
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/onnx/engine.py
Due: onnx

t
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/yolov8/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
Due: none

t
  .gitignore
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
  tests/cross_fw/examples/conftest.py
  tests/cross_fw/examples/test_examples.py
  tests/cross_fw/shared/helpers.py
Due: none

Renamed to 'inverted_divide'. Add a test.
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/fake_quantize.py
  nncf/tensor/functions/__init__.py
  nncf/tensor/functions/numeric.py
  tests/cross_fw/test_templates/template_test_nncf_tensor.py
Due: ptq

Introduce fns.divide
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/fake_quantize.py
  nncf/tensor/functions/__init__.py
  nncf/tensor/functions/numeric.py
  nncf/tensor/tensor.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: ptq

Invert Tensor division for __truediv__ and __rtruediv__
  nncf/tensor/tensor.py
Due: none

Update wc_reference_data.yaml
  tests/post_training/data/wc_reference_data.yaml
Due: none

Update references
  tests/post_training/data/wc_reference_data.yaml
Due: none

OV check
  tests/torch/fx/performance_check/main.py
Due: none

[TorchFX] Performance check
  tests/torch/fx/performance_check/README.md
  tests/torch/fx/performance_check/__init__.py
  tests/torch/fx/performance_check/main.py
  tests/torch/fx/performance_check/model_builders/base.py
  tests/torch/fx/performance_check/model_builders/stable_diffusion.py
  tests/torch/fx/performance_check/model_builders/torchvision.py
  tests/torch/fx/performance_check/model_builders/ultralytics.py
  tests/torch/fx/performance_check/model_scope.py
Due: none

process_model_native_to_ov
  tests/torch/fx/performance_check/main.py
  tests/torch/fx/performance_check/model_scope.py
Due: none

Torch native quantization performance check
  tests/torch/fx/performance_check/main.py
  tests/torch/fx/performance_check/model_scope.py
Due: none

Update ReleaseNotes.md
  ReleaseNotes.md
Due: none

add comment
  nncf/onnx/engine.py
Due: onnx

rollback test
  tests/common/experimental/test_reducers_and_aggregators.py
Due: none

avoid division by zero
  nncf/quantization/fake_quantize.py
Due: ptq

Added docstrings
  nncf/common/logging/logger.py
  nncf/common/utils/decorators.py
  nncf/import_utils.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/openvino_modeling.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/fake_quantize.py
  nncf/tensor/functions/__init__.py
  nncf/tensor/functions/numeric.py
  nncf/tensor/functions/ov.py
  tests/openvino/native/test_openvino_modeling.py
Due: common, openvino, ptq

cmd
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/deploy.py
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
  examples/post_training_quantization/openvino/yolov8/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  examples/post_training_quantization/torch/ssd300_vgg16/main.py
  examples/quantization_aware_training/torch/anomalib/main.py
  examples/quantization_aware_training/torch/resnet18/main.py
  tests/cross_fw/shared/command.py
  tests/cross_fw/shared/helpers.py
Due: none

5
  .github/workflows/examples.yml
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/deploy.py
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/main.py
  examples/quantization_aware_training/torch/resnet18/main.py
Due: none

Disable progress bar
  tests/cross_fw/examples/run_example.py
Due: none

Performance check have splitted on parts
  tests/torch/fx/performance_check/main.py
  tests/torch/fx/performance_check/model_builders/ultralytics.py
  tests/torch/fx/performance_check/model_scope.py
Due: none

Filter message
  .github/scripts/pytest_md_summary.py
Due: none

Fix summary for test examples job (#3095)
  .github/scripts/pytest_md_summary.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@f6f151357942e75eead5455a5a1dec8d30f7056a 🚀
  schema/index.html
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
