Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

updated readme
  docs/compression_algorithms/CompressWeights.md
Due: none

Update nncf/openvino/graph/model_transformer.py
  nncf/openvino/graph/model_transformer.py
Due: openvino

Change bias name for insertion command
  nncf/openvino/graph/model_transformer.py
Due: openvino

remarks
  docs/compression_algorithms/CompressWeights.md
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

[PTQ][OV] Named constant nodes (#2331)
  nncf/openvino/graph/model_transformer.py
Due: openvino

Deploying to doc_pages from @ openvinotoolkit/nncf@31c0a1886796488d788c4b66cc1966e4c28ebeb9 🚀
  schema/index.html
Due: none

removed print
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

More fixes
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/experimental/tensor/tensor.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/torch_backend.py
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  nncf/quantization/algorithms/smooth_quant/openvino_backend.py
  nncf/torch/quantization/init_range.py
  nncf/torch/tensor_statistics/collectors.py
  tests/common/experimental/test_reducers_and_aggregators.py
  tests/common/test_statistics_aggregator.py
  tests/torch/quantization/test_range_init.py
Due: torch, openvino, ptq

Unsuccsessfull attemt to test
  nncf/torch/dynamic_graph/trace_functions.py
  nncf/torch/dynamic_graph/wrappers.py
  nncf/torch/quantization/layers.py
  nncf/torch/return_types.py
  nncf/torch/tensor_statistics/algo.py
  tests/torch/ptq/test_graphs.py
  tests/torch/test_compressed_graph.py
  tests/torch/test_models/synthetic.py
  tests/torch/test_nncf_network.py
Due: torch

Tests
  nncf/torch/return_types.py
  tests/torch/ptq/test_graphs.py
  tests/torch/ptq/test_reducers_and_aggregators.py
  tests/torch/quantization/test_layers.py
  tests/torch/test_compressed_graph.py
  tests/torch/test_models/synthetic.py
  tests/torch/test_nncf_network.py
  tests/torch/test_return_types.py
Due: torch

corrections in the docstrings
  nncf/parameters.py
  nncf/quantization/quantize_model.py
Due: ptq

Data-based mixed-precision for weight compression (#2321)
  docs/compression_algorithms/CompressWeights.md
  nncf/parameters.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/compression_info.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/quantize.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch/ptq/test_weights_compression.py
Due: openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@1604b4321bf041491735a0e09cc34ec605712380 🚀
  _sources/autoapi/nncf/index.rst.txt
  _sources/autoapi/nncf/quantization/algorithms/weight_compression/compression_info/index.rst.txt
  _sources/autoapi/nncf/quantization/algorithms/weight_compression/mixed_precision/index.rst.txt
  _sources/autoapi/nncf/quantization/algorithms/weight_compression/quantize/index.rst.txt
  autoapi/nncf/index.html
  autoapi/nncf/quantization/algorithms/weight_compression/compression_info/index.html
  autoapi/nncf/quantization/algorithms/weight_compression/mixed_precision/index.html
  autoapi/nncf/quantization/algorithms/weight_compression/quantize/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

Add test
  tests/openvino/native/test_bias_correction.py
  tests/post_training/test_templates/helpers.py
  tests/post_training/test_templates/test_bias_correction.py
Due: none

Fix test
  nncf/experimental/common/tensor_statistics/collectors.py
  tests/onnx/quantization/test_bias_correction.py
  tests/openvino/native/test_bias_correction.py
  tests/post_training/test_templates/test_bias_correction.py
Due: none

Revert reducer/collector changes
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/openvino/statistics/collectors.py
Due: openvino

Initial commit
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/graph/transformations/commands.py
  nncf/openvino/graph/model_transformer.py
  nncf/openvino/graph/node_utils.py
  nncf/openvino/graph/transformations/commands.py
  nncf/openvino/statistics/collectors.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/bias_correction/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/torch_backend.py
Due: torch, onnx, openvino, ptq

Apply comment
  nncf/onnx/graph/transformations/commands.py
  nncf/openvino/graph/transformations/commands.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
Due: onnx, openvino, ptq

Adjust tests
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  tests/onnx/quantization/test_bias_correction.py
  tests/openvino/native/test_bias_correction.py
  tests/openvino/native/test_model_transformer.py
Due: onnx, ptq

[PTQ] BiasCorrection update (for Whisper, etc.) (#2319)
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/graph/transformations/commands.py
  nncf/openvino/graph/model_transformer.py
  nncf/openvino/graph/node_utils.py
  nncf/openvino/graph/transformations/commands.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/bias_correction/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/torch_backend.py
  tests/onnx/quantization/test_bias_correction.py
  tests/openvino/native/test_bias_correction.py
  tests/openvino/native/test_model_transformer.py
  tests/post_training/test_templates/helpers.py
  tests/post_training/test_templates/test_bias_correction.py
Due: torch, onnx, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@6d17662fec917e1293189e2c3a2b94139a433f16 🚀
  schema/index.html
Due: none

Update patch
  third_party_integration/huggingface_transformers/0001-Modifications-for-NNCF-usage.patch
Due: none

Unused inputs
  tests/torch/models_hub_test/test_hf_transformers.py
Due: none

xfail for nattet
  tests/torch/models_hub_test/hf_transformers_models.txt
Due: none

unused input
  tests/torch/models_hub_test/test_hf_transformers.py
Due: none

xfail for not traced operations
  tests/torch/models_hub_test/hf_transformers_models.txt
Due: none

Not traced operations with masks or pos_id
  tests/torch/models_hub_test/hf_transformers_models.txt
  tests/torch/models_hub_test/test_speech_transformer.py
Due: none

trace_parameters
  tests/torch/models_hub_test/common.py
Due: none

Fix overflow on reduce
  nncf/common/graph/layer_attributes.py
  nncf/common/tensor_statistics/collectors.py
  nncf/onnx/statistics/collectors.py
  nncf/openvino/statistics/collectors.py
  nncf/tensorflow/tensor_statistics/collectors.py
  nncf/torch/tensor_statistics/collectors.py
  tests/common/experimental/test_reducers_and_aggregators.py
  tests/openvino/native/quantization/test_reducers_and_aggregators.py
  tests/torch/ptq/test_reducers_and_aggregators.py
Due: common, torch, tensorflow, onnx, openvino

Set disable_in_ci=True in OV telemetry object
  nncf/telemetry/wrapper.py
Due: none

bump version of transformers
  tests/post_training/requirements.txt
  tests/torch/models_hub_test/requirements.txt
  tests/torch/requirements.txt
Due: none

Set disable_in_ci=True in OV telemetry object (#2329)
  nncf/telemetry/wrapper.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@1a50f4154d3b61a80fc9fb33c29f56275abb7228 🚀
  schema/index.html
Due: none

Use special_zero in reshape inside mean_per_channel
  nncf/openvino/graph/node_utils.py
  tests/openvino/native/test_model_transformer.py
Due: openvino

mean_per_ch inplace=True is enabled
  nncf/openvino/statistics/collectors.py
  tests/common/experimental/test_reducers_and_aggregators.py
  tests/common/test_statistics_aggregator.py
Due: openvino

Modified AWQ implementation.
  nncf/common/factory.py
  nncf/openvino/graph/model_transformer.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq_patterns.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/quantize.py
  nncf/quantization/quantize_model.py
Due: common, openvino, ptq

update reference after bump transformers to 4.36
  tests/torch/data/reference_graphs/pruning_groups/1_layer_BERT.dot
  tests/torch/data/reference_graphs/pruning_groups/1_layer_BERT_.dot
  tests/torch/data/reference_graphs/pruning_groups/CLIP.dot
  tests/torch/data/reference_graphs/pruning_groups/MobileBERT.dot
  tests/torch/data/reference_graphs/pruning_groups/RoBERTa.dot
  tests/torch/data/reference_graphs/pruning_groups/larger_BERT.dot
  tests/torch/data/search_building_block/bert.json
  tests/torch/pruning/experimental/test_nodes_grouping.py
  tests/torch/sparsity/movement/test_model_saving.py
Due: none

bump optimum
  tests/post_training/requirements.txt
Due: none
