Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

Fixed test
  examples/llm_compression/openvino/main.py
  examples/llm_compression/openvino/requirements.txt
  tests/cross_fw/examples/example_scope.json
Due: none

fix test
  tests/common/test_statistics_aggregator.py
  tests/onnx/test_statistics_aggregator.py
Due: none

comments
  nncf/common/tensor.py
Due: common

Exposed missed enum of weight_compression API (#2373)
  nncf/__init__.py
Due: none

actual reference
  tests/torch/sota_checkpoints_eval.json
Due: none

is_empty for ONNX and TF
  nncf/common/tensor.py
  nncf/onnx/tensor.py
  nncf/tensorflow/tensor.py
Due: common, tensorflow, onnx

Added references to Segmind-VegaRT, Stable-Zephyr-3B, EfficientSAM notebooks
  README.md
Due: none

fix
  nncf/onnx/tensor.py
  nncf/tensorflow/tensor.py
Due: tensorflow, onnx

Added new notebooks to list of examples (#2382)
  README.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@ae721fd6148c3247dd62bd525ad42587042d3506 🚀
  schema/index.html
Due: none

cast tensor only if detect overflow
  nncf/onnx/statistics/collectors.py
  nncf/openvino/statistics/collectors.py
  nncf/torch/tensor_statistics/collectors.py
Due: torch, onnx, openvino

Fixed Readme
  examples/llm_compression/openvino/README.md
Due: none

Remove third party integration patch and dockerfiles
  README.md
  docker/README.md
  docker/onnx/openvinoep/Dockerfile
  docker/onnx/openvinoep/build.sh
  docker/tensorflow/gpu/Dockerfile
  docker/torch/cpu/Dockerfile
  docker/torch/gpu/Dockerfile
  docs/Installation.md
  tests/torch/sparsity/movement/test_training_with_third_party.py
  tests/torch/test_sanity_third_party.py
  third_party_integration/huggingface_transformers/0001-Modifications-for-NNCF-usage.patch
  third_party_integration/huggingface_transformers/README.md
Due: none

[Torch][PTQ] MatMul metatypes are updated
  nncf/quantization/algorithms/min_max/torch_backend.py
Due: torch, ptq

Revert "Fix overflow in collectors (#2337)"
  nncf/common/graph/layer_attributes.py
  nncf/common/tensor_statistics/collectors.py
  nncf/onnx/statistics/collectors.py
  nncf/openvino/statistics/collectors.py
  nncf/tensorflow/tensor_statistics/collectors.py
  nncf/torch/tensor_statistics/collectors.py
  tests/common/experimental/test_reducers_and_aggregators.py
  tests/openvino/native/quantization/test_reducers_and_aggregators.py
  tests/torch/ptq/test_reducers_and_aggregators.py
Due: common, torch, tensorflow, onnx, openvino

Revert "Fix overflow in collectors" (#2384)
  nncf/common/graph/layer_attributes.py
  nncf/common/tensor_statistics/collectors.py
  nncf/onnx/statistics/collectors.py
  nncf/openvino/statistics/collectors.py
  nncf/tensorflow/tensor_statistics/collectors.py
  nncf/torch/tensor_statistics/collectors.py
  tests/common/experimental/test_reducers_and_aggregators.py
  tests/openvino/native/quantization/test_reducers_and_aggregators.py
  tests/torch/ptq/test_reducers_and_aggregators.py
Due: common, torch, tensorflow, onnx, openvino

Deploying to doc_pages from @ openvinotoolkit/nncf@c760b3df5473d241389a2baa3f3257515132ed80 🚀
  schema/index.html
Due: none

marked as API a SensitivityMetric
  nncf/__init__.py
  nncf/parameters.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch/ptq/test_weights_compression.py
Due: none

Remove third party integration patch and dockerfiles (#2381)
  README.md
  docker/README.md
  docker/onnx/openvinoep/Dockerfile
  docker/onnx/openvinoep/build.sh
  docker/tensorflow/gpu/Dockerfile
  docker/torch/cpu/Dockerfile
  docker/torch/gpu/Dockerfile
  docs/Installation.md
  tests/torch/sparsity/movement/test_training_with_third_party.py
  tests/torch/test_sanity_third_party.py
  third_party_integration/huggingface_transformers/0001-Modifications-for-NNCF-usage.patch
  third_party_integration/huggingface_transformers/README.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@e533c12227c6948aa659873235947f627f7037ad 🚀
  schema/index.html
Due: none

Fixed test
  examples/llm_compression/openvino/main.py
  tests/cross_fw/examples/example_scope.json
Due: none

Migrate QAT statistic collection to PTStatisticsAggregator
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/torch/initialization.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/init_range.py
  nncf/torch/tensor_statistics/algo.py
  tests/torch/test_api_behavior.py
Due: torch, ptq

Added example to demonstrate data-aware LLM compression with NNCF API (#2368)
  examples/llm_compression/openvino/README.md
  examples/llm_compression/openvino/main.py
  examples/llm_compression/openvino/requirements.txt
  nncf/__init__.py
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@07028c5b8aa1976cbe1d5438615f721093f670df 🚀
  schema/index.html
Due: none

Added a SensitivityMetric enum to API (#2385)
  nncf/parameters.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch/ptq/test_weights_compression.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@0cd537b69f411df678ad6dbde2896fe66401cbc8 🚀
  _sources/autoapi/nncf/index.rst.txt
  autoapi/nncf/index.html
  genindex.html
  objects.inv
  schema/index.html
  searchindex.js
Due: none

Micro refactorign
  nncf/torch/initialization.py
  nncf/torch/quantization/algo.py
Due: torch

Update metrics for pt e2e tests (#2380)
  tests/torch/sota_checkpoints_eval.json
Due: none

per_channel -> is_per_channel
  nncf/common/quantization/initialization/range.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/torch/quantization/init_range.py
Due: common, torch, onnx, openvino, ptq

upd onnx collectors
  nncf/onnx/statistics/collectors.py
Due: onnx

Merics update after e2e
  tests/torch/sota_checkpoints_eval.json
Due: none

Tensors with different sizes on aggregation axes support for TensorCollector
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/torch/tensor_statistics/collectors.py
  tests/common/experimental/test_reducers_and_aggregators.py
Due: torch

fix after merge
  nncf/onnx/statistics/collectors.py
  tests/common/experimental/test_reducers_and_aggregators.py
  tests/onnx/quantization/test_reducers_and_aggregators.py
  tests/openvino/native/quantization/test_reducers_and_aggregators.py
  tests/torch/ptq/test_reducers_and_aggregators.py
Due: onnx

comments
  nncf/common/tensor.py
  nncf/onnx/statistics/collectors.py
  tests/common/experimental/test_statistic_collector.py
  tests/onnx/test_statistics_aggregator.py
Due: common, onnx

add method
  tests/common/experimental/test_statistic_collector.py
Due: none

[Torch][PTQ] MatMul metatypes are updated (#2375)
  nncf/quantization/algorithms/min_max/torch_backend.py
Due: torch, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@2ab7f6b1abc1eb13891689d5b1eb40579c1009cd 🚀
  schema/index.html
Due: none

Revert "Merge branch 'onnx_new_statistics' of https://github.com/kshpv/nncf into onnx_new_statistics"
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/onnx/statistics/aggregator.py
  nncf/onnx/statistics/collectors.py
  nncf/openvino/statistics/aggregator.py
  nncf/openvino/statistics/collectors.py
  tests/common/experimental/test_statistic_collector.py
Due: onnx, openvino

Fix tests
  nncf/torch/quantization/algo.py
Due: torch
