Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

replaced tinyllama_data_aware_gptq test by tinyllama_data_aware_gptq_scale_estimation_stateful test in the weight compression test list
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/model_scope.py
Due: none

upd names
  nncf/onnx/quantization/ignored_patterns.py
Due: onnx

Update transformations.py
  nncf/experimental/torch/fx/transformations.py
Due: none

Update wc_reference_data.yaml
  tests/post_training/data/wc_reference_data.yaml
Due: none

[ONNX] Extend se block ignored pattern (#2926)
  nncf/onnx/quantization/ignored_patterns.py
  tests/onnx/data/reference_graphs/quantization/mobilenet_v3_small.dot
Due: onnx

Deploying to doc_pages from @ openvinotoolkit/nncf@3effa1402fd22906153cad67b424f789def0383e 🚀
  schema/index.html
Due: none

fix docstring for the smooth_quant_alpha parameter
  nncf/quantization/advanced_parameters.py
Due: ptq

upd reference
  tests/tensorflow/data/reference_graphs/2.11/quantized/w_sym_ch_a_asym_t/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/2.11/quantized/w_sym_t_a_sym_t/mask_rcnn.dot
Due: none

fix for INT4_ASYM
  nncf/quantization/algorithms/weight_compression/gptq.py
Due: ptq

add a workaround
  tests/post_training/model_scope.py
Due: none

upd reference metrcis
  tests/post_training/data/ptq_reference_data.yaml
Due: none

Add list of OV notebooks with NNCF to release notes
  ReleaseNotes.md
Due: none

Support the scale estimation inside GPTQ (#2784)
  nncf/quantization/algorithms/layerwise/scheduler.py
  nncf/quantization/algorithms/weight_compression/activation_stats.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/quantization/test_gptq.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@03efd62164319653f27e8411aff391061b3b9f8d 🚀
  schema/index.html
Due: none

compression rate and addressed other comments
  docs/usage/post_training_compression/weights_compression/Usage.md
Due: none

typo with limitations
  docs/usage/post_training_compression/weights_compression/Usage.md
Due: none

Subdivided evaluation results into clickable headlines
  docs/usage/post_training_compression/weights_compression/Usage.md
Due: none

Add test for shared node decompressor call
  tests/torch/fx/test_compress_weights.py
Due: none

update backend supported in docs
  docs/usage/post_training_compression/weights_compression/Usage.md
Due: none

pre-commit fix
  tests/torch/fx/test_compress_weights.py
Due: none

remove shared weights transformation builder and use function directly
  nncf/experimental/torch/fx/quantization/quantize_model.py
  nncf/experimental/torch/fx/transformations.py
Due: none

Avoid retrieving weight data if not neccessary
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
Due: torch, openvino, ptq

remove todo
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
Due: torch, ptq

Fix pytorch
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
Due: torch, openvino, ptq

add shared constant tests
  nncf/experimental/torch/fx/transformations.py
  tests/torch/fx/test_model_transformer.py
Due: none

[Docs] smooth_quant_alpha parameter (#2945)
  nncf/quantization/advanced_parameters.py
Due: ptq

Extend NNCF logging by the device information where quantization was done (#2931)
  tests/openvino/tools/calibrate.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@d7bb1cad9316800e7293524171555a33950ff8ed 🚀
  _sources/autoapi/nncf/quantization/advanced_parameters/index.rst.txt
  schema/index.html
Due: none

Support the scale estimation inside GPTQ (#2948)
  nncf/quantization/algorithms/layerwise/scheduler.py
  nncf/quantization/algorithms/weight_compression/activation_stats.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/quantization/test_gptq.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@ca41c7044b48b3a7c4b4d334bf81ffd7cdcf3e0b 🚀
  schema/index.html
Due: none

add is_shared attribute
  nncf/experimental/torch/fx/nncf_graph_builder.py
Due: none

add test for shared constant transformation
  tests/torch/fx/test_model_transformer.py
Due: none

pre commit fix
  nncf/experimental/torch/fx/nncf_graph_builder.py
  nncf/experimental/torch/fx/quantization/quantize_model.py
  nncf/experimental/torch/fx/transformations.py
  tests/torch/fx/test_model_transformer.py
Due: none

data option for test examples
  nncf/quantization/advanced_parameters.py
  tests/cross_fw/examples/conftest.py
  tests/cross_fw/examples/run_example.py
  tests/cross_fw/examples/test_examples.py
Due: ptq

Add dtype to OV node constant attributes
  nncf/openvino/graph/nncf_graph_builder.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/quantization/test_min_max.py
  tests/openvino/native/quantization/test_quantizer_config.py
  tests/openvino/native/test_layer_attributes.py
  tests/openvino/native/test_node_utils.py
Due: openvino, ptq

Reuse `get_const_node`
  nncf/quantization/algorithms/weight_compression/torch_backend.py
Due: torch, ptq

removed xfail beased on changes in the #2784
  tests/post_training/data/wc_reference_data.yaml
Due: none

[TF] Update reference after PR 2903 (#2946)
  tests/tensorflow/data/reference_graphs/2.11/quantized/w_sym_ch_a_asym_t/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/2.11/quantized/w_sym_t_a_sym_t/mask_rcnn.dot
Due: none

Fix test definition
  tests/openvino/native/test_node_utils.py
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
