Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

typehint
  nncf/quantization/algorithms/weight_compression/algorithm.py
Due: ptq

Minor fix
  nncf/tensorflow/accuracy_aware_training/runner.py
Due: tensorflow

rename
  tests/openvino/native/quantization/test_weights_compression_statistics_caching.py
Due: none

add ignored scope as a param
  tests/openvino/native/quantization/test_weights_compression_statistics_caching.py
Due: none

typo
  tests/openvino/native/quantization/test_weights_compression_statistics_caching.py
Due: none

MultiDiGraph
  nncf/experimental/torch2/function_hook/build_graph_mode.py
  nncf/experimental/torch2/function_hook/graph_visualization.py
  tests/torch2/function_hook/test_build_graph_mode.py
Due: none

graph module
  nncf/experimental/torch2/function_hook/__init__.py
  nncf/experimental/torch2/function_hook/graph/__init__.py
  nncf/experimental/torch2/function_hook/graph/build_graph_mode.py
  nncf/experimental/torch2/function_hook/graph/graph_utils.py
  nncf/experimental/torch2/function_hook/graph/graph_visualization.py
  tests/torch2/function_hook/graph/test_build_graph_mode.py
  tests/torch2/function_hook/graph/test_graph_visualisation.py
Due: none

move test
  tests/common/quantization/test_tune_range.py
Due: none

init
  .github/workflows/conformance_weight_compression.yml
  .github/workflows/precommit.yml
  tests/post_training/.test_durations
  tests/post_training/requirements.txt
  tests/post_training/test_quantize_conformance.py
Due: none

ISA
  .github/workflows/conformance_weight_compression.yml
  tests/post_training/.test_durations
  tests/post_training/test_quantize_conformance.py
Due: none

Remove tensorflow_addons (#3025)
  docs/api/source/conf.py
  examples/tensorflow/classification/main.py
  examples/tensorflow/common/optimizer.py
  examples/tensorflow/requirements.txt
  nncf/tensor/README.md
  nncf/tensorflow/accuracy_aware_training/runner.py
  tests/tensorflow/requirements.txt
  tests/tensorflow/sparsity/rb/test_integration.py
Due: tensorflow

Deploying to doc_pages from @ openvinotoolkit/nncf@d88422a03622eea4ba333d7d13b642a8270f1871 🚀
  schema/index.html
Due: none

move test_tune_range.py to common (#3031)
  tests/common/quantization/test_tune_range.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@40dfa8fd4c6105634cece408edde45143239a2c8 🚀
  schema/index.html
Due: none

disable gptq
  nncf/openvino/quantization/cache_statistics.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
Due: openvino, ptq

add backend name in statistics_key
  nncf/experimental/torch/fx/statistics/aggregator.py
  nncf/onnx/statistics/aggregator.py
  nncf/openvino/statistics/aggregator.py
  nncf/torch/statistics/aggregator.py
Due: torch, onnx, openvino

add backend check
  nncf/common/tensor_statistics/aggregator.py
  nncf/experimental/torch/fx/statistics/aggregator.py
  nncf/onnx/statistics/aggregator.py
  nncf/openvino/statistics/aggregator.py
  nncf/torch/statistics/aggregator.py
  tests/cross_fw/test_templates/test_statistics_caching.py
Due: common, torch, onnx, openvino

Cover function based on comments
  nncf/common/strip.py
  nncf/common/telemetry_extractors.py
  nncf/data/generators.py
  nncf/experimental/tensorflow/nncf_network.py
  nncf/telemetry/events.py
  nncf/torch/model_creation.py
  nncf/torch/nncf_network.py
Due: common, torch

docstrings
  nncf/common/tensor_statistics/aggregator.py
  tests/cross_fw/test_templates/test_statistics_caching.py
Due: common

Fix linter issues
  nncf/common/telemetry_extractors.py
Due: common

Remove common category
  nncf/common/strip.py
  nncf/data/generators.py
  nncf/telemetry/events.py
Due: common

mypy
  nncf/common/tensor_statistics/aggregator.py
Due: common

Fix import issue
  nncf/torch/model_creation.py
Due: torch

supported corner case with batch and seq len =1
  nncf/quantization/algorithms/weight_compression/gptq.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: ptq

Fix tests
  nncf/common/telemetry_extractors.py
  nncf/config/telemetry_extractors.py
Due: common

Rollback new tracking
  nncf/common/strip.py
  nncf/common/telemetry_extractors.py
  nncf/config/telemetry_extractors.py
  nncf/data/generators.py
  nncf/experimental/tensorflow/nncf_network.py
  nncf/torch/model_creation.py
  nncf/torch/nncf_network.py
Due: common, torch

typos
  nncf/experimental/torch/fx/statistics/aggregator.py
  nncf/torch/statistics/aggregator.py
Due: torch

f
  tests/tensorflow/test_sota_checkpoints.py
Due: none

statistics_serializer + statistics_validator
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/statistics_serializer.py
  nncf/common/tensor_statistics/statistics_validator.py
  nncf/openvino/quantization/quantize_model.py
  tests/common/test_statistics_caching.py
  tests/common/test_statistics_serializer.py
  tests/common/test_statistics_validator.py
  tests/cross_fw/test_templates/test_statistics_caching.py
Due: common, openvino

upd test
  nncf/common/tensor_statistics/statistics_serializer.py
  tests/common/test_statistics_caching.py
Due: common

some test fixes
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/statistics_validator.py
  nncf/experimental/torch/fx/statistics/aggregator.py
  nncf/onnx/statistics/aggregator.py
  nncf/openvino/statistics/aggregator.py
  nncf/torch/statistics/aggregator.py
  tests/cross_fw/test_templates/test_statistics_caching.py
  tests/openvino/native/quantization/test_weights_compression_statistics_caching.py
Due: common, torch, onnx, openvino

statistics_file_path -> statistics_dir_path
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/main.py
  nncf/openvino/quantization/cache_statistics.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/quantization/test_weights_compression_statistics_caching.py
Due: openvino, ptq

Added test for model-based cat
  tests/common/test_telemetry.py
Due: none

mypy
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/main.py
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/statistics_serializer.py
  nncf/common/tensor_statistics/statistics_validator.py
Due: common

comments
  nncf/common/tensor_statistics/statistics_serializer.py
  nncf/experimental/common/tensor_statistics/statistics.py
Due: common

from_kwargs -> from_config + minor
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/experimental/common/tensor_statistics/statistics.py
  nncf/openvino/quantization/cache_statistics.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
Due: openvino, ptq

fix remove label
  .github/workflows/api_set_label.yml
Due: none

d
  nncf/experimental/torch2/function_hook/graph/build_graph_mode.py
  nncf/experimental/torch2/function_hook/hook_executor_mode.py
Due: none

m
  .github/workflows/conformance_weight_compression.yml
  tests/post_training/data/wc_reference_data.yaml
Due: none

[GHA] Fix set api label (#3035)
  .github/workflows/api_set_label.yml
Due: none
