Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

Add tests
  tests/onnx/models.py
  tests/onnx/quantization/test_backend_parameters.py
  tests/onnx/test_engine.py
  tests/onnx/test_external_data.py
  tests/onnx/test_model_metadata.py
  tests/onnx/test_onnx_helper.py
Due: none

Fixed test.
  tests/torch/fx/test_compress_weights.py
Due: none

Bump PyTorch to 2.7.0 (#3455)
  .github/workflows/call_precommit.yml
  .github/workflows/examples.yml
  .github/workflows/install.yml
  constraints.txt
  docs/Installation.md
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  examples/llm_compression/torch/qat_with_lora/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/post_training_quantization/torch_fx/resnet18/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
  nncf/version.py
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
  tests/onnx/quantization/test_qdq_params_calculation.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
  tests/post_training/data/ptq_reference_data.yaml
  tests/torch/data/ref_generated_data.json
  tests/torch/test_dataset_generators.py
  tests/torch/test_utils.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@f5f73354854e625bd3f1641b17c9e6bdf06768bb 🚀
  schema/index.html
Due: none

bump transformers
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
  tests/torch/models_hub_test/requirements.txt
  tests/torch/requirements.txt
  tests/torch2/requirements.txt
Due: none

Added logging for compilation trigger
  tests/torch/test_utils.py
Due: none

Update
  tests/torch/test_utils.py
Due: none

move tests
  tests/torch/fx/graph.dot
  tests/torch2/fx/__init__.py
  tests/torch2/fx/helpers.py
  tests/torch2/fx/test_bias_correction.py
  tests/torch2/fx/test_compress_weights.py
  tests/torch2/fx/test_fast_bias_correction.py
  tests/torch2/fx/test_min_max.py
  tests/torch2/fx/test_model_transformer.py
  tests/torch2/fx/test_models.py
  tests/torch2/fx/test_ptq_params.py
  tests/torch2/fx/test_quantizer.py
  tests/torch2/fx/test_quantizer_config.py
  tests/torch2/fx/test_sanity.py
  tests/torch2/fx/test_smooth_quant.py
  tests/torch2/fx/test_statistics_aggregator.py
  tests/torch2/fx/test_statistics_caching.py
  tests/torch2/fx/test_unified_scales.py
  tests/torch2/fx/test_weights_compression_backends.py
Due: none

fastdownload
  tests/torch2/requirements.txt
Due: none

ref
  tests/torch2/data/fx/X86InductorQuantizer/swin_v2_t.dot
Due: none

Changed name of parameter.
  nncf/quantization/algorithms/weight_compression/awq.py
  tests/cross_fw/test_templates/template_test_weights_compression.py
Due: ptq

Fix.
  nncf/quantization/advanced_parameters.py
Due: ptq

Fix.
  nncf/quantization/algorithms/weight_compression/algorithm.py
Due: ptq

Fixed syle.
  nncf/quantization/advanced_parameters.py
Due: ptq

rename examples/fx to examples/torch_fx
  examples/llm_compression/torch_fx/tiny_llama/README.md
  examples/llm_compression/torch_fx/tiny_llama/main.py
  examples/llm_compression/torch_fx/tiny_llama/requirements.txt
Due: none

[ONNX] Add external_data_dir backend parameter (#3443)
  .ci/cspell_dict.txt
  nncf/onnx/engine.py
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/onnx/graph/model_metadata.py
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/graph/model_utils.py
  nncf/onnx/graph/onnx_helper.py
  nncf/onnx/quantization/backend_parameters.py
  nncf/onnx/quantization/quantize_model.py
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/accuracy_control/onnx_backend.py
  nncf/quantization/algorithms/weight_compression/onnx_backend.py
  tests/onnx/models.py
  tests/onnx/quantization/test_backend_parameters.py
  tests/onnx/test_engine.py
  tests/onnx/test_external_data.py
  tests/onnx/test_model_metadata.py
  tests/onnx/test_onnx_helper.py
Due: onnx, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@3159e8555c96fc4bf9696e0056cd0a0db3f5ec97 🚀
  _sources/autoapi/nncf/onnx/graph/model_metadata/index.rst.txt
  _sources/autoapi/nncf/onnx/quantization/backend_parameters/index.rst.txt
  _sources/autoapi/nncf/quantization/advanced_parameters/index.rst.txt
  autoapi/nncf/onnx/graph/model_metadata/index.html
  autoapi/nncf/onnx/quantization/backend_parameters/index.html
  autoapi/nncf/quantization/advanced_parameters/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

Update .test_durations
  tests/cross_fw/examples/.test_durations
Due: none

minor fixes
  nncf/onnx/quantization/quantize_model.py
Due: onnx

minor
  nncf/onnx/quantization/quantize_model.py
Due: onnx

Move TF tests to nightly scope (#3468)
  .github/workflows/call_precommit.yml
  .github/workflows/nightly.yml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@b227f3e98109919fa15c3686279f0e7ce2a41412 🚀
  schema/index.html
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@03b84e605dc2cb96c0b1846913abca220552dbe4 🚀
  schema/index.html
Due: none

Add eliminate_nop_cast pass
  constraints.txt
  nncf/onnx/graph/nncf_graph_builder.py
Due: onnx

Use onnx.shape_inference.infer_shapes_path() method
  nncf/onnx/graph/nncf_graph_builder.py
Due: onnx

minor fixes
  nncf/onnx/graph/nncf_graph_builder.py
  nncf/onnx/quantization/quantize_model.py
Due: onnx

Update cspell_dict.txt
  .ci/cspell_dict.txt
Due: none

Update reference graphs
  tests/onnx/data/reference_graphs/original_nncf_graph/MaskRCNN-12.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/fcn-resnet50-12.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/ssd-12.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/synthetic/shape_of_model.dot
  tests/onnx/data/reference_graphs/quantization/MaskRCNN-12.dot
  tests/onnx/data/reference_graphs/quantization/fcn-resnet50-12.dot
  tests/onnx/data/reference_graphs/quantization/gpt2-10.dot
  tests/onnx/data/reference_graphs/quantization/ssd-12.dot
  tests/onnx/data/reference_graphs/quantization/synthetic/shape_of_model.dot
Due: none

Update tests/onnx/requirements.txt
  tests/onnx/requirements.txt
Due: none

update
  .ci/cspell_dict.txt
  constraints.txt
  nncf/onnx/graph/model_utils.py
  nncf/onnx/graph/nncf_graph_builder.py
  nncf/onnx/quantization/quantize_model.py
  tests/onnx/requirements.txt
Due: onnx

update
  nncf/onnx/graph/nncf_graph_builder.py
  nncf/onnx/quantization/quantize_model.py
Due: onnx

minor update
  nncf/onnx/graph/model_transformer.py
Due: onnx

Fix tests
  nncf/onnx/graph/nncf_graph_builder.py
  nncf/onnx/quantization/quantize_model.py
Due: onnx

update
  .ci/cspell_dict.txt
Due: none

minor
  nncf/onnx/graph/model_utils.py
  nncf/onnx/graph/nncf_graph_builder.py
  nncf/onnx/graph/passes.py
  nncf/onnx/quantization/quantize_model.py
Due: onnx

Updated RQ signature (#3441)
  nncf/torch/quantization/quantize_functions.py
  nncf/torch/quantization/reference.py
  tests/torch/quantization/test_functions.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@7a41318eaf868aca4e1f371492aa3447dd3a63ed 🚀
  schema/index.html
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
