Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

add torch fx
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
Due: torch, ptq

Revert Slice as agnostic
  nncf/openvino/graph/metatypes/groups.py
Due: openvino

Update groups.py
  nncf/openvino/graph/metatypes/groups.py
Due: openvino

fix OV test
  tests/openvino/native/data/2024.3/reference_graphs/quantized/LSTMModel.dot
  tests/openvino/native/data/2024.3/reference_graphs/quantized/ScaleShiftReluModel.dot
  tests/openvino/native/data/2024.3/reference_scales/GroupNormalizationModel_mixed.json
  tests/openvino/native/data/2024.3/reference_scales/GroupNormalizationModel_performance.json
  tests/openvino/native/data/2024.3/reference_scales/LSTMModel_mixed.json
  tests/openvino/native/data/2024.3/reference_scales/LSTMModel_performance.json
  tests/openvino/native/data/2024.3/reference_scales/LSTMSequenceModel_mixed.json
  tests/openvino/native/data/2024.3/reference_scales/LSTMSequenceModel_performance.json
  tests/openvino/native/data/2024.3/reference_scales/ScaleShiftReluModel_mixed.json
  tests/openvino/native/data/2024.3/reference_scales/ScaleShiftReluModel_performance.json
Due: none

Revert Slice as agnostic (#2905)
  nncf/openvino/graph/metatypes/groups.py
Due: openvino

Deploying to doc_pages from @ openvinotoolkit/nncf@7c199801227dd067304ba46d6920076421853871 🚀
  schema/index.html
Due: none

Comments
  nncf/experimental/torch/fx/nncf_graph_builder.py
Due: none

Add pr number to artifact
  .github/workflows/api_changes_check.yml
  .github/workflows/api_set_label.yml
Due: none

[GA] Fix set api label action (#2908)
  .github/workflows/api_changes_check.yml
  .github/workflows/api_set_label.yml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@3e6153244bf130f7b6819d84500164fd05e90d31 🚀
  schema/index.html
Due: none

fix OV test graph
  tests/openvino/native/data/2024.3/reference_graphs/quantized/GroupNormalizationModel.dot
Due: none

upd testcase for test_ignored_scopes
  tests/openvino/native/quantization/test_ptq_params.py
Due: none

add pass for qat
  nncf/tensorflow/quantization/algorithm.py
  nncf/torch/quantization/algo.py
Due: torch, tensorflow

change mul to conv in Float64 model
  tests/onnx/data/reference_graphs/quantization/synthetic/float64_model.dot
  tests/onnx/models.py
Due: none

upd torch test graphs
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/inception_v3.dot
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/ssd_vgg.dot
Due: none

[GA] Fix path (#2909)
  .github/workflows/api_set_label.yml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@865798c9a1f1362c6b653c36d638c25a6622340c 🚀
  schema/index.html
Due: none

fix
  .github/workflows/api_set_label.yml
Due: none

upd onnx test graph
  tests/onnx/data/reference_graphs/quantization/MaskRCNN-12.dot
Due: none

[TorchFX] Deptwise convolution support (#2896)
  nncf/experimental/torch/fx/nncf_graph_builder.py
  tests/torch/data/reference_graphs/fx/quantized/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/reference_metatypes/mobilenet_v3_small.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/resnet18.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/swin_v2_s.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/unet.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/vit_b_16.json
  tests/torch/fx/test_models.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@c57df438620ddacd2320ace6ce074982551330e6 🚀
  schema/index.html
Due: none

[GA] fix script set api label (#2910)
  .github/workflows/api_set_label.yml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@1104f1b987cb25df99ac9fe16617f5f7b537e046 🚀
  schema/index.html
Due: none

fix script
  .github/workflows/api_set_label.yml
Due: none

add _is_quantizer_to_remove
  nncf/common/quantization/quantizer_propagation/solver.py
Due: common

fix test_rnn
  tests/torch/modules/test_rnn.py
Due: none

move ref data
  tests/cross_fw/test_templates/fq_params/fq_params.json
  tests/post_training/conftest.py
  tests/post_training/test_templates/test_calculate_quantizer_parameters.py
  tests/torch/fx/test_smooth_quant.py
Due: none

fix graph test torch
  tests/torch/data/reference_graphs/quantized/asymmetric/inception_v3.dot
  tests/torch/data/reference_graphs/quantized/asymmetric/lstm_bi_seq.dot
  tests/torch/data/reference_graphs/quantized/asymmetric/lstm_bi_stacked.dot
  tests/torch/data/reference_graphs/quantized/asymmetric/lstm_cell.dot
  tests/torch/data/reference_graphs/quantized/asymmetric/lstm_uni_seq.dot
  tests/torch/data/reference_graphs/quantized/asymmetric/lstm_uni_stacked.dot
  tests/torch/data/reference_graphs/quantized/hw/CPU/inception_v3.dot
  tests/torch/data/reference_graphs/quantized/hw/GPU/inception_v3.dot
  tests/torch/data/reference_graphs/quantized/hw/NPU/inception_v3.dot
  tests/torch/data/reference_graphs/quantized/symmetric/inception_v3.dot
  tests/torch/data/reference_graphs/quantized/symmetric/lstm_bi_seq.dot
  tests/torch/data/reference_graphs/quantized/symmetric/lstm_bi_stacked.dot
  tests/torch/data/reference_graphs/quantized/symmetric/lstm_cell.dot
  tests/torch/data/reference_graphs/quantized/symmetric/lstm_uni_seq.dot
  tests/torch/data/reference_graphs/quantized/symmetric/lstm_uni_stacked.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/min.dot
  tests/torch/data/reference_graphs/quantized_rb_sparsity/inception_v3.dot
  tests/torch/data/reference_graphs/quantized_rb_sparsity/lstm_bi_seq.dot
  tests/torch/data/reference_graphs/quantized_rb_sparsity/lstm_bi_stacked.dot
  tests/torch/data/reference_graphs/quantized_rb_sparsity/lstm_cell.dot
  tests/torch/data/reference_graphs/quantized_rb_sparsity/lstm_uni_seq.dot
  tests/torch/data/reference_graphs/quantized_rb_sparsity/lstm_uni_stacked.dot
  tests/torch/quantization/test_quantization_metric.py
Due: none

fix onnx test
  tests/onnx/data/reference_graphs/original_nncf_graph/synthetic/float64_model.dot
Due: none

[TorchFX] Fix depthwise weights quantization
  nncf/experimental/torch/fx/groups.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  tests/torch/data/reference_graphs/fx/quantized/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/quantized/unet.dot
Due: torch, ptq

Address comments
  nncf/common/logging/track_progress.py
Due: common

Add weighted progress tracking for weight compression (#2892)
  nncf/common/logging/track_progress.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
Due: common, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@c500822d76e6f93d0b5df75051ee30940587629b 🚀
  schema/index.html
Due: none

fix bug with removing quantizers
  nncf/common/quantization/quantizer_propagation/solver.py
Due: common

fix tests
  nncf/common/quantization/quantizer_propagation/solver.py
  tests/torch/modules/test_rnn.py
Due: common

Add weights compression graph test
  tests/torch/data/reference_graphs/fx/compressed/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/compressed/resnet18.dot
  tests/torch/data/reference_graphs/fx/compressed/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/compressed/unet.dot
  tests/torch/data/reference_graphs/fx/compressed/vit_b_16.dot
  tests/torch/fx/test_models.py
Due: none

pre-commit fix
  nncf/experimental/torch/fx/nncf_graph_builder.py
  tests/torch/fx/test_models.py
Due: none

fix TF tests
  nncf/common/quantization/quantizer_propagation/grouping.py
  tests/tensorflow/quantization/test_unified_scales.py
Due: common
