Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

Set xfail for failed tests on macos (#3421)
  .github/workflows/macos.yml
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/optimized_functions/test_compression_functions.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@c5c2ac564b889d732b876b9b8679dce639a86523 🚀
  schema/index.html
Due: none

c
  .github/workflows/macos.yml
  .github/workflows/precommit.yml
Due: none

removed xfail for solved Issue-160006
  tests/post_training/data/wc_reference_data_2025.0.yaml
Due: none

no download from hf in test for checkpoint load (#3426)
  tests/torch/ptq/test_fq_lora.py
  tests/torch2/function_hook/quantization/test_fq_lora.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@25ff8d445708ba02fecf370a7fcb9a79a27aec85 🚀
  schema/index.html
Due: none

Add OnnxModel class
  nncf/onnx/graph/model_utils.py
Due: onnx

set xfail for 164135 (#3427)
  tests/openvino/optimized_functions/test_ov_model_parameters.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@bcc06a25592a053b2559f9f07169513673527f78 🚀
  schema/index.html
Due: none

xfail for 164135
  tests/openvino/optimized_functions/test_ov_model_parameters.py
Due: none

rework some functions
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/torch/dynamic_graph/patch_pytorch.py
Due: common, torch

removed xfail for 161969
  tests/post_training/data/ptq_reference_data.yaml
Due: none

formatting and suggestion fixes
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/image_classification_base.py
  tests/post_training/pipelines/image_classification_torchvision.py
Due: none

Add quotes to memory monitor command example
  tools/README.md
  tools/memory_monitor.py
Due: none

Updated PTWC references for 2025.1 (#3345)
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/data/wc_reference_data_2025.0.yaml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@45543f161bc5fe815f030d137220d90454c5378c 🚀
  schema/index.html
Due: none

Add quotes to memory monitor command example (#3430)
  tools/README.md
  tools/memory_monitor.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@9874d06b5e009e97cec75b4250ebcc6036158153 🚀
  schema/index.html
Due: none

Add support for ONNX models larger than 2GB
  nncf/common/factory.py
  nncf/common/utils/backend.py
  nncf/onnx/engine.py
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/graph/nncf_graph_builder.py
  nncf/onnx/graph/onnx_helper.py
  nncf/onnx/quantization/quantize_model.py
  nncf/onnx/statistics/aggregator.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
Due: common, onnx, ptq

import
  tests/torch2/function_hook/quantization/test_smooth_quant.py
Due: none

fixed error
  examples/llm_compression/torch/qat_with_lora/README.md
Due: none

results for wikitext
  .ci/cspell_dict.txt
  examples/llm_compression/torch/qat_with_lora/README.md
Due: none

Rename OnnxModel to ONNXModel
  nncf/common/factory.py
  nncf/common/utils/backend.py
  nncf/onnx/engine.py
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/graph/model_utils.py
  nncf/onnx/quantization/quantize_model.py
  nncf/onnx/statistics/aggregator.py
Due: common, onnx

Move the ONNXModel class to a separate module
  nncf/common/factory.py
  nncf/common/utils/backend.py
  nncf/onnx/engine.py
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/graph/model_utils.py
  nncf/onnx/model.py
  nncf/onnx/quantization/quantize_model.py
  nncf/onnx/statistics/aggregator.py
Due: common, onnx

Remove unused get_data_from_node() method
  tests/onnx/quantization/test_bias_correction.py
  tests/onnx/quantization/test_fast_bias_correction.py
Due: none

Added results on wikitext for QAT + LoRA (#3431)
  .ci/cspell_dict.txt
  examples/llm_compression/torch/qat_with_lora/README.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@f93ae45ca9cd1cd512faeef3f6ee204fca3228c3 🚀
  schema/index.html
Due: none

Review changes
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
Due: torch, ptq

Add .ci to paths-ignore for precommit workflow
  .github/workflows/precommit.yml
Due: none

Move extract_raw_data_from_model() and insert_raw_data_into_model() methods
  nncf/onnx/graph/model_utils.py
  nncf/onnx/model.py
Due: onnx

Add .ci to paths-ignore for precommit workflow (#3432)
  .github/workflows/precommit.yml
Due: none

Update NF4 quantile centers (#3387)
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@a8aa1f368e5f860d116dbd427bccf5db9ac0e763 🚀
  schema/index.html
Due: none

Added wrapper
  nncf/torch/quantization/reference.py
Due: torch

Small fixes
  nncf/torch/quantization/reference.py
Due: torch

Updated ref wrap
  nncf/torch/quantization/reference.py
Due: torch

Replace module
  nncf/torch/quantization/reference.py
  nncf/torch/utils.py
Due: torch

Remove comment
  nncf/torch/quantization/quantize_functions.py
Due: torch

Apply comment
  nncf/torch/quantization/reference.py
Due: torch

Add test
  tests/torch/test_utils.py
Due: none
