Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

update reference
  tests/post_training/reference_data.yaml
Due: none

[TF] Added a warning when training without pre-trained weights (#2047)
  examples/tensorflow/object_detection/main.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@01e3c2fc47fbd226fbf79f6d644aef4e3dff771a 🚀
  schema/index.html
Due: none

[PTQ][OV] Weights layout in layer attributes is introduced (#2082)
  nncf/openvino/graph/layer_attributes.py
  nncf/openvino/graph/layout.py
  nncf/openvino/graph/metatypes/groups.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  nncf/openvino/graph/nncf_graph_builder.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/channel_alignment/algorithm.py
  nncf/quantization/algorithms/channel_alignment/backend.py
  nncf/quantization/algorithms/channel_alignment/openvino_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  nncf/quantization/algorithms/smooth_quant/backend.py
  nncf/quantization/algorithms/smooth_quant/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/quantization/test_channel_alignment.py
  tests/openvino/native/test_layer_attributes.py
  tests/openvino/native/test_node_utils.py
  tests/openvino/native/test_smooth_quant.py
  tests/post_training/test_templates/models.py
  tests/post_training/test_templates/test_channel_alignment.py
  tests/post_training/test_templates/test_smooth_quant.py
Due: openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@f5ce7851f135bd2c11ae2b6afc1299aaaf7132fe 🚀
  _sources/autoapi/nncf/openvino/graph/layout/index.rst.txt
  autoapi/nncf/openvino/graph/layout/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

Patch missed magic functions (#2298)
  nncf/common/graph/patterns/manager.py
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/graph/operator_metatypes.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/__floordiv__.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/__ifloordiv__.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/__itruediv__.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/__rdiv__.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/__rfloordiv__.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/__rtruediv__.dot
  tests/torch/test_compressed_graph.py
  tests/torch/test_pytorch_patch.py
Due: common, torch

Deploying to doc_pages from @ openvinotoolkit/nncf@fa67e00fcad6b071661a9f7c2e1e7ce68b2608f4 🚀
  schema/index.html
Due: none

Fix dump of patterns (#2301)
  nncf/common/utils/dot_file_rw.py
  tests/common/graph/test_graph_pattern.py
Due: common

Deploying to doc_pages from @ openvinotoolkit/nncf@a6e4928f0e998158b71e7bcae332cd790fc42c06 🚀
  schema/index.html
Due: none

test_find_groups_of_quantizers_to_rank is presented
  tests/common/accuracy_control/backend.py
  tests/common/accuracy_control/test_ranking.py
Due: none

Placed mode parameter before preset
  nncf/onnx/quantization/quantize_model.py
  nncf/openvino/pot/quantization/quantize_model.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/algorithms/post_training/algorithm.py
  nncf/quantization/algorithms/post_training/pipeline.py
  nncf/quantization/quantize_model.py
  nncf/tensorflow/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
Due: torch, tensorflow, onnx, openvino, ptq

Update tests
  nncf/common/quantization/quantizer_propagation/graph.py
  nncf/onnx/quantization/quantize_model.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/tensorflow/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
  tests/common/quantization/test_minmax.py
  tests/common/quantization/test_quantizer_propagation_solver.py
  tests/openvino/native/quantization/test_sanity.py
  tests/post_training/model_scope.py
  tests/torch/quantization/test_algo_quantization.py
Due: common, torch, tensorflow, onnx, ptq

Fix tests
  tests/tensorflow/quantization/test_algorithm_quantization.py
Due: none

Enable RNSGA-II for Subnetwork Search
  examples/experimental/torch/classification/bootstrap_nas.py
  examples/experimental/torch/classification/bootstrap_nas_search.py
  nncf/config/schemata/experimental_schema.py
  nncf/experimental/torch/nas/bootstrapNAS/__init__.py
  nncf/experimental/torch/nas/bootstrapNAS/search/search.py
  nncf/openvino/graph/layout.py
  tests/torch/nas/creators.py
  tests/torch/nas/models/synthetic.py
  tests/torch/nas/test_elastic_width.py
  tests/torch/nas/test_search.py
Due: openvino

Fix black
  nncf/config/schemata/experimental_schema.py
Due: none

Extend weight compression with INT8 symmetric scheme (#2288)
  docs/compression_algorithms/CompressWeights.md
  nncf/parameters.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
  tests/openvino/native/data/2023.2/reference_scales/IntegerModel_compressed_weights_int8_asym.json
  tests/openvino/native/data/2023.2/reference_scales/IntegerModel_compressed_weights_int8_sym.json
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch/ptq/test_weights_compression.py
Due: torch, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@6d08f52424f9abcd5dd26dd5d714ef0578d45c1c 🚀
  _sources/autoapi/nncf/index.rst.txt
  autoapi/nncf/index.html
  schema/index.html
  searchindex.js
Due: none

Remove estimator params redefining
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/common/quantization/test_minmax.py
Due: ptq

Fix tests after merge
  nncf/parameters.py
  tests/common/quantization/test_minmax.py
Due: none

Update MLFlow version
  examples/torch/requirements.txt
Due: none

Added BF16 & ov.Tensor support
  nncf/openvino/engine.py
  nncf/openvino/graph/nncf_graph_builder.py
Due: openvino

Rollback not needed changes
  nncf/common/quantization/structs.py
  nncf/openvino/pot/quantization/quantize_model.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/post_training/algorithm.py
  nncf/quantization/algorithms/post_training/pipeline.py
  nncf/quantization/fake_quantize.py
  nncf/quantization/quantize_model.py
  nncf/tensorflow/quantization/quantize_model.py
  tests/common/quantization/test_quantizer_propagation_graph.py
  tests/common/quantization/test_quantizer_propagation_solver.py
  tests/post_training/model_scope.py
  tests/tensorflow/quantization/test_algorithm_quantization.py
  tests/tensorflow/quantization/test_ptq_params.py
  tests/torch/quantization/test_hw_config.py
Due: common, tensorflow, openvino, ptq

Fix tests after rollback
  nncf/onnx/quantization/quantize_model.py
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/common/quantization/test_minmax.py
Due: onnx, ptq

Update reference for test_quantize_conformance (#2303)
  tests/post_training/reference_data.yaml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@90441c6604b692e48aeccbe41041f13b147d5c3c 🚀
  schema/index.html
Due: none

Fix tests again
  nncf/openvino/pot/quantization/quantize_model.py
  nncf/quantization/advanced_parameters.py
Due: openvino, ptq

fix input_info
  tests/torch/data/search_building_block/bert.json
  tests/torch/experimental/search_building_blocks/test_transformer_blocks.py
Due: none

fix comparing
  nncf/experimental/torch/search_building_blocks/search_blocks.py
Due: none

fix using map
  nncf/experimental/common/pruning/operations.py
Due: none

Add FQ params dtype conversion
  nncf/openvino/graph/model_transformer.py
Due: openvino

Some fixes (#2306)
  nncf/experimental/common/pruning/operations.py
  nncf/experimental/torch/search_building_blocks/search_blocks.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@f08d0ba974d09c6809d596984f95b356d405cd23 🚀
  schema/index.html
Due: none

Update tests for BF16
  nncf/openvino/graph/model_transformer.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/native/test_node_utils.py
Due: openvino

Fix tests
  tests/openvino/native/quantization/test_fq_params_calculation.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/native/test_node_utils.py
Due: none

Fix bf16 tests
  tests/openvino/native/common.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
Due: none

Update MLFlow version (#2305)
  examples/torch/requirements.txt
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@7af953a11d9ee17af889596786d6e132d6e337ce 🚀
  schema/index.html
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
