Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

PTScaledDotProductAttentionMetatype
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/torch/graph/operator_metatypes.py
  tests/post_training/test_templates/helpers.py
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/scaled_dot_product_attention_model.dot
  tests/torch/ptq/test_graphs.py
Due: torch, ptq

Fix do_dequantization func (#2757)
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@a4971f159ccd0fa8b7c4645acf482a8219590691 🚀
  schema/index.html
Due: none

Fix default value for ignored scope in calibrate.py (#2759)
  tests/openvino/tools/calibrate.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@28719935e334e3869b93a1e6bc5e2d77c13f53c2 🚀
  schema/index.html
Due: none

[PT] Support scaled_dot_product_attention (#2761)
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/torch/graph/operator_metatypes.py
  tests/post_training/test_templates/helpers.py
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/scaled_dot_product_attention_model.dot
  tests/torch/ptq/test_graphs.py
Due: torch, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@4924b7ef44553ded77225e459e5bad8c6ba19fa4 🚀
  schema/index.html
Due: none

minor fix
  tests/tensorflow/sparsity/rb/test_integration.py
Due: none

Add paths-ignore like in pre-commit
  .github/workflows/post_pr_merge.yml
Due: none

[CI] Add paths-ignore like in pre-commit (#2762)
  .github/workflows/post_pr_merge.yml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@81e9e32632f6be1e2d6a7f958330e1646baada88 🚀
  schema/index.html
Due: none

comments
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  tests/post_training/test_templates/models.py
  tests/torch/ptq/test_min_max.py
  tests/torch/test_model_graph_manager.py
Due: torch, openvino, ptq

minor fix
  setup.py
Due: none

draft
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
Due: torch, onnx, openvino, ptq

logging
  nncf/quantization/algorithms/min_max/algorithm.py
Due: ptq

Update Installation.md
  docs/Installation.md
Due: none

Added tests for e2m1.
  tests/openvino/native/quantization/test_weights_compression.py
Due: none

xfail for the e2m1 test.
  tests/openvino/native/quantization/test_weights_compression.py
Due: none

Apply comments
  nncf/onnx/graph/nncf_graph_builder.py
  nncf/onnx/graph/node_utils.py
  nncf/openvino/graph/layout.py
  nncf/openvino/graph/nncf_graph_builder.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/torch_backend.py
  tests/onnx/test_node_utils.py
Due: torch, onnx, openvino, ptq

Fix tests
  nncf/onnx/graph/node_utils.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  tests/onnx/test_node_utils.py
  tests/openvino/native/test_layer_attributes.py
Due: onnx, ptq

TorchFX quantization init
  aa_torch_fx.py
  examples/llm_compression/openvino/tiny_llama/main.py
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/main.py
  nncf/common/factory.py
  nncf/common/graph/patterns/manager.py
  nncf/common/utils/backend.py
  nncf/experimental/torch_fx/__init__.py
  nncf/experimental/torch_fx/engine.py
  nncf/experimental/torch_fx/model_transformer.py
  nncf/experimental/torch_fx/nncf_graph_builder.py
  nncf/experimental/torch_fx/quantization/__init__.py
  nncf/experimental/torch_fx/quantization/quantize_model.py
  nncf/experimental/torch_fx/statistics/__init__.py
  nncf/experimental/torch_fx/statistics/aggregator.py
  nncf/experimental/torch_fx/transformations.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/torch_fx_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  nncf/quantization/quantize_model.py
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/dynamic_graph/structs.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/graph/pattern_operations.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/torch/sparsity/movement/helpers/run_recipe.py
  tests/torch/sparsity/movement/helpers/trainer.py
  tests/torch/sparsity/movement/test_model_saving.py
  tests/torch/sparsity/movement/training_scripts/run_glue.py
  tests/torch_fx/__init__.py
  tests/torch_fx/helpers.py
  tests/torch_fx/requirements.txt
  tests/torch_fx/test_sanity.py
  torch_compile_ex_release.py
  yolo_fx_bad_metrics_repro.py
Due: common, torch, ptq

Test code is removed
  aa_torch_fx.py
  examples/llm_compression/openvino/tiny_llama/main.py
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/main.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/torch/sparsity/movement/helpers/run_recipe.py
  tests/torch/sparsity/movement/helpers/trainer.py
  tests/torch/sparsity/movement/test_model_saving.py
  tests/torch/sparsity/movement/training_scripts/run_glue.py
  torch_compile_ex_release.py
  yolo_fx_bad_metrics_repro.py
Due: torch, ptq

Comments
  .github/workflows/precommit.yml
  Makefile
  nncf/common/factory.py
  nncf/experimental/torch/fx/__init__.py
  nncf/experimental/torch/fx/engine.py
  nncf/experimental/torch/fx/model_transformer.py
  nncf/experimental/torch/fx/nncf_graph_builder.py
  nncf/experimental/torch/fx/quantization/__init__.py
  nncf/experimental/torch/fx/quantization/quantize_model.py
  nncf/experimental/torch/fx/statistics/__init__.py
  nncf/experimental/torch/fx/statistics/aggregator.py
  nncf/experimental/torch/fx/transformations.py
  nncf/quantization/algorithms/fast_bias_correction/torch_fx_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  nncf/quantization/quantize_model.py
Due: common, torch, ptq

torch-fx tests are added to pre-commit
  .github/workflows/precommit.yml
  Makefile
  tests/torch_fx/requirements.txt
  tests/torch_fx/test_sanity.py
Due: none

Reference graph are updated
  nncf/torch/graph/operator_metatypes.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/MHA_single_input.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/ShiftScale__normalize__multi_input_branch.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/ShiftScale__normalize__single_input_branch.dot
Due: torch

Fix tests
  tests/post_training/test_templates/test_min_max.py
Due: none

Fix ONNX
  nncf/onnx/graph/node_utils.py
  tests/onnx/test_layer_attributes.py
Due: onnx

Fix fix fix
  tests/post_training/test_templates/test_min_max.py
Due: none

Fix fix fix
  tests/onnx/test_node_utils.py
Due: none

Fix fix ONNX
  tests/onnx/test_layer_attributes.py
Due: none

Change relative links
  README.md
Due: none

E2M1 compression. (#2745)
  nncf/parameters.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/config.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@2ba43bd62aa8252e65c644bf2ab1bfbfec2c10f0 🚀
  _sources/autoapi/nncf/index.rst.txt
  autoapi/nncf/index.html
  schema/index.html
  searchindex.js
Due: none

Update Fast-/BC algorithms (#2747)
  nncf/onnx/graph/node_utils.py
  nncf/openvino/graph/layout.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/torch_backend.py
  tests/onnx/test_layer_attributes.py
  tests/onnx/test_node_utils.py
  tests/openvino/native/data/2024.1/reference_scales/MatMul2DModel_mixed.json
  tests/openvino/native/data/2024.1/reference_scales/MatMul2DModel_performance.json
  tests/openvino/native/models.py
  tests/openvino/native/test_layer_attributes.py
Due: torch, onnx, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@beb9c0447a7c86b5aa427cad6744ca0f0dc373ae 🚀
  schema/index.html
Due: none

Revert "Change relative links"
  README.md
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
