Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@9c8c693807ab6c636b9b97edcd1f03a4e23921d5 🚀
  schema/index.html
Due: none

bump up torch version init
  README.md
  constraints.txt
  docs/Installation.md
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
  nncf/version.py
Due: none

fix mypy issue
  nncf/experimental/torch2/function_hook/hook_executor_mode.py
Due: none

Fix GPTQ for inputs with batch size != 1 and with seq len == 1 (#3002)
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/lora_correction.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/quantization/test_quantize_api.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch/fx/test_compress_weights.py
  tests/torch/ptq/test_weights_compression.py
Due: torch, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@57e38917eb6d031d3f28cec314ac2e8baab49242 🚀
  schema/index.html
Due: none

Backend-agnostic telemetry update (#3028)
  nncf/onnx/quantization/quantize_model.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/quantize_model.py
  nncf/telemetry/decorator.py
  nncf/telemetry/events.py
  nncf/telemetry/wrapper.py
  nncf/torch/quantization/quantize_model.py
  tests/common/test_telemetry.py
Due: torch, onnx, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@1d75eac7716d7e575a6bdf7c9c69df2f0597833f 🚀
  schema/index.html
Due: none

added support for int4 weight compression in torch and torch.fx backends
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/layers.py
  nncf/torch/quantization/quantize_functions.py
Due: torch, ptq

add test on tensor collector
  nncf/experimental/common/tensor_statistics/collectors.py
  tests/common/experimental/test_statistic_collector.py
Due: none

fix test
  tests/common/experimental/test_statistic_collector.py
Due: none

Update ultralytics 8.2.83
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/yolov8/main.py
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
Due: none

updated tests
  nncf/quantization/quantize_model.py
  tests/post_training/experimental/sparsify_activations/pipelines.py
  tests/torch/fx/test_compress_weights.py
  tests/torch/ptq/test_weights_compression.py
Due: ptq

updated references
  tests/torch/data/experimental/sparsify_activations/dummy_llama_int8_sym_weights_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/linear_int8_sym_weights_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/three_linear_ignore1_int8_sym_weights_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/three_linear_int8_sym_weights_sparse_activations.dot
Due: none

added test_pack_uin4 and test_pack_in4
  tests/torch/ptq/test_weights_compression.py
Due: none

Update pipelines.py
  tests/post_training/experimental/sparsify_activations/pipelines.py
Due: none

added tinyllama_int4_data_free_backend_TORCH test
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/model_scope.py
Due: none

ruff happy
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/data/wc_reference_data_2024.5.yaml
  tests/post_training/test_quantize_conformance.py
  tests/torch/fx/test_compress_weights.py
Due: none

added docstrings
  nncf/torch/quantization/quantize_functions.py
Due: torch

replied to comments
  nncf/torch/quantization/quantize_functions.py
Due: torch

tests passed
  nncf/quantization/quantize_model.py
  tests/torch/fx/test_compress_weights.py
  tests/torch/ptq/test_weights_compression.py
Due: ptq

Use fp32 inference precision (#3018)
  nncf/openvino/engine.py
  nncf/quantization/algorithms/accuracy_control/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@6afb13df83f96c31e977f20ffcb49cb87f51c81d 🚀
  schema/index.html
Due: none

Covered methods with telemetry
  nncf/common/strip.py
  nncf/common/telemetry_extractors.py
  nncf/data/generators.py
  nncf/experimental/tensorflow/nncf_network.py
  nncf/torch/model_creation.py
  nncf/torch/nncf_network.py
Due: common, torch

Common category added
  nncf/telemetry/events.py
Due: none

Remove from experimental
  nncf/experimental/tensorflow/nncf_network.py
Due: none

Minor fix
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/deploy.py
Due: none

add cache methods for TensorCollector
  nncf/common/tensor_statistics/aggregator.py
  nncf/experimental/common/tensor_statistics/collectors.py
  tests/common/experimental/test_statistic_collector.py
  tests/cross_fw/test_templates/test_statistics_caching.py
Due: common

:return:
  nncf/experimental/torch2/function_hook/graph/build_graph_mode.py
  nncf/experimental/torch2/function_hook/graph/graph_visualization.py
  nncf/experimental/torch2/function_hook/hook_executor_mode.py
  nncf/experimental/torch2/function_hook/hook_storage.py
  nncf/experimental/torch2/function_hook/weak_map.py
  nncf/experimental/torch2/function_hook/wrapper.py
Due: none

upd errors
  nncf/common/tensor_statistics/statistics_serializer.py
  nncf/quantization/quantize_model.py
  tests/common/test_statistics_serializer.py
  tests/cross_fw/test_templates/test_statistics_caching.py
Due: common, ptq

mypy + fixes
  nncf/common/tensor_statistics/statistic_point.py
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/experimental/common/tensor_statistics/statistics.py
Due: common

fixes
  nncf/common/tensor_statistics/aggregator.py
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/experimental/common/tensor_statistics/statistics.py
  tests/openvino/native/quantization/test_weights_compression_statistics_caching.py
Due: common

error
  nncf/quantization/quantize_model.py
Due: ptq

more tests
  nncf/quantization/algorithms/weight_compression/algorithm.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch/fx/test_compress_weights.py
  tests/torch/ptq/test_weights_compression.py
Due: ptq

rm register_tensor
  nncf/common/tensor_statistics/statistic_point.py
Due: common

change version
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
Due: none

comments
  nncf/common/tensor_statistics/aggregator.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/cache_statistics.py
  nncf/quantization/quantize_model.py
Due: common, ptq

add subset_size to metadata
  nncf/common/tensor_statistics/aggregator.py
  nncf/quantization/cache_statistics.py
Due: common, ptq

statistics_dir_path -> statistics_path
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/main.py
  nncf/openvino/quantization/cache_statistics.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/cache_statistics.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/native/quantization/test_weights_compression_statistics_caching.py
  tests/torch/fx/test_compress_weights.py
  tests/torch/ptq/test_weights_compression.py
Due: openvino, ptq

Fix tests
  nncf/common/telemetry_extractors.py
  nncf/config/telemetry_extractors.py
Due: common

make cache_weight_compression_statistics common function
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/cache_statistics.py
  nncf/quantization/quantize_model.py
  nncf/quantization/statistics_caching.py
Due: openvino, ptq

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
