Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

Apply review suggestions
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/dynamic_graph/wrappers.py
  tests/torch/pytorch_patch_isolated.py
  tests/torch/test_pytorch_patch.py
Due: torch

fix
  nncf/openvino/graph/nncf_graph_builder.py
Due: openvino

Bump torch to 2.3.0 (#2690)
  README.md
  constraints.txt
  docs/Installation.md
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
  setup.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/MHA.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/MHA_single_input.dot
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@6a974ad4746f5ba12ce1d6cb4af0dfa1cac0fefc 🚀
  schema/index.html
Due: none

revert
  examples/tensorflow/common/object_detection/architecture/darknet.py
Due: none

[PT] Increase threshold for e2e reference (#2693)
  tests/torch/sota_checkpoints_eval.json
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@7b01c2624a1789f959ac20a789e8220cf51639c2 🚀
  schema/index.html
Due: none

upbade sota
  tests/torch/sota_checkpoints_eval.json
Due: none

Fix
  examples/tensorflow/common/object_detection/architecture/darknet.py
Due: none

Remove extra install
  examples/torch/README.md
  nncf/common/utils/decorators.py
  requirements-dev.txt
  setup.py
Due: common

Added debug logging to AWQ.
  nncf/quantization/algorithms/weight_compression/awq.py
Due: ptq

revert sorting
  nncf/openvino/graph/nncf_graph_builder.py
Due: openvino

Documentation is updated
  README.md
  ReleaseNotes.md
  docs/Algorithms.md
  docs/FAQ.md
  docs/accuracy_aware_model_training/AdaptiveCompressionLevelTraining.md
  docs/accuracy_aware_model_training/EarlyExitTraining.md
  docs/usage/post_training_compression/post_training_quantization/ONNX.md
  docs/usage/post_training_compression/post_training_quantization/Usage.md
  docs/usage/training_time_compression/other_algorithms/KnowledgeDistillation.md
  docs/usage/training_time_compression/other_algorithms/LegacyQuantization.md
  docs/usage/training_time_compression/other_algorithms/Usage.md
  docs/usage/training_time_compression/quantization_aware_training/Usage.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/README.md
Due: none

[OpenVINO] Fix bug when Add node is not 0-index child (#2692)
  nncf/openvino/graph/node_utils.py
  nncf/openvino/graph/transformations/command_creation.py
  nncf/quantization/algorithms/channel_alignment/openvino_backend.py
Due: openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@1e4b7635fa7720016596d864ef2ee75d8d684588 🚀
  schema/index.html
Due: none

Andreyan/awq extention (#2676)
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/awq_patterns.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@ce29e75bed3a04655b19164a5977a55ff1e6062f 🚀
  schema/index.html
Due: none

Performant model modified by hands!
  nncf/experimental/torch_fx/model_transformer.py
  torch_compile_ex_release.py
Due: none

[Torch] Do not wrap not tensor inputs (#2649)
  nncf/torch/dynamic_graph/io_handling.py
  tests/torch/helpers.py
  tests/torch/test_input_management.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@d6c0850d5d4384b390770e298551e9faf757c618 🚀
  schema/index.html
Due: none

support bf16 in INT8 weight compression
  nncf/experimental/tensor/definitions.py
  nncf/experimental/tensor/functions/torch_numeric.py
  nncf/openvino/graph/nncf_graph_builder.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: torch, openvino, ptq

added the check of a convert node after the constant node
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

added tests
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: openvino, ptq

make ruff happy
  nncf/openvino/graph/node_utils.py
Due: openvino

openvino tests passed
  tests/openvino/native/test_nncf_graph_builder.py
Due: none

replied to commments
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: openvino, ptq

[OV] Compress bf16 weights (#2686)
  nncf/experimental/tensor/definitions.py
  nncf/experimental/tensor/functions/torch_numeric.py
  nncf/openvino/graph/nncf_graph_builder.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/native/test_nncf_graph_builder.py
Due: torch, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@47187e5bbaef678508fdfdc980b258fc4e32d3db 🚀
  schema/index.html
Due: none

f
  tests/cross_fw/examples/test_examples.py
  tests/cross_fw/install/test_install.py
  tests/shared/helpers.py
  tests/torch/test_extensions_build.py
Due: none

Revert "Andreyan/awq extention (#2676)"
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/awq_patterns.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: openvino, ptq

TensorStatistic
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/experimental/common/tensor_statistics/statistics.py
  nncf/onnx/statistics/collectors.py
  nncf/onnx/statistics/statistics.py
  nncf/openvino/statistics/collectors.py
  nncf/openvino/statistics/statistics.py
  nncf/quantization/algorithms/channel_alignment/openvino_backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/torch/quantization/algo.py
  nncf/torch/tensor_statistics/collectors.py
  nncf/torch/tensor_statistics/statistics.py
  tests/common/experimental/test_statistic_collector.py
  tests/common/experimental/test_tensor_collector_batch_size.py
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_calculation_quantizer_params.py
  tests/onnx/quantization/test_tensor_collector_batch_size.py
  tests/openvino/native/quantization/test_calculation_quantizer_params.py
  tests/openvino/native/test_statistic_collector.py
  tests/openvino/native/test_tensor_collector_batch_size.py
  tests/post_training/test_templates/test_calculate_quantizer_parameters.py
  tests/torch/ptq/test_calculation_quantizer_params.py
  tests/torch/ptq/test_statistic_collector.py
  tests/torch/ptq/test_tensor_collector_batch_size.py
  tests/torch/tensor_statistics/test_tensor_statistics.py
Due: torch, onnx, openvino, ptq

f
  tests/cross_fw/install/test_install.py
  tests/shared/install_fixtures.py
Due: none

typing_extensions
  setup.py
Due: none

Added function argument compress_to_fp16 in save_model for fp32 models in exmples
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  examples/post_training_quantization/torch/ssd300_vgg16/main.py
  examples/quantization_aware_training/torch/resnet18/main.py
Due: none

Revert "Andreyan/awq extention (#2676)" (#2695)
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/awq_patterns.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@4d7fd566e805378367f8e96a8e88a7ab43d02ebf 🚀
  schema/index.html
Due: none

Remove compress_to_fp16=False from examples (#2682)
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
  examples/post_training_quantization/openvino/yolov8/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  examples/post_training_quantization/torch/ssd300_vgg16/main.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@936533e7e60d477ca6ed5855a7cf4d2cffd8be00 🚀
  schema/index.html
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
