Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@e9d2415a455cbb86beeabb27603ca83c74067e65 🚀
  schema/index.html
Due: none

Move `activations_to_wc_statistics` to SE class (#3022)
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@dfc5d78f76406403ae25c3bbbc7c5881cd8837f8 🚀
  schema/index.html
Due: none

test_constant_folding
  nncf/experimental/torch/fx/constant_folding.py
  tests/torch/data/reference_graphs/fx/transformed/folded_model.dot
  tests/torch/fx/test_model_transformer.py
  tests/torch/test_models/synthetic.py
Due: none

Test duration is updated
  tests/cross_fw/examples/.test_durations
Due: none

Remove warning from examples
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/yolov8/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/torch/ssd300_vgg16/main.py
Due: none

minor fix
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
Due: ptq

extend logic by collecting all stats at first
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/main.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/algorithms/layerwise/engine.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
Due: openvino, ptq

rollback
  nncf/quantization/algorithms/layerwise/engine.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
Due: ptq

add logging to aggregator
  nncf/common/tensor_statistics/aggregator.py
Due: common

add cache_statistics.py
  nncf/openvino/quantization/cache_statistics.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: openvino, ptq

typos
  nncf/openvino/quantization/cache_statistics.py
  nncf/quantization/quantize_model.py
Due: openvino, ptq

typo
  nncf/common/tensor_statistics/aggregator.py
Due: common

Update wc_reference_data.yaml
  tests/post_training/data/wc_reference_data.yaml
Due: none

added support for int4 weight compression in torch and torch.fx backends
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/layers.py
  nncf/torch/quantization/quantize_functions.py
Due: torch, ptq

change transformation to update weight, zp, scale when replacing the qdq pattern
  nncf/experimental/torch/fx/transformations.py
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/resnet18.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/synthetic_transformer.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/unet.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/vit_b_16.dot
Due: none

Step 4 renamed to Summary
  examples/post_training_quantization/torch_fx/resnet18/main.py
Due: none

update return of qdq constant transformation function
  nncf/experimental/torch/fx/transformations.py
Due: none

-
  Makefile
  docs/PyPiPublishing.md
Due: none

rollback changes in algorithm_key
  nncf/openvino/quantization/cache_statistics.py
  nncf/quantization/algorithms/layerwise/engine.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
Due: openvino, ptq

polishing
  nncf/openvino/quantization/cache_statistics.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
Due: openvino, ptq

Drop supports python3.8 and add support numpy2 (#2919)
  .github/workflows/build_html_doc.yml
  .github/workflows/build_schema_page.yml
  .github/workflows/python-publish.yml
  Makefile
  README.md
  constraints.txt
  docs/PyPiPublishing.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  nncf/tensorflow/accuracy_aware_training/keras_model_utils.py
  pyproject.toml
Due: tensorflow

comments
  nncf/experimental/common/tensor_statistics/statistics.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@4e388d2fd764660c847d3b3af7c645f73a31df79 🚀
  schema/index.html
Due: none

add disable() in TensorCollector
  nncf/experimental/common/tensor_statistics/collectors.py
Due: none

apply comment
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/yolov8/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/torch/ssd300_vgg16/main.py
Due: none

Minor Fixes
  nncf/experimental/torch/fx/transformations.py
Due: none

fix name
  nncf/openvino/quantization/cache_statistics.py
  nncf/openvino/quantization/quantize_model.py
Due: openvino

Minor Fix #2
  nncf/experimental/torch/fx/transformations.py
Due: none

fix bug
  nncf/openvino/quantization/cache_statistics.py
Due: openvino

compress_weights telemetry update (#3011)
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/telemetry_extractors.py
  nncf/telemetry/extractors.py
  nncf/telemetry/wrapper.py
  nncf/torch/quantization/quantize_model.py
Due: torch, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@7385c4177b125702c18a67ea2a873cad2fa35619 🚀
  schema/index.html
Due: none

Minor changes
  nncf/common/factory.py
  nncf/common/tensor_statistics/aggregator.py
  nncf/openvino/engine.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
Due: common, openvino, ptq

Remove tensorflow_addons
  docs/api/source/conf.py
  examples/tensorflow/classification/main.py
  examples/tensorflow/common/optimizer.py
  examples/tensorflow/requirements.txt
  nncf/tensor/README.md
  nncf/tensorflow/accuracy_aware_training/runner.py
  tests/tensorflow/requirements.txt
  tests/tensorflow/sparsity/rb/test_integration.py
Due: tensorflow

Backend-agnostic telemetry update
  nncf/onnx/quantization/quantize_model.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/quantize_model.py
  nncf/telemetry/decorator.py
  nncf/telemetry/events.py
  nncf/telemetry/wrapper.py
  nncf/torch/quantization/quantize_model.py
Due: torch, onnx, openvino, ptq

set pythonpath for pytest
  pyproject.toml
Due: none

WIP
  nncf/experimental/torch/fx/model_transformer.py
  nncf/experimental/torch/fx/node_utils.py
  nncf/experimental/torch/fx/transformations.py
  nncf/quantization/algorithms/bias_correction/torch_fx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/torch_fx_backend.py
  tests/torch/data/reference_graphs/fx/extracted/ConvolutionWithNotTensorBiasModelconv2d_conv2d_output_conv2d.dot
  tests/torch/data/reference_graphs/fx/extracted/ConvolutionWithNotTensorBiasModelconv2d_output.dot
  tests/torch/data/reference_graphs/fx/extracted/ConvolutionWithSeveralOutputsconv2d_conv2d_output_conv2d.dot
  tests/torch/data/reference_graphs/fx/extracted/ConvolutionWithSeveralOutputsconv2d_output.dot
  tests/torch/data/reference_graphs/fx/quantized/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/quantized/resnet18.dot
  tests/torch/data/reference_graphs/fx/quantized/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/quantized/synthetic_transformer.dot
  tests/torch/data/reference_graphs/fx/quantized/unet.dot
  tests/torch/data/reference_graphs/fx/quantized/vit_b_16.dot
  tests/torch/fx/test_model_transformer.py
  tests/torch/test_models/synthetic.py
Due: torch, ptq

datasets3
  tests/torch/requirements.txt
Due: none

unplickler
  examples/torch/common/restricted_pickle_module.py
Due: none

ROOT_PYTHONPATH_ENV
  tests/cross_fw/shared/paths.py
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
