Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

extend test
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/openvino/statistics/collectors.py
  tests/cross_fw/test_templates/test_weights_compression_backends.py
  tests/openvino/native/quantization/test_weights_compression_backends.py
Due: openvino

extend test_number_of_reduced_statistics_for_subset_size
  tests/openvino/native/quantization/test_weights_compression.py
Due: none

rm repeated test case
  tests/openvino/native/quantization/test_weights_compression.py
Due: none

Update ReleaseNotes.md
  ReleaseNotes.md
Due: none

Skip capture_pre_autograd tests on Windows
  tests/torch/fx/test_model_transformer.py
  tests/torch/fx/test_models.py
Due: none

summary for test examples
  .github/scripts/pytest_md_summary.py
  .github/workflows/examples.yml
Due: none

Fix hessian criteria statistics collector (#3072)
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/openvino/statistics/collectors.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  tests/cross_fw/test_templates/test_weights_compression_backends.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/native/quantization/test_weights_compression_backends.py
Due: openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@1744c3d0df6139ac878ba2e00abec82cd39d6492 🚀
  schema/index.html
Due: none

rm
  .github/workflows/examples.yml
Due: none

test install
  .github/workflows/install.yml
  .github/workflows/precommit.yml
Due: none

8-cores
  .github/workflows/install.yml
Due: none

not virtualenv
  .github/workflows/install.yml
Due: none

ubuntu-22.04
  .github/workflows/install.yml
Due: none

Revert "ubuntu-22.04"
  .github/workflows/install.yml
Due: none

trigger
  .github/workflows/install.yml
Due: none

revert
  .github/workflows/precommit.yml
Due: none

[GHA] summary for test examples (#3079)
  .github/scripts/pytest_md_summary.py
  .github/workflows/examples.yml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@8555c86f8b10f7ac864a3d8736f0e805f547a40a 🚀
  schema/index.html
Due: none

enabled dynamic quantization and kv cache precision u8
  examples/llm_compression/openvino/tiny_llama/main.py
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/main.py
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

Update thresholds for yolo_v4_coco (#3070)
  tests/tensorflow/sota_checkpoints_eval.json
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@95cf1ea295922c80056d4385f734154f065aaab5 🚀
  schema/index.html
Due: none

ov modeling tests
  nncf/quantization/algorithms/weight_compression/openvino_modeling.py
  tests/openvino/native/quantization/test_openvino_modeling.py
Due: openvino, ptq

Move cache_results decorator
  nncf/common/utils/decorators.py
  nncf/quantization/algorithms/weight_compression/openvino_modeling.py
  nncf/results_caching.py
  tests/openvino/native/quantization/test_openvino_modeling.py
Due: common, openvino, ptq

shared_constants_unification_transformation is removed
  nncf/experimental/torch/fx/model_transformer.py
  nncf/experimental/torch/fx/quantization/quantize_model.py
  nncf/experimental/torch/fx/transformations.py
  tests/torch/data/reference_graphs/fx/reference_attributes/not_unified_shared_attribute_test_model.json
  tests/torch/data/reference_graphs/fx/reference_attributes/unified_shared_attribute_test_model.json
  tests/torch/data/reference_graphs/fx/transformed/shared_constants_unification_not_connected_const.dot
  tests/torch/data/reference_graphs/fx/transformed/shared_constants_unification_transformation_test.dot
  tests/torch/fx/test_model_transformer.py
  tests/torch/fx/test_models.py
Due: none

Tests reorgantization
  tests/openvino/native/quantization/test_ov_modeling_compression.py
  tests/openvino/native/test_openvino_modeling.py
Due: none

clean
  .github/workflows/install.yml
  tests/cross_fw/install/test_install.py
Due: none

ra
  .github/workflows/install.yml
Due: none

cache_results decorator test
  nncf/common/utils/decorators.py
  nncf/quantization/algorithms/weight_compression/openvino_modeling.py
  tests/common/utils/test_cache_results_decorator.py
  tests/openvino/native/quantization/test_ov_modeling_compression.py
  tests/openvino/native/test_openvino_modeling.py
Due: common, openvino, ptq

get_const_value test
  tests/openvino/native/test_node_utils.py
Due: none

cl
  .github/workflows/install.yml
Due: none

pr
  .github/workflows/install.yml
Due: none

fix model_transformer and remove warning
  nncf/onnx/graph/model_transformer.py
  nncf/quantization/fake_quantize.py
Due: onnx, ptq

statistics path
  .gitignore
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/main.py
Due: none

fix formula
  nncf/quantization/fake_quantize.py
Due: ptq

avoid division 0 in ra as well
  nncf/quantization/fake_quantize.py
Due: ptq

some fixes
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
Due: ptq

deepcopy to noop reducer
  nncf/experimental/common/tensor_statistics/collectors.py
Due: none
