Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

Fix for pre-compressed MatMuls in AWQ. (#2648)
  nncf/quantization/algorithms/weight_compression/awq.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@7985126d09372d93731196c2b1476cb9186be8c8 🚀
  schema/index.html
Due: none

add timm dependency for OV tests
  tests/openvino/requirements.txt
Due: none

hide import of efficientnet_pytorch
  examples/torch/common/models/__init__.py
  examples/torch/common/models/classification/__init__.py
  examples/torch/common/models/classification/efficientnet.py
  examples/torch/common/models/segmentation/__init__.py
  tests/torch/experimental/search_building_blocks/test_search_building_blocks.py
  tests/torch/nas/creators.py
  tests/torch/test_models/mobilenet.py
  tests/torch/test_models/mobilenet_v3.py
Due: none

Change NPU to CPU in PTQ
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/torch/data/reference_graphs/quantized/hw/NPU/inception_v3.dot
  tests/torch/data/reference_graphs/quantized/hw/NPU/mobilenet_v2.dot
  tests/torch/data/reference_graphs/quantized/hw/NPU/resnet50.dot
  tests/torch/test_compressed_graph.py
Due: ptq

Fixed to dump the ignored_scope in quantization more gracefully (#2578)
  nncf/openvino/rt_info.py
  tests/openvino/native/quantization/test_quantization_pipeline.py
Due: openvino

Deploying to doc_pages from @ openvinotoolkit/nncf@3586e589628f3b3333dad63b2cef24fcecb432e6 🚀
  schema/index.html
Due: none

Do not inherit torch patching context from threading.local
  nncf/torch/dynamic_graph/context.py
  tests/torch/pytorch_patch_isolated.py
  tests/torch/test_pytorch_patch.py
Due: torch

Linters
  tests/torch/pytorch_patch_isolated.py
Due: none

Ignore an import line by ruff
  tests/torch/pytorch_patch_isolated.py
Due: none

Test tweaks
  tests/torch/pytorch_patch_isolated.py
Due: none

Extending functions by diag, cholesky, cholesky_inverse, inv (#2588)
  nncf/experimental/tensor/functions/__init__.py
  nncf/experimental/tensor/functions/linalg.py
  nncf/experimental/tensor/functions/numeric.py
  nncf/experimental/tensor/functions/numpy_linalg.py
  nncf/experimental/tensor/functions/numpy_numeric.py
  nncf/experimental/tensor/functions/torch_linalg.py
  nncf/experimental/tensor/functions/torch_numeric.py
  tests/shared/test_templates/template_test_nncf_tensor.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@daec271ae331803681fad433f0d4297c64a3d136 🚀
  schema/index.html
Due: none

StatefullTorchModuleInterface -> StatefullModuleInterface
  nncf/quantization/algorithms/smooth_quant/torch_backend.py
  nncf/torch/layer_utils.py
  nncf/torch/pruning/filter_pruning/layers.py
  nncf/torch/quantization/layers.py
  nncf/torch/sparsity/layers.py
  nncf/torch/sparsity/rb/layers.py
  tests/torch/helpers.py
Due: torch, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@b6113229cf33d2dfa7861fb3183bdb0c3621e1f3 🚀
  _static/pygments.css
  schema/index.html
Due: none

[Torch] Serialize and load NNCF transformations (#2531)
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/smooth_quant/torch_backend.py
  nncf/torch/graph/transformations/serialization.py
  nncf/torch/layer_utils.py
  nncf/torch/pruning/filter_pruning/layers.py
  nncf/torch/quantization/layers.py
  nncf/torch/sparsity/layers.py
  nncf/torch/sparsity/rb/layers.py
  tests/torch/data/reference_scales/TwoConvTestModel_overflow_fix_disable.json
  tests/torch/data/reference_scales/TwoConvTestModel_overflow_fix_enable.json
  tests/torch/data/reference_scales/TwoConvTestModel_overflow_fix_first_layer_only.json
  tests/torch/helpers.py
  tests/torch/nncf_network/helpers.py
  tests/torch/nncf_network/test_transformation_layout.py
  tests/torch/ptq/helpers.py
  tests/torch/ptq/test_graphs.py
  tests/torch/test_serialization.py
Due: torch, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@d507585d32e5e18246e2f99a22300908c923112d 🚀
  _sources/autoapi/nncf/torch/graph/transformations/serialization/index.rst.txt
  autoapi/nncf/torch/graph/transformations/serialization/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

[Torch] Save/Load transformations API
  nncf/torch/__init__.py
  nncf/torch/model_creation.py
  nncf/torch/nncf_network.py
  tests/torch/test_serialization.py
Due: torch

Docs structure is updated
  docs/usage/other_algorithms/BatchnormAdaptation.md
  docs/usage/other_algorithms/KnowledgeDistillation.md
  docs/usage/other_algorithms/LegacyQuantization.md
  docs/usage/other_algorithms/Pruning.md
  docs/usage/other_algorithms/Sparsity.md
  docs/usage/other_algorithms/Usage.md
  docs/usage/post_training_quantization/ONNX.md
  docs/usage/post_training_quantization/Usage.md
  docs/usage/quantization_aware_training/Usage.md
  docs/usage/weights_compression/Usage.md
Due: none

Add thread safe lock
  nncf/torch/dynamic_graph/context.py
Due: torch

add efficientnet_pytorch to OV test reqs
  examples/torch/common/models/classification/efficientnet.py
  tests/openvino/requirements.txt
Due: none

create_torch_model -> get_torch_model_info
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
  tests/openvino/native/quantization/test_graphs.py
  tests/openvino/native/test_nncf_graph_builder.py
Due: none

[Torch] Do not change state of the compression parameter
  nncf/torch/layer_utils.py
  nncf/torch/sparsity/rb/layers.py
  tests/torch/test_serialization.py
Due: torch

fix test
  tests/openvino/native/common.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
Due: none

[Torch] Do not change state of the compression parameter (#2670)
  nncf/torch/layer_utils.py
  nncf/torch/sparsity/rb/layers.py
  tests/torch/test_serialization.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@359447bad19c83fbc8772c9068fceca510cd98e0 🚀
  schema/index.html
Due: none

fix for the argsort function
  nncf/experimental/tensor/functions/numeric.py
  nncf/experimental/tensor/functions/numpy_numeric.py
  nncf/experimental/tensor/functions/torch_numeric.py
  tests/shared/test_templates/template_test_nncf_tensor.py
Due: torch

typehints
  tests/openvino/native/common.py
  tests/openvino/native/models.py
Due: none

swin-t -> swin-block
  tests/openvino/native/data/2024.1/reference_graphs/quantized/swin-block_performance_transformer.dot
  tests/openvino/native/data/2024.1/reference_graphs/quantized/swin-block_sq.dot
  tests/openvino/native/data/2024.1/reference_graphs/quantized/swin-t_performance_transformer.dot
  tests/openvino/native/data/2024.1/reference_graphs/quantized/swin-t_sq.dot
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_graphs.py
  tests/torch/test_models/swin.py
Due: none

minor
  tests/openvino/native/quantization/test_fq_params_calculation.py
  tests/openvino/requirements.txt
Due: none

WIP
  nncf/torch/dynamic_graph/context.py
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/dynamic_graph/wrappers.py
Due: torch

Subset test
  Makefile
Due: none

WIP
  Makefile
  nncf/torch/dynamic_graph/context.py
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/dynamic_graph/wrappers.py
  reproducer.py
Due: torch

updated tests
  tests/shared/test_templates/template_test_nncf_tensor.py
Due: none

updated docstrings for AdvancedAWQParameters and AdvancedScaleEstimationParameters
  nncf/quantization/advanced_parameters.py
Due: ptq

updated docstring for compress_weights function
  nncf/quantization/quantize_model.py
Due: ptq

Fix argsort function (#2671)
  nncf/experimental/tensor/functions/numeric.py
  nncf/experimental/tensor/functions/numpy_numeric.py
  nncf/experimental/tensor/functions/torch_numeric.py
  tests/shared/test_templates/template_test_nncf_tensor.py
Due: torch

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
