Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

Remove duplicating copyright
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
Due: ptq

Compress Conv layers to INT8
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/models.py
Due: ptq

Add tests
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: openvino, ptq

Support Torch backend
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  tests/torch/ptq/test_weights_compression.py
Due: torch, ptq

Apply comments
  nncf/common/tensor_statistics/collectors.py
  nncf/quantization/algorithms/weight_compression/config.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: common, torch, openvino, ptq

Update docs
  docs/compression_algorithms/CompressWeights.md
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: ptq

fix metatypes
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

Fix missed new arguments on get_clean_shallow_copy
  nncf/torch/nncf_network.py
Due: torch

fix axes
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: ptq

Issue fixed in nncf/common/sparsity
  nncf/api/compression.py
  nncf/common/schedulers.py
  nncf/common/sparsity/collector.py
  nncf/common/sparsity/controller.py
  nncf/common/sparsity/schedulers.py
  nncf/common/sparsity/statistics.py
  nncf/common/utils/registry.py
Due: common

[Fixed]: Issues resolved raised by mypy from the folder "nncf/common/tensor_statistics"
  nncf/common/graph/transformations/commands.py
  nncf/common/logging/track_progress.py
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/collectors.py
  nncf/common/tensor_statistics/reduction.py
  nncf/common/tensor_statistics/statistic_point.py
  nncf/common/tensor_statistics/statistics.py
Due: common

Fix missed new arguments on get_clean_shallow_copy (#2437)
  nncf/torch/nncf_network.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@785c343c0a5484911d72200c4f4c96e1fbbdd210 🚀
  schema/index.html
Due: none

Fixed modelzoo link
  examples/torch/README.md
Due: none

fix typo
  nncf/quantization/algorithms/weight_compression/config.py
Due: ptq

[TF] Update e2e tests (#2410)
  examples/tensorflow/object_detection/preprocessing/yolo_v4_preprocessing.py
  tests/tensorflow/conftest.py
  tests/tensorflow/data/ac_configs/inception_v3_imagenet.yml
  tests/tensorflow/data/ac_configs/mobilenet_v2_hub_imagenet_magnitude_sparsity.yml
  tests/tensorflow/data/ac_configs/mobilenet_v2_imagenet.yml
  tests/tensorflow/data/ac_configs/mobilenet_v3_large_imagenet.yml
  tests/tensorflow/data/ac_configs/mobilenet_v3_small_imagenet.yml
  tests/tensorflow/data/ac_configs/resnet50_imagenet.yml
  tests/tensorflow/data/ac_configs/retinanet_coco.yml
  tests/tensorflow/data/ac_configs/yolo_v4_coco.yml
  tests/tensorflow/data/ac_configs/yolo_v4_coco_int8.yml
  tests/tensorflow/requirements.txt
  tests/tensorflow/sota_checkpoints_eval.json
  tests/tensorflow/test_init.py
  tests/tensorflow/test_sota_checkpoints.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@c0e51f8833e04697da944745f7488fc4b553f832 🚀
  schema/index.html
Due: none

working WC tests with caching fp32 models and ground-truth
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/image_classification_timm.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/post_training/test_quantize_conformance.py
  tests/post_training/test_regex.py
Due: ptq

added AWQ and fp32 model cache for PTQ tests
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/causal_language_model.py
  tests/post_training/pipelines/image_classification_timm.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/post_training/pipelines/masked_language_modeling.py
  tests/post_training/test_quantize_conformance.py
  tests/post_training/test_regex.py
Due: none

improve test
  tests/common/experimental/test_tensor_collector_batch_size.py
  tests/onnx/quantization/test_tensor_collector_batch_size.py
  tests/openvino/native/test_tensor_collector_batch_size.py
  tests/torch/ptq/test_tensor_collector_batch_size.py
Due: none

Temporary commit to check pre-commit with wrong relative link
  README.md
Due: none

Revert "Temporary commit to check pre-commit with wrong relative link"
  README.md
Due: none

Duplicating copyrights are removed (#2436)
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@d11528f909c1a69f9cdc7147e4f80f9611032c6f 🚀
  schema/index.html
Due: none

Proposal for stateful models.
  nncf/openvino/engine.py
Due: openvino

[DOCS] Fix link to ModelZoo (#2439)
  examples/torch/README.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@15333d873ad4610a40ab80b5555dfe02f5c209cb 🚀
  schema/index.html
Due: none

Update calibrate.py with FP8 (#2408)
  tests/openvino/tools/calibrate.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@84b46f5851a0260a22b316c5e6c9a2033a734f47 🚀
  schema/index.html
Due: none

Changed logics of OVCompiledModelEngine inference.
  nncf/openvino/engine.py
Due: openvino

Proposal for stateful models. (#2440)
  nncf/openvino/engine.py
Due: openvino

Deploying to doc_pages from @ openvinotoolkit/nncf@9c008adc3ec2cb337fcc9175b1004e9f4c322401 🚀
  schema/index.html
Due: none

added whowhatbench to requirements
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/pipelines/base.py
  tests/post_training/requirements.txt
Due: none

Removed model state recovering after model tracing (#2419)
  nncf/torch/dynamic_graph/graph_tracer.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@efc05f2b0552bb6beb38641e1112b29c94b37eba 🚀
  schema/index.html
Due: none

Added test for stateful model.
  tests/openvino/native/models.py
  tests/openvino/native/test_engine.py
Due: none

Update get_conv_weights_layout method
  nncf/openvino/graph/layout.py
Due: openvino

Added perplexity for AWQ.
  docs/compression_algorithms/CompressWeights.md
Due: none

Initial commit
  nncf/openvino/graph/model_utils.py
  nncf/openvino/quantization/quantize_model.py
Due: openvino

Test layouts
  tests/openvino/native/test_layer_attributes.py
Due: none
