Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

shared weights support in torch fx graph builder and constant update function
  nncf/experimental/torch/fx/nncf_graph_builder.py
  nncf/experimental/torch/fx/transformations.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  tests/torch/fx/test_compress_weights.py
Due: torch, ptq

rollback OV changes
  nncf/openvino/quantization/ignored_patterns.py
Due: openvino

Check if compiled based on forward __dict__
  nncf/torch/dynamic_graph/wrappers.py
  tests/torch/pytorch_patch_isolated.py
  tests/torch/test_pytorch_patch.py
Due: torch

Update tests for more description
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  tests/torch/fx/test_compress_weights.py
Due: torch, ptq

More comments
  nncf/experimental/torch/fx/model_transformer.py
  nncf/experimental/torch/fx/transformations.py
Due: none

Update readme and release notes (#2930)
  README.md
  ReleaseNotes.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@74cc471b60b184afcc682300cc7e128506c0af00 🚀
  schema/index.html
Due: none

Change model
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/model_scope.py
Due: none

add torch fx in supported backends
  nncf/quantization/algorithms/weight_compression/algorithm.py
Due: ptq

Remove Compressed reference graphs
  tests/torch/data/reference_graphs/fx/compressed/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/compressed/mobilenet_v3_small_int8_asym.dot
  tests/torch/data/reference_graphs/fx/compressed/mobilenet_v3_small_int8_sym.dot
  tests/torch/data/reference_graphs/fx/compressed/resnet18.dot
  tests/torch/data/reference_graphs/fx/compressed/resnet18_int8_asym.dot
  tests/torch/data/reference_graphs/fx/compressed/resnet18_int8_sym.dot
  tests/torch/data/reference_graphs/fx/compressed/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/compressed/swin_v2_s_int8_asym.dot
  tests/torch/data/reference_graphs/fx/compressed/swin_v2_s_int8_sym.dot
  tests/torch/data/reference_graphs/fx/compressed/unet.dot
  tests/torch/data/reference_graphs/fx/compressed/unet_int8_asym.dot
  tests/torch/data/reference_graphs/fx/compressed/unet_int8_sym.dot
  tests/torch/data/reference_graphs/fx/compressed/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/compressed/vit_b_16_int8_asym.dot
  tests/torch/data/reference_graphs/fx/compressed/vit_b_16_int8_sym.dot
Due: none

Make NNCF common tensor statistics code pass mypy checks (#2865)
  .mypy.ini
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/collectors.py
  nncf/common/tensor_statistics/reduction.py
  nncf/common/tensor_statistics/statistic_point.py
  nncf/common/tensor_statistics/statistics.py
Due: common

Deploying to doc_pages from @ openvinotoolkit/nncf@ff967e8f4727c9902b572f4532d898e76a59085d 🚀
  schema/index.html
Due: none

Bump NNCF version
  nncf/version.py
Due: none

Shared constants support init
  nncf/experimental/torch/fx/nncf_graph_builder.py
  nncf/experimental/torch/fx/quantization/quantize_model.py
  nncf/experimental/torch/fx/transformations.py
Due: none

revert other PR change
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
Due: torch, ptq

Bump NNCF version (#2933)
  nncf/version.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@208896220d09e9bf57afa057887300665f92579a 🚀
  schema/index.html
Due: none

Minor update
  tests/openvino/tools/calibrate.py
Due: none

Add test for fx quantizer config
  tests/torch/fx/test_quantizer_config.py
Due: none

[Experimental][Conformace] quantize OV model after the torch.export
  tests/post_training/pipelines/image_classification_torchvision.py
Due: none

Fix torch compile applied to model forward (#2932)
  nncf/torch/dynamic_graph/wrappers.py
  tests/torch/pytorch_patch_isolated.py
  tests/torch/test_pytorch_patch.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@eb61347afd648627128cd2364d0e1ce168ca28b2 🚀
  schema/index.html
Due: none

[TorchFX] Bias correction implementation (#2882)
  nncf/experimental/torch/fx/groups.py
  nncf/experimental/torch/fx/model_transformer.py
  nncf/experimental/torch/fx/model_utils.py
  nncf/experimental/torch/fx/node_utils.py
  nncf/experimental/torch/fx/quantization/quantize_model.py
  nncf/experimental/torch/fx/transformations.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/bias_correction/openvino_backend.py
  nncf/quantization/algorithms/bias_correction/torch_fx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/torch_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  nncf/torch/graph/operator_metatypes.py
  tests/cross_fw/test_templates/test_bias_correction.py
  tests/onnx/quantization/test_bias_correction.py
  tests/openvino/native/test_bias_correction.py
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/model_scope.py
  tests/torch/data/reference_graphs/fx/extracted/ConvolutionWithAllConstantInputsModelconv2d_conv2d.dot
  tests/torch/data/reference_graphs/fx/extracted/ConvolutionWithNotTensorBiasModelconv2d_conv2d.dot
  tests/torch/data/reference_graphs/fx/extracted/MultiBranchesConnectedModelconv2d_1_add__1.dot
  tests/torch/data/reference_graphs/fx/extracted/MultiBranchesConnectedModelconv2d_add__1.dot
  tests/torch/data/reference_graphs/fx/extracted/MultiBranchesConnectedModelconv2d_add__add.dot
  tests/torch/data/reference_graphs/fx/extracted/MultiBranchesConnectedModelconv2d_conv2d_1_add__add__1.dot
  tests/torch/data/reference_graphs/fx/extracted/MultiBranchesConnectedModelconv2d_conv2d_2.dot
  tests/torch/data/reference_graphs/fx/transformed/output_insertion_conv2d_1_5_1_ref.dot
  tests/torch/data/reference_graphs/fx/transformed/output_insertion_conv2d_6_0_ref.dot
  tests/torch/data/reference_graphs/fx/transformed/output_insertion_conv2d_6_1_ref.dot
  tests/torch/data/reference_graphs/fx/transformed/output_insertion_conv2d_7_None_ref.dot
  tests/torch/fx/helpers.py
  tests/torch/fx/test_bias_correction.py
  tests/torch/fx/test_fast_bias_correction.py
  tests/torch/fx/test_model_transformer.py
  tests/torch/test_models/synthetic.py
Due: torch, onnx, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@aa37119605a8ca0720722d09773794e299a12af5 🚀
  _sources/autoapi/nncf/experimental/torch/fx/groups/index.rst.txt
  _sources/autoapi/nncf/experimental/torch/fx/model_utils/index.rst.txt
  _sources/autoapi/nncf/quantization/algorithms/bias_correction/torch_fx_backend/index.rst.txt
  autoapi/nncf/experimental/torch/fx/groups/index.html
  autoapi/nncf/experimental/torch/fx/model_utils/index.html
  autoapi/nncf/quantization/algorithms/bias_correction/torch_fx_backend/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

Update ModelZoo.md
  docs/ModelZoo.md
Due: none

Update docs/ModelZoo.md
  docs/ModelZoo.md
Due: none

Added link to HF compressed models (#2939)
  docs/ModelZoo.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@345462643b680a91aa5166b4b0e609f2eb09e080 🚀
  schema/index.html
Due: none

Support scale estimation inside GPTQ
  nncf/quantization/algorithms/layerwise/scheduler.py
  nncf/quantization/algorithms/weight_compression/activation_stats.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/quantization/test_gptq.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: ptq

upd name
  nncf/onnx/quantization/ignored_patterns.py
Due: onnx

Update ReleaseNotes.md
  ReleaseNotes.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@03f65a7b8128cf340aaafd4c1cc10b93295f3ba0 🚀
  schema/index.html
Due: none

add test for shared weights
  tests/torch/fx/test_compress_weights.py
Due: none

pre-commit fix
  tests/torch/fx/test_compress_weights.py
Due: none

lora docs
  docs/usage/post_training_compression/weights_compression/Usage.md
Due: none

[GA] Removal code coverage (#2886)
  .github/workflows/post_pr_merge.yml
  .github/workflows/precommit.yml
  .github/workflows/upload_coverage_for_develop.yml
  codecov.yml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@25ab80691fade370066db546da663ab980628819 🚀
  schema/index.html
Due: none
