Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

build_statistic_container -> from_kwargs
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/experimental/common/tensor_statistics/statistics.py
Due: none

add state methods for pickle of Tensor
  nncf/experimental/common/tensor_statistics/statistics.py
  nncf/tensor/tensor.py
Due: none

rm redundant test case
  tests/common/experimental/test_statistic_collector.py
Due: none

from_kwargs to WCTensorStatistic
  nncf/experimental/common/tensor_statistics/statistics.py
Due: none

polishing
  nncf/common/tensor_statistics/aggregator.py
  nncf/onnx/statistics/aggregator.py
  nncf/openvino/statistics/aggregator.py
  nncf/torch/statistics/aggregator.py
Due: common, torch, onnx, openvino

fix fx
  nncf/experimental/torch/fx/statistics/aggregator.py
Due: none

drop python3.8 support
  README.md
  pyproject.toml
Due: none

[TorchFX] Model transformer tests (#2920)
  nncf/experimental/torch/fx/transformations.py
  nncf/quantization/algorithms/bias_correction/torch_fx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/torch_fx_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  nncf/quantization/algorithms/smooth_quant/torch_fx_backend.py
  tests/post_training/pipelines/image_classification_torchvision.py
  tests/torch/data/reference_graphs/fx/extracted/ConvolutionWithAllConstantInputsModel.dot
  tests/torch/data/reference_graphs/fx/extracted/ConvolutionWithNotTensorBiasModel.dot
  tests/torch/data/reference_graphs/fx/transformed/constant_update.dot
  tests/torch/data/reference_graphs/fx/transformed/model_insertion.dot
  tests/torch/data/reference_graphs/fx/transformed/model_insertion_leaf.dot
  tests/torch/data/reference_graphs/fx/transformed/node_removal_ref.dot
  tests/torch/data/reference_graphs/fx/transformed/output_insertion_conv2d_1_5_1.dot
  tests/torch/data/reference_graphs/fx/transformed/output_insertion_conv2d_6_0.dot
  tests/torch/data/reference_graphs/fx/transformed/output_insertion_conv2d_6_1.dot
  tests/torch/data/reference_graphs/fx/transformed/output_insertion_conv2d_7_None.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_conv2d_1_5_1_per_channel.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_conv2d_1_5_1_per_tensor.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_conv2d_6_0_per_channel.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_conv2d_6_0_per_tensor.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_conv2d_6_1_per_channel.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_conv2d_6_1_per_tensor.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_conv2d_7_None_per_channel.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_conv2d_7_None_per_tensor.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_shared_insert_weights_per_channel.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_shared_insert_weights_per_tensor.dot
  tests/torch/fx/test_model_transformer.py
Due: torch, ptq

docs ...
  .github/workflows/build_html_doc.yml
  .github/workflows/build_schema_page.yml
  .github/workflows/python-publish.yml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@5619afb2564e0df272cadf078c6ccf1f69147c65 🚀
  schema/index.html
Due: none

black
  nncf/tensorflow/accuracy_aware_training/keras_model_utils.py
Due: tensorflow

examples
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
Due: none

t
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
Due: none

f
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
Due: none

pre-commit fix
  tests/torch/fx/test_model_transformer.py
Due: none

Comments
  examples/post_training_quantization/torch_fx/resnet18/README.md
  examples/post_training_quantization/torch_fx/resnet18/main.py
  examples/post_training_quantization/torch_fx/resnet18/requirements.txt
Due: none

[TorchFX] Rensen18 example
  examples/post_training_quantization/torch/fx/resnet18/README.md
  examples/post_training_quantization/torch/fx/resnet18/main.py
  examples/post_training_quantization/torch/fx/resnet18/requirements.txt
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
Due: none

Comments
  examples/post_training_quantization/torch/fx/resnet18/main.py
  examples/post_training_quantization/torch/fx/resnet18/requirements.txt
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
Due: none

Comments
  examples/post_training_quantization/torch/fx/resnet18/main.py
Due: none

Comments
  examples/post_training_quantization/torch/fx/resnet18/main.py
  tests/cross_fw/examples/example_scope.json
Due: none

Comments
  examples/post_training_quantization/torch_fx/resnet18/main.py
Due: none

Redundand code is removed
  examples/post_training_quantization/torch/fx/resnet18/main.py
Due: none

[TorchFX] Constant folding check
  nncf/experimental/torch/fx/constant_folding.py
  tests/post_training/pipelines/image_classification_torchvision.py
Due: none

Export and mock transformations
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/image_classification_torchvision.py
Due: none

Comments
  nncf/experimental/torch/fx/transformations.py
  tests/post_training/pipelines/image_classification_torchvision.py
  tests/torch/data/reference_graphs/fx/quantized/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/quantized/vit_b_16.dot
Due: none

Comments
  nncf/experimental/torch/fx/constant_folding.py
Due: none

Update aggregator.py (#2995)
  nncf/common/tensor_statistics/aggregator.py
Due: common

Deploying to doc_pages from @ openvinotoolkit/nncf@e6a4752c75c83491c102bed4aa8e71d4536fdfaa 🚀
  schema/index.html
Due: none

Fix collected inputs
  nncf/quantization/algorithms/bias_correction/algorithm.py
Due: ptq

Data-aware compression fixes (#3019)
  nncf/common/tensor_statistics/statistics.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: common, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@14158cecd22755fe18b083546360d4998e67b1fa 🚀
  schema/index.html
Due: none

Move activations_to_wc_statistics to SE class
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
Due: ptq

Add docstring
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
Due: ptq

draft to a new logic
  nncf/experimental/common/tensor_statistics/statistics.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
Due: openvino, ptq

Typo
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
Due: none

Use fp32 precision for statistics collection
  nncf/common/factory.py
  nncf/common/tensor_statistics/aggregator.py
  nncf/openvino/engine.py
Due: common, openvino

Use inference_precision fp32 for validation
  nncf/quantization/algorithms/accuracy_control/openvino_backend.py
Due: openvino, ptq

[BC] Fix collected inputs (#3021)
  nncf/quantization/algorithms/bias_correction/algorithm.py
Due: ptq

minor fix
  nncf/common/tensor_statistics/aggregator.py
Due: common

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
