Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

torch numeric add convertors
  nncf/tensor/functions/torch_numeric.py
Due: torch

Make the test more strict
  tests/openvino/native/quantization/test_ov_modeling_compression.py
Due: none

fix message
  tests/cross_fw/test_templates/test_statistics_serializer.py
Due: none

reuse convertors
  nncf/tensor/functions/numpy_io.py
  nncf/tensor/functions/numpy_numeric.py
  nncf/tensor/functions/torch_io.py
Due: torch

Remove unnecessary lines
  nncf/quantization/algorithms/weight_compression/openvino_modeling.py
Due: openvino, ptq

split backend/common test
  tests/common/test_statistics_serializer.py
  tests/cross_fw/test_templates/test_statistics_serializer.py
Due: none

fix
  nncf/common/tensor_statistics/statistics_serializer.py
Due: common

Update get_integer_quantization_error implementation
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: ptq

Remove unnecessary convert
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

Move create_ov_const_from_tensor to node_utils
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

add comment
  nncf/common/tensor_statistics/statistics_serializer.py
Due: common

Separate checking logic into standalone methods
  tests/openvino/native/quantization/test_ov_modeling_compression.py
Due: none

bug
  tests/common/test_statistics_serializer.py
Due: none

Added try for backends
  nncf/common/utils/backend.py
Due: common

Keep only weight/scale inverted division
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/fake_quantize.py
Due: ptq

Update
  nncf/quantization/algorithms/min_max/algorithm.py
Due: ptq

Updat
  nncf/quantization/algorithms/min_max/algorithm.py
Due: ptq

comment
  nncf/common/tensor_statistics/statistics_serializer.py
Due: common

Revert "Change calculations"
  nncf/openvino/graph/model_transformer.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/openvino_backend.py
Due: openvino, ptq

Add debug conditions
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: openvino, ptq

Move ov model cache clearing to ov backend destructor
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/openvino_modeling.py
Due: openvino, ptq

remove blank line
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
Due: torch, onnx, openvino, ptq

Update default ov model parameters
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/openvino_modeling.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/tensor/functions/ov.py
Due: openvino, ptq

Revert debug logic
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: openvino, ptq

minor
  docs/api/source/conf.py
  nncf/tensor/functions/numeric.py
  nncf/tensor/functions/torch_io.py
Due: torch

Improve mapping
  nncf/openvino/graph/model_builder.py
  nncf/openvino/graph/model_utils.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/torch_backend.py
Due: torch, openvino, ptq

WA for other backends
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
Due: ptq

Update reference
  tests/post_training/data/wc_reference_data.yaml
Due: none

changed the signature of the torch compile wrarpper function (#3139)
  nncf/torch/dynamic_graph/patch_pytorch.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@42d4c9a9ffd25dae116a2c743629ad21d8202aee 🚀
  schema/index.html
Due: none

Disable dynamic shapes by default
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/openvino_modeling.py
  nncf/tensor/functions/ov.py
Due: openvino, ptq

Revert "Add debug conditions"
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: openvino, ptq

Linters
  nncf/tensor/functions/ov.py
Due: none

[MinMax] Move get_statistic_collector from backend to common (#3132)
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/onnx/statistics/collectors.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  nncf/torch/tensor_statistics/collectors.py
  tests/onnx/quantization/test_tensor_collector_batch_size.py
  tests/torch/ptq/test_tensor_collector_batch_size.py
Due: torch, onnx, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@36a8420bb4adf61c2e0689ce6ced8f6f88483be7 🚀
  schema/index.html
Due: none

Fix AAQ propagation (#3127)
  nncf/common/quantization/quantizer_removal.py
Due: common

Deploying to doc_pages from @ openvinotoolkit/nncf@044e5447e38df43a1fef40221ed0b310b7dfcf77 🚀
  schema/index.html
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
