Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

[Torch Fx] Statistics Aggregator test (#2856)
  tests/torch/fx/test_statistics_aggregator.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@02c9b53aaeff9379206af92251d996fce5763952 🚀
  schema/index.html
Due: none

Update OpenVINO version (#2851) (#2859)
  constraints.txt
  docs/Installation.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
Due: none

Update ReleaseNotes.md (#2837) (#2850)
  ReleaseNotes.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@80c612ea3520856e76bd1f9d6a71549c5e640c83 🚀
  schema/index.html
Due: none

[TorchFX] Test implementation of YoloV8 is removed (#2858)
  tests/torch/data/reference_graphs/fx/reference_metatypes/yolov8n.json
  tests/torch/data/reference_graphs/fx/yolov8n.dot
  tests/torch/fx/test_models.py
  tests/torch/requirements.txt
  tests/torch/test_models/yolov8/block.py
  tests/torch/test_models/yolov8/conv.py
  tests/torch/test_models/yolov8/head.py
  tests/torch/test_models/yolov8/model.py
  tests/torch/test_models/yolov8/transformer.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@655f29614bd631021e37117c1021f7e3a96c054a 🚀
  schema/index.html
Due: none

[OpenVINO] Add Slice metatype (#2847)
  nncf/common/hardware/configs/cpu.json
  nncf/common/hardware/configs/gpu.json
  nncf/common/hardware/configs/npu.json
  nncf/common/hardware/opset.py
  nncf/openvino/graph/metatypes/groups.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
Due: common, openvino

Deploying to doc_pages from @ openvinotoolkit/nncf@f5aa90ff5284ee60e9d8ae025322b8c2ecebef45 🚀
  schema/index.html
Due: none

renaming, typehint, gptq+lora error
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/lora_correction.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: torch, openvino, ptq

no wc_params in functions
  nncf/quantization/algorithms/weight_compression/lora_correction.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

Add test for quantized graph
  tests/torch/data/reference_graphs/fx/unet.dot
  tests/torch/fx/test_models.py
Due: none

Use inference_nncf_graph instead nncf_graph in get_weights
  nncf/quantization/algorithms/min_max/algorithm.py
Due: ptq

use nncf.quantize instead of algorithm.apply()
  tests/torch/data/reference_graphs/fx/quantized/unet.dot
  tests/torch/fx/test_models.py
Due: none

pre-commit fix
  tests/torch/fx/test_models.py
Due: none

remove unet from reference graphs and move to reference_graphs/fx/quantized
  tests/torch/data/reference_graphs/fx/unet.dot
Due: none

add Bias correction to quantization parameters
  tests/torch/data/reference_graphs/fx/quantized/unet.dot
  tests/torch/fx/test_models.py
Due: none

add seed to remove randomness
  tests/torch/data/reference_graphs/fx/quantized/unet.dot
  tests/torch/fx/test_models.py
Due: none

disable bias correction
  tests/torch/data/reference_graphs/fx/quantized/unet.dot
  tests/torch/fx/test_models.py
Due: none

Addressed part of the comments
  .github/workflows/precommit.yml
  tests/tools/requirements.txt
  tests/tools/test_memory_monitor.py
  tools/memory_monitor.py
  tools/requirements.txt
Due: none

Bring back PYTHONPATH
  .github/workflows/precommit.yml
Due: none

include mobilenet, resenet in quantized graph test. Include Unet in model graph test
  tests/torch/data/reference_graphs/fx/quantized/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/quantized/resnet18.dot
  tests/torch/data/reference_graphs/fx/reference_metatypes/unet.json
  tests/torch/data/reference_graphs/fx/unet.dot
  tests/torch/fx/test_models.py
Due: none

Add reusable functions to node_utils and changed the isntances torch fx backends in min_max algorithm and fast bias correction
  nncf/experimental/torch/fx/node_utils.py
  nncf/quantization/algorithms/fast_bias_correction/torch_fx_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  tests/torch/fx/test_fast_bias_correction.py
Due: torch, ptq

Initial Commit
  activation_sparisty.py
  nncf/experimental/torch/sparsify_activations/openvino_backend.py
  nncf/experimental/torch/sparsify_activations/sparsify_activations_impl.py
Due: openvino

rename
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/weight_compression/activation_stats.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/lora_correction.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: torch, openvino, ptq

Fix mypy type errors
  .mypy.ini
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/collectors.py
  nncf/common/tensor_statistics/reduction.py
  nncf/common/tensor_statistics/statistic_point.py
  nncf/common/tensor_statistics/statistics.py
Due: common

[PT] Update reference for squeezenet1_1_imagenet_int8_per_tensor (#2831)
  tests/torch/sota_checkpoints_eval.json
Due: none

bkc
  nncf/version.py
Due: none

Tests
  tests/onnx/data/reference_graphs/quantization/gpt2-10.dot
  tests/onnx/quantization/test_ptq_params.py
  tests/openvino/native/quantization/test_ptq_params.py
  tests/post_training/test_templates/test_ptq_params.py
  tests/torch/ptq/test_ptq_params.py
Due: none

[PT] bump torch 2.4.0 (#2852)
  README.md
  constraints.txt
  docs/Installation.md
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
  nncf/version.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@e2183b9ee1a27912326fdf4d65ea2b928eb2b11a 🚀
  schema/index.html
Due: none

use cast
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/collectors.py
  nncf/common/tensor_statistics/statistic_point.py
Due: common

Use cast for TensorType
  nncf/common/tensor_statistics/collectors.py
Due: common

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
