Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

add Docstring
  nncf/quantization/algorithms/min_max/algorithm.py
Due: ptq

Added numerics methods for tensorflow tensor
  docs/api/source/conf.py
  nncf/tensor/definitions.py
  nncf/tensor/functions/__init__.py
  nncf/tensor/functions/dispatcher.py
  nncf/tensor/functions/tf_linalg.py
  nncf/tensor/functions/tf_numeric.py
  nncf/tensor/tensor.py
  tests/cross_fw/test_templates/template_test_nncf_tensor.py
  tests/tensorflow/test_tensor.py
Due: none

add dispatching on Tensor lvl
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/statistics_serializer.py
  nncf/experimental/common/tensor_statistics/statistics.py
  nncf/tensor/functions/__init__.py
  nncf/tensor/functions/dispatcher.py
  nncf/tensor/functions/numeric.py
  nncf/tensor/functions/numpy_numeric.py
  nncf/tensor/functions/torch_numeric.py
  tests/common/test_statistics_serializer.py
  tests/cross_fw/test_templates/test_statistics_serializer.py
  tests/torch/test_statistics_serializer.py
Due: common, torch

m y p y
  nncf/common/tensor_statistics/aggregator.py
  nncf/tensor/functions/numeric.py
Due: common

rm tensor pickle
  nncf/tensor/tensor.py
Due: none

Fix pre-commit
  nncf/quantization/algorithms/min_max/algorithm.py
Due: ptq

Fix badge link (#3133)
  README.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@bd348e1ea206b054a328638ba4586b3f7475e318 🚀
  schema/index.html
Due: none

remove unused code
  nncf/quantization/algorithms/min_max/openvino_backend.py
Due: openvino, ptq

fix svg link
  README.md
Due: none

noqa: F401
  nncf/tensor/functions/__init__.py
  nncf/tensor/functions/dispatcher.py
  nncf/tensor/functions/numeric.py
  nncf/tensor/functions/numpy_numeric.py
  nncf/tensor/functions/torch_numeric.py
  tests/cross_fw/test_templates/template_test_nncf_tensor.py
Due: torch

Modify approach
  nncf/common/strip.py
  nncf/common/telemetry_extractors.py
  nncf/config/telemetry_extractors.py
  nncf/data/generators.py
  nncf/telemetry/extractors.py
  nncf/torch/model_creation.py
  nncf/torch/nncf_network.py
Due: common, torch

rename
  nncf/tensor/functions/__init__.py
  nncf/tensor/functions/numeric.py
  nncf/tensor/functions/numpy_numeric.py
  nncf/tensor/functions/torch_numeric.py
Due: torch

Apply comment
  nncf/data/generators.py
  nncf/telemetry/events.py
Due: none

Add reducer_map property
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
Due: torch, onnx, openvino, ptq

Fix
  nncf/telemetry/extractors.py
Due: none

add reducer_map abstract method
  nncf/quantization/algorithms/min_max/backend.py
Due: ptq

Update nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/backend.py
Due: ptq

init model_wrapper
  nncf/common/factory.py
  nncf/common/model.py
  nncf/onnx/quantization/quantize_model.py
  nncf/openvino/quantization/quantize_ifmodel.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/algorithms/algorithm.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/channel_alignment/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/pipeline.py
  nncf/quantization/algorithms/post_training/algorithm.py
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  nncf/torch/quantization/quantize_model.py
  tests/cross_fw/test_templates/test_bias_correction.py
  tests/cross_fw/test_templates/test_channel_alignment.py
  tests/cross_fw/test_templates/test_fast_bias_correction.py
  tests/cross_fw/test_templates/test_ptq_params.py
  tests/cross_fw/test_templates/test_smooth_quant.py
  tests/onnx/quantization/common.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
  tests/openvino/native/quantization/test_graphs.py
  tests/torch/ptq/test_calculation_quantizer_params.py
  tests/torch/ptq/test_fq_params_calculation.py
  tests/torch/ptq/test_graphs.py
Due: common, torch, onnx, openvino, ptq

introduce io module
  nncf/common/tensor_statistics/statistics_serializer.py
  nncf/tensor/functions/__init__.py
  nncf/tensor/functions/dispatcher.py
  nncf/tensor/functions/io.py
  nncf/tensor/functions/numeric.py
  nncf/tensor/functions/numpy_io.py
  nncf/tensor/functions/numpy_numeric.py
  nncf/tensor/functions/torch_io.py
  nncf/tensor/functions/torch_numeric.py
  tests/cross_fw/test_templates/template_test_nncf_tensor.py
Due: common, torch

Fix badge link in PyPiPublishing.md (#3135)
  docs/PyPiPublishing.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@dffca1278e53013f8919642f7f903a069df730d6 🚀
  schema/index.html
Due: none

fix link
  docs/PyPiPublishing.md
Due: none

add fns.tensor
  nncf/experimental/common/tensor_statistics/statistics.py
  nncf/tensor/functions/__init__.py
  nncf/tensor/functions/numeric.py
  nncf/tensor/functions/numpy_numeric.py
  nncf/tensor/functions/torch_numeric.py
Due: torch

rm get_data_to_dump
  nncf/common/tensor_statistics/aggregator.py
  nncf/experimental/common/tensor_statistics/statistics.py
Due: common

fix condition
  .github/workflows/examples.yml
Due: none

Address comments
  nncf/tensor/functions/tf_numeric.py
  tests/tensorflow/test_tensor.py
Due: none

[GHA] fix condition for example (#3136)
  .github/workflows/examples.yml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@3ff9fe125512d289c3efff6a0de76f00d1e7472d 🚀
  schema/index.html
Due: none

changed the signature of the torch compile wrarpper function
  nncf/torch/dynamic_graph/patch_pytorch.py
Due: torch

Add supports_inplace_statistics property
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
Due: torch, onnx, openvino, ptq

pre-commit fix
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
Due: torch, onnx, openvino, ptq

Change calculations
  nncf/openvino/graph/model_transformer.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/openvino_backend.py
Due: openvino, ptq

intermediate
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/statistics_serializer.py
  nncf/common/tensor_statistics/statistics_validator.py
  nncf/openvino/quantization/quantize_model.py
  nncf/tensor/functions/numpy_numeric.py
  tests/common/test_statistics_serializer.py
  tests/cross_fw/test_templates/test_statistics_serializer.py
  tests/torch/test_statistics_serializer.py
Due: common, openvino

Remove inverted NP division. Add non-convertable OV division.
  nncf/quantization/algorithms/weight_compression/openvino_modeling.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/fake_quantize.py
  nncf/tensor/functions/__init__.py
  nncf/tensor/functions/numeric.py
Due: openvino, ptq

Remove OV 2024.5 RC installation
  .github/workflows/precommit.yml
Due: none

rm keys(); fixes
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/statistics_serializer.py
  nncf/experimental/common/tensor_statistics/statistics.py
  nncf/tensor/functions/numpy_numeric.py
  tests/cross_fw/test_templates/test_statistics_serializer.py
Due: common

asdict is bad
  nncf/experimental/common/tensor_statistics/statistics.py
Due: none

typo
  nncf/experimental/common/tensor_statistics/statistics.py
Due: none

Add a test for non-convertable division
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/weight_compression/openvino_modeling.py
  tests/openvino/native/test_node_utils.py
Due: openvino, ptq
