Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

update reference graphs
  nncf/experimental/torch/fx/transformations.py
  tests/torch/data/reference_graphs/fx/quantized/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/quantized/resnet18.dot
  tests/torch/data/reference_graphs/fx/quantized/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/quantized/unet.dot
  tests/torch/data/reference_graphs/fx/quantized/vit_b_16.dot
  tests/torch/fx/test_model_transformer.py
Due: none

Add GroupNorm to the OV list of ignored ops for ModelType.TRANSFORMER
  nncf/quantization/algorithms/min_max/openvino_backend.py
Due: openvino, ptq

Add GroupNorm to the OV list of ignored ops for ModelType.TRANSFORMER (#2985)
  nncf/quantization/algorithms/min_max/openvino_backend.py
Due: openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@2efda7dd16276c8d8f70fabfb9a94b4bcd7af08f 🚀
  schema/index.html
Due: none

Fix tests
  tests/common/test_helpers.py
Due: none

fix tests
  nncf/experimental/torch/fx/transformations.py
  tests/torch/data/reference_graphs/fx/quantized/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/quantized/resnet18.dot
  tests/torch/data/reference_graphs/fx/quantized/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/quantized/unet.dot
  tests/torch/data/reference_graphs/fx/quantized/vit_b_16.dot
  tests/torch/fx/graph.dot
  tests/torch/fx/test_model_transformer.py
Due: none

Change FXEmbedding metatype to PTAtenEmbeddingMetatype
  nncf/experimental/torch/fx/nncf_graph_builder.py
  nncf/experimental/torch/fx/quantization/quantize_model.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  nncf/torch/graph/operator_metatypes.py
  tests/torch/data/reference_graphs/fx/reference_metatypes/synthetic_transformer.json
Due: torch, ptq

Move shared constants unification transformation to `apply_quantization_transformation`
  nncf/experimental/torch/fx/transformations.py
Due: none

docs/PyPiPublishing.md
  pyproject.toml
Due: none

Change method
  nncf/helpers/dataset.py
Due: none

Add deprecation massage for nncf.torch.create_compressed_model
  nncf/torch/model_creation.py
Due: torch

remove redundant code
  nncf/experimental/torch/fx/transformations.py
Due: none

Apply comments
  nncf/data/__init__.py
  nncf/data/generators.py
  nncf/helpers/__init__.py
  nncf/helpers/requirements.txt
  tests/common/test_dataset_generators.py
Due: none

Change reqs placement
  Makefile
  tests/common/requirements.txt
Due: none

disable transformation test for sanity
  nncf/experimental/torch/fx/quantization/quantize_model.py
  tests/torch/fx/test_sanity.py
Due: none

test ci value
  tests/torch/fx/test_sanity.py
Due: none

Commennts
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
Due: torch, onnx, openvino, ptq

Apply comments
  nncf/data/generators.py
  tests/common/requirements.txt
  tests/torch/data/ref_generated_data.json
  tests/torch/test_dataset_generators.py
Due: none

Fix metric for tinyllama_scale_estimation_per_channel
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/data/wc_reference_data_2024.4.yaml
  tests/post_training/data/wc_reference_data_2024.5.yaml
Due: openvino, ptq

revert INFERENCE_PRECISION_HINT
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

add adaptive poolings
  nncf/openvino/graph/metatypes/groups.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
Due: openvino

Comments
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
Due: torch, onnx, openvino, ptq

Add test for PTQ params
  tests/torch/fx/test_ptq_params.py
Due: none

[WIP][TorchFX] Migrate from capture_pre_autograd_graph to torch.export
  nncf/experimental/torch/fx/nncf_graph_builder.py
  tests/post_training/pipelines/image_classification_torchvision.py
Due: none

Update
  tests/torch/fx/test_ptq_params.py
  tests/torch/ptq/test_ptq_params.py
  tests/torch/test_models/synthetic.py
Due: none

Metrics update
  tests/post_training/data/ptq_reference_data.yaml
Due: none

[Torch FX] PTQ MinMax parameters test (#2989)
  tests/torch/fx/test_ptq_params.py
  tests/torch/test_models/synthetic.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@b84038588464d704318ed4024cdf535ab440ff43 🚀
  schema/index.html
Due: none

[OV] Add adaptive poolings metatypes (#2988)
  nncf/openvino/graph/metatypes/groups.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
Due: openvino

Deploying to doc_pages from @ openvinotoolkit/nncf@f274cf5bafea55b6ffedea1e10aeca095dbce618 🚀
  schema/index.html
Due: none

Corrections, comments and refactoring
  nncf/experimental/torch/fx/nncf_graph_builder.py
  nncf/experimental/torch/fx/transformations.py
  nncf/quantization/quantize_model.py
  tests/torch/fx/test_compress_weights.py
Due: ptq

Add seperate error message for dataset attribute
  nncf/quantization/quantize_model.py
Due: ptq

fix comments
  nncf/experimental/torch/fx/transformations.py
Due: none

[TorchFX] Tests migrated to torch.export.export
  tests/torch/data/reference_graphs/fx/extracted/ConvolutionWithAllConstantInputsModel.dot
  tests/torch/data/reference_graphs/fx/extracted/ConvolutionWithAllConstantInputsModelconv2d_conv2d.dot
  tests/torch/data/reference_graphs/fx/extracted/ConvolutionWithNotTensorBiasModel.dot
  tests/torch/data/reference_graphs/fx/extracted/ConvolutionWithNotTensorBiasModelconv2d_conv2d.dot
  tests/torch/data/reference_graphs/fx/extracted/MultiBranchesConnectedModelconv2d_1_add_1.dot
  tests/torch/data/reference_graphs/fx/extracted/MultiBranchesConnectedModelconv2d_1_add__1.dot
  tests/torch/data/reference_graphs/fx/extracted/MultiBranchesConnectedModelconv2d_add_1.dot
  tests/torch/data/reference_graphs/fx/extracted/MultiBranchesConnectedModelconv2d_add__1.dot
  tests/torch/data/reference_graphs/fx/extracted/MultiBranchesConnectedModelconv2d_add__add.dot
  tests/torch/data/reference_graphs/fx/extracted/MultiBranchesConnectedModelconv2d_add_add_2.dot
  tests/torch/data/reference_graphs/fx/extracted/MultiBranchesConnectedModelconv2d_conv2d_1_add__add__1.dot
  tests/torch/data/reference_graphs/fx/extracted/MultiBranchesConnectedModelconv2d_conv2d_1_add_add_1.dot
  tests/torch/data/reference_graphs/fx/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/quantized/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/quantized/resnet18.dot
  tests/torch/data/reference_graphs/fx/quantized/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/quantized/unet.dot
  tests/torch/data/reference_graphs/fx/quantized/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/reference_metatypes/mobilenet_v3_small.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/resnet18.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/swin_v2_s.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/unet.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/vit_b_16.json
  tests/torch/data/reference_graphs/fx/resnet18.dot
  tests/torch/data/reference_graphs/fx/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/transformed/output_insertion_conv2d_1_5_1_ref.dot
  tests/torch/data/reference_graphs/fx/transformed/output_insertion_conv2d_6_0_ref.dot
  tests/torch/data/reference_graphs/fx/transformed/output_insertion_conv2d_6_1_ref.dot
  tests/torch/data/reference_graphs/fx/unet.dot
  tests/torch/data/reference_graphs/fx/vit_b_16.dot
  tests/torch/fx/helpers.py
  tests/torch/fx/test_bias_correction.py
  tests/torch/fx/test_model_transformer.py
  tests/torch/fx/test_models.py
  tests/torch/fx/test_sanity.py
  tests/torch/fx/test_smooth_quant.py
  tests/torch/fx/test_statistics_aggregator.py
Due: none

[TorchFX] Weights Compression Support (#2891)
  docs/usage/post_training_compression/weights_compression/Usage.md
  nncf/experimental/torch/fx/nncf_graph_builder.py
  nncf/experimental/torch/fx/quantization/quantize_model.py
  nncf/experimental/torch/fx/transformations.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  nncf/quantization/quantize_model.py
  nncf/torch/graph/operator_metatypes.py
  tests/torch/data/reference_graphs/fx/quantized/synthetic_transformer.dot
  tests/torch/data/reference_graphs/fx/reference_attributes/not_unified_shared_attribute_test_model.json
  tests/torch/data/reference_graphs/fx/reference_attributes/unified_shared_attribute_test_model.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/synthetic_transformer.json
  tests/torch/data/reference_graphs/fx/synthetic_transformer.dot
  tests/torch/data/reference_graphs/fx/transformed/shared_constants_unification_transformation_test.dot
  tests/torch/fx/test_compress_weights.py
  tests/torch/fx/test_model_transformer.py
  tests/torch/fx/test_models.py
Due: torch, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@c93676d4fabf4a2974c06952a6385eead0141d66 🚀
  _sources/autoapi/nncf/quantization/algorithms/weight_compression/torch_fx_backend/index.rst.txt
  autoapi/nncf/quantization/algorithms/weight_compression/torch_fx_backend/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

quantize slice
  nncf/openvino/graph/metatypes/groups.py
Due: openvino

I've built on awayzjj's test_dump method and added checks if the dataset has len implemented or not. @l-bat , awaiting your feedback, thank you.
  tests/openvino/native/quantization/test_quantization_pipeline.py
Due: none

Added example for the method
  examples/llm_compression/openvino/tiny_llama_synthetic_data/README.md
  examples/llm_compression/openvino/tiny_llama_synthetic_data/main.py
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  nncf/data/generators.py
Due: none

Update example & tests
  examples/llm_compression/openvino/tiny_llama_synthetic_data/main.py
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
