Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

draft for enabling conformance for wc
  nncf/quantization/quantize_model.py
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/post_training/requirements.txt
Due: ptq

Update tests/onnx/requirements.txt
  tests/onnx/requirements.txt
Due: none

Add eliminate_nop_cast pass
  constraints.txt
  nncf/onnx/graph/nncf_graph_builder.py
Due: onnx

Update reference graphs
  tests/onnx/data/reference_graphs/original_nncf_graph/MaskRCNN-12.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/fcn-resnet50-12.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/ssd-12.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/synthetic/shape_of_model.dot
  tests/onnx/data/reference_graphs/quantization/MaskRCNN-12.dot
  tests/onnx/data/reference_graphs/quantization/fcn-resnet50-12.dot
  tests/onnx/data/reference_graphs/quantization/gpt2-10.dot
  tests/onnx/data/reference_graphs/quantization/ssd-12.dot
  tests/onnx/data/reference_graphs/quantization/synthetic/shape_of_model.dot
Due: none

Update cspell_dict.txt
  .ci/cspell_dict.txt
Due: none

minor fixes
  nncf/onnx/graph/nncf_graph_builder.py
  nncf/onnx/quantization/quantize_model.py
Due: onnx

Update tests/torch/quantization/test_strip.py
  tests/torch/quantization/test_strip.py
Due: none

Apply comments
  tests/torch/quantization/test_strip.py
Due: none

Correct ticket number
  nncf/openvino/optimized_functions/functions.py
  nncf/openvino/optimized_functions/models.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: openvino, ptq

Proper handling cuda/cpu tests for weight compression (#3389) (#3401)
  tests/torch/fx/test_compress_weights.py
  tests/torch/ptq/test_fq_lora.py
  tests/torch/ptq/test_weights_compression.py
  tests/torch2/function_hook/quantization/test_weights_compression.py
Due: none

More helpful error message in case of invalid group size (#3391) (#3394)
  nncf/__init__.py
  nncf/errors.py
  nncf/quantization/algorithms/weight_compression/handle_errors.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/cross_fw/test_templates/template_test_weights_compression.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch/ptq/test_weights_compression.py
  tests/torch2/function_hook/quantization/test_weights_compression.py
Due: torch, openvino, ptq

Revert WC conformance changes
  .github/workflows/conformance_weight_compression.yml
Due: none

Fixed bug with FQ_LORA for shared weights (#3397) (#3398)
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/torch/quantization/strip.py
  tests/cross_fw/shared/nx_graph.py
  tests/torch/data/reference_graphs/compress_weights/fq_lora/shared_weights_all_layers_False.dot
  tests/torch/data/reference_graphs/compress_weights/fq_lora/shared_weights_all_layers_True.dot
  tests/torch/ptq/test_fq_lora.py
Due: torch, ptq

Fixes
  nncf/torch/quantization/strip.py
  tests/torch/quantization/test_strip.py
Due: torch

Use onnx.shape_inference.infer_shapes_path() method
  nncf/onnx/graph/nncf_graph_builder.py
Due: onnx

Update nncf/torch/quantization/strip.py
  nncf/torch/quantization/strip.py
Due: torch

Minor strip updates (#3402)
  nncf/torch/quantization/strip.py
  tests/torch/quantization/test_strip.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@4c45b5727a6a75c9ddb592b1e67fbb7ab2d361e9 🚀
  schema/index.html
Due: none

Support efficient nf4 compression in case optimized compression is disabled
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/tensor/functions/numeric.py
  nncf/tensor/functions/openvino_numeric.py
  nncf/tensor/tensor.py
  tests/openvino/optimized_functions/test_compression_functions.py
Due: openvino, ptq

[Release_v2160] Minor strip updates (#3402) (#3403)
  nncf/torch/quantization/strip.py
  tests/torch/quantization/test_strip.py
Due: torch

Added test for fq+lora tuning on CUDA
  .github/workflows/examples.yml
  examples/llm_compression/torch/qat_with_lora/main.py
  examples/llm_compression/torch/qat_with_lora/requirements.txt
  nncf/quantization/advanced_parameters.py
  nncf/torch/quantization/layers.py
  tests/cross_fw/examples/.test_durations
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
  tests/cross_fw/examples/test_examples.py
Due: torch, ptq

corrected enable flag
  .github/workflows/examples.yml
Due: none

remove unnecessary tf.identity calls
  nncf/tensor/functions/tf_numeric.py
  tests/cross_fw/test_templates/template_test_nncf_tensor.py
Due: none

Added qat lora sample to test_examples (#3386)
  .github/workflows/examples.yml
  examples/llm_compression/torch/qat_with_lora/main.py
  examples/llm_compression/torch/qat_with_lora/requirements.txt
  nncf/quantization/advanced_parameters.py
  nncf/torch/quantization/layers.py
  tests/cross_fw/examples/.test_durations
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
  tests/cross_fw/examples/test_examples.py
Due: torch, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@b85902b98d24387e42f476c0017686502a60da9e 🚀
  _sources/autoapi/nncf/quantization/advanced_parameters/index.rst.txt
  autoapi/nncf/quantization/advanced_parameters/index.html
  schema/index.html
  searchindex.js
Due: none

strip for lora
  nncf/experimental/torch2/function_hook/strip.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/torch/quantization/quantize_functions.py
  nncf/torch/quantization/strip.py
  tests/torch2/data/reference_graphs/compress_weights/fq_lora/shared_weights_all_layers_False.dot
  tests/torch2/data/reference_graphs/compress_weights/fq_lora/shared_weights_all_layers_True.dot
  tests/torch2/function_hook/quantization/strip/test_strip_dequantize.py
  tests/torch2/function_hook/quantization/strip/test_strip_native.py
  tests/torch2/function_hook/quantization/test_fq_lora.py
  tests/torch2/requirements.txt
Due: torch, ptq

skip cuda examples on windows
  .github/workflows/examples.yml
Due: none

FX Mixed precision support
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
Due: torch, ptq

FX Mixed precision test
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  tests/torch/fx/test_weights_compression_backends.py
Due: torch, ptq

fix precommit linter
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/graph/onnx_helper.py
  nncf/onnx/quantization/quantize_model.py
  nncf/quantization/algorithms/weight_compression/onnx_backend.py
  tests/onnx/quantization/test_weights_compression.py
Due: onnx, ptq

Revert "draft for enabling conformance for wc"
  nncf/quantization/quantize_model.py
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/post_training/requirements.txt
Due: ptq

not cuda marker for windows cpu
  .github/workflows/examples.yml
Due: none

[gha] skip cuda examples on windows (#3405)
  .github/workflows/examples.yml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@ad8c0b9a9d6dd7befb1ce919332865c9cd5edd73 🚀
  schema/index.html
Due: none

run `not cuda` tests for CPU examples on windows
  .github/workflows/examples.yml
Due: none

Added qat lora sample to test_examples (#3386) (#3406)
  .github/workflows/examples.yml
  examples/llm_compression/torch/qat_with_lora/main.py
  examples/llm_compression/torch/qat_with_lora/requirements.txt
  nncf/quantization/advanced_parameters.py
  nncf/torch/quantization/layers.py
  tests/cross_fw/examples/.test_durations
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
  tests/cross_fw/examples/test_examples.py
Due: torch, ptq

PERF102
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/collectors.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/multi_elasticity_handler.py
  nncf/experimental/torch/search_building_blocks/search_blocks.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/torch/automl/environment/quantization_env.py
  nncf/torch/dynamic_graph/context.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/quantization/metrics.py
  tests/cross_fw/test_templates/test_ptq_params.py
  tests/torch/automl/test_ddpg.py
  tests/torch/ptq/test_weights_compression.py
  tests/torch/quantization/test_algo_quantization.py
  tests/torch/quantization/test_range_init.py
  tests/torch/test_get_modules_by_type.py
  tests/torch/test_graph_building.py
  tools/extract_ov_subgraph.py
Due: common, torch, ptq

PERF403
  nncf/config/extractors.py
  nncf/torch/checkpoint_loading.py
  nncf/torch/dynamic_graph/graph.py
Due: torch

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
