Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

ONNX FBC/BC metatypes groups
  nncf/onnx/graph/metatypes/groups.py
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
Due: onnx, ptq

add quantized_model for metatypes test (depthwise conv determing testing)
  tests/onnx/test_metatypes.py
Due: none

Accuracy tolerance increased for metrics after training
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/test_examples.py
Due: none

improve test
  tests/onnx/test_metatypes.py
Due: none

Fix extractor tests
  nncf/torch/graph/transformations/commands.py
  nncf/torch/model_graph_manager.py
  tests/torch/test_extractor.py
  tests/torch/test_model_graph_manager.py
Due: torch

[Torch] NNCFNetwork.get_applied_transformation_layout
  nncf/torch/graph/graph.py
  nncf/torch/nncf_network.py
  tests/torch/test_nncf_network.py
Due: torch

fix tests
  tests/torch/helpers.py
  tests/torch/test_statistics_aggregator.py
Due: none

1) Added conformance metrics for scale estimation. 2) Updated OV compression/decompression pieline.
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/pipelines/lm_weight_compression.py
Due: openvino, ptq

Fixed style.
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
Due: openvino, ptq

pass mypy checks for common
  .mypy.ini
  nncf/common/graph/graph.py
  nncf/common/graph/graph_matching.py
  nncf/common/graph/layer_attributes.py
  nncf/common/graph/model_transformer.py
  nncf/common/graph/operator_metatypes.py
  nncf/common/graph/patterns/manager.py
  nncf/common/graph/patterns/patterns.py
  nncf/common/graph/transformations/commands.py
  nncf/common/graph/transformations/layout.py
  nncf/common/graph/utils.py
  nncf/common/utils/registry.py
Due: common

fix additional mypy issues
  nncf/common/graph/operator_metatypes.py
  nncf/common/graph/utils.py
Due: common

minor refactoring
  nncf/common/graph/graph.py
Due: common

metatypes
  nncf/torch/graph/operator_metatypes.py
Due: torch

upd model graphs
  tests/onnx/data/reference_graphs/original_nncf_graph/MaskRCNN-12.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/fcn-resnet50-12.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/ssd-12.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/synthetic/double_input_output_model.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/synthetic/embedding_model.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/synthetic/shape_of_model.dot
  tests/onnx/data/reference_graphs/quantization/bertsquad-12.dot
  tests/onnx/data/reference_graphs/quantization/gpt2-10.dot
  tests/onnx/data/reference_graphs/quantization/retinanet-9.dot
  tests/onnx/data/reference_graphs/quantization/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/quantization/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/quantization/ssd-12.dot
  tests/onnx/data/reference_graphs/quantization/synthetic/shape_of_model.dot
Due: none

add IR version for synthetic models
  tests/onnx/models.py
Due: none

upd test
  tests/onnx/test_weightless_model.py
  tests/onnx/weightless_model.py
Due: none

upd reqs
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  setup.py
Due: none

more upd reqs
  tests/post_training/requirements.txt
Due: none

[ONNX] ONNX FBC/BC metatypes groups (#2599)
  nncf/onnx/graph/metatypes/groups.py
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  tests/onnx/test_metatypes.py
Due: onnx, ptq

Fix tabulate for windows (#2593)
  nncf/common/utils/helpers.py
  tests/cross_fw/examples/test_examples.py
Due: common

Deploying to doc_pages from @ openvinotoolkit/nncf@3d3b79798ad6ae14ee336c2b11ef0d6f9c0ccae2 🚀
  schema/index.html
Due: none

[WC, PT] Store compression scale in f16 (#2596)
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/torch/quantization/layers.py
  tests/torch/ptq/test_weights_compression.py
Due: torch, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@c79111b53f598d1a00e50ccee3574011d0280b79 🚀
  schema/index.html
Due: none

fixed all mypy checks
  nncf/common/graph/graph.py
  nncf/common/graph/patterns/manager.py
Due: common

minor adjustments
  nncf/common/graph/graph.py
  nncf/common/graph/patterns/manager.py
Due: common

Support string dtype for OV backend
  nncf/openvino/graph/nncf_graph_builder.py
Due: openvino

Add tests for the GraphConverter.convert_to_nncf_dtype() method
  tests/openvino/native/test_nncf_graph_builder.py
Due: none

Minor fix
  tests/openvino/native/test_nncf_graph_builder.py
Due: none

Support string dtype for OV backend (#2602)
  nncf/openvino/graph/nncf_graph_builder.py
  tests/openvino/native/test_nncf_graph_builder.py
Due: openvino

Deploying to doc_pages from @ openvinotoolkit/nncf@f2f3bb7e52a5467c0974fa4c45db8b896d66dc9f 🚀
  schema/index.html
Due: none

Fix typos
  nncf/openvino/graph/nncf_graph_builder.py
  tests/openvino/native/test_nncf_graph_builder.py
Due: openvino

Added filtering of special tokens in preprocessing.
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/pipelines/lm_weight_compression.py
Due: ptq

Comments
  tests/torch/qat/test_qat_classification.py
  tests/torch/qat/test_qat_object_detection.py
  tests/torch/qat/test_qat_segmentation.py
Due: none

mypy checks for common graph (#2600)
  .mypy.ini
  nncf/common/graph/graph.py
  nncf/common/graph/graph_matching.py
  nncf/common/graph/layer_attributes.py
  nncf/common/graph/model_transformer.py
  nncf/common/graph/operator_metatypes.py
  nncf/common/graph/patterns/manager.py
  nncf/common/graph/patterns/patterns.py
  nncf/common/graph/transformations/commands.py
  nncf/common/graph/transformations/layout.py
  nncf/common/graph/utils.py
  nncf/common/utils/registry.py
Due: common

Deploying to doc_pages from @ openvinotoolkit/nncf@b28c3feeabfec50745d957e5a9d69a0768169e73 🚀
  schema/index.html
Due: none

Update notebook links
  README.md
  docs/compression_algorithms/CompressWeights.md
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/README.md
  examples/post_training_quantization/openvino/yolov8/README.md
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/README.md
Due: none

Change blob to tree
  README.md
Due: none

Revert
  README.md
Due: none

Tweak
  README.md
Due: none

fix apply_args_defaults
  nncf/torch/dynamic_graph/layer_attributes_handlers.py
  tests/torch/test_layer_attributes.py
Due: torch
