Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

init
  .github/workflows/mypy.yml
  .github/workflows/precommit.yml
  .mypy.ini
  nncf/common/utils/backend.py
  nncf/torch2/__init__.py
  nncf/torch2/hook_executor/__init__.py
  nncf/torch2/hook_executor/hook_executor_mode.py
  nncf/torch2/hook_executor/hook_storage.py
  nncf/torch2/hook_executor/weak_map.py
  nncf/torch2/hook_executor/wrapper.py
  tests/torch2/__init__.py
  tests/torch2/conftest.py
  tests/torch2/hook_executor/helpers.py
  tests/torch2/hook_executor/test_hook_executor_mode.py
  tests/torch2/hook_executor/test_train.py
  tests/torch2/hook_executor/test_weak_map.py
  tests/torch2/hook_executor/test_wrapper.py
  tests/torch2/pytest.ini
  tests/torch2/requirements.txt
Due: common, torch

Update
  tests/torch/fx/test_min_max.py
  tests/torch/ptq/test_min_max.py
Due: none

Support for 3D activations in data-aware weight compression
  nncf/quantization/algorithms/weight_compression/activation_stats.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/lora_correction.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/quantization/test_quantize_api.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch/fx/test_compress_weights.py
  tests/torch/ptq/test_weights_compression.py
Due: torch, openvino, ptq

ga
  .github/workflows/examples.yml
  .github/workflows/precommit.yml
Due: none

test
  .github/workflows/examples.yml
Due: none

Update example with simple evaluation
  examples/llm_compression/openvino/tiny_llama_synthetic_data/main.py
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
Due: none

Update test_examples ref
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
Due: none

Undo track progress changes
  nncf/common/logging/track_progress.py
Due: common

Mixed precision progress
  nncf/openvino/graph/node_utils.py
  nncf/openvino/statistics/collectors.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

OV Fixes
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: openvino, ptq

Style
  nncf/common/logging/track_progress.py
  nncf/openvino/graph/node_utils.py
  nncf/openvino/statistics/collectors.py
  nncf/quantization/algorithms/weight_compression/activation_stats.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
Due: common, openvino, ptq

Mixed precision
  nncf/openvino/graph/node_utils.py
  nncf/openvino/statistics/collectors.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

Progress 2
  nncf/quantization/algorithms/weight_compression/activation_stats.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/lora_correction.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/token_averaged_statistics_algorithm.py
Due: ptq

Style
  nncf/quantization/algorithms/weight_compression/algorithm.py
Due: ptq

Progress
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/quantization/algorithms/weight_compression/activation_stats.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/token_averaged_statistics_algorithm.py
Due: openvino, ptq

PT backend
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
Due: torch, ptq

aptget
  .github/workflows/examples.yml
Due: none

Update aggregator.py
  nncf/common/tensor_statistics/aggregator.py
Due: common

reput PropagationStrategy
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/common/quantization/quantizer_propagation/structs.py
Due: common

conservative_quantizers_merging -> propagation_strategy
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/post_training/pipeline.py
Due: ptq

upd param tuner
  nncf/quantization/algorithms/hyperparameter_tuner/param_grid.py
Due: ptq

Update nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/aggregator.py
Due: common

container
  .github/workflows/examples.yml
Due: none

versions
  _version_helper.py
Due: none

test hook storage
  tests/torch2/hook_executor/test_hook_executor_mode.py
  tests/torch2/hook_executor/test_hook_storage.py
  tests/torch2/hook_executor/test_wrapper.py
Due: none

relative name
  nncf/torch2/hook_executor/hook_executor_mode.py
  tests/torch2/hook_executor/test_hook_executor_mode.py
  tests/torch2/hook_executor/test_wrapper.py
Due: torch

Update statistics after AWQ
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
Due: ptq

Update Usage.md
  docs/usage/post_training_compression/weights_compression/Usage.md
Due: none

add transformation for FQ of weights
  nncf/experimental/torch/fx/quantization/quantize_model.py
  nncf/experimental/torch/fx/transformations.py
  tests/torch/fx/test_model_transformer.py
  tests/torch/fx/test_sanity.py
Due: none

Merge wc_reference_data_2024.4.yaml and wc_reference_data.yaml (#2997)
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/data/wc_reference_data_2024.4.yaml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@b52bf6c33f49521edf798e686a79946d19fc0d0a 🚀
  schema/index.html
Due: none

Remove FP output
  examples/llm_compression/openvino/tiny_llama_synthetic_data/main.py
Due: none

def value from None to MERGE_WITH_SINGLE_FQ_RESULT
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/post_training/pipeline.py
Due: ptq

typo
  nncf/quantization/algorithms/post_training/pipeline.py
Due: ptq

apply comments
  docs/usage/post_training_compression/weights_compression/Usage.md
  nncf/__init__.py
  nncf/openvino/quantization/quantize_model.py
  nncf/parameters.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: openvino, ptq
