Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

[mypy] statistics.py factory.py (#3187)
  nncf/common/factory.py
  nncf/common/statistics.py
  nncf/common/utils/tensorboard.py
  nncf/onnx/engine.py
  pyproject.toml
Due: common, onnx

Deploying to doc_pages from @ openvinotoolkit/nncf@2a5ee2a2f9e512a93644fdd6cad2c87bb27ba052 🚀
  _sources/autoapi/nncf/common/statistics/index.rst.txt
  autoapi/nncf/common/statistics/index.html
  genindex.html
  objects.inv
  schema/index.html
  searchindex.js
Due: none

to_backend -> as_numpy_tensor
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/tensor/functions/numeric.py
  nncf/tensor/functions/numpy_numeric.py
  nncf/tensor/functions/ov_numeric.py
  nncf/tensor/tensor.py
  tests/openvino/native/quantization/test_ov_modeling_compression.py
  tests/openvino/native/test_tensor.py
Due: openvino, ptq

Revert "Use duplicate filter"
  nncf/common/logging/logger.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: common, ptq

Use duplicate filter
  nncf/common/logging/logger.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: common, ptq

Align log message
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: ptq

Add example
  examples/quantization_aware_training/tensorflow/mobilenet_v2/README.md
  examples/quantization_aware_training/tensorflow/mobilenet_v2/main.py
  examples/quantization_aware_training/tensorflow/mobilenet_v2/requirements.txt
Due: none

Add TODO regarding share memory during constant creation from tensor
  nncf/openvino/graph/node_utils.py
Due: openvino

Add strip() for TF backend
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/quantization_aware_training/tensorflow/mobilenet_v2/main.py
  nncf/common/strip.py
  nncf/tensorflow/quantization/quantize_model.py
  nncf/tensorflow/strip.py
Due: common, tensorflow

test numpy v
  .github/workflows/weekly.yml
Due: none

fix
  examples/quantization_aware_training/tensorflow/mobilenet_v2/main.py
  nncf/common/strip.py
Due: common

а
  .github/workflows/weekly.yml
Due: none

Create infer request in both cases
  nncf/quantization/algorithms/weight_compression/openvino_modeling.py
Due: openvino, ptq

fix
  nncf/common/strip.py
Due: common

Update copyright year
  nncf/import_utils.py
  nncf/quantization/algorithms/weight_compression/openvino_modeling.py
  nncf/tensor/functions/ov_numeric.py
  nncf/tensorflow/sparsity/rb/algorithm.py
  tests/common/utils/test_cache_results_decorator.py
  tests/openvino/native/quantization/test_ov_modeling_compression.py
  tests/openvino/native/test_openvino_modeling.py
  tests/openvino/native/test_tensor.py
Due: tensorflow, openvino, ptq

Remove not used import
  nncf/common/logging/logger.py
Due: common

f
  .github/workflows/weekly.yml
Due: none

c
  nncf/common/logging/track_progress.py
Due: common

f
  nncf/common/logging/track_progress.py
Due: common

Fix ov modeling test
  tests/openvino/native/test_openvino_modeling.py
Due: none

Add return type annotation
  nncf/import_utils.py
Due: none

Fix docs api conf.py
  docs/api/source/conf.py
Due: none

mypy
  nncf/import_utils.py
Due: none

[mypy] hwconfig (#3189)
  nncf/common/hardware/config.py
  nncf/common/quantization/structs.py
  nncf/common/utils/helpers.py
  pyproject.toml
Due: common

Deploying to doc_pages from @ openvinotoolkit/nncf@f355847fbbba19d3fa0f34bf5c83794708a2839b 🚀
  schema/index.html
Due: none

[mypy] deprecation.py (#3188)
  nncf/common/deprecation.py
  pyproject.toml
  tests/common/test_deprecation_warnings.py
Due: common

Deploying to doc_pages from @ openvinotoolkit/nncf@092da8074fcfc2d7d24eb9e711f431a875b33872 🚀
  schema/index.html
Due: none

[mypy] nncf/common/logging (#3181)
  nncf/common/logging/progress_bar.py
  nncf/common/logging/track_progress.py
  nncf/common/tensor_statistics/aggregator.py
  nncf/data/generators.py
  pyproject.toml
  tests/common/utils/test_progress_tracking.py
  tests/post_training/pipelines/image_classification_base.py
Due: common

Deploying to doc_pages from @ openvinotoolkit/nncf@5726fcbc7b7128c22090d9b7770b9c50635b98cc 🚀
  schema/index.html
Due: none

Update README.md
  README.md
Due: none

Typo in README.md (#3191)
  README.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@76e3987a13481da169a2be821f6b78afee258d8c 🚀
  schema/index.html
Due: none

updates for torch
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/torch/engine.py
  nncf/torch/quantization/layers.py
Due: torch, openvino, ptq

add functions
  nncf/quantization/algorithms/weight_compression/torch_backend.py
Due: torch, ptq

upd metrics
  tests/post_training/data/wc_reference_data.yaml
Due: none

rm ov flag
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

rm example
  examples/llm_compression/torch/llama_3_2/main.py
  examples/llm_compression/torch/llama_3_2/requirements.txt
Due: none

rm comments
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
Due: ptq

Revert "Create infer request in both cases"
  nncf/quantization/algorithms/weight_compression/openvino_modeling.py
  tests/openvino/native/test_openvino_modeling.py
Due: openvino, ptq

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
