Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

mypy api
  nncf/api/compression.py
  pyproject.toml
Due: none

some more
  nncf/common/deprecation.py
  nncf/common/hook_handle.py
  nncf/common/insertion_point_graph.py
  nncf/common/plotting.py
  nncf/common/schedulers.py
  nncf/common/scopes.py
  nncf/common/stateful_classes_registry.py
  nncf/common/strip.py
  nncf/common/tensor.py
  pyproject.toml
Due: common

init
  nncf/common/initialization/batchnorm_adaptation.py
  nncf/common/initialization/dataloader.py
  nncf/torch/extensions/__init__.py
  pyproject.toml
Due: common, torch

logger
  nncf/common/logging/logger.py
  pyproject.toml
Due: common

f
  nncf/common/tensor.py
  nncf/tensorflow/algorithm_selector.py
  nncf/tensorflow/sparsity/rb/algorithm.py
  tests/common/test_ctrl_state.py
  tests/torch/quantization/test_scheduler.py
Due: common, tensorflow

stage
  nncf/tensorflow/sparsity/rb/algorithm.py
Due: tensorflow

iter
  nncf/common/initialization/dataloader.py
Due: common

r
  nncf/tensorflow/sparsity/rb/algorithm.py
Due: tensorflow

Remove tqdm from dependencies (#3168)
  pyproject.toml
  tests/onnx/requirements.txt
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@293ac5a423231657cedbf4c9dcf1209b333828c4 🚀
  schema/index.html
Due: none

no zp for lm_head in ov-nightly
  tests/post_training/data/wc_reference_data.yaml
Due: none

r d
  nncf/common/deprecation.py
  pyproject.toml
Due: common

mypy for nncf/data
  nncf/data/dataset.py
  nncf/data/generators.py
  pyproject.toml
Due: none

mypy
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/config/config.py
  nncf/config/extractors.py
  nncf/config/schema.py
  nncf/config/schemata/algo/quantization.py
  nncf/config/schemata/basic.py
  nncf/config/schemata/experimental_schema.py
  nncf/config/structures.py
  pyproject.toml
Due: common

nncf/*py
  nncf/errors.py
  nncf/parameters.py
  nncf/scopes.py
  pyproject.toml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@6a05971d9352e381c7e0719bbf7d95f3cae714fe 🚀
  schema/index.html
Due: none

add torch sample
  examples/llm_compression/torch/main.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  nncf/quantization/quantize_model.py
Due: torch, openvino, ptq

[mypy] nncf/config (#3175)
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/config/config.py
  nncf/config/extractors.py
  nncf/config/schema.py
  nncf/config/schemata/algo/quantization.py
  nncf/config/schemata/basic.py
  nncf/config/schemata/experimental_schema.py
  nncf/config/structures.py
  pyproject.toml
Due: common

[mypy] nncf/*py (#3176)
  nncf/errors.py
  nncf/parameters.py
  nncf/scopes.py
  pyproject.toml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@f4008a44087c46f792eb618713ec61823b5a8bb2 🚀
  _sources/autoapi/nncf/index.rst.txt
  _static/pygments.css
  autoapi/nncf/config/structures/index.html
  autoapi/nncf/index.html
  schema/index.html
  searchindex.js
Due: none

artifact
  .github/workflows/api_changes_check.yml
  .github/workflows/conformance_weight_compression.yml
Due: none

split 3
  .github/workflows/conformance_weight_compression.yml
Due: none

comment
  nncf/data/dataset.py
Due: none

Ignore warning without setting the variable
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  nncf/torch/extensions/__init__.py
Due: torch

t
  .github/scripts/pytest_md_summary.py
  .github/workflows/conformance_weight_compression.yml
  tests/post_training/data/wc_test_durations.json
Due: none

f
  .github/workflows/conformance_weight_compression.yml
Due: none

ignore commits with updating copyright
  .git-blame-ignore-revs
Due: none

none
  nncf/common/scopes.py
Due: common

[GHA] conformance test for weight compression (#3032)
  .github/scripts/pytest_md_summary.py
  .github/workflows/api_changes_check.yml
  .github/workflows/conformance_weight_compression.yml
  .github/workflows/nightly.yml
  tests/post_training/data/wc_test_durations.json
  tests/post_training/requirements.txt
  tests/post_training/test_quantize_conformance.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@9895c4415126b9f41b1200e586a48a5c5f1f1a96 🚀
  schema/index.html
Due: none

Ignore commits with updating copyright in blame (#3177)
  .git-blame-ignore-revs
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@2030ec1a3074a83f9791213f2f00b7f03ac38447 🚀
  schema/index.html
Due: none

Corrected linting errors
  nncf/torch/extensions/__init__.py
Due: torch

Suppressed UserWarning: TORCH_CUDA_ARCH_LIST (#3160)
  nncf/torch/extensions/__init__.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@d90d285c5c32016ad67e735d2addcb69d2218f06 🚀
  schema/index.html
Due: none

Update references tfor 2025.0
  tests/openvino/native/data/2025.0/reference_graphs/quantized/swin-block_performance_transformer.dot
  tests/openvino/native/data/2025.0/reference_graphs/quantized/swin-block_sq.dot
Due: none

[GHA] trigger for scheduled jobs (#3169)
  .github/workflows/api_changes_check.yml
  .github/workflows/build_html_doc.yml
  .github/workflows/examples.yml
  .github/workflows/install.yml
  .github/workflows/macos.yml
  .github/workflows/nightly.yml
  .github/workflows/weekly.yml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@bb03859074a5a90899e45cad320c6dd996a84870 🚀
  schema/index.html
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
