Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

Remove extra spaces
  nncf/common/utils/backend.py
Due: common

init file
  nncf/experimental/torch2/function_hook/nncf_graph/__init__.py
Due: none

pre commit fix
  nncf/experimental/torch2/function_hook/nncf_graph/__init__.py
Due: none

fix path
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  tests/post_training/requirements.txt
Due: none

upd versions
  tests/post_training/requirements.txt
Due: none

[Common] Add init file to ensure installation (#3242)
  nncf/experimental/torch2/function_hook/nncf_graph/__init__.py
Due: none

[Release] Set environment variable on LNL CPUs before compression model compilation (#3233)
  nncf/common/utils/backend.py
  nncf/common/utils/cpu_info.py
  nncf/common/utils/helpers.py
  nncf/openvino/optimized_functions/models.py
  pyproject.toml
  tests/common/utils/test_helpers.py
Due: common, openvino

update
  docs/usage/training_time_compression/quantization_aware_training/Usage.md
Due: none

fix
  .github/workflows/examples.yml
  nncf/tensor/functions/torch_numeric.py
  tests/cross_fw/shared/json.py
  tests/cross_fw/test_templates/fq_params/fq_params.json
  tests/cross_fw/test_templates/template_test_nncf_tensor.py
  tests/cross_fw/test_templates/test_calculate_quantizer_parameters.py
Due: torch

INP
  nncf/experimental/quantization/__init__.py
  nncf/experimental/quantization/algorithms/__init__.py
  nncf/experimental/quantization/algorithms/range_estimator/__init__.py
  nncf/experimental/torch2/quantization/__init__.py
  nncf/experimental/torch2/statistics/__init__.py
  pyproject.toml
  tests/cross_fw/install/common.py
  tests/cross_fw/install/install_checks_tf.py
  tests/cross_fw/install/install_checks_torch.py
Due: none

rename
  nncf/experimental/quantization/quantizers/torch_ov_adapter.py
  nncf/experimental/quantization/quantizers/torch_ov_quantizer.py
  nncf/experimental/torch/fx/quantization/quantize_pt2e.py
  tests/torch/fx/test_quantizer.py
Due: torch

fix pt backend
  nncf/quantization/algorithms/smooth_quant/torch_backend.py
Due: torch, ptq

fix
  nncf/quantization/algorithms/smooth_quant/torch_fx_backend.py
Due: torch, ptq

torchvision
  tests/cross_fw/shared/helpers.py
Due: none

add commit version
  tests/post_training/requirements.txt
Due: none

typo
  tests/post_training/requirements.txt
Due: none

Parse ov version on demand
  nncf/common/utils/backend.py
Due: common

update test
  nncf/experimental/torch/fx/nncf_graph_builder.py
  tests/torch/data/reference_graphs/fx/dynamic_shapes/post_quantization_compressed/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/post_quantization_compressed/resnet18.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/post_quantization_compressed/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/post_quantization_compressed/synthetic_transformer.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/post_quantization_compressed/unet.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/post_quantization_compressed/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/post_quantization_compressed/yolo11n_sdpa_block.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/quantized/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/quantized/resnet18.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/quantized/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/quantized/synthetic_transformer.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/quantized/unet.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/quantized/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/quantized/yolo11n_sdpa_block.dot
  tests/torch/fx/test_models.py
  tests/torch/fx/test_statistics_aggregator.py
Due: none

examples improvements
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/llm_compression/openvino/tiny_llama_synthetic_data/README.md
  examples/llm_compression/openvino/tiny_llama_synthetic_data/main.py
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
Due: none

pre commit fix && clean
  tests/torch/fx/test_models.py
  tests/torch/fx/test_statistics_aggregator.py
Due: none

Comment Fix
  tests/torch/fx/test_models.py
Due: none

[Conformance] Microfix
  tests/post_training/pipelines/base.py
Due: none

update
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
Due: none

[Conformance] Microfix (#3248)
  tests/post_training/pipelines/base.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@7ed1617ea0596ad9b3eb9d7cf89503b07f6505cd 🚀
  schema/index.html
Due: none

[Release] Parse OV version on demand (#3247)
  nncf/common/utils/backend.py
Due: common

Updating references to OV docs
  README.md
  docs/Installation.md
  docs/ModelZoo.md
  docs/usage/post_training_compression/weights_compression/Usage.md
  nncf/experimental/torch/sparsity/movement/MovementSparsity.md
Due: none

Updating references to OV docs - porting 3250
  README.md
  docs/Installation.md
  docs/ModelZoo.md
  docs/usage/post_training_compression/weights_compression/Usage.md
  nncf/experimental/torch/sparsity/movement/MovementSparsity.md
Due: none

comment fixes
  nncf/experimental/torch/fx/nncf_graph_builder.py
  tests/torch/data/reference_graphs/fx/dynamic_shapes/post_quantization_compressed/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/post_quantization_compressed/resnet18.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/post_quantization_compressed/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/post_quantization_compressed/synthetic_transformer.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/post_quantization_compressed/yolo11n_sdpa_block.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/quantized/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/quantized/resnet18.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/quantized/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/quantized/synthetic_transformer.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/quantized/yolo11n_sdpa_block.dot
  tests/torch/fx/test_models.py
Due: none

Run api_changes precommit check on all branches
  .github/workflows/api_changes_check.yml
Due: none

doc
  nncf/tensor/functions/numeric.py
  nncf/tensor/functions/torch_numeric.py
Due: torch

rename
  nncf/experimental/quantization/algorithms/post_training/algorithm.py
  nncf/experimental/quantization/algorithms/post_training/pipeline.py
  nncf/experimental/quantization/algorithms/range_estimator/algorithm.py
  nncf/experimental/quantization/quantizer.py
  nncf/experimental/torch/fx/quantization/quantize_pt2e.py
  nncf/experimental/torch/fx/quantization/quantizer/__init__.py
  nncf/experimental/torch/fx/quantization/quantizer/openvino_adapter.py
  nncf/experimental/torch/fx/quantization/quantizer/openvino_quantizer.py
  nncf/experimental/torch/fx/quantization/quantizer/torch_ao_adapter.py
  tests/torch/fx/test_quantizer.py
Due: torch, openvino

regex
  tests/cross_fw/install/install_checks_onnx.py
  tests/cross_fw/install/install_checks_openvino.py
  tests/cross_fw/install/install_checks_tf.py
  tests/cross_fw/install/install_checks_torch.py
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
