Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

Update after merge
  tests/openvino/tools/calibrate.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@810e6d21678d726ba6220e20f0a4cc3735e3b347 🚀
  schema/index.html
Due: none

Add release notes for release v2.8.0 (#2407)
  ReleaseNotes.md
Due: none

add get_reduction_aggregation_axes for PTRangeInitCollectorParams
  nncf/torch/quantization/init_range.py
Due: torch

non returning None for get_reduction_aggregation_axes
  nncf/common/quantization/initialization/range.py
  nncf/torch/quantization/init_range.py
Due: common, torch

comments
  nncf/common/tensor_statistics/aggregator.py
Due: common

comments
  tests/common/experimental/test_tensor_collector_batch_size.py
  tests/post_training/test_templates/test_batch_size.py
Due: none

describe comment
  nncf/onnx/graph/metatypes/groups.py
  nncf/openvino/graph/metatypes/groups.py
  nncf/torch/graph/operator_metatypes.py
Due: torch, onnx, openvino

description x2
  nncf/common/tensor_statistics/aggregator.py
  nncf/onnx/graph/metatypes/groups.py
  nncf/openvino/graph/metatypes/groups.py
  nncf/torch/graph/operator_metatypes.py
Due: common, torch, onnx, openvino

Apply comments
  tests/common/experimental/test_reducers_and_aggregators.py
Due: none

description x3
  nncf/common/quantization/initialization/range.py
  nncf/common/tensor_statistics/aggregator.py
  nncf/data/dataset.py
Due: common

Remove backend-spec Noop/Raw reducers
  nncf/onnx/statistics/collectors.py
  nncf/openvino/statistics/collectors.py
  nncf/torch/tensor_statistics/collectors.py
  tests/common/experimental/test_reducers_and_aggregators.py
  tests/onnx/quantization/test_reducers_and_aggregators.py
  tests/openvino/native/quantization/test_reducers_and_aggregators.py
  tests/torch/ptq/test_reducers_and_aggregators.py
Due: torch, onnx, openvino

Added simple test
  tests/common/experimental/test_reducers_and_aggregators.py
Due: none

Updated docstrings.
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/backend.py
Due: ptq

fix code example error on torch part
  docs/FAQ.md
Due: none

Update e2e tf tests
  tests/tensorflow/conftest.py
  tests/tensorflow/data/ac_configs/inception_v3_imagenet.yml
  tests/tensorflow/data/ac_configs/mobilenet_v2_hub_imagenet_magnitude_sparsity.yml
  tests/tensorflow/data/ac_configs/mobilenet_v2_imagenet.yml
  tests/tensorflow/data/ac_configs/mobilenet_v3_large_imagenet.yml
  tests/tensorflow/data/ac_configs/mobilenet_v3_small_imagenet.yml
  tests/tensorflow/data/ac_configs/resnet50_imagenet.yml
  tests/tensorflow/data/ac_configs/retinanet_coco.yml
  tests/tensorflow/data/ac_configs/yolo_v4_coco.yml
  tests/tensorflow/data/ac_configs/yolo_v4_coco_int8.yml
  tests/tensorflow/requirements.txt
  tests/tensorflow/sota_checkpoints_eval.json
  tests/tensorflow/test_sota_checkpoints.py
Due: none

reverted casting zero point to uint8
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: torch, ptq

Applied proposals.
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: ptq

Added an example with finding optimal WC hyperparams (#2334)
  docs/compression_algorithms/CompressWeights.md
  examples/llm_compression/openvino/tiny_llama/README.md
  examples/llm_compression/openvino/tiny_llama/main.py
  examples/llm_compression/openvino/tiny_llama/requirements.txt
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/README.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/main.py
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@362c5cb058f8cc123d3b9f6fffd19705123f5804 🚀
  schema/index.html
Due: none

Adjust timm/crossvit_9_240_backend_TORCH metrics
  tests/post_training/reference_data.yaml
Due: none

Hid warning and added a test
  nncf/quantization/fake_quantize.py
  tests/post_training/test_tune_range.py
Due: ptq

Made AWQ pattern bachend agnostic.
  nncf/quantization/algorithms/weight_compression/awq_patterns.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

Fixed style.
  nncf/quantization/algorithms/weight_compression/awq_patterns.py
Due: ptq

rm test_init
  tests/tensorflow/test_init.py
Due: none

Update metrics after update ov to 2023.2
  tests/torch/sota_checkpoints_eval.json
Due: none

fix
  tests/tensorflow/conftest.py
Due: none

clean
  tests/torch/sota_checkpoints_eval.json
Due: none

fix if
  tests/tensorflow/test_sota_checkpoints.py
Due: none

fix code example error on torch part (#2409)
  docs/FAQ.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@f5e45ee59d6ed63f782bc4acffc17ec7b5470f36 🚀
  schema/index.html
Due: none

Update metrics after update OV to 2023.2 (#2414)
  tests/torch/sota_checkpoints_eval.json
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@213556c1709e9d73c0672ae0b09f79a0af42807d 🚀
  schema/index.html
Due: none

Update NNCF version
  nncf/version.py
Due: none

Update OpenVINO version
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  setup.py
  tests/onnx/benchmarking/requirements.txt
  tests/onnx/requirements.txt
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
  tests/torch/requirements.txt
Due: none

Added cast to fp32
  nncf/openvino/graph/model_transformer.py
  nncf/quantization/algorithms/fast_bias_correction/openvino_backend.py
Due: openvino, ptq

Apply suggestions from code review
  nncf/experimental/tensor/functions/numeric.py
Due: none

apply suggestion
  nncf/common/tensor_statistics/aggregator.py
Due: common

[PTQ][OV] Add empty tensors handling (#2396)
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/onnx/statistics/collectors.py
  nncf/openvino/statistics/collectors.py
  nncf/torch/tensor_statistics/collectors.py
  tests/common/experimental/test_reducers_and_aggregators.py
  tests/onnx/quantization/test_reducers_and_aggregators.py
  tests/openvino/native/quantization/test_reducers_and_aggregators.py
  tests/torch/ptq/test_reducers_and_aggregators.py
Due: torch, onnx, openvino
