Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

ruff happy
  nncf/torch/model_creation.py
Due: torch

Comments
  nncf/torch/dynamic_graph/io_handling.py
Due: torch

Checking model type in nncf.torch.wrap_model (#2651)
  nncf/torch/model_creation.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@057c4ce67f32f89b7b6bcdb9e34fdc09fbb68a03 🚀
  schema/index.html
Due: none

[PTQ] Add default batch sizes for PTQ conformance test (#2643)
  tests/post_training/conftest.py
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/test_quantize_conformance.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@d10afcf0e229fb985271feaf1b5e2e5f939b6797 🚀
  schema/index.html
Due: none

Pytorch tests pass
  nncf/common/accuracy_aware_training/runner.py
Due: common

Comments
  nncf/torch/graph/transformations/command_creation.py
  nncf/torch/nncf_network.py
Due: torch

Fix mypy errors regarding initialization
  nncf/common/accuracy_aware_training/runner.py
Due: common

xdist
  constraints.txt
Due: none

name
  .github/workflows/precommit.yml
Due: none

refactor: Make a tokenizer during model preparation
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

feat: Tokenize an input string (Temporary) to feed in torch model
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

fix: Added torch_dtype parameter to the model
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

chore: Removed unnecessary compression parameters
  tests/post_training/model_scope.py
Due: none

[Torch] NNCFNetwork.transformation_layout (#2595)
  nncf/torch/graph/graph.py
  nncf/torch/graph/transformations/command_creation.py
  nncf/torch/graph/transformations/commands.py
  nncf/torch/nncf_network.py
  tests/torch/helpers.py
  tests/torch/nncf_network/helpers.py
  tests/torch/nncf_network/test_get_applied_modifications.py
  tests/torch/nncf_network/test_hook_handlers.py
  tests/torch/nncf_network/test_nncf_network.py
  tests/torch/test_api_behavior.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@a95e9af6849800aad672a7dc5e9b7e0f253be5f9 🚀
  schema/index.html
Due: none

Comments
  nncf/torch/dynamic_graph/io_handling.py
  tests/torch/test_input_management.py
Due: torch

Make NNCF common accuracy aware training code pass mypy checks (#2637)
  .mypy.ini
  nncf/common/accuracy_aware_training/runner.py
  nncf/common/accuracy_aware_training/runner_factory.py
  nncf/common/accuracy_aware_training/statistics.py
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/common/utils/helpers.py
Due: common

Deploying to doc_pages from @ openvinotoolkit/nncf@17a5b659416c53281204d8be05bef7c0162990c3 🚀
  autoapi/nncf/common/accuracy_aware_training/statistics/index.html
  autoapi/nncf/common/accuracy_aware_training/training_loop/index.html
  schema/index.html
  searchindex.js
Due: none

refactor: Line spacing, preprocessor usage
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

[Torch] Save/load NNCFNetwork state
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/smooth_quant/torch_backend.py
  nncf/torch/dynamic_graph/io_handling.py
  nncf/torch/graph/transformations/serialization.py
  nncf/torch/layer_utils.py
  nncf/torch/model_transformer.py
  nncf/torch/pruning/filter_pruning/layers.py
  nncf/torch/quantization/layers.py
  nncf/torch/sparsity/layers.py
  nncf/torch/sparsity/rb/layers.py
  tests/torch/helpers.py
  tests/torch/nncf_network/helpers.py
  tests/torch/test_serialization.py
Due: torch, ptq

Tests adjusted
  tests/torch/data/reference_scales/TwoConvTestModel_overflow_fix_disable.json
  tests/torch/data/reference_scales/TwoConvTestModel_overflow_fix_enable.json
  tests/torch/data/reference_scales/TwoConvTestModel_overflow_fix_first_layer_only.json
  tests/torch/ptq/helpers.py
  tests/torch/ptq/test_graphs.py
Due: none

[Release] Update OpenVINO version (#2645)
  docs/Installation.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
  setup.py
  tests/onnx/benchmarking/requirements.txt
  tests/onnx/requirements.txt
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
  tests/tensorflow/requirements.txt
  tests/torch/requirements.txt
Due: none

Update NNCF version to v2.11
  nncf/version.py
Due: none

Refactoring.
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: ptq

Cleanup
  nncf/torch/dynamic_graph/io_handling.py
  nncf/torch/graph/transformations/serialization.py
  nncf/torch/model_transformer.py
  tests/torch/data/reference_scales/TwoConvTestModel_overflow_fix_disable.json
  tests/torch/data/reference_scales/TwoConvTestModel_overflow_fix_enable.json
  tests/torch/data/reference_scales/TwoConvTestModel_overflow_fix_first_layer_only.json
  tests/torch/nncf_network/test_transformation_layout.py
  tests/torch/test_serialization.py
Due: torch

PT github-actions (#2482)
  .github/workflows/precommit.yml
  Makefile
  tests/torch/conftest.py
  tests/torch/nncf_network/test_nncf_network.py
  tests/torch/pruning/test_tensor_processor.py
  tests/torch/ptq/test_fast_bias_correction.py
  tests/torch/ptq/test_reducers_and_aggregators.py
  tests/torch/ptq/test_weights_compression.py
  tests/torch/pytest.ini
  tests/torch/quantization/test_algo_quantization.py
  tests/torch/quantization/test_autoq_precision_init.py
  tests/torch/quantization/test_functions.py
  tests/torch/quantization/test_hawq_precision_init.py
  tests/torch/quantization/test_range_init.py
  tests/torch/requirements.txt
  tests/torch/sparsity/const/test_algo.py
  tests/torch/sparsity/movement/test_components.py
  tests/torch/test_algo_common.py
  tests/torch/test_api_behavior.py
  tests/torch/test_distributed_data_parallel_mode.py
  tests/torch/test_extensions_build.py
  tests/torch/test_graph_building.py
  tests/torch/test_knowledge_distillation.py
  tests/torch/test_model_transformer.py
  tests/torch/test_tensor.py
  tests/torch/test_utils.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@b68a42fa2a76b10f785b0d6402bdaa377a528300 🚀
  schema/index.html
Due: none

Bump version of actions
  .github/workflows/api_changes_check.yml
  .github/workflows/build_and_publish_doc.yml
  .github/workflows/build_html_doc.yml
  .github/workflows/build_schema_page.yml
  .github/workflows/model_hub.yml
  .github/workflows/mypy.yml
  .github/workflows/pre-commit-linters.yml
  .github/workflows/precommit.yml
  .github/workflows/python-publish.yml
  .github/workflows/upload_coverage_for_develop.yml
Due: none

Bump version of actions (#2655)
  .github/workflows/api_changes_check.yml
  .github/workflows/build_and_publish_doc.yml
  .github/workflows/build_html_doc.yml
  .github/workflows/build_schema_page.yml
  .github/workflows/model_hub.yml
  .github/workflows/mypy.yml
  .github/workflows/pre-commit-linters.yml
  .github/workflows/precommit.yml
  .github/workflows/python-publish.yml
  .github/workflows/upload_coverage_for_develop.yml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@bdc144b313b85531a27d322c6b3d3f145767e651 🚀
  schema/index.html
Due: none

389
  .github/workflows/model_hub.yml
  .github/workflows/mypy.yml
  .github/workflows/pre-commit-linters.yml
  .github/workflows/precommit.yml
Due: none

f
  .github/workflows/pre-commit-linters.yml
Due: none

3819
  .github/workflows/model_hub.yml
  .github/workflows/mypy.yml
  .github/workflows/pre-commit-linters.yml
  .github/workflows/precommit.yml
Due: none

3818
  .github/workflows/model_hub.yml
  .github/workflows/mypy.yml
  .github/workflows/pre-commit-linters.yml
  .github/workflows/precommit.yml
Due: none

ga
  .github/workflows/precommit.yml
  Makefile
  tests/tensorflow/pruning/test_tensor_processor.py
  tests/tensorflow/sparsity/rb/test_integration.py
  tests/tensorflow/test_ignored_scopes.py
  tests/tensorflow/test_sanity_sample.py
Due: none

ga
  .github/workflows/precommit.yml
  tests/tensorflow/requirements.txt
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
