Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

Example for is added
  nncf/quantization/algorithms/channel_alignment/backend.py
Due: ptq

Redundant PTNNCFTensor unwrapping is removed
  nncf/torch/tensor.py
  tests/torch/test_tensor.py
Due: torch

Comments
  nncf/torch/return_types.py
  tests/torch/test_return_types.py
Due: torch

tests
  tests/torch/ptq/test_strip.py
  tests/torch/quantization/test_strip.py
Due: none

Changes to enable FBC
  nncf/openvino/graph/metatypes/groups.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
Due: openvino

Fix do_copy in strip function (#2296)
  nncf/torch/nncf_network.py
  tests/torch/ptq/test_strip.py
  tests/torch/quantization/test_strip.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@e17d26890b6253aecd2f3fca62ea32ed1bd0843f 🚀
  schema/index.html
Due: none

clean
  tests/torch/quantization/test_strip.py
Due: none

Resolve comments
  nncf/parameters.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
Due: torch, openvino, ptq

linter
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

Comments
  nncf/torch/return_types.py
Due: torch

Minor
  nncf/torch/return_types.py
Due: torch

Patch missed tensor magic function
  nncf/torch/dynamic_graph/patch_pytorch.py
Due: torch

[PTQ][OV] Update OV references for 23.3 (#2295)
  tests/openvino/native/data/2023.3/reference_scales/LSTMModel_mixed.json
  tests/openvino/native/data/2023.3/reference_scales/LSTMModel_performance.json
  tests/openvino/native/data/2023.3/reference_scales/yolo-v4-tiny-tf_mixed.json
  tests/openvino/native/data/2023.3/reference_scales/yolo-v4-tiny-tf_performance.json
  tests/openvino/native/test_model_transformer.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@4c4aeaccf9b53fb267df8e9873ba3d18c75ede4e 🚀
  schema/index.html
Due: none

[TORCH] Unwrap and wrap torch.return_type before and after posthooks (#2290)
  nncf/torch/dynamic_graph/wrappers.py
  nncf/torch/return_types.py
  tests/torch/test_nncf_network.py
  tests/torch/test_return_types.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@db786a83f2a0b0e117c57dc546ee22bdb3b8f6fc 🚀
  _sources/autoapi/nncf/torch/return_types/index.rst.txt
  autoapi/nncf/torch/return_types/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

Fix type name
  nncf/openvino/graph/model_transformer.py
  nncf/parameters.py
Due: openvino

Fix API check
  nncf/__init__.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@ce061bb49afaf348b858a0607560ee4c9db9de2c 🚀
  schema/index.html
Due: none

Fix naming
  nncf/openvino/graph/model_transformer.py
Due: openvino

const_layout is removed from metatypes
  nncf/openvino/graph/layer_attributes.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
Due: openvino

fix docstring
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

Set codecov target, flags and reach graph visualization (#2245)
  codecov.yml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@242aacdcb82035d7035476812099f8d8bf3cce03 🚀
  schema/index.html
Due: none

metatypes
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/graph/operator_metatypes.py
  tests/torch/test_pytorch_patch.py
Due: torch

Added AdvancedParameters
  nncf/openvino/graph/model_transformer.py
  nncf/openvino/graph/transformations/commands.py
  nncf/parameters.py
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/fake_quantize.py
  tests/openvino/tools/calibrate.py
Due: torch, onnx, openvino, ptq

Fix MinMax
  nncf/quantization/algorithms/min_max/algorithm.py
Due: ptq

more
  nncf/common/graph/patterns/manager.py
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/hardware/fused_patterns.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/ShiftScale__normalize__multi_input_branch.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/ShiftScale__normalize__single_input_branch.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/__floordiv__.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/__ifloordiv__.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/__itruediv__.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/__rdiv__.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/__rfloordiv__.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/__rtruediv__.dot
  tests/torch/test_compressed_graph.py
  tests/torch/test_pytorch_patch.py
Due: common, torch

Fix dump of patterns
  nncf/common/utils/dot_file_rw.py
  tests/common/graph/test_graph_pattern.py
Due: common

Added resume mode to the condition
  examples/tensorflow/object_detection/main.py
Due: none

revert inplace ops
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/hardware/fused_patterns.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/ShiftScale__normalize__multi_input_branch.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/ShiftScale__normalize__single_input_branch.dot
Due: torch

exists
  tests/common/graph/test_graph_pattern.py
Due: none

clean
  tests/common/graph/test_graph_pattern.py
Due: none

Comments
  nncf/openvino/graph/model_utils.py
  nncf/quantization/algorithms/accuracy_control/openvino_backend.py
  nncf/quantization/algorithms/accuracy_control/ranker.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  tests/common/quantization/test_passes.py
Due: torch, onnx, openvino, ptq

Layout collection function moved to layout.py
  nncf/openvino/graph/layer_attributes.py
  nncf/openvino/graph/layout.py
  nncf/openvino/graph/nncf_graph_builder.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/channel_alignment/openvino_backend.py
  nncf/quantization/algorithms/smooth_quant/openvino_backend.py
  tests/openvino/native/test_layer_attributes.py
  tests/openvino/native/test_node_utils.py
Due: openvino, ptq

Trace detach and to function
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/graph/operator_metatypes.py
Due: torch
