Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

Add weighted tracking for weight compression
  nncf/common/logging/track_progress.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
Due: common, ptq

pre-commit fix
  nncf/common/tensor_statistics/reduction.py
  nncf/common/tensor_statistics/statistic_point.py
Due: common

Unreached step
  .github/workflows/api_changes_check.yml
Due: none

[GA] Remove unreached step (#2893)
  .github/workflows/api_changes_check.yml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@3bda8f28730b3c56d1ac4dcd71f721f47ad1b0ed 🚀
  schema/index.html
Due: none

Update torch_fx_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
Due: torch, ptq

update
  nncf/common/tensor_statistics/statistics.py
Due: common

Move completed_steps to task fields
  nncf/common/logging/track_progress.py
Due: common

Update
  nncf/common/tensor_statistics/statistic_point.py
Due: common

Update
  nncf/common/tensor_statistics/statistics.py
Due: common

Update
  nncf/common/tensor_statistics/collectors.py
Due: common

[TorchFX] Deptwise convolution support
  nncf/experimental/torch/fx/nncf_graph_builder.py
  tests/torch/data/reference_graphs/fx/quantized/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/reference_metatypes/mobilenet_v3_small.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/resnet18.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/swin_v2_s.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/unet.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/vit_b_16.json
  tests/torch/fx/test_models.py
Due: none

Add embedding metatype for torch fx as a subtype
  nncf/torch/graph/operator_metatypes.py
Due: torch

replace embedding metatype with torch fx subtype in torch fx graph builder
  nncf/experimental/torch/fx/nncf_graph_builder.py
Due: none

1. Adjust the torch fx weights compression backend to use fx embedding metatype 2. Modify constant update transformation builder to accept input port for the constant node. Default is set to 1
  nncf/experimental/torch/fx/transformations.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
Due: torch, ptq

Comments
  nncf/experimental/torch/fx/nncf_graph_builder.py
  tests/torch/data/reference_graphs/fx/reference_metatypes/mobilenet_v3_small.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/resnet18.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/swin_v2_s.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/unet.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/vit_b_16.json
  tests/torch/fx/test_models.py
Due: none

Fix FX metatype mapping
  nncf/experimental/torch/fx/nncf_graph_builder.py
  nncf/experimental/torch/fx/transformations.py
  nncf/torch/graph/operator_metatypes.py
  tests/torch/fx/test_compress_weights.py
Due: torch

dump advanced, test for transpose_b=False, expose lora params
  nncf/__init__.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: ptq

Add metatypes registry for torch fx specific embedding metatype and change references
  nncf/experimental/torch/fx/nncf_graph_builder.py
  nncf/experimental/torch/fx/operator_metatypes.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  nncf/torch/graph/operator_metatypes.py
  tests/torch/fx/test_compress_weights.py
Due: torch, ptq

Add copyright to new torch fx operator_metatypes file
  nncf/experimental/torch/fx/operator_metatypes.py
Due: none

draft
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
Due: common, openvino, ptq

Corrected debug output
  nncf/quantization/algorithms/weight_compression/lora_correction.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: ptq

Add early stopping for memory monitoring
  tools/memory_monitor.py
Due: none

Refactor OV and PT backends
  activation_sparisty.py
  nncf/experimental/torch/sparsify_activations/openvino_backend.py
  nncf/experimental/torch/sparsify_activations/sparsify_activations_impl.py
  nncf/experimental/torch/sparsify_activations/torch_backend.py
Due: torch, openvino

Set api label action
  .github/workflows/api_changes_check.yml
  .github/workflows/api_set_label.yml
Due: none

Replace the exception with a warning
  nncf/quantization/algorithms/min_max/algorithm.py
Due: ptq

Replace the exception with a warning (#2901)
  nncf/quantization/algorithms/min_max/algorithm.py
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@a8c5ea460fe7d173c1f3c69002ebe2819ca0a9b2 🚀
  schema/index.html
Due: none

Add memory summary
  tools/memory_monitor.py
Due: none

Add tabulate to test requirements
  tests/tools/requirements.txt
Due: none

algin logic
  nncf/common/quantization/quantizer_propagation/solver.py
Due: common

Add early stopping for memory monitoring (#2897)
  tests/tools/requirements.txt
  tools/memory_monitor.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@e2b9898587313034ece787835d5f0327e6754c8b 🚀
  schema/index.html
Due: none

[GA] Add `Set api label` action (#2900)
  .github/workflows/api_changes_check.yml
  .github/workflows/api_set_label.yml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@6e05cf944be63b543e750fe9ec7ca95427d8bae5 🚀
  schema/index.html
Due: none

add onnx
  nncf/onnx/graph/metatypes/groups.py
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
Due: onnx, ptq

add torch
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/torch/graph/operator_metatypes.py
Due: torch, ptq

add backend method
  nncf/quantization/algorithms/min_max/backend.py
Due: ptq

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
