Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

Initial commit
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: ptq

Fix
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: ptq

Fix OV torch import
  examples/post_training_quantization/torch_fx/resnet18/main.py
Due: none

fix reference values for timm models with CUDA torch backend
  tests/post_training/data/ptq_reference_data.yaml
Due: none

precommit fix
  .gitignore
  examples/post_training_quantization/torch_fx/resnet18/main.py
Due: none

Tests WIP
  nncf/quantization/algorithms/weight_compression/config.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/openvino_modeling.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/fake_quantize.py
  nncf/tensor/functions/ov.py
  tests/openvino/native/quantization/test_openvino_modeling.py
Due: openvino, ptq

Invert Tensor division
  nncf/tensor/tensor.py
Due: none

Update onnx, onnxruntime versions (#3043)
  README.md
  constraints.txt
  docs/Installation.md
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@82c19f1dca3ad3314b10a0f94d5cc8ac33cf756b 🚀
  schema/index.html
Due: none

Comments
  nncf/experimental/torch/fx/constant_folding.py
Due: none

builder nncf graph
  nncf/common/graph/graph.py
  nncf/experimental/torch2/function_hook/graph/build_graph_mode.py
  nncf/experimental/torch2/function_hook/nncf_graph/nncf_graph_builder.py
  nncf/experimental/torch2/function_hook/nncf_graph/operator_metatypes.py
  tests/torch2/data/function_hook/nncf_graph/convert_to_nncf_graph.dot
  tests/torch2/data/function_hook/nncf_graph/convert_to_nncf_graph_multi_edges.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_convnext_small.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_densenet121.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_efficientnet_b0.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_inception_v3.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_mobilenet_v2.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_mobilenet_v3_small.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_resnet18.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_resnext50_32x4d.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_shufflenet_v2_x0_5.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_squeezenet1_0.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_swin_v2_b.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_vgg16.dot
  tests/torch2/function_hook/graph/test_build_graph_mode.py
  tests/torch2/function_hook/helpers.py
  tests/torch2/function_hook/nncf_graph/test_nncf_graph.py
  tests/torch2/requirements.txt
Due: common

Added Torch test
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/quantization/ignored_patterns.py
  tests/cross_fw/test_templates/helpers.py
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/rope_model.dot
  tests/torch/ptq/test_graphs.py
  tests/torch/test_pattern_manager.py
Due: torch

Add ONNX test
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/onnx/quantization/ignored_patterns.py
  tests/onnx/data/reference_graphs/quantization/synthetic/rope_model.dot
  tests/onnx/models.py
  tests/onnx/quantization/test_graphs.py
Due: onnx

fix
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  tests/cross_fw/examples/run_example.py
Due: none

Fix patterns test
  tests/onnx/test_pattern_manager.py
Due: none

Fix old issues
  tests/openvino/native/models.py
Due: none

Added updated ref
  tests/openvino/native/data/2024.5/reference_graphs/quantized/ssd-vgg-300_performance.dot
Due: none

Add fns.divide
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/fake_quantize.py
  nncf/tensor/functions/__init__.py
  nncf/tensor/functions/numeric.py
Due: ptq

Rollback ONNX/PT changes
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/onnx/quantization/ignored_patterns.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/quantization/ignored_patterns.py
  tests/cross_fw/test_templates/helpers.py
  tests/onnx/data/reference_graphs/quantization/synthetic/rope_model.dot
  tests/onnx/models.py
  tests/onnx/quantization/test_graphs.py
  tests/onnx/test_pattern_manager.py
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/rope_model.dot
  tests/torch/ptq/test_graphs.py
  tests/torch/test_pattern_manager.py
Due: torch, onnx

Added Torch test
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/quantization/ignored_patterns.py
  tests/cross_fw/test_templates/helpers.py
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/rope_model.dot
  tests/torch/ptq/test_graphs.py
Due: torch

Update references (#3058)
  tests/openvino/native/data/2024.5/reference_graphs/quantized/ssd-vgg-300_performance.dot
  tests/openvino/native/models.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@34cb44173b6a0d43c5571fb7f8476b880cd552b2 🚀
  schema/index.html
Due: none

update sota_checkpoints_eval.json
  tests/tensorflow/sota_checkpoints_eval.json
Due: none

Added ignored RoPE block (#3049)
  nncf/common/graph/patterns/patterns.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  nncf/openvino/quantization/ignored_patterns.py
  tests/onnx/test_pattern_manager.py
  tests/openvino/native/data/2024.4/reference_graphs/quantized/RoPEModel.dot
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_graphs.py
  tests/torch/test_pattern_manager.py
Due: common, openvino

Deploying to doc_pages from @ openvinotoolkit/nncf@69d441265856315a4f2010948088230713d52931 🚀
  schema/index.html
Due: none

Update sota_checkpoints_eval.json (#3060)
  tests/tensorflow/sota_checkpoints_eval.json
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@063b6cc256b9309f597b8fbdfd98e904bca7ad38 🚀
  schema/index.html
Due: none

Skip torch fx tests in windows
  tests/torch/fx/__init__.py
Due: none

pre commit fix
  tests/torch/fx/__init__.py
Due: none

Update nncf/experimental/torch/fx/constant_folding.py
  nncf/experimental/torch/fx/constant_folding.py
Due: none

remove extra from gitignore
  .gitignore
Due: none

fix ONNX version in docs
  docs/Installation.md
Due: none

add description on why we import openvino.torch
  examples/post_training_quantization/torch_fx/resnet18/main.py
Due: none

Update pattern manager tests
  tests/onnx/test_pattern_manager.py
  tests/torch/test_pattern_manager.py
Due: none

Update PTQ reference for 24.5
  tests/post_training/data/ptq_reference_data_2024.5.yaml
Due: none

fix ticket reference
  tests/torch/fx/__init__.py
Due: none

Update PTQ reference for 24.5 (#3063)
  tests/post_training/data/ptq_reference_data_2024.5.yaml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@f5ef50a134c2f239281fe16b7f5f8240f916e85a 🚀
  schema/index.html
Due: none

Collect statistics from subset in weight compression
  nncf/quantization/algorithms/weight_compression/algorithm.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: ptq
