Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

fix merge
  nncf/experimental/tensor/functions/numeric.py
Due: none

fix
  nncf/quantization/algorithms/min_max/algorithm.py
Due: ptq

rm any
  nncf/scopes.py
Due: none

Insert AWQ scale throught transformation.
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

Fix torch operator unpatching (#2719)
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/dynamic_graph/patch_pytorch_state.py
  nncf/torch/dynamic_graph/wrappers.py
  tests/torch/pytorch_patch_isolated.py
  tests/torch/test_pytorch_patch.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@1eec30506dba7c454588eb71ffe679b6490569ca 🚀
  _sources/autoapi/nncf/torch/dynamic_graph/patch_pytorch_state/index.rst.txt
  autoapi/nncf/torch/dynamic_graph/patch_pytorch_state/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

comments
  nncf/common/tensor_statistics/aggregator.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/torch/statistics/aggregator.py
Due: common, torch, onnx, openvino, ptq

tensor in create_bias_correction_command
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/bias_correction/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
Due: onnx, openvino, ptq

rm assert
  nncf/scopes.py
Due: none

minor
  nncf/scopes.py
Due: none

Fail pipeline on improvment metric
  tests/post_training/pipelines/base.py
Due: none

actual refs
  tests/post_training/data/wc_reference_data.yaml
Due: none

coverage pt and tf
  .github/workflows/post_pr_merge.yml
  .github/workflows/precommit.yml
Due: none

Initial E2M1 compression.
  nncf/experimental/tensor/functions/__init__.py
  nncf/experimental/tensor/functions/numeric.py
  nncf/experimental/tensor/functions/numpy_numeric.py
  nncf/experimental/tensor/functions/torch_numeric.py
  nncf/parameters.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: torch, openvino, ptq

e8m0 scale as fp16.
  nncf/experimental/tensor/functions/numeric.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: ptq

Update ReleaseNotes
  ReleaseNotes.md
Due: none

Fix linter
  ReleaseNotes.md
Due: none

[CI] Fail pipeline on improvement metric (#2728)
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/pipelines/base.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@289fefc14d4893789be3ae1202c914fc2eb615f9 🚀
  schema/index.html
Due: none

Update doc links
  nncf/parameters.py
Due: none

Apply comments
  ReleaseNotes.md
Due: none

Update doc links (#2730)
  nncf/parameters.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@f1dc76a07d7946d14bd15ef3c350f255cd15fe3a 🚀
  _sources/autoapi/nncf/experimental/common/tensor_statistics/statistics/index.rst.txt
  _sources/autoapi/nncf/index.rst.txt
  _sources/autoapi/nncf/onnx/statistics/statistics/index.rst.txt
  _sources/autoapi/nncf/onnx/tensor/index.rst.txt
  _sources/autoapi/nncf/openvino/statistics/statistics/index.rst.txt
  _sources/autoapi/nncf/openvino/tensor/index.rst.txt
  autoapi/nncf/experimental/common/tensor_statistics/statistics/index.html
  autoapi/nncf/index.html
  autoapi/nncf/onnx/statistics/statistics/index.html
  autoapi/nncf/onnx/tensor/index.html
  autoapi/nncf/openvino/statistics/statistics/index.html
  autoapi/nncf/openvino/tensor/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

tensor.__rpow__
  nncf/experimental/tensor/tensor.py
  tests/shared/test_templates/template_test_nncf_tensor.py
Due: none

fix for pytest-xdist
  tests/shared/test_templates/template_test_nncf_tensor.py
Due: none

Remove replace_custom_modules
  nncf/experimental/torch/replace_custom_modules/__init__.py
  nncf/experimental/torch/replace_custom_modules/timm_custom_modules.py
  tests/torch/experimental/replace_custom_modules/test_replace_timm_custom_modules.py
Due: none

[CI] Add coverage for pt and tf jobs (#2729)
  .github/workflows/post_pr_merge.yml
  .github/workflows/precommit.yml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@17cc06674932ae7636001d4499d5456f953f6342 🚀
  schema/index.html
Due: none

f
  tests/shared/test_templates/template_test_nncf_tensor.py
Due: none

[PT] Remove replace_custom_modules function (#2732)
  nncf/experimental/torch/replace_custom_modules/__init__.py
  nncf/experimental/torch/replace_custom_modules/timm_custom_modules.py
  tests/torch/experimental/replace_custom_modules/test_replace_timm_custom_modules.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@d06b174b68fb750a6ef920c936fcb69109069964 🚀
  _sources/autoapi/nncf/experimental/torch/replace_custom_modules/index.rst.txt
  _sources/autoapi/nncf/experimental/torch/replace_custom_modules/timm_custom_modules/index.rst.txt
  autoapi/nncf/experimental/torch/replace_custom_modules/index.html
  autoapi/nncf/experimental/torch/replace_custom_modules/timm_custom_modules/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

Update ReleaseNotes.md
  ReleaseNotes.md
Due: none

Implement __rpow__ for Tensor (#2731)
  nncf/experimental/tensor/tensor.py
  tests/shared/test_templates/template_test_nncf_tensor.py
Due: none

Release notes v2.11 (#2710)
  ReleaseNotes.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@9200a22fad8c79f68919f40a21c54179d7354504 🚀
  schema/index.html
Due: none

Represent symmetrically quantized weights in signed data type (#2434)
  docs/usage/post_training_compression/weights_compression/Usage.md
  nncf/parameters.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/layers.py
  nncf/torch/quantization/quantize_functions.py
  tests/openvino/native/data/2024.1/reference_scales/IntegerModel_compressed_weights_int8_sym.json
  tests/openvino/native/quantization/test_weights_compression.py
  tests/post_training/data/wc_reference_data.yaml
  tests/torch/ptq/test_weights_compression.py
Due: torch, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@85b32635533ad776439c90a81ee59ae4db3b5862 🚀
  _sources/autoapi/nncf/index.rst.txt
  autoapi/nncf/index.html
  schema/index.html
  searchindex.js
Due: none

Fix tests
  nncf/torch/quantization/layers.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch/ptq/test_weights_compression.py
Due: torch

Represent symmetrically quantized weights in signed data type
  docs/usage/post_training_compression/weights_compression/Usage.md
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/torch/quantization/layers.py
  tests/openvino/native/data/2024.1/reference_scales/IntegerModel_compressed_weights_int8_sym.json
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch/ptq/test_weights_compression.py
Due: torch, openvino, ptq
