Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

WIP[WeightCompression] Ignored patterns introduction
  nncf/common/graph/patterns/manager.py
  nncf/common/graph/patterns/patterns.py
  nncf/parameters.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/scopes.py
Due: common, ptq

docs
  docs/api/source/conf.py
Due: none

link
  README.md
Due: none

Fix regression in licenve definition
  pyproject.toml
Due: none

manifest
  MANIFEST.in
Due: none

Require setuptools >=77 that complies with new recomendation
  pyproject.toml
Due: none

md
  README.md
  docs/PyPiPublishing.md
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Require setuptools >=77 to comply with new license def recommendation (#3564)
  pyproject.toml
Due: none

doc
  docs/api/source/conf.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@469cc0d48626b82d7d2b0c94dc761c93d1e38c2f 🚀
  schema/index.html
Due: none

Tests
  tests/common/test_pattern_manager.py
  tests/cross_fw/test_templates/template_test_weights_compression.py
  tests/cross_fw/test_templates/test_quantizer_config.py
  tests/onnx/quantization/test_ptq_params.py
  tests/openvino/native/quantization/test_ptq_params.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch2/function_hook/quantization/test_ptq_params.py
  tests/torch2/function_hook/quantization/test_weights_compression.py
  tests/torch2/fx/test_compress_weights.py
  tests/torch2/fx/test_ptq_params.py
Due: none

Add missing onnxruntime requirement
  examples/llm_compression/onnx/tiny_llama/requirements.txt
Due: none

No install extra modules
  tests/cross_fw/examples/test_examples.py
Due: none

Keep the old exception for now
  nncf/quantization/algorithms/weight_compression/algorithm.py
  tests/cross_fw/test_templates/template_test_weights_compression.py
Due: ptq

Add channel size info to exception message
  nncf/quantization/algorithms/weight_compression/algorithm.py
Due: ptq

Add missing onnxruntime requirement (#3565)
  examples/llm_compression/onnx/tiny_llama/requirements.txt
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@5bc0e4c8ced67bcea27065f6a28ceca9ba718d42 🚀
  schema/index.html
Due: none

Test for codebook graph.
  tests/openvino/native/data/2025.2/reference_scales/IntegerModel_codebook_f16_u4.json
  tests/openvino/native/data/2025.2/reference_scales/IntegerModel_codebook_f8e4m3_u8.json
  tests/openvino/native/data/2025.2/reference_scales/IntegerModel_codebook_i8_u8.json
  tests/openvino/native/data/2025.2/reference_scales/IntegerModel_codebook_u8_u4.json
Due: none

Changed name of file for more appropriate.
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/weight_compression/group_quantization.py
  nncf/quantization/algorithms/weight_compression/parameters.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/optimized_functions/test_compression_functions.py
Due: openvino, ptq

Changed name of file for more appropriate.
  nncf/openvino/optimized_functions/functions.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/onnx_backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: torch, onnx, openvino, ptq

Return reshape_weight_for_grouped_quantization to weight_lowering.
  nncf/openvino/optimized_functions/functions.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/group_quantization.py
  nncf/quantization/algorithms/weight_compression/onnx_backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/optimized_functions/test_compression_functions.py
Due: torch, onnx, openvino, ptq

Update nncf/parameters.py
  nncf/parameters.py
Due: none

algorithm -> algorithm_type
  nncf/common/graph/patterns/manager.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  tests/common/test_pattern_manager.py
  tests/cross_fw/test_templates/test_quantizer_config.py
  tests/onnx/quantization/test_ptq_params.py
  tests/openvino/native/quantization/test_ptq_params.py
  tests/torch2/function_hook/quantization/test_ptq_params.py
  tests/torch2/fx/test_ptq_params.py
Due: common, ptq

Changed no ascii chracter.
  tests/openvino/native/quantization/test_weights_compression.py
Due: none

Removed extra convert from fp16 to fp16.
  nncf/openvino/graph/node_utils.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: openvino

Added test and exception which checks what codebook is sorted, not empty 1d array.
  nncf/quantization/algorithms/weight_compression/algorithm.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: ptq

Fixed fp8 values in test.
  tests/openvino/native/quantization/test_weights_compression.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@b11287d90363dfab4ec0393726e858a1175a40b3 🚀
  schema/index.html
Due: none

[ci] No install extra modules for test examples (#3566)
  tests/cross_fw/examples/test_examples.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@c7015b0ff00ccc97b2711b9f8b9e2832b089cf5a 🚀
  schema/index.html
Due: none

Move flexible group size logic outside of mixed precision algorithm
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
Due: ptq

Add mixed precision tests
  tests/cross_fw/test_templates/template_test_weights_compression.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch2/function_hook/quantization/test_weights_compression.py
  tests/torch2/fx/test_compress_weights.py
Due: none

Remove unused method
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch2/function_hook/quantization/test_weights_compression.py
Due: none

Update comment
  nncf/quantization/algorithms/weight_compression/algorithm.py
Due: ptq

Fix tests
  tests/openvino/native/quantization/test_weights_compression_backends.py
  tests/torch2/function_hook/quantization/test_weights_compression_backends.py
  tests/torch2/fx/test_weights_compression_backends.py
Due: none

Fix tests 2
  nncf/quantization/statistics_caching.py
Due: ptq

Applied suggestions.
  nncf/openvino/optimized_functions/functions.py
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/weight_compression/config.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/quantize_model.py
Due: openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@4b395260da9982811cebb596d77863ef7b054469 🚀
  schema/index.html
Due: none

bump genai to 2025.2
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  tests/post_training/requirements.txt
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
