Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@38be9440e3b2a275cc5b900a2497cfc754a80560 🚀
  schema/index.html
Due: none

fix: Forgot to append to list
  nncf/common/tensor_statistics/statistic_point.py
Due: common

feat: Added _algorithm_key property to base class
  nncf/quantization/algorithms/algorithm.py
Due: ptq

Add unit tests for nncf quantization functions (#2526)
  nncf/quantization/algorithms/accuracy_control/evaluator.py
  tests/common/accuracy_control/test_algorithm.py
  tests/common/accuracy_control/test_evaluator.py
  tests/common/accuracy_control/test_ranking.py
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@86ea8f68636b3fec84339c2cdc1969227f647f6e 🚀
  schema/index.html
Due: none

Apply comment
  nncf/openvino/graph/node_utils.py
Due: openvino

Add missed default
  nncf/openvino/graph/node_utils.py
Due: openvino

Extend ONNX list
  nncf/onnx/graph/metatypes/groups.py
Due: onnx

Extend OV with DepthWise for experiments
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/openvino/graph/metatypes/groups.py
  tests/openvino/native/quantization/test_sanity.py
Due: onnx, openvino

Change mobilenet-v3 reference
  tests/openvino/native/quantization/test_sanity.py
Due: none

Reduced FBC layers scope for ONNX & PT
  nncf/onnx/graph/metatypes/groups.py
  nncf/openvino/graph/metatypes/groups.py
  nncf/torch/graph/operator_metatypes.py
Due: torch, onnx, openvino

Limit the ONNX & PT operations with bias
  nncf/onnx/graph/metatypes/groups.py
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/openvino/graph/metatypes/groups.py
  nncf/torch/graph/operator_metatypes.py
Due: torch, onnx, openvino

Update conformance reference
  tests/post_training/data/ptq_reference_data.yaml
Due: none

Rollback Torch changes
  nncf/torch/graph/operator_metatypes.py
Due: torch

Extend OpenVINO list
  nncf/openvino/graph/metatypes/groups.py
Due: openvino

Added MatMul/Linear to ONNX/PT
  nncf/onnx/graph/metatypes/groups.py
  nncf/torch/graph/operator_metatypes.py
Due: torch, onnx

tensor dispatcher
  nncf/experimental/tensor/README.md
  nncf/experimental/tensor/functions/dispatcher.py
  nncf/experimental/tensor/functions/linalg.py
  nncf/experimental/tensor/functions/numeric.py
  nncf/experimental/tensor/functions/numpy_linalg.py
  nncf/experimental/tensor/functions/numpy_numeric.py
  nncf/experimental/tensor/functions/torch_linalg.py
  nncf/experimental/tensor/functions/torch_numeric.py
  nncf/experimental/tensor/tensor.py
Due: torch

cuda12
  README.md
Due: none

added dumping of ignored scope parameters gracefully
  nncf/openvino/rt_info.py
Due: openvino

added tests for dumping of ignored scope parameters gracefully
  tests/openvino/native/quantization/test_quantization_pipeline.py
Due: none

ExtractedFunc
  nncf/torch/extractor.py
Due: torch

add model_device and model_dtype tests, add docstrings, add EmptyModel helper
  nncf/torch/utils.py
  tests/torch/helpers.py
  tests/torch/test_utils.py
Due: torch

constraints file
  Makefile
  README.md
  constraints.txt
  examples/llm_compression/openvino/tiny_llama/requirements.txt
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
  examples/tensorflow/requirements.txt
  examples/torch/requirements.txt
  tests/common/requirements.txt
  tests/cross_fw/examples/requirements.txt
  tests/cross_fw/install/requirements.txt
  tests/cross_fw/sdl/fuzz/requirements.txt
  tests/onnx/benchmarking/requirements.txt
  tests/onnx/requirements.txt
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
  tests/torch/models_hub_test/requirements.txt
  tests/torch/requirements.txt
Due: none

update
  .mypy.ini
Due: none

Added conformance test.
  nncf/quantization/algorithms/weight_compression/awq.py
  tests/post_training/model_scope.py
Due: ptq

simplified tests
  nncf/torch/utils.py
  tests/torch/test_utils.py
Due: torch

typo
  nncf/torch/utils.py
Due: torch

Fixed conformance test
  tests/post_training/model_scope.py
Due: none

Update tests/torch/test_utils.py
  tests/torch/test_utils.py
Due: none

removed randomness from tests
  tests/torch/test_utils.py
Due: none

removed unused parameters, freezed training parameters in test_bn_training_state_switcher
  tests/torch/test_utils.py
Due: none

add model_param is_batch_size_supported to conformance; make all models bs>1 wit dynamic batch_size at input shape; make validation with bs=1
  tests/post_training/README.md
  tests/post_training/conftest.py
  tests/post_training/model_scope.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/causal_language_model.py
  tests/post_training/pipelines/image_classification_timm.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/post_training/pipelines/masked_language_modeling.py
  tests/post_training/test_quantize_conformance.py
Due: none

refactoring
  tests/torch/test_utils.py
Due: none

add example in Readme
  tests/post_training/README.md
Due: none

Tests for torch device and dtype utils (#2580)
  nncf/torch/utils.py
  tests/torch/helpers.py
  tests/torch/test_utils.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@71cbe90bab9c7dd7885c5fa20a1097eeefadd4f3 🚀
  schema/index.html
Due: none

del get_layer_attributes_from_module
  nncf/torch/dynamic_graph/layer_attributes_handlers.py
  nncf/torch/dynamic_graph/wrappers.py
  nncf/torch/extractor.py
Due: torch

fix
  nncf/torch/dynamic_graph/layer_attributes_handlers.py
  tests/torch/test_layer_attributes.py
Due: torch

LayerNorm, weight_norm
  nncf/torch/dynamic_graph/layer_attributes_handlers.py
  nncf/torch/dynamic_graph/wrappers.py
  tests/torch/test_layer_attributes.py
Due: torch

fix
  nncf/torch/dynamic_graph/layer_attributes_handlers.py
Due: torch

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
