Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

Fixed style
  examples/post_training_quantization/openvino/llm_compression/README.md
  examples/post_training_quantization/openvino/llm_compression/main.py
Due: none

[CI] Calibration stopped - fix import - CVS-128463
  tests/openvino/tools/calibrate.py
Due: none

Update metrics for int4_int8 models (#2366)
  tests/torch/sota_checkpoints_eval.json
Due: none

[Torch] Update metrics for resnet18_imagenet_binarization_xnor (#2365)
  tests/torch/sota_checkpoints_eval.json
Due: none

Use RangeInitCollectorParams in PTQ min_max
  nncf/common/quantization/initialization/range.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  tests/common/test_statistics_aggregator.py
Due: common, torch, onnx, openvino, ptq

[CI] Calibration stopped - fix import - CVS-128463 (#2370)
  tests/openvino/tools/calibrate.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@3621b23761616afbedc565b9481cfc0248feab6c 🚀
  schema/index.html
Due: none

use ov.convert_model
  examples/torch/common/export.py
  tests/openvino/native/test_bias_correction.py
  tests/openvino/native/test_fast_bias_correction.py
  tests/openvino/native/test_smooth_quant.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/image_classification_timm.py
  tests/post_training/pipelines/masked_language_modeling.py
Due: none

Applied comments
  examples/llm_compression/README.md
  examples/llm_compression/main.py
Due: none

Changed AWQ example in documentation.
  docs/compression_algorithms/CompressWeights.md
Due: none

[Torch] Trace all tensors of `torch.return_types` containtainers (#2335)
  nncf/torch/dynamic_graph/wrappers.py
  nncf/torch/quantization/layers.py
  nncf/torch/return_types.py
  nncf/torch/tensor_statistics/algo.py
  tests/torch/ptq/test_reducers_and_aggregators.py
  tests/torch/quantization/test_layers.py
  tests/torch/test_nncf_network.py
  tests/torch/test_return_types.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@3f83e1aac2433f6e56cf982956d9dd2d5a4f71c4 🚀
  schema/index.html
Due: none

introduce new statistics for ONNX
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/statistics/aggregator.py
  nncf/onnx/statistics/collectors.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
Due: onnx, ptq

remove old statistic classes
  nncf/onnx/statistics/collectors.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
Due: onnx, ptq

Expose missed option in API
  nncf/__init__.py
Due: none

fix onnx test
  nncf/onnx/statistics/collectors.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  tests/onnx/quantization/test_ptq_params.py
  tests/onnx/quantization/test_quantizer_config.py
Due: onnx, ptq

[Torch][PTQ] MatMul metatypes are updated
  nncf/quantization/algorithms/min_max/torch_backend.py
Due: torch, ptq

Metric for timm/mobilenetv3_small_050_backend_TORCH is updated
  tests/post_training/reference_data.yaml
Due: none

add description
  nncf/quantization/algorithms/min_max/onnx_backend.py
Due: onnx, ptq

remove statistics mocking
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_calculation_quantizer_params.py
  tests/onnx/quantization/test_classification_models_graph.py
  tests/onnx/quantization/test_detection_models_graph.py
  tests/onnx/quantization/test_graphs.py
  tests/onnx/quantization/test_segmentation_models_graph.py
  tests/onnx/quantization/test_transformer_models_graph.py
Due: none

add check on input_shape None
  nncf/quantization/algorithms/min_max/onnx_backend.py
Due: onnx, ptq

upd description
  nncf/quantization/algorithms/min_max/onnx_backend.py
Due: onnx, ptq

force to staic shape in tests
  tests/onnx/quantization/common.py
Due: none

Fix overflow in collectors (#2337)
  nncf/common/graph/layer_attributes.py
  nncf/common/tensor_statistics/collectors.py
  nncf/onnx/statistics/collectors.py
  nncf/openvino/statistics/collectors.py
  nncf/tensorflow/tensor_statistics/collectors.py
  nncf/torch/tensor_statistics/collectors.py
  tests/common/experimental/test_reducers_and_aggregators.py
  tests/openvino/native/quantization/test_reducers_and_aggregators.py
  tests/torch/ptq/test_reducers_and_aggregators.py
Due: common, torch, tensorflow, onnx, openvino

Fixed some issues
  examples/llm_compression/README.md
  examples/llm_compression/main.py
  examples/llm_compression/requirements.txt
  nncf/__init__.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@22b6e58bfb692e8b09d403003190245ca21130a2 🚀
  schema/index.html
Due: none

code improvements
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/quantization/quantizer_parameters.py
  nncf/onnx/statistics/collectors.py
Due: onnx

add docstring; fix bug
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/statistics/collectors.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
Due: onnx, ptq

get_output_info is refactored
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/onnx/statistics/aggregator.py
  nncf/onnx/statistics/collectors.py
  nncf/openvino/statistics/aggregator.py
  nncf/openvino/statistics/collectors.py
  tests/common/experimental/test_statistic_collector.py
Due: onnx, openvino

Added a test for llm_compression example
  examples/llm_compression/main.py
  examples/llm_compression/openvino/README.md
  examples/llm_compression/openvino/main.py
  examples/llm_compression/openvino/requirements.txt
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
Due: none

Fix TypeError: Object of type RestoreMode is not JSON serializable
  tests/openvino/tools/calibrate.py
Due: none

Fix TypeError: Object of type RestoreMode is not JSON serializable (#2378)
  tests/openvino/tools/calibrate.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@7ebb59fa3dab53df83c6e48eeae3eb1d2792481f 🚀
  schema/index.html
Due: none

fix tests
  nncf/common/tensor.py
  tests/common/test_statistics_aggregator.py
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_classification_models_graph.py
  tests/onnx/quantization/test_detection_models_graph.py
  tests/onnx/quantization/test_graphs.py
  tests/onnx/quantization/test_segmentation_models_graph.py
  tests/onnx/quantization/test_transformer_models_graph.py
  tests/onnx/test_statistics_aggregator.py
  tests/openvino/native/test_statistics_aggregator.py
  tests/torch/test_statistics_aggregator.py
Due: common

rollback reduction_axes calculation
  nncf/quantization/algorithms/min_max/onnx_backend.py
Due: onnx, ptq

common tests
  tests/onnx/quantization/test_ptq_params.py
  tests/onnx/quantization/test_quantizer_config.py
  tests/openvino/native/quantization/test_ptq_params.py
  tests/openvino/native/quantization/test_quantizer_config.py
  tests/post_training/test_templates/test_ptq_params.py
  tests/post_training/test_templates/test_quantizer_config.py
  tests/torch/ptq/test_ptq_params.py
  tests/torch/ptq/test_quantizer_config.py
Due: none

add test
  nncf/onnx/statistics/collectors.py
  tests/onnx/quantization/test_reducers_and_aggregators.py
Due: onnx

[release_v280] Fix TypeError: Object of type RestoreMode is not JSON serializable (#2379)
  tests/openvino/tools/calibrate.py
Due: none

fix test
  tests/common/experimental/test_statistic_collector.py
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
