Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

Removed tensor type.
  examples/llm_compression/openvino/smollm2_360m_codebook/main.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

Refactoring
  nncf/experimental/torch/fx/transformations.py
Due: none

clarified positioning two QAT approaches with absorbable LoRA
  ReleaseNotes.md
Due: none

fixes and improvements in QAT + absorbable LoRA
  ReleaseNotes.md
Due: none

removed KV_CACHE_PRECISION after merge
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

Update ReleaseNotes.md
  ReleaseNotes.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@91c79631b5effcc3b52016a882347841aa4640b4 🚀
  schema/index.html
Due: none

use default kv cache compression (#3515)
  examples/llm_compression/openvino/tiny_llama/main.py
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/main.py
  examples/llm_compression/torch/distillation_qat_with_lora/main.py
  examples/llm_compression/torch/downstream_qat_with_nls/main.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/torch2/function_hook/quantization/test_fq_lora.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@f10228a8f549ac8234949ec7582c9d1220d6df12 🚀
  schema/index.html
Due: none

1) Applied suggestions. 2) Removed codebook gather from input nodes by name given in compression.
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  nncf/parameters.py
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

Update Installation.md
  docs/Installation.md
Due: none

Update Installation.md (#3543)
  docs/Installation.md
Due: none

windows-2025
  .github/workflows/call_precommit_windows.yml
  .github/workflows/examples.yml
Due: none

Update with memory offset calculation
  .ci/cspell_dict.txt
  nncf/torch/quantization/triton/reference.py
Due: torch

rm nvcc check
  .github/workflows/call_precommit.yml
  .github/workflows/examples.yml
  .github/workflows/install.yml
Due: none

NLS Fast eval and improved output (#3508)
  examples/llm_compression/torch/downstream_qat_with_nls/README.md
  examples/llm_compression/torch/downstream_qat_with_nls/main.py
  tests/cross_fw/examples/run_example.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@0c28d3bf03a1e5e57c595602b0c62e2e0532239e 🚀
  schema/index.html
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@a8aae20ee837282fb5ce597ed805268ddad8fa32 🚀
  schema/index.html
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@2808c627cdd2c4f55fb6c93fca757e99ce16ecba 🚀
  schema/index.html
Due: none

[release_v2170] Release notes (#3524)
  ReleaseNotes.md
Due: none

Add AWQ and SE methods for ONNX
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/graph/transformations/command_creation.py
  nncf/onnx/graph/transformations/commands.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/onnx_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/quantize_model.py
Due: onnx, ptq

minor fix
  nncf/quantization/quantize_model.py
Due: ptq

[ci] windows-2025 (#3544)
  .github/workflows/call_precommit.yml
  .github/workflows/call_precommit_windows.yml
  .github/workflows/examples.yml
  .github/workflows/install.yml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@6d34246c5931236ac368d19bdd9fb6dd86059058 🚀
  schema/index.html
Due: none

[TorchFX] Do not use torch quantizer in MinMax
  nncf/experimental/quantization/quantizer.py
  nncf/experimental/torch/fx/quantization/quantizer/openvino_adapter.py
  nncf/experimental/torch/fx/quantization/quantizer/openvino_quantizer.py
  nncf/experimental/torch/fx/quantization/quantizer/torch_ao_adapter.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  nncf/torch/quantization/layers.py
  tests/torch/fx/test_calculation_quantizer_params.py
  tests/torch2/fx/test_quantizer.py
Due: torch, onnx, openvino, ptq

Disable fold_quantize for torch.ao quantization
  tests/post_training/pipelines/image_classification_base.py
Due: none

Fix tests
  nncf/experimental/quantization/quantizer.py
  nncf/experimental/torch/fx/quantization/quantizer/openvino_adapter.py
  nncf/experimental/torch/fx/quantization/quantizer/openvino_quantizer.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  tests/cross_fw/test_templates/test_ptq_params.py
  tests/cross_fw/test_templates/test_unified_scales.py
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/base.py
  tests/torch/fx/test_calculation_quantizer_params.py
  tests/torch2/conftest.py
  tests/torch2/data/fx/OpenVINOQuantizer/mobilenet_v3_small_ref_q_dq_dtype.json
  tests/torch2/data/fx/OpenVINOQuantizer/resnet18_ref_q_dq_dtype.json
  tests/torch2/data/fx/OpenVINOQuantizer/swin_v2_t_ref_q_dq_dtype.json
  tests/torch2/data/fx/OpenVINOQuantizer/synthetic_transformer_ref_q_dq_dtype.json
  tests/torch2/data/fx/OpenVINOQuantizer/unet_ref_q_dq_dtype.json
  tests/torch2/data/fx/OpenVINOQuantizer/vit_b_16_ref_q_dq_dtype.json
  tests/torch2/data/fx/OpenVINOQuantizer/yolo11n_sdpa_block_ref_q_dq_dtype.json
  tests/torch2/data/fx/X86InductorQuantizer/mobilenet_v3_small_ref_q_dq_dtype.json
  tests/torch2/data/fx/X86InductorQuantizer/resnet18_ref_q_dq_dtype.json
  tests/torch2/data/fx/X86InductorQuantizer/swin_v2_t_ref_q_dq_dtype.json
  tests/torch2/data/fx/X86InductorQuantizer/synthetic_transformer_ref_q_dq_dtype.json
  tests/torch2/data/fx/X86InductorQuantizer/unet_ref_q_dq_dtype.json
  tests/torch2/data/fx/X86InductorQuantizer/vit_b_16_ref_q_dq_dtype.json
  tests/torch2/data/fx/X86InductorQuantizer/yolo11n_sdpa_block_ref_q_dq_dtype.json
  tests/torch2/data/fx/XNNPACKQuantizer/mobilenet_v3_small_ref_q_dq_dtype.json
  tests/torch2/data/fx/XNNPACKQuantizer/resnet18_ref_q_dq_dtype.json
  tests/torch2/data/fx/XNNPACKQuantizer/swin_v2_t_ref_q_dq_dtype.json
  tests/torch2/data/fx/XNNPACKQuantizer/synthetic_transformer_ref_q_dq_dtype.json
  tests/torch2/data/fx/XNNPACKQuantizer/unet_ref_q_dq_dtype.json
  tests/torch2/data/fx/XNNPACKQuantizer/vit_b_16_ref_q_dq_dtype.json
  tests/torch2/data/fx/XNNPACKQuantizer/yolo11n_sdpa_block_ref_q_dq_dtype.json
  tests/torch2/fx/test_quantizer.py
Due: torch, onnx, openvino, ptq

Conformance: nncf.quantize_pt2e and OpenVINOQuantize support
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/image_classification_base.py
Due: torch, openvino, ptq

Change calculations
  nncf/torch/quantization/triton/reference.py
Due: torch

FXExtendedQuantizerSetup -> FXQuantizerConfig
  nncf/experimental/quantization/quantizer.py
  nncf/experimental/torch/fx/quantization/quantizer/torch_ao_adapter.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  nncf/torch/quantization/layers.py
  tests/cross_fw/test_templates/test_ptq_params.py
  tests/cross_fw/test_templates/test_unified_scales.py
  tests/torch/fx/test_calculation_quantizer_params.py
Due: torch, onnx, openvino, ptq

Renaming and microfixes
  nncf/common/quantization/quantizer_setup.py
  nncf/experimental/quantization/quantizer.py
  nncf/experimental/quantization/structs.py
  nncf/experimental/torch/fx/quantization/quantizer/torch_ao_adapter.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  tests/torch/fx/test_calculation_quantizer_params.py
  tests/torch/quantization/test_serialize_to_json.py
  tests/torch2/fx/test_quantizer.py
Due: common, torch, ptq

Fix
  nncf/torch/quantization/triton/reference.py
Due: torch

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
