Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@4226b108e008db0be0b6c0837876914f9400988d 🚀
  schema/index.html
Due: none

Fix dead links (#2554)
  docs/ModelZoo.md
  nncf/experimental/torch/sparsity/movement/MovementSparsity.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@7f0c73c6d5155d46d3324feb75f8c3613d997300 🚀
  schema/index.html
Due: none

polishing test
  tests/onnx/quantization/test_min_max.py
  tests/openvino/native/quantization/test_min_max.py
  tests/post_training/test_templates/test_min_max.py
  tests/torch/ptq/test_min_max.py
Due: none

fix calibrate.py
  tests/openvino/tools/calibrate.py
Due: none

new polishing
  nncf/quantization/algorithms/post_training/algorithm.py
  tests/post_training/test_templates/test_ptq_params.py
  tests/post_training/test_templates/test_quantizer_config.py
Due: ptq

add None check
  nncf/quantization/advanced_parameters.py
Due: ptq

add test
  tests/tensorflow/quantization/test_ptq_params.py
Due: none

typo
  tests/tensorflow/quantization/test_ptq_params.py
Due: none

extractor
  nncf/common/graph/operator_metatypes.py
  nncf/torch/dynamic_graph/layer_attributes_handlers.py
  nncf/torch/dynamic_graph/wrappers.py
  nncf/torch/extractor.py
  nncf/torch/model_graph_manager.py
  tests/torch/test_extractor.py
  tests/torch/test_layer_attributes.py
Due: common, torch

fq tests
  nncf/torch/extractor.py
  nncf/torch/model_graph_manager.py
  tests/torch/test_extractor.py
  tests/torch/test_model_graph_manager.py
Due: torch

fix
  tests/torch/test_model_graph_manager.py
Due: none

Introduce an ignored subgraph (#2548)
  nncf/__init__.py
  nncf/scopes.py
  tests/common/test_ignored_scope.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@de461944f8f3d35440357360e4f6dbfa1bb2abdd 🚀
  _sources/autoapi/nncf/index.rst.txt
  autoapi/nncf/index.html
  genindex.html
  objects.inv
  schema/index.html
  searchindex.js
Due: none

Fix anomaly_stfpm_quantize_with_accuracy_control for Win (#2550)
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/main.py
  tests/cross_fw/examples/run_example.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@09960b9b71a58f3277d0964531f8ee08365d7c72 🚀
  schema/index.html
Due: none

Fix nightly tests
  tests/torch/data/configs/resnet18_imagenet_pruning_learned_ranking.json
  tests/torch/data/configs/resnet18_imagenet_pruning_magnitude.json
  tests/torch/test_sanity_sample.py
Due: none

Drop binarization extensions
  nncf/torch/extensions/src/binarization/cpu/functions_cpu.cpp
  nncf/torch/extensions/src/binarization/cuda/functions_cuda.cpp
  nncf/torch/extensions/src/binarization/cuda/functions_cuda_impl.cu
  tests/torch/quantization/extensions/isolated_cases.py
  tests/torch/test_extensions_build.py
Due: torch

Drop binarization algorithm
  README.md
  docs/Algorithms.md
  docs/ModelZoo.md
  docs/compression_algorithms/Binarization.md
  examples/torch/classification/configs/binarization/resnet18_imagenet_binarization_dorefa.json
  examples/torch/classification/configs/binarization/resnet18_imagenet_binarization_xnor.json
  examples/torch/classification/configs/pruning/resnet18_imagenet.json
  examples/torch/classification/staged_quantization_worker.py
  examples/torch/common/utils.py
  examples/torch/object_detection/layers/modules/l2norm.py
  examples/torch/semantic_segmentation/configs/unet_camvid_bin_xnor.json
  nncf/common/statistics.py
  nncf/config/definitions.py
  nncf/config/schema.py
  nncf/config/schemata/algo/binarization.py
  nncf/config/schemata/defaults.py
  nncf/torch/__init__.py
  nncf/torch/binarization/__init__.py
  nncf/torch/binarization/algo.py
  nncf/torch/binarization/binarize_functions.py
  nncf/torch/binarization/extensions.py
  nncf/torch/binarization/layers.py
  nncf/torch/binarization/reference.py
  nncf/torch/extensions/include/binarization/functions_cuda_impl.h
  tests/cross_fw/install/install_checks_torch.py
  tests/tensorflow/test_no_compression_algorithm.py
  tests/torch/binarization/test_functions.py
  tests/torch/binarization/test_timeout_extension_loader.py
  tests/torch/data/ac_configs/resnet18_imagenet_binarization_dorefa.yml
  tests/torch/data/ac_configs/resnet18_imagenet_binarization_xnor.yml
  tests/torch/data/configs/resnet18_cifar100_bin_xnor.json
  tests/torch/sota_checkpoints_eval.json
  tests/torch/test_compression_lr_multiplier.py
  tests/torch/test_frozen_layers.py
  tests/torch/test_load_model_state.py
  tests/torch/test_no_compression_algorithm.py
  tools/add_new_quantization_parameters.py
  tools/benchmark_binarize_layers.py
Due: common, torch

Update broken links
  docs/compression_algorithms/CompressWeights.md
Due: none

feat: Added a method for removing stat_point
  nncf/common/tensor_statistics/statistic_point.py
Due: common

Add check on None (#2558)
  nncf/quantization/advanced_parameters.py
  tests/tensorflow/quantization/test_ptq_params.py
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@edd397b01f8c45b976785fa67d425467d80835ae 🚀
  schema/index.html
Due: none

feat: Integrated remove_statistic_point() to the pipelines
  nncf/quantization/algorithms/pipeline.py
Due: ptq

Disabled per channel propagation
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/common/quantization/quantizer_propagation/structs.py
Due: common

Fix ONNX test
  tests/onnx/data/reference_graphs/quantization/shufflenet_v2_x1_0.dot
Due: none

remove warnings about bathc_size>1 in aggregator
  nncf/common/tensor_statistics/aggregator.py
  nncf/onnx/statistics/aggregator.py
  nncf/openvino/statistics/aggregator.py
  nncf/torch/statistics/aggregator.py
Due: common, torch, onnx, openvino

add baatch_size logging in quantize_impl()
  nncf/onnx/quantization/quantize_model.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
Due: torch, onnx, openvino, ptq

add IF op to batch_size warning metatypes list
  nncf/openvino/graph/metatypes/groups.py
Due: openvino

put logs from minmax to quantize_impl
  nncf/onnx/quantization/quantize_model.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
Due: torch, onnx, openvino, ptq

rm typos
  nncf/quantization/advanced_parameters.py
Due: ptq

typehints
  nncf/common/graph/utils.py
  nncf/common/quantization/initialization/range.py
  nncf/common/tensor_statistics/aggregator.py
  nncf/onnx/graph/node_utils.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
Due: common, torch, onnx, openvino, ptq

revert debug message minmax
  nncf/quantization/algorithms/min_max/algorithm.py
Due: ptq

typo
  nncf/onnx/quantization/quantize_model.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
Due: torch, onnx, openvino, ptq

Fix broken links (#2561)
  docs/compression_algorithms/CompressWeights.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@119db6d73d4fee640889f2dc68978a805b66d613 🚀
  schema/index.html
Due: none

Align NPU to CPU
  nncf/common/hardware/configs/cpu.json
  nncf/common/hardware/configs/npu.json
Due: common

fix
  nncf/version.py
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
