Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

redundant x2
  examples/post_training_quantization/openvino/yolov8/main.py
Due: none

upd for segmentation yolos
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
Due: none

Fix in comment.
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
Due: ptq

API code moved to a separate PR
  nncf/__init__.py
  nncf/quantization/__init__.py
  nncf/quantization/quantize_model.py
  nncf/torch/graph/transformations/serialization.py
  nncf/torch/quantization/quantize_model.py
  tests/torch/qat/test_qat_classification.py
  tests/torch/test_serialization.py
Due: torch, ptq

Update version of tensorflow_hub
  examples/tensorflow/requirements.txt
  tests/tensorflow/requirements.txt
Due: none

Add is_subtype
  nncf/common/graph/operator_metatypes.py
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  nncf/tensorflow/graph/metatypes/keras_layers.py
  nncf/torch/graph/operator_metatypes.py
Due: common, torch, tensorflow, onnx, openvino

update refs and thresholds
  tests/torch/sota_checkpoints_eval.json
Due: none

Solved mypy errors on 10 files
  nncf/common/pruning/clusterization.py
  nncf/common/pruning/mask_propagation.py
  nncf/common/pruning/model_analysis.py
  nncf/common/pruning/node_selector.py
  nncf/common/pruning/operations.py
  nncf/common/pruning/schedulers.py
  nncf/common/pruning/shape_pruning_processor.py
  nncf/common/pruning/symbolic_mask.py
  nncf/common/pruning/utils.py
  nncf/common/pruning/weights_flops_calculator.py
Due: common

updated .mypy.ini
  .mypy.ini
Due: none

passed make pre-commit tests
  nncf/common/pruning/mask_propagation.py
  nncf/common/pruning/model_analysis.py
  nncf/common/pruning/operations.py
  nncf/common/pruning/schedulers.py
  nncf/common/pruning/shape_pruning_processor.py
  nncf/common/pruning/symbolic_mask.py
Due: common

fix: Compare alg name instead of Object itself
  nncf/common/tensor_statistics/statistic_point.py
Due: common

fix: Iterating through items of collectors
  nncf/common/tensor_statistics/statistic_point.py
Due: common

fix: Should work now
  nncf/common/tensor_statistics/statistic_point.py
Due: common

fix: Type 'str' not callable
  nncf/quantization/algorithms/pipeline.py
Due: ptq

tf
  tests/tensorflow/sota_checkpoints_eval.json
Due: none

fix: @property deleted
  nncf/quantization/algorithms/algorithm.py
  nncf/quantization/algorithms/pipeline.py
Due: ptq

Inherit from StrEnum
  nncf/quantization/advanced_parameters.py
Due: ptq

Fix
  nncf/quantization/advanced_parameters.py
Due: ptq

Also update QuantizationPreset
  nncf/common/quantization/structs.py
Due: common

[Torch] Drop `PTQuantizerInsertionCommand` (#2584)
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/torch/external_hook.py
  nncf/torch/graph/transformations/command_creation.py
  nncf/torch/graph/transformations/commands.py
  nncf/torch/model_graph_manager.py
  nncf/torch/model_transformer.py
  nncf/torch/nncf_network.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/debug_interface.py
  nncf/torch/quantization/external_quantizer.py
  nncf/torch/quantization/precision_init/base_init.py
  nncf/torch/quantization/precision_init/hawq_debug.py
  nncf/torch/quantization/strip.py
  tests/torch/ptq/test_smooth_quant.py
  tests/torch/quantization/test_algo_quantization.py
  tests/torch/quantization/test_strip.py
  tests/torch/test_extractor.py
  tests/torch/test_model_graph_manager.py
  tests/torch/test_model_transformer.py
  tests/torch/test_nncf_network.py
  tests/torch/test_tracing_context.py
Due: torch, ptq

PTQ quantization aware training documentation
  docs/compression_algorithms/Quantization.md
  docs/compression_algorithms/post_training/Quantization.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@f7a5660a40c1bc574a3b04687cd86a22303dd08d 🚀
  schema/index.html
Due: none

Comments
  README.md
  docs/compression_algorithms/Quantization.md
  docs/compression_algorithms/post_training/Quantization.md
Due: none

Align output_port_id for nodes with OpenVINO backend
  nncf/onnx/graph/nncf_graph_builder.py
Due: onnx

upd test
  tests/onnx/quantization/test_bias_correction.py
Due: none

remove redundant
  nncf/onnx/graph/onnx_helper.py
Due: onnx

Replace master to latest
  README.md
  docs/compression_algorithms/CompressWeights.md
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/README.md
  examples/post_training_quantization/openvino/yolov8/README.md
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/README.md
Due: none

[ONNX] NNCFGraph building: align edges output_port_id with OpenVINO (#2614)
  nncf/onnx/graph/nncf_graph_builder.py
  nncf/onnx/graph/onnx_helper.py
  tests/onnx/quantization/test_bias_correction.py
Due: onnx

Deploying to doc_pages from @ openvinotoolkit/nncf@0c80ecfe1de2a4bb8ae019b225ec75bf3a0fed5c 🚀
  schema/index.html
Due: none

Update reference of copyright header in PyGuide.md (#2586)
  docs/styleguide/PyGuide.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@0dfe08ec98a7472a0314e205309ca0b3900f3cfa 🚀
  schema/index.html
Due: none

add doc for data loader usage
  docs/compression_algorithms/post_training/Quantization.md
Due: none

Update notebook links (#2604)
  README.md
  docs/compression_algorithms/CompressWeights.md
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/README.md
  examples/post_training_quantization/openvino/yolov8/README.md
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/README.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@8ad77dca3b510e0f3a5941b12c50679f1d7b4c4e 🚀
  schema/index.html
Due: none

git: Sync fork
  nncf/quantization/algorithms/pipeline.py
Due: ptq

PTQ quantization aware training documentation (#2522)
  README.md
  docs/compression_algorithms/post_training/Quantization.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@7f70527e2774740da6d07bdfbe4ab790cd3702ff 🚀
  schema/index.html
Due: none

fix: Returned property decorator
  nncf/quantization/algorithms/algorithm.py
  nncf/quantization/algorithms/pipeline.py
Due: ptq

refactor: Formatted & Cleaned the code
  tests/common/test_statistic_points.py
Due: none

Update thresholds for e2e (#2612)
  tests/tensorflow/sota_checkpoints_eval.json
  tests/torch/sota_checkpoints_eval.json
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
