Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino

Fix common
  tests/common/sdl/test_symlinks.py
Due: none

mentioned all embeddings in weight compression docs
  docs/compression_algorithms/CompressWeights.md
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: none

Quote-escape the exclude path globs
  codecov.yml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@a9a39dba2500b77ab2921faa35a8f57612e998b4 🚀
  schema/index.html
Due: none

more corrections
  nncf/parameters.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
Due: torch

test
  nncf/experimental/torch/pruning/operations.py
  nncf/torch/pruning/operations.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/Conv_AdaptiveMaxPool1d_Conv.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/Conv_AdaptiveMaxPool2d_Conv.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/Conv_AdaptiveMaxPool3d_Conv.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/Conv_MaxPool1d_Conv.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/Conv_MaxPool2d_Conv.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/Conv_MaxPool3d_Conv.dot
  tests/torch/test_compressed_graph.py
Due: torch

const_channel_axis is removed for conv and mm metatypes
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  nncf/openvino/graph/node_utils.py
Due: openvino

Unwrap and wrap torch.return_type before posthooks
  nncf/torch/dynamic_graph/wrappers.py
  nncf/torch/return_types.py
  nncf/torch/tensor.py
  tests/torch/test_nncf_network.py
  tests/torch/test_return_types.py
  tests/torch/test_tensor.py
Due: torch

Move SDL-related tests to their own directories (#2285)
  nncf/common/compression.py
  nncf/common/utils/os.py
  nncf/config/config.py
  tests/common/data/schema_validation_bad_configs/bad_algo_name.json
  tests/common/data/schema_validation_bad_configs/hawq_bitwidth_per_scope_format_mismatch.json
  tests/common/data/schema_validation_bad_configs/params_mismatch.json
  tests/common/data/schema_validation_bad_configs/wrong_num_init_steps_placement.json
  tests/common/data/schema_validation_good_configs/full_movement_sparsity_params.json
  tests/common/data/schema_validation_good_configs/full_nas_params.json
  tests/common/sdl/__init__.py
  tests/common/sdl/test_config_schema.py
  tests/common/sdl/test_symlinks.py
  tests/cross_fw/sdl/__init__.py
  tests/cross_fw/sdl/symlinks.py
  tests/tensorflow/sdl/__init__.py
  tests/tensorflow/sdl/test_symlinks.py
  tests/torch/sdl/__init__.py
  tests/torch/sdl/test_symlinks.py
Due: common

Deploying to doc_pages from @ openvinotoolkit/nncf@285066cbd2508a24095906d672729c0cbf9be71c 🚀
  schema/index.html
Due: none

mentioned all embeddings in weight compression docs (#2289)
  docs/compression_algorithms/CompressWeights.md
  nncf/parameters.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@08cd0f7de2de04d0cdaf1c8b326ad96323c342af 🚀
  _sources/autoapi/nncf/index.rst.txt
  autoapi/nncf/index.html
  schema/index.html
  searchindex.js
Due: none

replied to comments
  nncf/torch/dynamic_graph/context.py
  nncf/torch/dynamic_graph/trace_tensor.py
  nncf/torch/nncf_network.py
  tests/torch/test_nncf_network.py
  tests/torch/test_tracing_context.py
Due: torch

Update MLFlow version
  examples/torch/requirements.txt
Due: none

Extend weight compression with INT8 symmetric scheme
  docs/compression_algorithms/CompressWeights.md
  nncf/parameters.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
Due: torch

Update tests
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/data/2023.2/reference_scales/IntegerModel_compressed_weights_int8_asym.json
  tests/openvino/native/data/2023.2/reference_scales/IntegerModel_compressed_weights_int8_sym.json
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch/ptq/test_weights_compression.py
Due: none

linter
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch/ptq/test_weights_compression.py
Due: torch

docstr
  tests/torch/models_hub_test/common.py
  tests/torch/models_hub_test/test_hf_transformers.py
  tests/torch/models_hub_test/test_speech_transformer.py
  tests/torch/models_hub_test/test_timm.py
  tests/torch/models_hub_test/test_torchvision_models.py
Due: none

clean
  tests/torch/test_compressed_graph.py
Due: none

Not quantize AdaptiveMaxPool (#2284)
  nncf/experimental/torch/pruning/operations.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/pruning/operations.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/Conv_AdaptiveMaxPool1d_Conv.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/Conv_AdaptiveMaxPool2d_Conv.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/Conv_AdaptiveMaxPool3d_Conv.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/Conv_MaxPool1d_Conv.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/Conv_MaxPool2d_Conv.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/Conv_MaxPool3d_Conv.dot
  tests/torch/test_compressed_graph.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@cb7f3c16d51714029540a125903a5862605b7d5e 🚀
  schema/index.html
Due: none

Update MLFlow version (#2291)
  examples/torch/requirements.txt
Due: none

replied to comments
  nncf/torch/dynamic_graph/context.py
  nncf/torch/dynamic_graph/trace_tensor.py
  nncf/torch/nncf_network.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@2362c020abd341a56a3941fdd997c4832ccf9f35 🚀
  schema/index.html
Due: none

Fix transformer test
  tests/openvino/native/test_model_transformer.py
Due: none

Update refs
  tests/openvino/native/data/2023.2/reference_scales/LSTMModel_mixed.json
  tests/openvino/native/data/2023.2/reference_scales/LSTMModel_performance.json
  tests/openvino/native/data/2023.2/reference_scales/yolo-v4-tiny-tf_mixed.json
  tests/openvino/native/data/2023.2/reference_scales/yolo-v4-tiny-tf_performance.json
Due: none

[Fix] Patching nncf_model_inputs (#2278)
  nncf/torch/dynamic_graph/context.py
  nncf/torch/dynamic_graph/trace_tensor.py
  nncf/torch/nncf_network.py
  tests/torch/ptq/test_wrap_model.py
  tests/torch/test_nncf_network.py
  tests/torch/test_tracing_context.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@ee78ab6956f06889125ab51f7e0d20b4211cb99c 🚀
  schema/index.html
Due: none

use new API from OpenVINO 2023.2
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  examples/post_training_quantization/torch/ssd300_vgg16/main.py
Due: none

Revert "Update refs"
  tests/openvino/native/data/2023.2/reference_scales/LSTMModel_mixed.json
  tests/openvino/native/data/2023.2/reference_scales/LSTMModel_performance.json
  tests/openvino/native/data/2023.2/reference_scales/yolo-v4-tiny-tf_mixed.json
  tests/openvino/native/data/2023.2/reference_scales/yolo-v4-tiny-tf_performance.json
Due: none

Update scale refs names
  tests/openvino/native/data/2023.3/reference_scales/yolo-v4-tiny-tf_mixed.json
  tests/openvino/native/data/2023.3/reference_scales/yolo-v4-tiny-tf_performance.json
Due: none

Change the reference for LSTM
  tests/openvino/native/data/2023.3/reference_scales/LSTMModel_mixed.json
  tests/openvino/native/data/2023.3/reference_scales/LSTMModel_performance.json
Due: none

updated reference values for test examples
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/main.py
  tests/cross_fw/examples/example_scope.json
Due: none

Fix do_copy for strip ptq
  nncf/torch/nncf_network.py
  tests/torch/quantization/test_strip.py
Due: torch

Updating examples (#2293)
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  examples/post_training_quantization/torch/ssd300_vgg16/main.py
  tests/cross_fw/examples/example_scope.json
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@c58bccea574b992cdd0113828fac15fb4f64dc89 🚀
  schema/index.html
Due: none

Add model-hub tests to check wrap_model (#2275)
  .github/workflows/model_hub.yml
  Makefile
  tests/torch/models_hub_test/__init__.py
  tests/torch/models_hub_test/common.py
  tests/torch/models_hub_test/hf_transformers_models.txt
  tests/torch/models_hub_test/requirements.txt
  tests/torch/models_hub_test/requirements_secondary.txt
  tests/torch/models_hub_test/test_hf_transformers.py
  tests/torch/models_hub_test/test_speech_transformer.py
  tests/torch/models_hub_test/test_timm.py
  tests/torch/models_hub_test/test_torchvision_models.py
  tests/torch/models_hub_test/torchvision_models.txt
  tests/torch/pytest.ini
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@3706639c7670ef4d7cba50d0b56b3af6ad538913 🚀
  schema/index.html
Due: none

Update tests/openvino/native/test_model_transformer.py
  tests/openvino/native/test_model_transformer.py
Due: none

Path conditions:
  common: any of: nncf/common, but not: examples, tests, tools
  torch: any of: nncf/torch, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, but not: examples, tests, tools
  onnx: any of: nncf/onnx, but not: examples, tests, tools
  openvino: any of: nncf/openvino, but not: examples, tests, tools
