Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

Update references after OV 2024.5 release
  tests/post_training/data/wc_reference_data_2024.5.yaml
Due: none

Add another invert_divide
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/data/wc_reference_data_2024.5.yaml
Due: ptq

Remove extra brackets
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
Due: ptq

[PT] update metrics for openvino 2024.5.0 (#3084)
  tests/torch/sota_checkpoints_eval.json
Due: none

Replace by reciprocal
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/fake_quantize.py
  nncf/tensor/functions/__init__.py
  nncf/tensor/functions/numeric.py
  tests/cross_fw/test_templates/template_test_nncf_tensor.py
Due: ptq

Fix annotation for api marker (#3099)
  docs/api/source/conf.py
  nncf/common/utils/api_marker.py
Due: common

Deploying to doc_pages from @ openvinotoolkit/nncf@8d501c7951b6a6407775576b8e78959414223755 🚀
  schema/index.html
Due: none

rollback to warnings
  nncf/quantization/fake_quantize.py
Due: ptq

Fix fns.reciprocal implementation
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/fake_quantize.py
  nncf/tensor/functions/numeric.py
  nncf/tensor/functions/numpy_numeric.py
  nncf/tensor/functions/torch_numeric.py
  tests/cross_fw/test_templates/template_test_nncf_tensor.py
Due: torch, ptq

Update reference
  tests/post_training/data/wc_reference_data_2024.5.yaml
Due: none

Fix
  nncf/quantization/fake_quantize.py
Due: ptq

Update with FP32 inference output
  examples/llm_compression/openvino/smollm_360m_fp8/main.py
Due: none

Added FP8 example
  examples/llm_compression/openvino/smollm_360m_fp8/README.md
  examples/llm_compression/openvino/smollm_360m_fp8/main.py
  examples/llm_compression/openvino/smollm_360m_fp8/requirements.txt
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
Due: none

Limit numpy
  examples/llm_compression/openvino/smollm_360m_fp8/requirements.txt
Due: none

Minor fix
  examples/llm_compression/openvino/smollm_360m_fp8/main.py
Due: none

Update test with WWB
  examples/llm_compression/openvino/smollm_360m_fp8/main.py
  examples/llm_compression/openvino/smollm_360m_fp8/requirements.txt
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
Due: none

Fix the seed
  examples/llm_compression/openvino/smollm_360m_fp8/main.py
  examples/llm_compression/openvino/smollm_360m_fp8/requirements.txt
Due: none

Change to inctruct model
  examples/llm_compression/openvino/smollm_360m_fp8/main.py
  tests/cross_fw/examples/example_scope.json
Due: none

Update example_scope.json
  tests/cross_fw/examples/example_scope.json
Due: none

Fix precision for models
  examples/llm_compression/openvino/smollm_360m_fp8/main.py
Due: none

Revert "Update test with WWB"
  examples/llm_compression/openvino/smollm_360m_fp8/main.py
  examples/llm_compression/openvino/smollm_360m_fp8/requirements.txt
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
Due: none

Change reference
  tests/cross_fw/examples/example_scope.json
Due: none

Fix inference precision for test
  examples/llm_compression/openvino/smollm_360m_fp8/main.py
Due: none

Remove sampling
  examples/llm_compression/openvino/smollm_360m_fp8/main.py
Due: none

Revert changes for SE
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
Due: ptq

set kv cache in f16 (#3101)
  examples/llm_compression/openvino/tiny_llama/main.py
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/main.py
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@dc9f5cb98d9509936c75f5653b8972e7ee7ff187 🚀
  schema/index.html
Due: none

Update README.md
  examples/llm_compression/openvino/smollm_360m_fp8/README.md
Due: none

Change validation approach
  examples/llm_compression/openvino/smollm_360m_fp8/main.py
  examples/llm_compression/openvino/smollm_360m_fp8/requirements.txt
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
Due: none

Change test struct
  examples/llm_compression/openvino/smollm_360m_fp8/main.py
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
Due: none

Add more examples
  examples/llm_compression/openvino/smollm_360m_fp8/main.py
Due: none

Update durations
  tests/cross_fw/examples/.test_durations
Due: none

[PT] update metrics for openvino 2024.5.0 (#3084) (#3104)
  tests/torch/sota_checkpoints_eval.json
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@e2ecc48b8972e0f662bd36d9ef8cae068a4a59df 🚀
  schema/index.html
Due: none

Model transformer tests
  nncf/experimental/torch/fx/transformations.py
  tests/torch/data/reference_graphs/fx/transformed/cat_constant_update.dot
  tests/torch/data/reference_graphs/fx/transformed/constant_update.dot
  tests/torch/data/reference_graphs/fx/transformed/model_insertion.dot
  tests/torch/data/reference_graphs/fx/transformed/model_insertion_leaf.dot
  tests/torch/data/reference_graphs/fx/transformed/output_insertion_cat_5_2.dot
  tests/torch/data/reference_graphs/fx/transformed/output_insertion_cat_6_1.dot
  tests/torch/data/reference_graphs/fx/transformed/output_insertion_conv2d_1_5_1.dot
  tests/torch/data/reference_graphs/fx/transformed/output_insertion_conv2d_6_0.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_cat_5_2_per_channel.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_cat_5_2_per_tensor.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_cat_6_1_per_channel.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_cat_6_1_per_tensor.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_conv2d_1_5_1_per_channel.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_conv2d_6_0_per_channel.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_conv2d_6_0_per_tensor.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_conv2d_6_1_per_channel.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_conv2d_6_1_per_tensor.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_conv2d_7_None_per_channel.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_conv2d_7_None_per_tensor.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_shared_insert_weights_per_channel.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_shared_insert_weights_per_tensor.dot
  tests/torch/fx/test_model_transformer.py
  tests/torch/test_models/synthetic.py
Due: none

Yolov11 SDPA pattern
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/yolo11n_sdpa_block.dot
  tests/torch/data/reference_graphs/fx/quantized/yolo11n_sdpa_block.dot
  tests/torch/data/reference_graphs/fx/reference_metatypes/yolo11n_sdpa_block.json
  tests/torch/data/reference_graphs/fx/yolo11n_sdpa_block.dot
  tests/torch/fx/test_models.py
  tests/torch/test_models/synthetic.py
Due: none

Weight compression tests are fixed
  nncf/experimental/torch/fx/transformations.py
  tests/torch/fx/test_compress_weights.py
Due: none

rich
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/deploy.py
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
  examples/post_training_quantization/openvino/yolov8/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  examples/post_training_quantization/torch/ssd300_vgg16/main.py
  examples/post_training_quantization/torch_fx/resnet18/main.py
  examples/quantization_aware_training/torch/resnet18/main.py
Due: none

om
  nncf/experimental/torch2/function_hook/nncf_graph/nncf_graph_builder.py
  nncf/torch/__init__.py
  nncf/torch/graph/operator_metatypes.py
  tests/torch2/conftest.py
  tests/torch2/data/function_hook/nncf_graph/convert_to_nncf_graph.dot
  tests/torch2/data/function_hook/nncf_graph/convert_to_nncf_graph_multi_edges.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_convnext_small.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_densenet121.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_efficientnet_b0.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_inception_v3.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_mobilenet_v2.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_mobilenet_v3_small.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_resnet18.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_resnext50_32x4d.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_shufflenet_v2_x0_5.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_squeezenet1_0.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_swin_v2_b.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_vgg16.dot
  tests/torch2/function_hook/nncf_graph/test_nncf_graph.py
  tests/torch2/test_patching.py
Due: torch

win
  .github/workflows/install.yml
  .github/workflows/precommit.yml
  tests/cross_fw/install/test_install.py
  tests/cross_fw/shared/helpers.py
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
