Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

refactor channel axes
  nncf/quantization/algorithms/min_max/algorithm.py
Due: ptq

refactor channel axes condition
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
Due: torch, ptq

remove whitespace
  nncf/quantization/algorithms/min_max/algorithm.py
Due: ptq

test alignment
  nncf/torch/model_creation.py
  tests/torch2/data/reference_scales/TwoConvTestModel_overflow_fix_disable.json
  tests/torch2/data/reference_scales/TwoConvTestModel_overflow_fix_enable.json
  tests/torch2/data/reference_scales/TwoConvTestModel_overflow_fix_first_layer_only.json
  tests/torch2/function_hook/quantization/test_calculation_quantizer_params.py
  tests/torch2/function_hook/quantization/test_fq_params_calculation.py
  tests/torch2/function_hook/quantization/test_ptq_params.py
  tests/torch2/function_hook/quantization/test_quantizer_config.py
  tests/torch2/function_hook/quantization/test_reducers_and_aggregators.py
  tests/torch2/function_hook/quantization/test_statistic_collector.py
  tests/torch2/function_hook/quantization/test_statistics_caching.py
  tests/torch2/function_hook/quantization/test_tensor_collector_batch_size.py
  tests/torch2/function_hook/quantization/test_weights_compression.py
Due: torch

Update Usage.md
  docs/usage/training_time_compression/quantization_aware_training/Usage.md
Due: none

Function naming refactor
  nncf/openvino/optimized_functions/__init__.py
  nncf/openvino/optimized_functions/functions.py
  nncf/openvino/optimized_functions/models.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/lora_correction.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/version.py
Due: openvino, ptq

[Conformance] Ultralytics yolov8n and yolo11n
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/ultralytics_detection.py
  tests/post_training/requirements.txt
Due: none

solved quick remarks from Nikita
  examples/llm_compression/torch/qat_with_lora/README.md
  examples/llm_compression/torch/qat_with_lora/main.py
Due: none

remove Xfails
  tests/post_training/data/ptq_reference_data.yaml
Due: none

update whowhatbench requirement
  tests/post_training/requirements.txt
Due: none

proper model creation for evaluation
  examples/llm_compression/torch/qat_with_lora/main.py
Due: none

[PT] change api for get_config and load_from_config (#3359)
  README.md
  docs/usage/training_time_compression/quantization_aware_training/Usage.md
  examples/quantization_aware_training/torch/resnet18/main.py
  nncf/torch/__init__.py
  nncf/torch/model_creation.py
  tests/torch2/function_hook/test_serialization.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@9f4aa761e93584fa93ff3ebb8966154c2592bec8 🚀
  schema/index.html
Due: none

removed patching before export
  examples/llm_compression/torch/qat_with_lora/main.py
Due: none

Conformance: nncf.quantize_pt2e and OpenVINOQuantize support
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/image_classification_base.py
Due: none

restored original hyper-params, removed callable, added ov version
  examples/llm_compression/torch/qat_with_lora/README.md
  examples/llm_compression/torch/qat_with_lora/main.py
  examples/llm_compression/torch/qat_with_lora/requirements.txt
Due: none

[PT2] test alignment (#3367)
  nncf/torch/model_creation.py
  tests/torch2/data/reference_scales/TwoConvTestModel_overflow_fix_disable.json
  tests/torch2/data/reference_scales/TwoConvTestModel_overflow_fix_enable.json
  tests/torch2/data/reference_scales/TwoConvTestModel_overflow_fix_first_layer_only.json
  tests/torch2/function_hook/quantization/test_calculation_quantizer_params.py
  tests/torch2/function_hook/quantization/test_fq_params_calculation.py
  tests/torch2/function_hook/quantization/test_ptq_params.py
  tests/torch2/function_hook/quantization/test_quantizer_config.py
  tests/torch2/function_hook/quantization/test_reducers_and_aggregators.py
  tests/torch2/function_hook/quantization/test_statistic_collector.py
  tests/torch2/function_hook/quantization/test_statistics_caching.py
  tests/torch2/function_hook/quantization/test_tensor_collector_batch_size.py
  tests/torch2/function_hook/quantization/test_weights_compression.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@72936ab10b52b50fa5eef6acf0933685fa07cabe 🚀
  schema/index.html
Due: none

Use both nncf_graph and inference_nncf_graph
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/utils.py
Due: torch, onnx, openvino, ptq

VIT/Swin models refs/ symbolic types are expanded
  nncf/experimental/torch/fx/nncf_graph_builder.py
  nncf/experimental/torch/fx/quantization/quantize_model.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  nncf/torch/model_graph_manager.py
  nncf/torch/utils.py
  tests/torch/data/reference_graphs/fx/dynamic_shapes/post_quantization_compressed/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/post_quantization_compressed/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/quantized/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/quantized/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/quantized/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/quantized/vit_b_16.dot
Due: torch, onnx, openvino, ptq

[MinMax] Embedding nodes as input nodes for inference graph
  nncf/openvino/graph/model_utils.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  tests/cross_fw/test_templates/models.py
  tests/cross_fw/test_templates/test_quantizer_config.py
  tests/onnx/quantization/test_quantizer_config.py
  tests/openvino/native/quantization/test_quantizer_config.py
  tests/torch/fx/test_quantizer_config.py
  tests/torch/ptq/test_quantizer_config.py
Due: torch, onnx, openvino, ptq

Apply suggestions from code review
  nncf/quantization/algorithms/min_max/backend.py
  nncf/torch/utils.py
Due: torch, ptq

[TorchFX] Constant folding is removed from nncf.quantize and OpenVINOQuantizer
  nncf/experimental/torch/fx/quantization/quantize_model.py
  nncf/experimental/torch/fx/quantization/quantizer/openvino_quantizer.py
  nncf/experimental/torch/fx/transformations.py
  tests/torch/data/reference_graphs/fx/experimental/OpenVINOQuantizer/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/experimental/OpenVINOQuantizer/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/quantized/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/quantized/vit_b_16.dot
Due: openvino

Fix get_weight_nodes to work with inference graph
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  nncf/torch/utils.py
Due: torch, onnx, openvino, ptq

Comments
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  nncf/torch/utils.py
Due: torch, ptq

Shape dim could be only torch.SymInt
  nncf/experimental/torch/fx/nncf_graph_builder.py
  tests/torch2/function_hook/quantization/test_quantizer_config.py
Due: none

Added optimized nf4 quantization
  nncf/openvino/optimized_functions/__init__.py
  nncf/openvino/optimized_functions/functions.py
  nncf/openvino/optimized_functions/models.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/lora_correction.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/tensor/functions/__init__.py
  nncf/tensor/functions/numeric.py
  nncf/tensor/functions/numpy_numeric.py
  nncf/tensor/functions/openvino_numeric.py
  nncf/tensor/functions/torch_numeric.py
  tests/cross_fw/test_templates/template_test_weights_compression.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/optimized_functions/test_compression_functions.py
  tests/openvino/optimized_functions/test_ov_model_parameters.py
Due: torch, openvino, ptq

Add float_quantize_dequantize
  nncf/openvino/optimized_functions/__init__.py
  nncf/openvino/optimized_functions/functions.py
  nncf/openvino/optimized_functions/models.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/openvino/optimized_functions/test_compression_functions.py
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
Due: openvino, ptq

Undo irrelevant changes
  nncf/tensor/functions/__init__.py
  nncf/tensor/functions/numeric.py
  nncf/tensor/functions/numpy_numeric.py
  nncf/tensor/functions/openvino_numeric.py
  nncf/tensor/functions/torch_numeric.py
  nncf/version.py
Due: torch, openvino

Tweak install instructions
  .github/workflows/conformance_weight_compression.yml
  Makefile
  nncf/openvino/optimized_functions/models.py
  nncf/version.py
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
Due: openvino

Undo version changes
  nncf/version.py
Due: none

Added results and pictures, minor fixes
  examples/llm_compression/torch/qat_with_lora/README.md
  examples/llm_compression/torch/qat_with_lora/main.py
  examples/llm_compression/torch/qat_with_lora/pics/absorbable lora adapters.png
  examples/llm_compression/torch/qat_with_lora/pics/training_pipeline.png
  examples/llm_compression/torch/qat_with_lora/requirements.txt
Due: none

corrected link to image
  examples/llm_compression/torch/qat_with_lora/README.md
  examples/llm_compression/torch/qat_with_lora/pics/absorbable_lora_adapters.png
Due: none

fix tensorflow tensor implementation with norm fixes and device preservation
  nncf/tensor/functions/numeric.py
  nncf/tensor/functions/tf_io.py
  nncf/tensor/functions/tf_linalg.py
  nncf/tensor/functions/tf_numeric.py
  nncf/tensor/tensor.py
Due: none

Update template_test_weights_compression.py
  tests/cross_fw/test_templates/template_test_weights_compression.py
Due: none

update requirements for job; to be reverted later
  tests/post_training/requirements.txt
Due: none

update requirements
  tests/post_training/requirements.txt
Due: none

[MinMax] Embedding nodes as input nodes for inference graph (#3320)
  nncf/experimental/torch/fx/nncf_graph_builder.py
  nncf/experimental/torch/fx/quantization/quantizer/openvino_quantizer.py
  nncf/experimental/torch/fx/transformations.py
  nncf/openvino/graph/model_utils.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/model_graph_manager.py
  tests/cross_fw/test_templates/models.py
  tests/cross_fw/test_templates/test_quantizer_config.py
  tests/onnx/quantization/test_quantizer_config.py
  tests/openvino/native/quantization/test_quantizer_config.py
  tests/torch/data/reference_graphs/fx/dynamic_shapes/post_quantization_compressed/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/post_quantization_compressed/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/quantized/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/quantized/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/experimental/OpenVINOQuantizer/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/experimental/OpenVINOQuantizer/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/quantized/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/quantized/vit_b_16.dot
  tests/torch/fx/test_quantizer_config.py
  tests/torch/ptq/test_quantizer_config.py
  tests/torch2/function_hook/quantization/test_quantizer_config.py
Due: torch, onnx, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@dc8eb03811480c57e85a87ebc0dabfab7df83fe7 🚀
  schema/index.html
Due: none

Add an env var to disable optimized compression
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: ptq

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
