Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

Fixed test case for E2M1.
  nncf/quantization/quantize_model.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: ptq

Update nncf/experimental/torch2/function_hook/wrapper.py
  nncf/experimental/torch2/function_hook/wrapper.py
Due: none

Add kwargs to quantize calls
  nncf/quantization/quantize_model.py
Due: ptq

Brute force solution
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

Minor fix
  nncf/quantization/algorithms/weight_compression/algorithm.py
Due: ptq

pre-commit fix
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

attempt fix
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

comment
  .gitignore
Due: none

update synthetic transformer reference graphs and reference values
  tests/torch/data/reference_graphs/fx/experimental/OpenVINOQuantizer/synthetic_transformer.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/synthetic_transformer.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/synthetic_transformer.dot
  tests/torch/data/reference_graphs/fx/quantized/synthetic_transformer.dot
  tests/torch/fx/test_models.py
Due: none

update get_all_aliases method
  nncf/common/graph/operator_metatypes.py
  nncf/experimental/torch/fx/nncf_graph_builder.py
  nncf/torch/graph/operator_metatypes.py
Due: common, torch

[PT] less atol on windows for test_same_outputs_in_torch_and_exported_onnx (#3311)
  tests/torch/sparsity/movement/test_model_saving.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@8b48ab5b8a445b63f15c88e2b2f34f68ec84d8d5 🚀
  schema/index.html
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@f43ac70bd3b9b01bf4fddd99c8f108b9aa11cf2f 🚀
  _sources/autoapi/nncf/experimental/torch/fx/index.rst.txt
  _sources/autoapi/nncf/torch/pruning/filter_pruning/algo/index.rst.txt
  autoapi/nncf/experimental/torch/fx/index.html
  autoapi/nncf/torch/pruning/filter_pruning/algo/index.html
  schema/index.html
  searchindex.js
Due: none

retry on connection errors
  tests/cross_fw/examples/test_examples.py
Due: none

init
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/image_classification_base.py
  tests/post_training/pipelines/image_classification_torchvision.py
Due: none

remove xfail for fx backends
  tests/post_training/data/ptq_reference_data.yaml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@bf9fe48298d1351ee1edac67c08efec814567e3a 🚀
  schema/index.html
Due: none

Add doc string
  nncf/quantization/algorithms/weight_compression/backend.py
Due: ptq

FQ with absorbable LoRA
  nncf/__init__.py
  nncf/common/quantization/structs.py
  nncf/experimental/torch/fx/quantization/quantize_model.py
  nncf/openvino/quantization/quantize_model.py
  nncf/parameters.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/quantize_model.py
  nncf/torch/model_creation.py
  nncf/torch/quantization/layers.py
  nncf/torch/quantization/quantize_functions.py
  nncf/torch/quantization/quantize_model.py
  nncf/torch/quantization/reference.py
Due: common, torch, openvino, ptq

Update test_examples.py
  tests/cross_fw/examples/test_examples.py
Due: none

OV data-free mixed precision assignment running time improvement (#3292)
  nncf/openvino/graph/node_utils.py
  nncf/openvino/optimized_functions/__init__.py
  nncf/openvino/optimized_functions/functions.py
  nncf/openvino/optimized_functions/models.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/tensor/functions/openvino_numeric.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/native/test_node_utils.py
  tests/openvino/optimized_functions/test_compression_functions.py
  tests/openvino/optimized_functions/test_ov_model_parameters.py
Due: openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@7135bbb643631365e56433f7b068b3ad4588b857 🚀
  schema/index.html
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@8fee5f228030868e7e1f0ed8088c337e394609dd 🚀
  schema/index.html
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@373d6a14d05d07ce3de29bd2e5a96afb392a77c9 🚀
  schema/index.html
Due: none

use imagenet from hf
  .github/workflows/conformance_ptq.yml
  tests/post_training/README.md
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/data/ptq_test_durations.json
  tests/post_training/pipelines/image_classification_base.py
  tests/post_training/pipelines/image_classification_timm.py
  tests/post_training/pipelines/image_classification_torchvision.py
  tests/post_training/test_quantize_conformance.py
Due: none

all in one
  .github/workflows/sdl.yml
  .github/workflows/sdl_nightly.yml
Due: none

comment
  .github/workflows/sdl.yml
Due: none

format
  tests/post_training/pipelines/image_classification_base.py
Due: none

Update default LayerwiseScheduler behavior (#3291)
  nncf/quantization/algorithms/layerwise/scheduler.py
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@5c75e22c2888ebde2a87534c8cb204497899b0b7 🚀
  schema/index.html
Due: none

added test_npu_target_device
  tests/openvino/native/quantization/test_ptq_params.py
Due: none

refactor setting and validation minmax algorithm parameters
  nncf/quantization/algorithms/min_max/algorithm.py
Due: ptq

moved test_target_device to the common test scope
  tests/common/quantization/test_minmax.py
  tests/onnx/quantization/test_ptq_params.py
  tests/openvino/native/quantization/test_ptq_params.py
  tests/torch/fx/test_ptq_params.py
Due: none

added test to check overflowfix setup based on number of activation and weight bits
  tests/common/quantization/test_minmax.py
  tests/torch/ptq/test_ptq_params.py
Due: none

[PT2] check overridden forward in _replicate_for_data_parallel (#3310)
  nncf/experimental/torch2/function_hook/wrapper.py
  tests/torch2/function_hook/test_train.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@c40f73e85587ae7a779ccbffd2038d6a4c50a272 🚀
  schema/index.html
Due: none

clean
  .github/workflows/nightly.yml
Due: none
