Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

Update .mypy.ini
  .mypy.ini
Due: none

Add logs for user guiding better
  nncf/torch/pruning/filter_pruning/algo.py
Due: torch

fix channel alighnment + comments
  nncf/quantization/algorithms/channel_alignment/algorithm.py
  nncf/quantization/algorithms/channel_alignment/openvino_backend.py
  nncf/quantization/algorithms/smooth_quant/torch_backend.py
  tests/post_training/test_templates/test_channel_alignment.py
Due: torch, openvino, ptq

Change AC entry point
  tests/openvino/omz_helpers.py
  tests/tensorflow/test_sota_checkpoints.py
  tests/torch/test_sota_checkpoints.py
Due: none

Change AC imports order
  tests/onnx/benchmarking/accuracy_checker.py
  tests/onnx/benchmarking/run_ptq.py
  tests/openvino/datasets_helpers.py
  tests/openvino/tools/calibrate.py
  tests/openvino/tools/config.py
Due: none

Update path to omz_tools after replacement
  tests/shared/paths.py
Due: none

Make unique DATASET_DEFINITIONS_PATH
  tests/shared/paths.py
Due: none

[PT] Return bias value after fusing layer for FBC (#2507)
  nncf/torch/model_analyzer.py
  nncf/torch/model_transformer.py
  tests/post_training/test_templates/helpers.py
  tests/torch/test_model_analyzer.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@2c64a7d247d7eeba48f3cb8c2eaa812c1fef7c89 🚀
  schema/index.html
Due: none

Rollback changes & add omz_tools install
  Makefile
  tests/shared/paths.py
Due: none

Ignore all parameters in NNCF modules
  nncf/torch/dynamic_graph/wrappers.py
  nncf/torch/external_hook.py
Due: torch

Add tests for ranker except for multithreading cases
  tests/common/accuracy_control/test_ranking.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@e0390e17b65ae811eb399d00e6fc57a782a42afe 🚀
  schema/index.html
Due: none

Added tests for algorithm.pu
  tests/common/accuracy_control/test_algorithm.py
Due: none

[PT] Do not trace parameters for modules inserted by NNCF (#2473)
  nncf/torch/dynamic_graph/wrappers.py
  tests/torch/test_nncf_graph.py
  tests/torch/test_tracing_context.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@797fad9080450dfeda309730d3c618596578dcd2 🚀
  schema/index.html
Due: none

Added tests for subset_selection.py
  tests/common/accuracy_control/test_subset_selection.py
Due: none

Fixed linter errors
  tests/common/accuracy_control/test_algorithm.py
  tests/common/accuracy_control/test_evaluator.py
  tests/common/accuracy_control/test_openvino_backend.py
  tests/common/accuracy_control/test_ranking.py
  tests/common/accuracy_control/test_subset_selection.py
Due: none

Skip llm_tune_params test (#2513)
  tests/cross_fw/examples/run_example.py
Due: none

Remove pytest dependency from run_example.py (#2520)
  tests/cross_fw/examples/run_example.py
  tests/cross_fw/examples/test_examples.py
Due: none

Added test for calculating number of ranker workers
  tests/common/accuracy_control/test_algorithm.py
Due: none

[v2.9.0] Disable broken test in examples (#2525)
  tests/cross_fw/examples/test_examples.py
Due: none

Comments
  examples/quantization_aware_training/torch/resnet18/main.py
  tests/cross_fw/examples/test_examples.py
Due: none

Revert track progressbar
  examples/quantization_aware_training/torch/resnet18/main.py
Due: none

comments
  nncf/common/tensor_statistics/aggregator.py
  tests/post_training/test_templates/test_batch_size.py
Due: common

update typehints; revert changes in OV sample and apply to Torch
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  nncf/quantization/quantize_model.py
Due: ptq

typo
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
Due: none

some code improvements
  nncf/common/tensor_statistics/aggregator.py
  nncf/onnx/quantization/quantizer_parameters.py
  tests/common/experimental/test_tensor_collector_batch_size.py
  tests/common/test_statistics_aggregator.py
  tests/post_training/test_templates/test_batch_size.py
Due: common, onnx

logging
  nncf/common/tensor_statistics/aggregator.py
Due: common

Debug conformance
  tests/post_training/test_quantize_conformance.py
Due: none

Enable llm_tune_params test
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/main.py
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/test_examples.py
Due: none

[v.2.9.0] Added AC as dependency (#2518)
  Makefile
Due: none

lint
  tests/tensorflow/test_compressed_graph.py
Due: none

Added CPU device
  tests/post_training/pipelines/image_classification_timm.py
Due: none

test-torch-weekly-sota-args
  Makefile
Due: none

Only track logging is keeped
  examples/quantization_aware_training/torch/resnet18/main.py
Due: none
