Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

Implement suggested changes
  nncf/common/graph/utils.py
Due: common

OV backend act transpose support
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: ptq

pre-commit fix
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
Due: openvino, ptq

rework tensor dispatcher
  nncf/common/tensor_statistics/statistics.py
  nncf/tensor/README.md
  nncf/tensor/definitions.py
  nncf/tensor/functions/__init__.py
  nncf/tensor/functions/dispatcher.py
  nncf/tensor/functions/io.py
  nncf/tensor/functions/linalg.py
  nncf/tensor/functions/numeric.py
  nncf/tensor/functions/numpy_io.py
  nncf/tensor/functions/numpy_linalg.py
  nncf/tensor/functions/numpy_numeric.py
  nncf/tensor/functions/openvino_numeric.py
  nncf/tensor/functions/torch_io.py
  nncf/tensor/functions/torch_linalg.py
  nncf/tensor/functions/torch_numeric.py
  nncf/tensor/tensor.py
  pyproject.toml
  tests/common/tensor/test_disaptcher.py
Due: common, torch, openvino

Enable dependabot for python
  .github/dependabot.yml
Due: none

mypy
  nncf/tensor/functions/openvino_numeric.py
Due: openvino

[PT2] cache for shared parameters (#3297)
  nncf/experimental/torch2/function_hook/hook_executor_mode.py
  nncf/experimental/torch2/function_hook/wrapper.py
  tests/torch2/data/function_hook/nncf_graph/model_graph_with_shared_parameters.dot
  tests/torch2/function_hook/helpers.py
  tests/torch2/function_hook/nncf_graph/test_nncf_graph.py
  tests/torch2/function_hook/test_function_hook_mode.py
  tests/torch2/utils.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@c558bf09313131fc5d9d0652eb4537cf93cf78e2 🚀
  schema/index.html
Due: none

Data-free AWQ prototype.
  nncf/quantization/algorithms/weight_compression/awq.py
Due: ptq

Enable dependabot for python (#3307)
  .github/dependabot.yml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@d3dd9dd39ba37d23cbf2632c0a6c7749240f635a 🚀
  schema/index.html
Due: none

[NNCF] (#3249) Remove backend-specific methods from common layer attributes (#3287)
  nncf/common/graph/layer_attributes.py
  nncf/common/graph/utils.py
  nncf/experimental/common/pruning/nodes_grouping.py
  nncf/experimental/tensorflow/quantization/algorithm.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
  nncf/experimental/torch/sparsity/movement/layers.py
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/init_range.py
  nncf/torch/sparsity/const/algo.py
  nncf/torch/sparsity/magnitude/algo.py
  nncf/torch/sparsity/rb/algo.py
Due: common, torch

Deploying to doc_pages from @ openvinotoolkit/nncf@7996e7358da42d932578b0a34add47034333b190 🚀
  schema/index.html
Due: none

f
  examples/tensorflow/object_detection/main.py
  nncf/common/accuracy_aware_training/training_loop.py
Due: common

styleguide
  docs/styleguide/PyGuide.md
Due: none

f
  tests/torch2/function_hook/helpers.py
Due: none

Addressed comments
  nncf/openvino/graph/node_utils.py
  nncf/openvino/optimized_functions/functions.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/native/test_node_utils.py
Due: openvino, ptq

check overridden forward in _replicate_for_data_parallel
  nncf/experimental/torch2/function_hook/wrapper.py
  tests/torch2/function_hook/test_train.py
Due: none

less atol for not linux
  tests/torch/sparsity/movement/test_model_saving.py
Due: none

test
  .github/workflows/precommit.yml
Due: none

Revert "test"
  .github/workflows/precommit.yml
Due: none

[TESTS] Remove tinyllama_scale_estimation_group_size_64 from reference (#3305)
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/data/wc_reference_data_2025.0.yaml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@edc8eabb403141e009618f6d2cf80816890d6064 🚀
  schema/index.html
Due: none

[gha] set open-pull-requests-limit 10 (#3313)
  .github/dependabot.yml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@3e087cd8b40215cdb3cf8f98eb2907a04215acb5 🚀
  schema/index.html
Due: none

c
  tests/torch/sparsity/movement/test_model_saving.py
Due: none

Add HAWQ optimization
  nncf/openvino/optimized_functions/functions.py
  nncf/openvino/optimized_functions/models.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/optimized_functions/test_compression_functions.py
Due: torch, openvino, ptq

Remove unnecessary return_nodes argument
  nncf/openvino/optimized_functions/models.py
Due: openvino

update reference graphs
  tests/torch/data/reference_graphs/fx/dynamic_shapes/post_quantization_compressed/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/quantized/swin_v2_s.dot
Due: none

apply suggested changes
  tests/torch/fx/test_models.py
  tests/torch/fx/test_statistics_aggregator.py
Due: none

pre commit fix
  tests/torch/fx/test_statistics_aggregator.py
Due: none

Revert "Add HAWQ optimization"
  nncf/openvino/optimized_functions/functions.py
  nncf/openvino/optimized_functions/models.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/optimized_functions/test_compression_functions.py
Due: torch, openvino, ptq

limit
  .github/dependabot.yml
Due: none

Introduce OVTensorWeightCompressionAlgoBackend
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
Due: torch, openvino, ptq

update reference graph
  tests/torch/data/reference_graphs/fx/dynamic_shapes/quantized/swin_v2_s.dot
Due: none

Data free AWQ.
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/quantize_model.py
Due: ptq

Fixed style.
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/quantize_model.py
Due: ptq

trivy
  .github/scripts/trivy_html.tpl
  .github/workflows/nightly.yml
  .github/workflows/sdl_nightly.yml
Due: none

Fixed shape of data item int test.
  tests/openvino/native/quantization/test_weights_compression.py
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
