Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

Added centering
  README.md
Due: none

Align left
  README.md
Due: none

Hide demo notebooks by default
  README.md
Due: none

Tweaks
  README.md
Due: none

Pre-commit
  README.md
Due: none

Added new notebooks
  README.md
Due: none

Tweak description
  README.md
Due: none

Remove hiding
  README.md
Due: none

Add test (#47)
  tests/torch/nas/test_search.py
Due: none

Adjust OV Constant to NF4 dtype
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

replied to comments
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/dynamic_graph/trace_tensor.py
  nncf/torch/model_creation.py
Due: torch

fixed rebase issues
  nncf/torch/dynamic_graph/context.py
Due: torch

Revert file deleted by mistake
  nncf/openvino/graph/layout.py
Due: openvino

RNSGA-II - BootstrapNAS sub-network search (#1235)
  examples/experimental/torch/classification/bootstrap_nas.py
  examples/experimental/torch/classification/bootstrap_nas_search.py
  nncf/config/schemata/experimental_schema.py
  nncf/experimental/torch/nas/bootstrapNAS/__init__.py
  nncf/experimental/torch/nas/bootstrapNAS/search/search.py
  tests/torch/nas/creators.py
  tests/torch/nas/models/synthetic.py
  tests/torch/nas/test_elastic_width.py
  tests/torch/nas/test_search.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@4660729f2c28947437c5c6fe4e240117c4f29274 🚀
  schema/index.html
Due: none

1) Added inplace transformation option for OV backend. 2) Fixed bug in AWQ.
  nncf/common/factory.py
  nncf/openvino/graph/model_transformer.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: common, openvino, ptq

merge
  tests/post_training/conftest.py
Due: none

single commit
  nncf/parameters.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/compression_info.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/quantize.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: openvino, ptq

replied to comments
  nncf/torch/dynamic_graph/context.py
  nncf/torch/dynamic_graph/trace_tensor.py
  nncf/torch/graph/graph_builder.py
Due: torch

Return original model for models without target pattern.
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

replied to comments
  nncf/torch/dynamic_graph/wrappers.py
Due: torch

Added non-vnni test make command
  Makefile
  tests/openvino/native/quantization/test_sanity.py
  tests/openvino/pot/quantization/test_sanity.py
  tests/shared/helpers.py
Due: none

Update MLFlow version
  examples/torch/requirements.txt
Due: none

Apply comment
  examples/torch/requirements.txt
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@4b903a5804ca57104dfc5fc18584f0d514b7d0ba 🚀
  schema/index.html
Due: none

Fixed code style.
  nncf/common/factory.py
  nncf/openvino/graph/model_transformer.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq_patterns.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: common, openvino, ptq

Fix JSON schema link in docs
  .github/workflows/build_schema_page.yml
  docs/api/source/index.rst
  docs/api/source/schema/index.rst
Due: none

Update MLFlow version (#2325)
  examples/torch/requirements.txt
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@ed063291a7b1e6ef7abb04e4c5532fbe53032678 🚀
  schema/index.html
Due: none

Fixed parameters after merge.
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

Fix JSON schema link in docs (#2326)
  .github/workflows/build_schema_page.yml
  docs/api/source/index.rst
  docs/api/source/schema/index.rst
Due: none

Removed old comment about hiddne table
  README.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@eab941a2f22043131c29e477fb7cb63e9f5d8468 🚀
  schema/index.html
Due: none

Fix instruction set in openvino precommit
  Makefile
  tests/openvino/native/quantization/test_sanity.py
  tests/openvino/pot/quantization/test_sanity.py
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
