Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

Added const with types
  nncf/openvino/graph/model_transformer.py
Due: openvino

Comments
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/torch/dynamic_graph/layer_attributes_handlers.py
  nncf/torch/graph/graph.py
  nncf/torch/graph/operator_metatypes.py
  tests/post_training/test_templates/models.py
  tests/torch/test_layer_attributes.py
  tests/torch/test_models/synthetic.py
  tests/torch/test_nncf_graph.py
Due: torch, ptq

Added a demo version of the new demos
  README.md
  docs/Demos.md
Due: none

Proper centering
  README.md
  docs/Demos.md
Due: none

Tweak
  README.md
  docs/Demos.md
Due: none

Added rulers for ease of readability
  README.md
Due: none

elementwise propagate mask
  nncf/experimental/common/pruning/operations.py
  tests/common/pruning/test_symbolic_mask_processor.py
Due: none

update urls
  tests/onnx/quantization/test_ptq_regression.py
Due: none

change input
  tests/torch/data/reference_graphs/pruning_groups/1_layer_BERT.dot
  tests/torch/data/reference_graphs/pruning_groups/MobileBERT.dot
  tests/torch/data/reference_graphs/pruning_groups/RoBERTa.dot
  tests/torch/data/reference_graphs/pruning_groups/larger_BERT.dot
  tests/torch/pruning/experimental/test_nodes_grouping.py
Due: none

fix
  nncf/experimental/common/pruning/operations.py
Due: none

Update links to ONNX models (#2311)
  tests/onnx/quantization/test_ptq_regression.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@98b51d28d16987ef27d1082b0cf5c6babf2ebf82 🚀
  schema/index.html
Due: none

fix sanity tests
  tests/torch/quantization/test_sanity_sample.py
  tests/torch/test_sanity_sample.py
Due: none

Comments
  nncf/common/graph/transformations/commands.py
  nncf/torch/external_hook.py
  nncf/torch/graph/transformations/commands.py
Due: common, torch

ExternalQuantizerCallHook is moved to external_hooks.py
  nncf/torch/checkpoint_loading.py
  nncf/torch/external_hook.py
  nncf/torch/external_hooks.py
  nncf/torch/model_transformer.py
  nncf/torch/nncf_network.py
  nncf/torch/quantization/algo.py
  tests/torch/composite/test_sparsity_quantization.py
  tests/torch/quantization/test_range_init.py
  tests/torch/test_backward_compat.py
  tests/torch/test_load_model_state.py
  tests/torch/test_model_transformer.py
  tests/torch/test_nncf_network.py
Due: torch

Comments
  nncf/torch/graph/transformations/commands.py
  nncf/torch/model_transformer.py
Due: torch

PTSharedFnInsertionCommand is introduced
  nncf/common/graph/transformations/commands.py
  nncf/torch/external_hook.py
  nncf/torch/graph/transformations/commands.py
  nncf/torch/model_transformer.py
  nncf/torch/nncf_network.py
  nncf/torch/quantization/external_quantizer.py
  tests/torch/test_model_transformer.py
Due: common, torch

accelerate==0.24.1
  tests/torch/requirements.txt
Due: none

Module parameters state dict test
  nncf/torch/external_hooks.py
  tests/torch/test_model_transformer.py
Due: torch

AWQ first iteration
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/quantize_model.py
Due: openvino, ptq

Added AWQ graph patterns.
  nncf/quantization/algorithms/weight_compression/awq_patterns.py
Due: ptq

Move external quantizer to separate file back
  nncf/torch/checkpoint_loading.py
  nncf/torch/external_hook.py
  nncf/torch/model_transformer.py
  nncf/torch/nncf_network.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/external_quantizer.py
  tests/torch/composite/test_sparsity_quantization.py
  tests/torch/quantization/test_range_init.py
  tests/torch/test_backward_compat.py
  tests/torch/test_load_model_state.py
  tests/torch/test_model_transformer.py
  tests/torch/test_nncf_network.py
Due: torch

comment
  nncf/experimental/common/pruning/operations.py
Due: none

fixtures
  tests/torch/conftest.py
  tests/torch/test_sota_checkpoints.py
Due: none

Fix pt sanity tests (#2312)
  tests/torch/conftest.py
  tests/torch/quantization/test_sanity_sample.py
  tests/torch/requirements.txt
  tests/torch/test_sanity_sample.py
  tests/torch/test_sota_checkpoints.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@4841cff20c760bb0ec7719b6f166a4de1eb5c341 🚀
  schema/index.html
Due: none

[PTSQ 1/4][PTQ][Torch][SQ] PTSharedFnInsertionCommand and PTWeightUpdateCommand are introduced (#2304)
  nncf/torch/external_hook.py
  nncf/torch/graph/transformations/commands.py
  nncf/torch/model_transformer.py
  nncf/torch/nncf_network.py
  nncf/torch/quantization/external_quantizer.py
  tests/torch/composite/test_sparsity_quantization.py
  tests/torch/quantization/test_range_init.py
  tests/torch/test_model_transformer.py
  tests/torch/test_nncf_network.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@b06a1f8cf7745a9364a8d49137eed695c17f4e8d 🚀
  _sources/autoapi/nncf/torch/external_hook/index.rst.txt
  autoapi/nncf/torch/external_hook/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

Fixed graph representation for searching.
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

Nested and successive hooks for PT backend
  nncf/torch/dynamic_graph/context.py
  nncf/torch/graph/graph_builder.py
  nncf/torch/nncf_network.py
  nncf/torch/tensor.py
  tests/common/experimental/test_statistic_collector.py
  tests/common/test_statistics_aggregator.py
  tests/onnx/test_statistics_aggregator.py
  tests/openvino/native/test_statistic_collector.py
  tests/openvino/native/test_statistics_aggregator.py
  tests/torch/helpers.py
  tests/torch/ptq/test_statistic_collector.py
  tests/torch/test_model_transformer.py
  tests/torch/test_statistics_aggregator.py
Due: torch

Fixed matching.
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

[PTQ] Quantization passes for graph with several connected components (#2276)
  nncf/common/graph/layer_attributes.py
  nncf/openvino/graph/model_utils.py
  nncf/quantization/algorithms/accuracy_control/backend.py
  nncf/quantization/algorithms/accuracy_control/openvino_backend.py
  nncf/quantization/algorithms/accuracy_control/ranker.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/passes.py
  nncf/torch/dynamic_graph/layer_attributes_handlers.py
  nncf/torch/graph/graph.py
  nncf/torch/graph/operator_metatypes.py
  tests/common/accuracy_control/backend.py
  tests/common/accuracy_control/test_ranking.py
  tests/common/data/reference_graphs/passes/test_constant_filtering_model_after.dot
  tests/common/data/reference_graphs/passes/test_constant_filtering_model_after0.dot
  tests/common/data/reference_graphs/passes/test_constant_filtering_model_after1.dot
  tests/common/data/reference_graphs/passes/test_constant_filtering_model_before.dot
  tests/common/data/reference_graphs/passes/test_constant_filtering_model_before0.dot
  tests/common/data/reference_graphs/passes/test_constant_filtering_model_before1.dot
  tests/common/quantization/metatypes.py
  tests/common/quantization/test_passes.py
  tests/common/quantization/test_quantizer_removal.py
  tests/post_training/test_templates/models.py
  tests/post_training/test_templates/test_ptq_params.py
  tests/post_training/test_templates/test_quantizer_config.py
  tests/torch/ptq/helpers.py
  tests/torch/test_graph_building.py
  tests/torch/test_layer_attributes.py
  tests/torch/test_models/synthetic.py
  tests/torch/test_nncf_graph.py
Due: common, torch, onnx, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@c6ba888ef8fc65a0c9633d0c8503e61c1e042a74 🚀
  schema/index.html
Due: none

Apply comments
  nncf/openvino/graph/model_transformer.py
  nncf/openvino/graph/transformations/commands.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  tests/openvino/native/quantization/test_graphs.py
  tests/openvino/native/test_model_transformer.py
Due: torch, onnx, openvino, ptq

Apply comment
  nncf/openvino/graph/model_transformer.py
Due: openvino

Fix
  nncf/quantization/algorithms/min_max/backend.py
Due: ptq

Fix tests
  nncf/openvino/quantization/backend_parameters.py
  nncf/openvino/quantization/quantize_model.py
  tests/common/quantization/test_minmax.py
Due: openvino

Disable tests
  tests/openvino/native/test_model_transformer.py
  tests/openvino/native/test_node_utils.py
Due: none

Added PrePostProcessor for FP32 outputs
  nncf/openvino/graph/model_transformer.py
Due: openvino
