Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

Add xfail to activation sparsity OV export test (#3390)
  tests/torch/experimental/sparsify_activations/test_algo.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@cf705c64ac9d2016fdd7d8f6aca9fdfc0ab3402c 🚀
  schema/index.html
Due: none

[Release] Add xfail to activation sparsity OV export test (#3393)
  tests/torch/experimental/sparsify_activations/test_algo.py
Due: none

fix len() of unsized object
  nncf/quantization/algorithms/bias_correction/algorithm.py
Due: ptq

timeout
  .github/workflows/api_set_label.yml
  .github/workflows/build_and_publish_doc.yml
  .github/workflows/build_schema_page.yml
  .github/workflows/examples.yml
  .github/workflows/install.yml
  .github/workflows/labeler.yml
  .github/workflows/model_hub.yml
  .github/workflows/mypy.yml
  .github/workflows/pre-commit-linters.yml
  .github/workflows/python-publish.yml
Due: none

condition for update_labels
  .github/workflows/api_set_label.yml
Due: none

Fixed bug with FQ_LORA for shared weights
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  tests/cross_fw/shared/nx_graph.py
  tests/torch/data/reference_graphs/compress_weights/fq_lora/ShortTransformer_all_layers_False.dot
  tests/torch/data/reference_graphs/compress_weights/fq_lora/ShortTransformer_all_layers_True.dot
  tests/torch/ptq/test_fq_lora.py
Due: torch, ptq

Fixed strip for post hook
  nncf/torch/quantization/strip.py
  tests/torch/ptq/test_fq_lora.py
Due: torch

renamed
  tests/cross_fw/shared/nx_graph.py
  tests/torch/data/reference_graphs/compress_weights/fq_lora/shared_weights_all_layers_False.dot
  tests/torch/data/reference_graphs/compress_weights/fq_lora/shared_weights_all_layers_True.dot
  tests/torch/ptq/test_fq_lora.py
Due: none

[gha] set timeout (#3396)
  .github/workflows/api_set_label.yml
  .github/workflows/build_and_publish_doc.yml
  .github/workflows/build_schema_page.yml
  .github/workflows/examples.yml
  .github/workflows/install.yml
  .github/workflows/labeler.yml
  .github/workflows/model_hub.yml
  .github/workflows/mypy.yml
  .github/workflows/pre-commit-linters.yml
  .github/workflows/python-publish.yml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@ff963e4241321d8fba548840a954410e1338af5b 🚀
  schema/index.html
Due: none

Fixed bug with FQ_LORA for shared weights (#3397)
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/torch/quantization/strip.py
  tests/cross_fw/shared/nx_graph.py
  tests/torch/data/reference_graphs/compress_weights/fq_lora/shared_weights_all_layers_False.dot
  tests/torch/data/reference_graphs/compress_weights/fq_lora/shared_weights_all_layers_True.dot
  tests/torch/ptq/test_fq_lora.py
Due: torch, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@1290eab5acbd1689d7422296f443ea156258ff2c 🚀
  schema/index.html
Due: none

Added common formula to strip
  nncf/torch/quantization/layers.py
  nncf/torch/quantization/strip.py
Due: torch

Update ReleaseNotes.md
  ReleaseNotes.md
Due: none

cuda job for test examples
  .github/workflows/examples.yml
  .github/workflows/precommit.yml
  tests/cross_fw/examples/.test_durations
  tests/cross_fw/examples/conftest.py
  tests/cross_fw/examples/test_examples.py
Due: none

test cuda runs only
  .github/workflows/examples.yml
  .github/workflows/mypy.yml
  .github/workflows/precommit.yml
  .github/workflows/sdl.yml
Due: none

Proper handling cuda/cpu tests for weight compression (#3389)
  tests/torch/fx/test_compress_weights.py
  tests/torch/ptq/test_fq_lora.py
  tests/torch/ptq/test_weights_compression.py
  tests/torch2/function_hook/quantization/test_weights_compression.py
Due: none

add DataFreeCriterion for onnx
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
Due: ptq

Update strip with common formula
  nncf/torch/quantization/strip.py
Due: torch

Update test for strip part
  nncf/torch/quantization/layers.py
  tests/torch/quantization/test_strip.py
Due: torch

add tests
  nncf/quantization/algorithms/weight_compression/onnx_backend.py
  tests/onnx/quantization/test_weights_compression.py
Due: onnx, ptq

Rollback
  nncf/torch/quantization/layers.py
Due: torch

Update with test
  tests/torch/quantization/test_strip.py
Due: none

Rollback
  nncf/torch/quantization/strip.py
Due: torch

Fix
  tests/torch/quantization/test_strip.py
Due: none

add opset version checks
  nncf/onnx/quantization/quantize_model.py
  tests/onnx/quantization/test_weights_compression.py
Due: onnx

optimize set_weight transformation to O(1)
  nncf/onnx/graph/metatypes/groups.py
  nncf/onnx/graph/model_transformer.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/onnx_backend.py
Due: onnx, ptq

Minor fixes
  ReleaseNotes.md
Due: none

polishing
  nncf/onnx/graph/onnx_helper.py
  nncf/quantization/algorithms/weight_compression/onnx_backend.py
Due: onnx, ptq

put packing to onnx helpers
  nncf/onnx/graph/onnx_helper.py
  nncf/quantization/algorithms/weight_compression/onnx_backend.py
Due: onnx, ptq

polishing
  nncf/onnx/graph/model_transformer.py
  nncf/quantization/algorithms/weight_compression/onnx_backend.py
Due: onnx, ptq

Update
  ReleaseNotes.md
Due: none

Cleanup
  ReleaseNotes.md
Due: none

Apply comments
  tests/torch/quantization/test_strip.py
Due: none

reimplement packing
  nncf/onnx/graph/onnx_helper.py
  nncf/quantization/algorithms/weight_compression/onnx_backend.py
  tests/onnx/test_onnx_helpers.py
Due: onnx, ptq

draft for enabling conformance for wc
  nncf/quantization/quantize_model.py
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/post_training/requirements.txt
Due: ptq

Revert "draft for enabling conformance for wc"
  nncf/quantization/quantize_model.py
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/post_training/requirements.txt
Due: ptq

Revert "reimplement packing"
  nncf/onnx/graph/onnx_helper.py
  nncf/quantization/algorithms/weight_compression/onnx_backend.py
  tests/onnx/test_onnx_helpers.py
Due: onnx, ptq
