Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

Update sota_checkpoints_eval
  tests/torch/sota_checkpoints_eval.json
Due: none

Update xfail msg format
  tests/torch/sota_checkpoints_eval.json
Due: none

fbc
  nncf/common/factory.py
  nncf/experimental/torch2/function_hook/extractor.py
  nncf/experimental/torch2/function_hook/graph/build_graph_mode.py
  nncf/experimental/torch2/function_hook/nncf_graph/nncf_graph_builder.py
  nncf/experimental/torch2/model_transformer.py
  nncf/quantization/algorithms/fast_bias_correction/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/model_graph_manager.py
  nncf/torch/model_transformer.py
  tests/torch/test_model_graph_manager.py
  tests/torch2/function_hook/quantization/test_fast_bias_correction.py
  tests/torch2/function_hook/test_extractor.py
Due: common, torch, ptq

Update ReleaseNotes.md (#3214) (#3238)
  ReleaseNotes.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@879e80c69b6cb5069236bcf6def7e70580c08cd3 🚀
  schema/index.html
Due: none

[Fixed]: Onnx function transform error in onnx ptq
  nncf/onnx/graph/model_transformer.py
Due: onnx

[Conformance][TorchFX] Run CUDA test only with --cuda argument enabled
  tests/post_training/test_quantize_conformance.py
Due: none

ConstantLayerAttributes
  nncf/experimental/torch2/function_hook/extractor.py
  nncf/experimental/torch2/function_hook/nncf_graph/nncf_graph_builder.py
  nncf/torch/model_graph_manager.py
  tests/torch2/function_hook/quantization/test_fast_bias_correction.py
Due: torch

mypy
  nncf/experimental/torch2/function_hook/extractor.py
  nncf/experimental/torch2/function_hook/nncf_graph/nncf_graph_builder.py
Due: none

f
  nncf/experimental/torch2/function_hook/nncf_graph/nncf_graph_builder.py
Due: none

patch
  nncf/experimental/torch2/function_hook/extractor.py
  nncf/torch/__init__.py
  nncf/torch/dynamic_graph/patch_pytorch.py
Due: torch

[Conformance][TorchFX] Run CUDA test only with --cuda argument enabled (#3259)
  tests/post_training/test_quantize_conformance.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@14c96db4b46463e0b9043b12936d082f417bbe7f 🚀
  schema/index.html
Due: none

clean
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/torch/model_graph_manager.py
Due: torch, ptq

isc
  examples/tensorflow/common/object_detection/architecture/fpn.py
  nncf/common/quantization/quantizer_setup.py
  nncf/quantization/algorithms/bias_correction/torch_fx_backend.py
  nncf/tensorflow/quantization/init_range.py
  nncf/torch/model_creation.py
  pyproject.toml
  tests/openvino/tools/calibrate.py
Due: common, torch, tensorflow, ptq

[ruff] Enable ISC rule (#3261)
  examples/tensorflow/common/object_detection/architecture/fpn.py
  nncf/common/quantization/quantizer_setup.py
  nncf/quantization/algorithms/bias_correction/torch_fx_backend.py
  nncf/tensorflow/quantization/init_range.py
  nncf/torch/model_creation.py
  pyproject.toml
  tests/openvino/tools/calibrate.py
Due: common, torch, tensorflow, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@c48258276557c3b91b39389e97c75847fea429c9 🚀
  schema/index.html
Due: none

APply comment
  examples/llm_compression/openvino/smollm2_360m_fp8/requirements.txt
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/test_examples.py
Due: none

Xfails for OV 2025.0 (#3257)
  examples/llm_compression/openvino/smollm2_360m_fp8/requirements.txt
  tests/torch/sota_checkpoints_eval.json
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@66ee9da62d8c02372766336fec6a9c3213ac858a 🚀
  schema/index.html
Due: none

Embedding qconfig list is extended for CPU devices / tests fixes
  nncf/common/hardware/configs/cpu.json
  tests/cross_fw/test_templates/test_quantizer_config.py
  tests/onnx/data/reference_scales/embedding_model_performance.json
  tests/onnx/quantization/test_qdq_params_calculation.py
Due: common

[HWConfig] narrow_range parameter is introduced in hardware config
  nncf/common/hardware/config.py
  nncf/common/hardware/configs/cpu.json
  nncf/common/hardware/configs/gpu.json
  nncf/common/hardware/configs/npu.json
  nncf/common/hardware/configs/template.json
  nncf/common/quantization/config_assignment.py
  nncf/common/quantization/quantizer_propagation/graph.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/common/quantization/quantizer_setup.py
  nncf/common/quantization/structs.py
  nncf/config/schemata/defaults.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  nncf/quantization/fake_quantize.py
  tests/common/quantization/test_quantizer_propagation_graph.py
  tests/common/quantization/test_quantizer_propagation_solver.py
  tests/cross_fw/test_templates/fq_params/fq_params.json
  tests/cross_fw/test_templates/test_calculate_quantizer_parameters.py
  tests/torch/ptq/test_calculation_quantizer_params.py
  tests/torch/quantization/test_algo_quantization.py
Due: common, torch, ptq

mark EbmerddingBag with q8_w_sym_any_nr
  nncf/common/hardware/configs/npu.json
  tests/cross_fw/test_templates/fq_params/fq_params.json
Due: common

Default value is reused across nncf
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/common/quantization/quantizer_setup.py
Due: common

More references
  nncf/common/hardware/configs/cpu.json
  nncf/common/hardware/configs/npu.json
  nncf/common/quantization/structs.py
  tests/cross_fw/test_templates/fq_params/fq_params.json
  tests/onnx/data/reference_scales/embedding_model_performance.json
  tests/openvino/native/data/2024.1/reference_scales/IntegerModel_performance.json
  tests/openvino/native/data/2024.1/reference_scales/UnifiedEmbeddingModel_performance.json
  tests/torch/data/reference_graphs/quantized/autoq/inception_v3_device_NPU__eval_subset_ratio_0.4__with_ignored_scopes.dot
  tests/torch/data/reference_graphs/quantized/autoq/inception_v3_device_NPU__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/mobilenet_v2_tv_092_device_NPU.dot
  tests/torch/data/reference_graphs/quantized/autoq/mobilenet_v2_tv_092_device_NPU__eval_subset_ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/mobilenet_v2_tv_092_device_NPU__eval_subset_ratio_0.4__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/mobilenet_v2_tv_092_device_NPU__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/resnet50_device_NPU.dot
  tests/torch/data/reference_graphs/quantized/autoq/resnet50_device_NPU__eval_subset_ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/resnet50_device_NPU__eval_subset_ratio_0.4__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/resnet50_device_NPU__iter_number_4__warmup_iter_number_2.dot
  tests/torch/data/reference_graphs/quantized/autoq/resnet50_device_NPU__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/squeezenet1_1_device_NPU.dot
  tests/torch/data/reference_graphs/quantized/autoq/ssd_vgg_512_test_device_NPU__eval_subset_ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/ssd_vgg_512_test_device_NPU__ratio_0.4.dot
Due: common

level-low/level-high removed from HWConfig
  nncf/common/hardware/config.py
  nncf/common/hardware/configs/cpu.json
  nncf/common/hardware/configs/gpu.json
  nncf/common/hardware/configs/npu.json
  nncf/common/hardware/configs/template.json
Due: common

comments
  nncf/experimental/torch2/function_hook/nncf_graph/nncf_graph_builder.py
  nncf/torch/model_graph_manager.py
Due: torch

c
  nncf/torch/model_graph_manager.py
Due: torch

remove strip
  README.md
  docs/usage/training_time_compression/quantization_aware_training/Usage.md
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/quantization_aware_training/tensorflow/mobilenet_v2/main.py
Due: none

add xfail
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/test_quantize_conformance.py
Due: none

fix merge typos
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
Due: none

set release tag for wwb
  tests/post_training/requirements.txt
Due: none

layer norm metatypes update
  nncf/torch/graph/operator_metatypes.py
Due: torch

add finally
  tests/post_training/test_quantize_conformance.py
Due: none

[OpenVINOQuantizer] return annotated model
  nncf/experimental/torch/fx/quantization/quantizer/openvino_quantizer.py
Due: openvino

upd xfail_msg
  tests/post_training/test_quantize_conformance.py
Due: none

include aten layernorm in backends and metatype lookup list
  nncf/common/quantization/config_assignment.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/graph/pattern_operations.py
  nncf/torch/pruning/operations.py
  nncf/torch/quantization/default_quantization.py
Due: common, torch, ptq

update reference files
  tests/torch/data/reference_graphs/fx/reference_metatypes/swin_v2_s.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/vit_b_16.json
Due: none
