Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

update accuracy_tolerance
  tests/cross_fw/examples/example_scope.json
Due: none

Add todo
  nncf/openvino/optimized_functions/models.py
Due: openvino

Computation of compression parameters via OpenVINO models (#2727)
  docs/api/source/conf.py
  nncf/common/logging/logger.py
  nncf/common/utils/backend.py
  nncf/common/utils/caching.py
  nncf/openvino/graph/node_utils.py
  nncf/openvino/optimized_functions/__init__.py
  nncf/openvino/optimized_functions/functions.py
  nncf/openvino/optimized_functions/models.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/config.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/lora_correction.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/fake_quantize.py
  nncf/tensor/definitions.py
  nncf/tensor/functions/__init__.py
  nncf/tensor/functions/numeric.py
  nncf/tensor/functions/numpy_numeric.py
  nncf/tensor/functions/ov_numeric.py
  nncf/tensor/tensor.py
  nncf/tensorflow/sparsity/rb/algorithm.py
  nncf/torch/quantization/algo.py
  tests/common/utils/test_cache_results_decorator.py
  tests/cross_fw/test_templates/template_test_nncf_tensor.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/native/test_node_utils.py
  tests/openvino/native/test_tensor.py
  tests/openvino/optimized_functions/test_compression_functions.py
  tests/openvino/optimized_functions/test_ov_model_parameters.py
Due: common, torch, tensorflow, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@f3f232fa841908dcf352cf8f840288fac43a0cd2 🚀
  _sources/autoapi/nncf/common/utils/caching/index.rst.txt
  _sources/autoapi/nncf/openvino/optimized_functions/functions/index.rst.txt
  _sources/autoapi/nncf/openvino/optimized_functions/index.rst.txt
  _sources/autoapi/nncf/openvino/optimized_functions/models/index.rst.txt
  _sources/autoapi/nncf/tensor/functions/ov_numeric/index.rst.txt
  autoapi/nncf/common/utils/caching/index.html
  autoapi/nncf/openvino/optimized_functions/functions/index.html
  autoapi/nncf/openvino/optimized_functions/index.html
  autoapi/nncf/openvino/optimized_functions/models/index.html
  autoapi/nncf/tensor/functions/ov_numeric/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

Do not use infer_request.results
  nncf/openvino/optimized_functions/models.py
Due: openvino

rebase
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
Due: torch, ptq

Update nncf_graph_builder.py
  nncf/openvino/graph/nncf_graph_builder.py
Due: openvino

quantizer_propagation_rule default value for OpenVINOQuantizer
  nncf/experimental/quantization/quantizers/openvino_quantizer.py
Due: openvino

Comments
  nncf/experimental/quantization/quantizers/openvino_quantizer.py
Due: openvino

No quantization annotation copy
  nncf/experimental/quantization/quantizers/openvino_quantizer.py
Due: openvino

Comments
  nncf/experimental/quantization/quantizers/openvino_adapter.py
  nncf/experimental/quantization/quantizers/openvino_quantizer.py
  nncf/experimental/torch/fx/quantization/quantize_pt2e.py
Due: openvino

OpenVINOQuantizer: SharedQuantizationSpec support
  nncf/experimental/quantization/quantizers/openvino_quantizer.py
Due: openvino

Comments/ SharedQuantizationSpec test
  nncf/experimental/quantization/quantizers/openvino_quantizer.py
  tests/torch/fx/test_quantizer.py
Due: openvino

[TorchFX] OpenVINOQuantizer
  nncf/experimental/quantization/quantizers/openvino_quantizer.py
  nncf/experimental/torch/fx/quantization/quantize_pt2e.py
  tests/torch/data/reference_graphs/fx/experimental/OpenVINOQuantizer/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/experimental/OpenVINOQuantizer/resnet18.dot
  tests/torch/data/reference_graphs/fx/experimental/OpenVINOQuantizer/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/experimental/OpenVINOQuantizer/synthetic_transformer.dot
  tests/torch/data/reference_graphs/fx/experimental/OpenVINOQuantizer/unet.dot
  tests/torch/data/reference_graphs/fx/experimental/OpenVINOQuantizer/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/experimental/OpenVINOQuantizer/yolo11n_sdpa_block.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/resnet18.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/synthetic_transformer.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/unet.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/yolo11n_sdpa_block.dot
  tests/torch/fx/test_quantizer.py
Due: openvino

Test unified scales actual values after the torch.ao convert_pt2e
  tests/torch/fx/test_quantizer.py
  tests/torch/test_models/synthetic.py
Due: none

Using >= is being deprecated
  nncf/openvino/optimized_functions/models.py
Due: openvino

Use regular division inside Scale Estimation
  nncf/openvino/optimized_functions/functions.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: openvino, ptq

Fix tests
  tests/openvino/native/test_nncf_graph_builder.py
Due: none

add tests
  tests/tensorflow/quantization/test_strip.py
Due: none

Add debug conditions
  nncf/openvino/optimized_functions/functions.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: openvino, ptq

test
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/torch/model_graph_manager.py
  tests/torch/test_model_graph_manager.py
Due: torch, ptq

Comment / SharedQuantizerTest refs as a params
  nncf/experimental/quantization/quantizers/openvino_quantizer.py
  tests/torch/fx/test_quantizer.py
Due: openvino

Do not always get ov tensor
  nncf/openvino/optimized_functions/models.py
  nncf/tensor/functions/openvino_numeric.py
Due: openvino

Rename ov_numeric to openvino_numeric
  docs/api/source/conf.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/test_tensor.py
  tests/openvino/optimized_functions/test_compression_functions.py
Due: openvino, ptq

Revert "Add debug conditions"
  nncf/openvino/optimized_functions/functions.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: openvino, ptq

Added sample test
  tests/openvino/native/data/2024.6/reference_graphs/original_nncf_graph/FPModel.dot
  tests/openvino/native/test_nncf_graph_builder.py
Due: none

Change test
  tests/openvino/native/data/2024.6/reference_graphs/original_nncf_graph/nf4_FPModel.dot
  tests/openvino/native/test_nncf_graph_builder.py
Due: none

Fix brackets
  nncf/openvino/optimized_functions/models.py
Due: openvino

add test on scale estimation
  nncf/torch/engine.py
  tests/cross_fw/test_templates/template_test_weights_compression.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch/ptq/test_weights_compression.py
Due: torch

Update mockers
  tests/openvino/optimized_functions/test_ov_model_parameters.py
Due: none

OV nf4 support (#3209)
  nncf/openvino/graph/nncf_graph_builder.py
  tests/openvino/native/data/2024.6/reference_graphs/original_nncf_graph/nf4_FPModel.dot
  tests/openvino/native/test_nncf_graph_builder.py
Due: openvino

Deploying to doc_pages from @ openvinotoolkit/nncf@5414dd62984b63969a9c63ec6a22afa4fe9596e8 🚀
  schema/index.html
Due: none

add check on reducing error after SE
  tests/cross_fw/test_templates/template_test_weights_compression.py
Due: none

upd atol for model (difference across devices)
  tests/post_training/data/wc_reference_data.yaml
Due: none

no copy
  tests/cross_fw/test_templates/template_test_weights_compression.py
Due: none

new line
  tests/post_training/data/wc_reference_data.yaml
Due: none

polishing
  nncf/torch/engine.py
  tests/cross_fw/test_templates/template_test_weights_compression.py
  tests/post_training/data/wc_reference_data.yaml
Due: torch

Follow up to #2727 (#3211)
  docs/api/source/conf.py
  nncf/openvino/optimized_functions/models.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/tensor/functions/openvino_numeric.py
  tests/openvino/native/test_tensor.py
  tests/openvino/optimized_functions/test_compression_functions.py
  tests/openvino/optimized_functions/test_ov_model_parameters.py
Due: openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@1067d490bc1f4fad17603a61eb539f77b9471626 🚀
  _sources/autoapi/nncf/tensor/functions/openvino_numeric/index.rst.txt
  _sources/autoapi/nncf/tensor/functions/ov_numeric/index.rst.txt
  autoapi/nncf/tensor/functions/openvino_numeric/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

rm torch2 backend
  nncf/common/factory.py
  nncf/common/graph/patterns/manager.py
  nncf/common/utils/backend.py
  nncf/experimental/common/check_feature.py
  nncf/experimental/torch2/model_transformer.py
  nncf/experimental/torch2/quantization/quantize_model.py
  nncf/experimental/torch2/statistics/aggregator.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/torch2_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/torch/__init__.py
  nncf/torch/graph/transformations/command_creation.py
  pyproject.toml
  tests/torch2/function_hook/quantization/test_min_max.py
Due: common, torch, ptq
