Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

Updated.
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

Bump OV opset from 9 to 13
  nncf/openvino/graph/model_transformer.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_quantize_api.py
  tests/openvino/native/test_layer_attributes.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/native/test_node_utils.py
  tests/openvino/native/test_statistics_aggregator.py
  tests/openvino/test_telemetry.py
Due: openvino, ptq

Fixed weights computation.
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

shift_dim
  nncf/experimental/common/pruning/operations.py
  tests/common/pruning/test_symbolic_mask_processor.py
Due: none

fn name
  nncf/experimental/common/pruning/operations.py
Due: none

Remove BF16 from testing
  tests/openvino/native/quantization/test_fq_params_calculation.py
Due: none

keys
  nncf/experimental/common/pruning/operations.py
Due: none

Fill num_edges_expected for each torch metatype
  nncf/torch/graph/operator_metatypes.py
Due: torch

Fix for per-channel activations
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/fake_quantize.py
Due: ptq

Added FP8 for model_scope
  tests/post_training/model_scope.py
Due: none

fix tests
  nncf/openvino/graph/model_transformer.py
Due: openvino

Made changing of weights throught TransformationLayout.
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

option for compressing first and last layers
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: openvino, ptq

Update nncf/experimental/common/pruning/operations.py
  nncf/experimental/common/pruning/operations.py
Due: none

[Torch] `num_edges_expected` filled for each Torch metatype (#2317)
  nncf/torch/graph/operator_metatypes.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@4f77d9df27ac3860cbae0308ba67ab6c21f9b55e 🚀
  schema/index.html
Due: none

Comments
  nncf/torch/dynamic_graph/context.py
  nncf/torch/nncf_network.py
  tests/common/test_statistics_aggregator.py
  tests/onnx/test_statistics_aggregator.py
  tests/openvino/native/test_statistics_aggregator.py
  tests/torch/test_statistics_aggregator.py
Due: torch

Changed scale insertion to model.
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

[PTQ] Bump OV opset from 9 to 13 (#2315)
  nncf/openvino/graph/model_transformer.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_quantize_api.py
  tests/openvino/native/test_layer_attributes.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/native/test_node_utils.py
  tests/openvino/native/test_statistics_aggregator.py
  tests/openvino/test_telemetry.py
Due: openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@f51a85f78e73477ec4f76ff77d84ccff2b1cd4ae 🚀
  schema/index.html
Due: none

broadcast
  nncf/experimental/common/pruning/operations.py
  tests/common/pruning/test_symbolic_mask_processor.py
Due: none

Add backup precision option
  nncf/common/quantization/quantizer_removal.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/accuracy_control/algorithm.py
  nncf/quantization/algorithms/accuracy_control/backend.py
  nncf/quantization/algorithms/accuracy_control/openvino_backend.py
  nncf/quantization/algorithms/accuracy_control/ranker.py
Due: common, openvino, ptq

Add test
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_quantizer_removal.py
Due: none

PTGraphPair is intorduced
  nncf/torch/nncf_network.py
  nncf/torch/quantization/algo.py
Due: torch

renamed to all_layers and corrected docs
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: openvino, ptq

attribute error when all_layers is not supported
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/quantize_model.py
Due: openvino, ptq

Trace `detach` and `to` functions (#2302)
  nncf/experimental/common/pruning/operations.py
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/graph/operator_metatypes.py
  tests/common/pruning/test_symbolic_mask_processor.py
  tests/torch/data/reference_graphs/pruning_groups/1_layer_BERT.dot
  tests/torch/data/reference_graphs/pruning_groups/MobileBERT.dot
  tests/torch/data/reference_graphs/pruning_groups/RoBERTa.dot
  tests/torch/data/reference_graphs/pruning_groups/larger_BERT.dot
  tests/torch/data/search_building_block/bert.json
  tests/torch/experimental/search_building_blocks/test_transformer_blocks.py
  tests/torch/pruning/experimental/test_nodes_grouping.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@8cd810c0ba9d25e4d5dbbc9368bb7220ab7667e2 🚀
  schema/index.html
Due: none

[PTSQ 2/4][Torch] Nested and successive hooks (#2310)
  nncf/torch/dynamic_graph/context.py
  nncf/torch/graph/graph_builder.py
  nncf/torch/nncf_network.py
  nncf/torch/quantization/algo.py
  nncf/torch/tensor.py
  tests/common/experimental/test_statistic_collector.py
  tests/common/test_statistics_aggregator.py
  tests/onnx/test_statistics_aggregator.py
  tests/openvino/native/test_statistic_collector.py
  tests/openvino/native/test_statistics_aggregator.py
  tests/torch/helpers.py
  tests/torch/ptq/test_statistic_collector.py
  tests/torch/test_model_transformer.py
  tests/torch/test_statistics_aggregator.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@0c389c328606ae1446364d6c13b41ac2d3f5f0ef 🚀
  schema/index.html
Due: none

Fixed model transformation in AWQ.
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

Update nncf/quantization/quantize_model.py
  nncf/quantization/quantize_model.py
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@5f2c20e35cf3c1aa284275c7d4fd7ed7593a6522 🚀
  _sources/autoapi/nncf/common/quantization/structs/index.rst.txt
  _sources/autoapi/nncf/index.rst.txt
  _sources/autoapi/nncf/quantization/advanced_parameters/index.rst.txt
  autoapi/nncf/common/quantization/structs/index.html
  autoapi/nncf/index.html
  autoapi/nncf/quantization/advanced_parameters/index.html
  genindex.html
  objects.inv
  schema/index.html
  searchindex.js
Due: none

Add improvements
  nncf/common/quantization/quantizer_removal.py
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/accuracy_control/algorithm.py
  nncf/quantization/algorithms/accuracy_control/backend.py
  nncf/quantization/algorithms/accuracy_control/openvino_backend.py
  nncf/quantization/algorithms/accuracy_control/ranker.py
Due: common, openvino, ptq

Added option for compressing first and last layers (#2318)
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@1e26f1f24fe4d9cd5eb3fe82071066feb9870ae4 🚀
  _sources/autoapi/nncf/index.rst.txt
  autoapi/nncf/index.html
  schema/index.html
  searchindex.js
Due: none

Fixed statistic collection.
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

Added tables for other sections
  README.md
  docs/Demos.md
Due: none
