Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

minor
  nncf/openvino/quantization/quantize_model.py
  nncf/scopes.py
Due: openvino

code polishing
  nncf/openvino/quantization/quantize_ifmodel.py
  nncf/openvino/quantization/quantize_model.py
  nncf/scopes.py
Due: openvino

fix
  nncf/scopes.py
Due: none

bandit happy (#2722)
  examples/quantization_aware_training/torch/anomalib/main.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@131cb367b00e6c244520a260b9ac3d0fdf9dfc9e 🚀
  schema/index.html
Due: none

fix is_model_no_batchwise_support rm IgnoredScopeMatch fix determing graphs
  nncf/onnx/quantization/quantize_model.py
  nncf/openvino/quantization/quantize_model.py
  nncf/scopes.py
  nncf/torch/quantization/quantize_model.py
Due: torch, onnx, openvino

add check find pattern/subgraph
  nncf/scopes.py
Due: none

polishing
  nncf/openvino/quantization/quantize_model.py
  nncf/scopes.py
Due: openvino

doc
  nncf/quantization/quantize_model.py
Due: ptq

fix for import matplotlib
  nncf/common/plotting.py
Due: common

Sentence structure is fixed
  ReleaseNotes.md
Due: none

formatting
  nncf/quantization/quantize_model.py
Due: ptq

Update ReleaseNotes.md
  ReleaseNotes.md
Due: none

update metric for tinyllama_data_aware_gptq_backend_OV
  tests/post_training/data/wc_reference_data.yaml
Due: none

Update metric for tinyllama_data_aware_gptq_backend_OV (#2725)
  tests/post_training/data/wc_reference_data.yaml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@99d6d95ac5c660a8cc8d5f1eb9d034fecc3a220a 🚀
  schema/index.html
Due: none

test get_target_dim_for_weight_compression
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/torch/model_graph_manager.py
  tests/post_training/test_templates/test_min_max.py
  tests/torch/test_model_graph_manager.py
Due: torch, onnx, openvino, ptq

Fix for import matplotlib (#2724)
  nncf/common/plotting.py
Due: common

Deploying to doc_pages from @ openvinotoolkit/nncf@65c9515989e3bcef46145baa25de3d4106289eeb 🚀
  schema/index.html
Due: none

comments
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/fake_quantize.py
Due: ptq

fix
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
Due: ptq

[Release][Documentation] QAT after PTQ docs update (#2664) (#2714)
  README.md
  ReleaseNotes.md
  docs/Algorithms.md
  docs/FAQ.md
  docs/accuracy_aware_model_training/AdaptiveCompressionLevelTraining.md
  docs/accuracy_aware_model_training/EarlyExitTraining.md
  docs/usage/post_training_compression/post_training_quantization/ONNX.md
  docs/usage/post_training_compression/post_training_quantization/Usage.md
  docs/usage/post_training_compression/weights_compression/Usage.md
  docs/usage/training_time_compression/other_algorithms/BatchnormAdaptation.md
  docs/usage/training_time_compression/other_algorithms/KnowledgeDistillation.md
  docs/usage/training_time_compression/other_algorithms/LegacyQuantization.md
  docs/usage/training_time_compression/other_algorithms/Pruning.md
  docs/usage/training_time_compression/other_algorithms/Sparsity.md
  docs/usage/training_time_compression/other_algorithms/Usage.md
  docs/usage/training_time_compression/quantization_aware_training/Usage.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/README.md
Due: none

grammar, renames, typehints, docstrings
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/quantize_model.py
  nncf/scopes.py
Due: openvino, ptq

warning_model_no_batchwise_support
  nncf/onnx/quantization/quantize_model.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
Due: torch, onnx, openvino, ptq

error_unmatched_ignored_scope
  nncf/scopes.py
Due: none

asdict -> getattr
  nncf/scopes.py
Due: none

upd error message in test
  tests/post_training/test_templates/test_ptq_params.py
Due: none

[CI] Set actions references to specific commit hash, provide explicit top level token permissions for jobs (#2720)
  .github/workflows/api_changes_check.yml
  .github/workflows/assign_issue.yml
  .github/workflows/build_and_publish_doc.yml
  .github/workflows/build_html_doc.yml
  .github/workflows/build_schema_page.yml
  .github/workflows/labeler.yml
  .github/workflows/model_hub.yml
  .github/workflows/mypy.yml
  .github/workflows/nightly.yml
  .github/workflows/post_pr_merge.yml
  .github/workflows/pre-commit-linters.yml
  .github/workflows/precommit.yml
  .github/workflows/python-publish.yml
  .github/workflows/upload_coverage_for_develop.yml
Due: none

Update calibrate tool (#2721)
  tests/openvino/tools/calibrate.py
Due: none

quantile
  nncf/experimental/tensor/functions/torch_numeric.py
Due: torch

rm unnecessary set
  nncf/scopes.py
Due: none

test
  .github/workflows/build_and_publish_doc.yml
  .github/workflows/post_pr_merge.yml
  .github/workflows/precommit.yml
Due: none

[CI] fix GA workflows (#2726)
  .github/workflows/api_changes_check.yml
  .github/workflows/build_and_publish_doc.yml
  .github/workflows/post_pr_merge.yml
  .github/workflows/precommit.yml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@14b24a6b4f7b6e272fa499d9df8f01574e108ae0 🚀
  schema/index.html
Due: none

hash
  .github/workflows/api_changes_check.yml
  .github/workflows/build_and_publish_doc.yml
Due: none

comments
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
Due: torch, ptq

expand_dims
  nncf/experimental/tensor/functions/__init__.py
  nncf/experimental/tensor/functions/numeric.py
  nncf/experimental/tensor/functions/numpy_numeric.py
  nncf/experimental/tensor/functions/torch_numeric.py
Due: torch

r
  nncf/quantization/algorithms/bias_correction/algorithm.py
Due: ptq

test
  tests/shared/test_templates/template_test_nncf_tensor.py
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
