Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

Another approach
  nncf/common/utils/backend.py
Due: common

Fix mypy
  nncf/common/utils/backend.py
Due: common

upd dump_statistics_to_dir signature
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/statistics_serializer.py
  tests/cross_fw/test_templates/test_statistics_serializer.py
Due: common

Fix lora correction
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: ptq

changed the signature of the torch compile wrarpper function (#3139) (#3140)
  nncf/torch/dynamic_graph/patch_pytorch.py
Due: torch

Remove not used argument
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
Due: ptq

Fix annotation for api marker (#3099) (#3142)
  docs/api/source/conf.py
  nncf/common/utils/api_marker.py
Due: common

Fix annotation for api marker (#3099)
  docs/api/source/conf.py
  nncf/common/utils/api_marker.py
Due: common

Remove static shapes testing because it is not needed with non-convertable division
  tests/openvino/native/quantization/test_ov_modeling_compression.py
Due: none

Set dynamic shapes by default
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/openvino_modeling.py
  nncf/tensor/functions/ov.py
Due: openvino, ptq

licence + rename
  licensing/third-party-programs.txt
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/statistics_serializer.py
  tests/cross_fw/test_templates/test_statistics_serializer.py
Due: common

add Optional for dict
  nncf/common/tensor_statistics/statistics_serializer.py
Due: common

fix exception
  nncf/__init__.py
  nncf/common/tensor_statistics/statistics_serializer.py
  nncf/common/tensor_statistics/statistics_validator.py
  nncf/errors.py
  tests/common/test_statistics_serializer.py
  tests/cross_fw/test_templates/test_statistics_serializer.py
Due: common

add testcase; backend param
  nncf/common/tensor_statistics/statistics_serializer.py
  nncf/common/tensor_statistics/statistics_validator.py
  nncf/tensor/functions/io.py
  nncf/tensor/functions/numeric.py
  tests/cross_fw/test_templates/template_test_nncf_tensor.py
Due: common

minor
  nncf/common/tensor_statistics/statistics_serializer.py
  tests/common/test_statistics_serializer.py
Due: common

upd test
  tests/common/test_statistics_validator.py
Due: none

upd exception
  tests/cross_fw/test_templates/test_statistics_caching.py
Due: none

fix backend
  nncf/experimental/common/tensor_statistics/statistics.py
Due: none

Statistics caching update from pickle to safetensors (#3122)
  docs/api/source/conf.py
  licensing/third-party-programs.txt
  nncf/__init__.py
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/statistics_serializer.py
  nncf/common/tensor_statistics/statistics_validator.py
  nncf/errors.py
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/experimental/common/tensor_statistics/statistics.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/statistics_caching.py
  nncf/tensor/functions/__init__.py
  nncf/tensor/functions/dispatcher.py
  nncf/tensor/functions/io.py
  nncf/tensor/functions/numeric.py
  nncf/tensor/functions/numpy_io.py
  nncf/tensor/functions/numpy_numeric.py
  nncf/tensor/functions/torch_io.py
  nncf/tensor/functions/torch_numeric.py
  nncf/tensor/tensor.py
  pyproject.toml
  tests/common/experimental/test_reducers_and_aggregators.py
  tests/common/test_statistics_caching.py
  tests/common/test_statistics_serializer.py
  tests/common/test_statistics_validator.py
  tests/cross_fw/test_templates/template_test_nncf_tensor.py
  tests/cross_fw/test_templates/test_statistics_caching.py
  tests/cross_fw/test_templates/test_statistics_serializer.py
  tests/onnx/test_statistics_caching.py
  tests/openvino/native/test_statistics_caching.py
  tests/torch/fx/test_statistics_caching.py
  tests/torch/ptq/test_statistics_caching.py
  tests/torch/test_statistics_serializer.py
Due: common, torch, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@d92795672cf5755a533a5f635069a191fe5ed840 🚀
  _sources/autoapi/nncf/tensor/functions/io/index.rst.txt
  _sources/autoapi/nncf/tensor/functions/numpy_io/index.rst.txt
  _sources/autoapi/nncf/tensor/functions/torch_io/index.rst.txt
  autoapi/nncf/tensor/functions/io/index.html
  autoapi/nncf/tensor/functions/numpy_io/index.html
  autoapi/nncf/tensor/functions/torch_io/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

model_wrapper
  nncf/common/model.py
  nncf/experimental/torch/fx/quantization/quantize_model.py
  nncf/onnx/quantization/quantize_model.py
  nncf/openvino/quantization/quantize_ifmodel.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/algorithms/algorithm.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/channel_alignment/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/torch_backend.py
  nncf/quantization/algorithms/fast_bias_correction/torch_fx_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/pipeline.py
  nncf/quantization/algorithms/post_training/algorithm.py
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
  tests/cross_fw/test_templates/test_bias_correction.py
  tests/cross_fw/test_templates/test_channel_alignment.py
  tests/cross_fw/test_templates/test_fast_bias_correction.py
  tests/cross_fw/test_templates/test_ptq_params.py
  tests/cross_fw/test_templates/test_smooth_quant.py
  tests/onnx/quantization/test_bias_correction.py
  tests/onnx/quantization/test_fast_bias_correction.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
  tests/openvino/native/quantization/test_graphs.py
  tests/openvino/native/test_bias_correction.py
  tests/openvino/native/test_fast_bias_correction.py
  tests/torch/fx/test_bias_correction.py
  tests/torch/fx/test_compress_weights.py
  tests/torch/fx/test_fast_bias_correction.py
  tests/torch/ptq/test_calculation_quantizer_params.py
  tests/torch/ptq/test_fast_bias_correction.py
Due: common, torch, onnx, openvino, ptq

bandit
  .github/workflows/sdl.yml
  pyproject.toml
Due: none

fix
  .github/scripts/pytest_md_summary.py
  .github/workflows/examples.yml
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/deploy.py
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
  examples/post_training_quantization/openvino/yolov8/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  examples/post_training_quantization/torch/ssd300_vgg16/main.py
  examples/quantization_aware_training/torch/anomalib/main.py
  examples/quantization_aware_training/torch/resnet18/main.py
  pyproject.toml
Due: none

Update with 2.14.1 template
  ReleaseNotes.md
Due: none

rn note statistics caching
  docs/usage/post_training_compression/weights_compression/Usage.md
Due: none

Statistics caching update from pickle to safetensors (#3122) (#3143)
  docs/api/source/conf.py
  licensing/third-party-programs.txt
  nncf/__init__.py
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/statistics_serializer.py
  nncf/common/tensor_statistics/statistics_validator.py
  nncf/errors.py
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/experimental/common/tensor_statistics/statistics.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/statistics_caching.py
  nncf/tensor/functions/__init__.py
  nncf/tensor/functions/dispatcher.py
  nncf/tensor/functions/io.py
  nncf/tensor/functions/numeric.py
  nncf/tensor/functions/numpy_io.py
  nncf/tensor/functions/numpy_numeric.py
  nncf/tensor/functions/torch_io.py
  nncf/tensor/functions/torch_numeric.py
  nncf/tensor/tensor.py
  pyproject.toml
  tests/common/experimental/test_reducers_and_aggregators.py
  tests/common/test_statistics_caching.py
  tests/common/test_statistics_serializer.py
  tests/common/test_statistics_validator.py
  tests/cross_fw/test_templates/template_test_nncf_tensor.py
  tests/cross_fw/test_templates/test_statistics_caching.py
  tests/cross_fw/test_templates/test_statistics_serializer.py
  tests/onnx/test_statistics_caching.py
  tests/openvino/native/test_statistics_caching.py
  tests/torch/fx/test_statistics_caching.py
  tests/torch/ptq/test_statistics_caching.py
  tests/torch/test_statistics_serializer.py
Due: common, torch, openvino, ptq

[DOCS] Update note statistics caching (#3146)
  docs/usage/post_training_compression/weights_compression/Usage.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@d9cfac41adef93095ea8957ef1b7b87ec94e4c18 🚀
  schema/index.html
Due: none

limit version of matplot (#3147)
  examples/quantization_aware_training/torch/anomalib/requirements.txt
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@3775503fb090c7711c45805da56e5722bf40d7b0 🚀
  schema/index.html
Due: none

Update ReleaseNotes.md
  ReleaseNotes.md
Due: none

Remove dead links (#3108)
  README.md
  docs/usage/post_training_compression/weights_compression/Usage.md
Due: none

Guarantee call order
  tests/common/utils/test_cache_results_decorator.py
Due: none

[Release] Caching upd docs release (#3148)
  README.md
  docs/usage/post_training_compression/weights_compression/Usage.md
Due: none

limit for matplot
  examples/quantization_aware_training/torch/anomalib/requirements.txt
Due: none

Added try for backends (#3138)
  nncf/common/utils/backend.py
Due: common

Deploying to doc_pages from @ openvinotoolkit/nncf@5a55a7d5897111188fa6ee2dbf206b312306a528 🚀
  schema/index.html
Due: none

limit version of matplot (#3147) (#3149)
  examples/quantization_aware_training/torch/anomalib/requirements.txt
Due: none
