Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

Use Typing.tuple instead of tuple
  nncf/common/utils/backend.py
  nncf/common/utils/patcher.py
Due: common

Extending functions by lstsq, svd, eye (#2774)
  nncf/tensor/README.md
  nncf/tensor/functions/__init__.py
  nncf/tensor/functions/linalg.py
  nncf/tensor/functions/numeric.py
  nncf/tensor/functions/numpy_linalg.py
  nncf/tensor/functions/numpy_numeric.py
  nncf/tensor/functions/torch_linalg.py
  nncf/tensor/functions/torch_numeric.py
  tests/shared/test_templates/template_test_nncf_tensor.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@1f07622b2457fc2014b6830b43686487d86f0cd5 🚀
  schema/index.html
Due: none

making links absolute
  README.md
Due: none

Adjust NNCF to numpy 2.0 api (#2772)
  nncf/tensor/functions/numpy_numeric.py
  nncf/tensor/functions/torch_numeric.py
  nncf/torch/automl/environment/quantization_env.py
  ruff.toml
  tests/torch/automl/test_quantization_env.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@aeaaf1995c46183f4aa07f786e253dd6195598c8 🚀
  schema/index.html
Due: none

Added comment
  nncf/openvino/graph/node_utils.py
Due: openvino

Update Fast-/BC with MatMul/Gemm support (#2776)
  nncf/onnx/graph/node_utils.py
  nncf/openvino/graph/layout.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/torch_backend.py
  tests/onnx/quantization/test_min_max.py
  tests/onnx/test_layer_attributes.py
  tests/onnx/test_node_utils.py
  tests/openvino/native/test_layer_attributes.py
Due: torch, onnx, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@a644a1ea35d193e4179e6bf6b108ccc750969dce 🚀
  schema/index.html
Due: none

E8M0 scale for E2M1 weights. (#2767)
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/tensor/functions/__init__.py
  nncf/tensor/functions/numeric.py
  nncf/tensor/functions/numpy_numeric.py
  nncf/tensor/functions/torch_numeric.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/shared/test_templates/template_test_nncf_tensor.py
Due: torch, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@fd0e33c926ccb1c5cfb06b18b304c3b9d7785c59 🚀
  schema/index.html
Due: none

Optional scale inversion for alignment with OV division implementation.
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: ptq

WA for openvino-nightly to pass llm test
  examples/llm_compression/openvino/tiny_llama/main.py
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/main.py
Due: none

Change timer test to accomodate for additional line
  tests/common/utils/test_timer.py
Due: none

turn off dynamic quantization
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

Use typing.Any instead of object
  nncf/common/utils/api_marker.py
  nncf/common/utils/patcher.py
  nncf/common/utils/registry.py
Due: common

Compile model only for CPU
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/deploy.py
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
  examples/post_training_quantization/openvino/yolov8/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  nncf/openvino/engine.py
  nncf/quantization/algorithms/accuracy_control/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/test_transform_fn.py
  tests/openvino/tools/calibrate.py
  tests/post_training/pipelines/image_classification_timm.py
Due: openvino, ptq

Update with device_name
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/deploy.py
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
  examples/post_training_quantization/openvino/yolov8/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  nncf/openvino/engine.py
  nncf/quantization/algorithms/accuracy_control/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/onnx/quantization/test_ptq_regression.py
  tests/openvino/native/quantization/test_sanity.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/test_transform_fn.py
  tests/openvino/tools/calibrate.py
  tests/post_training/pipelines/image_classification_timm.py
Due: openvino, ptq

[OV] Clean test environment (#2779)
  Makefile
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@d256991a73b3e5dcbb8b8251f7d13253618a31dd 🚀
  schema/index.html
Due: none

Update elementwise ops with inplace operations
  nncf/torch/graph/operator_metatypes.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/MHA_single_input.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/ShiftScale__normalize__multi_input_branch.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/ShiftScale__normalize__single_input_branch.dot
Due: torch

[Torch] Use metatypes instead of types in pattern matching
  nncf/common/graph/graph_matching.py
  nncf/common/graph/patterns/patterns.py
  nncf/onnx/hardware/fused_patterns.py
  nncf/onnx/quantization/ignored_patterns.py
  nncf/openvino/hardware/fused_patterns.py
  nncf/openvino/quantization/ignored_patterns.py
  nncf/quantization/algorithms/channel_alignment/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq_patterns.py
  nncf/torch/graph/pattern_operations.py
  nncf/torch/hardware/fused_patterns.py
  nncf/torch/quantization/ignored_patterns.py
  tests/common/graph/test_graph_matching.py
  tests/common/graph/test_graph_pattern.py
  tests/common/graph/test_nncf_graph.py
Due: common, torch, onnx, openvino, ptq

Fix scale calculation
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: ptq

1) Fixed bug with clamp range in scale estimation. (#2781)
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: openvino, ptq

Make NNCF common utils code pass mypy checks (#2780)
  .mypy.ini
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/common/deprecation.py
  nncf/common/graph/patterns/manager.py
  nncf/common/utils/api_marker.py
  nncf/common/utils/backend.py
  nncf/common/utils/debug.py
  nncf/common/utils/decorators.py
  nncf/common/utils/dot_file_rw.py
  nncf/common/utils/helpers.py
  nncf/common/utils/os.py
  nncf/common/utils/patcher.py
  nncf/common/utils/registry.py
  nncf/common/utils/tensorboard.py
  nncf/common/utils/timer.py
  nncf/tensorflow/graph/model_transformer.py
  tests/common/utils/test_timer.py
Due: common, tensorflow

Apply comment
  nncf/openvino/engine.py
Due: openvino

Deploying to doc_pages from @ openvinotoolkit/nncf@28d99a0252802f4b12c12be86db2906b8e61df09 🚀
  schema/index.html
Due: none

Compile model only for CPU (#2786)
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/deploy.py
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
  examples/post_training_quantization/openvino/yolov8/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  nncf/openvino/engine.py
  nncf/quantization/algorithms/accuracy_control/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/onnx/quantization/test_ptq_regression.py
  tests/openvino/native/quantization/test_sanity.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/test_transform_fn.py
  tests/openvino/tools/calibrate.py
  tests/post_training/pipelines/image_classification_timm.py
Due: openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@0ff601c59cf8cfecc774923f2ca3a5240ba01b53 🚀
  schema/index.html
Due: none

Scale for covering full range of compressed weights.
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: ptq

Fix for llm examples with openvino-nightly (#2782)
  examples/llm_compression/openvino/tiny_llama/main.py
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/main.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@f45bcad822d94393646f19a726b67ed4cf660d68 🚀
  schema/index.html
Due: none

Update wc_reference_data.yaml
  tests/post_training/data/wc_reference_data.yaml
Due: none

Add assignment operators and matmul
  nncf/tensor/tensor.py
  tests/shared/test_templates/template_test_nncf_tensor.py
Due: none

ignore ReleaseNotes.md by link checker
  .github/workflows/nightly.yml
  .github/workflows/pre-commit-linters.yml
  md_dead_link_check.toml
Due: none

rm test run nightly
  .github/workflows/nightly.yml
Due: none

Update wc_reference_data.yaml (#2791)
  tests/post_training/data/wc_reference_data.yaml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@f5ce9459c1ffb80bc3636cca72e092994abd1527 🚀
  schema/index.html
Due: none

Ignore ReleaseNotes.md by link checker (#2793)
  .github/workflows/nightly.yml
  .github/workflows/pre-commit-linters.yml
  md_dead_link_check.toml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@9fcba3ebe15e265b3b60b52d2e88b832ff29b2f7 🚀
  schema/index.html
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
