Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

Update ReleaseNotes.md
  ReleaseNotes.md
Due: none

Update to use safe_open
  nncf/common/tensor_statistics/statistics_serializer.py
Due: common

[Release] Update to use safe_open (#3096)
  nncf/common/tensor_statistics/statistics_serializer.py
Due: common

Add symlink verification before opening file
  nncf/common/tensor_statistics/statistics_serializer.py
Due: common

gzip_safe_open
  nncf/common/tensor_statistics/statistics_serializer.py
Due: common

Revert "gzip_safe_open"
  nncf/common/tensor_statistics/statistics_serializer.py
Due: common

Add missed check
  nncf/common/tensor_statistics/statistics_serializer.py
Due: common

[Release] Add symlink verification before opening file (#3097)
  nncf/common/tensor_statistics/statistics_serializer.py
Due: common

add comment
  nncf/onnx/engine.py
Due: onnx

more comment
  nncf/onnx/engine.py
Due: onnx

[Release_v2140] Update ReleaseNotes.md (#3071)
  ReleaseNotes.md
Due: none

[WIP][TorchFX] YoloV11 support
  nncf/experimental/torch/fx/transformations.py
  nncf/torch/quantization/ignored_patterns.py
Due: torch

Fix open symlinks (#3098)
  nncf/common/tensor_statistics/statistics_serializer.py
Due: common

Deploying to doc_pages from @ openvinotoolkit/nncf@f143e1c53e747412bf22b5dbf93460bce3b440a0 🚀
  schema/index.html
Due: none

use track in collect_values_for_each_item_using_prepared_model
  nncf/quantization/algorithms/accuracy_control/evaluator.py
Due: ptq

set onnxruntime version
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
Due: none

fix
  docs/api/source/conf.py
  nncf/common/utils/api_marker.py
Due: common

Bump OV version
  constraints.txt
  docs/Installation.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/post_training_quantization/torch_fx/resnet18/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
Due: none

set kv cache in f16
  examples/llm_compression/openvino/tiny_llama/main.py
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/main.py
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

[Release] Bump OV version (#3100)
  constraints.txt
  docs/Installation.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/post_training_quantization/torch_fx/resnet18/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
Due: none

name
  .github/workflows/examples.yml
Due: none

Bump OV version (#3100) (#3103)
  constraints.txt
  docs/Installation.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/post_training_quantization/torch_fx/resnet18/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@018f71d40de93f0daff53716e91933e159ad3092 🚀
  schema/index.html
Due: none

Move test constants to parameters
  tests/cross_fw/test_templates/template_test_nncf_tensor.py
Due: none

track
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
Due: none

Update references after OV 2024.5 release
  tests/post_training/data/wc_reference_data.yaml
Due: none

Update ReleaseNotes.md (#3071) (#3102)
  ReleaseNotes.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@472331c85c8f40098e1e2f81e069f8eb62cb584c 🚀
  schema/index.html
Due: none
