Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

pre commit
  nncf/torch/pruning/operations.py
Due: torch

comments
  nncf/experimental/torch2/function_hook/extractor.py
  nncf/experimental/torch2/model_transformer.py
  tests/torch/ptq/test_fast_bias_correction.py
  tests/torch2/function_hook/quantization/test_fast_bias_correction.py
Due: none

ov import
  README.md
  nncf/common/utils/backend.py
  nncf/openvino/engine.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  nncf/openvino/graph/model_builder.py
  nncf/openvino/graph/model_transformer.py
  nncf/openvino/graph/model_utils.py
  nncf/openvino/graph/nncf_graph_builder.py
  nncf/openvino/graph/node_utils.py
  nncf/openvino/graph/transformations/commands.py
  nncf/openvino/quantization/quantize_ifmodel.py
  nncf/openvino/quantization/quantize_model.py
  nncf/openvino/rt_info.py
  nncf/openvino/statistics/aggregator.py
  nncf/quantization/algorithms/accuracy_control/openvino_backend.py
  nncf/quantization/algorithms/bias_correction/openvino_backend.py
  nncf/quantization/algorithms/channel_alignment/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/quantization/algorithms/layerwise/openvino_backend.py
  nncf/quantization/algorithms/layerwise/openvino_iterator.py
  nncf/quantization/algorithms/smooth_quant/openvino_backend.py
  tests/cross_fw/sdl/fuzz/quantize_api.py
  tests/onnx/quantization/test_ptq_regression.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_quantization_pipeline.py
  tests/openvino/native/quantization/test_quantizer_removal.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/native/test_layer_attributes.py
  tests/openvino/native/test_model_builder.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/native/test_node_utils.py
  tests/openvino/native/test_statistics_aggregator.py
  tests/openvino/test_transform_fn.py
  tests/openvino/tools/calibrate.py
  tests/post_training/pipelines/causal_language_model.py
  tests/post_training/pipelines/gpt.py
  tests/torch/fx/test_smooth_quant.py
  tests/torch/ptq/test_smooth_quant.py
  tools/get_ir_ignored_scope_by_model_id.py
Due: common, openvino, ptq

doc
  nncf/openvino/graph/model_builder.py
Due: openvino

runtime
  nncf/common/utils/backend.py
  nncf/openvino/graph/model_builder.py
  nncf/openvino/graph/model_transformer.py
  nncf/openvino/graph/node_utils.py
  nncf/openvino/optimized_functions/models.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/onnx/quantization/test_ptq_regression.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_quantize_api.py
  tests/openvino/native/quantization/test_reducers_and_aggregators.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/native/test_layer_attributes.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/native/test_node_utils.py
  tests/openvino/native/test_statistics_aggregator.py
  tests/openvino/native/test_tensor.py
  tests/openvino/test_telemetry.py
  tests/openvino/tools/calibrate.py
  tests/torch/sparsity/movement/test_model_saving.py
Due: common, openvino, ptq

mypy
  nncf/common/utils/backend.py
Due: common

[OpenVINOQuantizer] return annotated model (#3263)
  nncf/experimental/torch/fx/quantization/quantizer/openvino_quantizer.py
Due: openvino

Deploying to doc_pages from @ openvinotoolkit/nncf@9d5da2d212462c6dc8825172701aa3aaba139ee5 🚀
  schema/index.html
Due: none

[TESTS] WhoWhatBench version update (#3241)
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/llm_compression/openvino/tiny_llama_synthetic_data/README.md
  examples/llm_compression/openvino/tiny_llama_synthetic_data/main.py
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/data/wwb_ref_answers/tinyllama__tinyllama-1.1b-step-50k-105b/ref_qa.csv
  tests/post_training/requirements.txt
  tests/post_training/test_quantize_conformance.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@89aba29dc840dc1bca2975d51a8afbd7a48d1da8 🚀
  schema/index.html
Due: none

make common run_pipeline()
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/experimental/sparsify_activations/pipelines.py
  tests/post_training/experimental/sparsify_activations/test_sparsify_activations_conformance.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/image_classification_base.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/post_training/test_quantize_conformance.py
Due: none

more common
  tests/post_training/experimental/sparsify_activations/pipelines.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/image_classification_base.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/post_training/test_quantize_conformance.py
Due: none

skip check if None in reference
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/post_training/test_quantize_conformance.py
Due: none

fix pytest.skip
  tests/post_training/test_quantize_conformance.py
Due: none

disable grad for extracted module
  nncf/torch/extractor.py
  tests/torch/test_extractor.py
Due: torch

get_num_compressed() for SAPipelineMixin
  tests/post_training/experimental/sparsify_activations/model_scope.py
  tests/post_training/experimental/sparsify_activations/pipelines.py
  tests/post_training/experimental/sparsify_activations/test_sparsify_activations_conformance.py
  tests/post_training/pipelines/base.py
  tests/post_training/test_quantize_conformance.py
Due: none

polishing
  tests/post_training/README.md
  tests/post_training/experimental/sparsify_activations/pipelines.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/post_training/test_quantize_conformance.py
Due: none

Add port ids to reference
  tests/torch2/data/function_hook/nncf_graph/convert_to_nncf_graph.dot
  tests/torch2/data/function_hook/nncf_graph/convert_to_nncf_graph_multi_edges.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_convnext_small.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_densenet121.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_efficientnet_b0.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_inception_v3.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_mobilenet_v2.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_mobilenet_v3_small.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_resnet18.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_resnext50_32x4d.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_shufflenet_v2_x0_5.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_squeezenet1_0.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_swin_v2_b.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_vgg16.dot
  tests/torch2/data/quantization/test_quantized_graphs/alexnet.dot
  tests/torch2/data/quantization/test_quantized_graphs/densenet121.dot
  tests/torch2/data/quantization/test_quantized_graphs/embedding_model.dot
  tests/torch2/data/quantization/test_quantized_graphs/inception.dot
  tests/torch2/data/quantization/test_quantized_graphs/inception_v3.dot
  tests/torch2/data/quantization/test_quantized_graphs/lenet.dot
  tests/torch2/data/quantization/test_quantized_graphs/mobilenet_v2.dot
  tests/torch2/data/quantization/test_quantized_graphs/mobilenet_v3_small.dot
  tests/torch2/data/quantization/test_quantized_graphs/resnet18.dot
  tests/torch2/data/quantization/test_quantized_graphs/rope_model.dot
  tests/torch2/data/quantization/test_quantized_graphs/scaled_dot_product_attention_model.dot
  tests/torch2/data/quantization/test_quantized_graphs/shared_model.dot
  tests/torch2/data/quantization/test_quantized_graphs/shufflenetv2.dot
  tests/torch2/data/quantization/test_quantized_graphs/squeezenet1_1.dot
  tests/torch2/data/quantization/test_quantized_graphs/unet.dot
  tests/torch2/data/quantization/test_quantized_graphs/vgg16.dot
  tests/torch2/function_hook/nncf_graph/test_nncf_graph.py
  tests/torch2/function_hook/quantization/test_quantized_graphs.py
  tests/torch2/utils.py
Due: none

add drop num int4 for ptq
  tests/post_training/test_quantize_conformance.py
Due: none

Enable auto fix for ruff
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix for PT traced tensor issue
  nncf/torch/dynamic_graph/trace_tensor.py
Due: torch

fix unnecesary changes
  nncf/common/quantization/config_assignment.py
  nncf/torch/dynamic_graph/trace_tensor.py
Due: common, torch

Fix openvino numeric import
  nncf/tensor/functions/__init__.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@eeff312ba2f352a4fa35876d3929f480b2b919d4 🚀
  schema/index.html
Due: none

add save_results()
  tests/post_training/experimental/sparsify_activations/test_sparsify_activations_conformance.py
  tests/post_training/test_quantize_conformance.py
Due: none

rm use_avx2 from pipeline args
  tests/post_training/experimental/sparsify_activations/test_sparsify_activations_conformance.py
  tests/post_training/test_quantize_conformance.py
Due: none

add more strict check on exception for xfail
  tests/post_training/README.md
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/test_quantize_conformance.py
Due: none

Fix openvino numeric import (#3269)
  nncf/tensor/functions/__init__.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@c6193608be0a33d81ac5bc4ac4dcae97b69f7ad4 🚀
  schema/index.html
Due: none

[PT2] Add port ids to reference graphs (#3267)
  tests/torch2/data/function_hook/nncf_graph/convert_to_nncf_graph.dot
  tests/torch2/data/function_hook/nncf_graph/convert_to_nncf_graph_multi_edges.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_convnext_small.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_densenet121.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_efficientnet_b0.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_inception_v3.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_mobilenet_v2.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_mobilenet_v3_small.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_resnet18.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_resnext50_32x4d.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_shufflenet_v2_x0_5.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_squeezenet1_0.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_swin_v2_b.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_vgg16.dot
  tests/torch2/data/quantization/test_quantized_graphs/alexnet.dot
  tests/torch2/data/quantization/test_quantized_graphs/densenet121.dot
  tests/torch2/data/quantization/test_quantized_graphs/embedding_model.dot
  tests/torch2/data/quantization/test_quantized_graphs/inception.dot
  tests/torch2/data/quantization/test_quantized_graphs/inception_v3.dot
  tests/torch2/data/quantization/test_quantized_graphs/lenet.dot
  tests/torch2/data/quantization/test_quantized_graphs/mobilenet_v2.dot
  tests/torch2/data/quantization/test_quantized_graphs/mobilenet_v3_small.dot
  tests/torch2/data/quantization/test_quantized_graphs/resnet18.dot
  tests/torch2/data/quantization/test_quantized_graphs/rope_model.dot
  tests/torch2/data/quantization/test_quantized_graphs/scaled_dot_product_attention_model.dot
  tests/torch2/data/quantization/test_quantized_graphs/shared_model.dot
  tests/torch2/data/quantization/test_quantized_graphs/shufflenetv2.dot
  tests/torch2/data/quantization/test_quantized_graphs/squeezenet1_1.dot
  tests/torch2/data/quantization/test_quantized_graphs/unet.dot
  tests/torch2/data/quantization/test_quantized_graphs/vgg16.dot
  tests/torch2/function_hook/nncf_graph/test_nncf_graph.py
  tests/torch2/function_hook/quantization/test_quantized_graphs.py
  tests/torch2/utils.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@c24bf74a7138d0689d58fc5d77531634ae90b41b 🚀
  schema/index.html
Due: none

use some OOP
  tests/post_training/experimental/sparsify_activations/pipelines.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/post_training/test_quantize_conformance.py
Due: none

[PT] disable grad for extracted module (#3266)
  nncf/torch/extractor.py
  tests/torch/test_extractor.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@99f0c44d6d674acc7c55703c80d208ec808642f3 🚀
  schema/index.html
Due: none

[TorchFX] Refines for ExecuTorch OpenVINO backend integration
  nncf/experimental/torch/fx/quantization/quantize_pt2e.py
  nncf/experimental/torch/fx/quantization/quantizer/openvino_adapter.py
  nncf/experimental/torch/fx/quantization/quantizer/openvino_quantizer.py
Due: openvino

add get_compression_numbers for NumCompressNodes
  tests/post_training/experimental/sparsify_activations/pipelines.py
  tests/post_training/experimental/sparsify_activations/test_sparsify_activations_conformance.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/post_training/test_quantize_conformance.py
Due: none

change order of report
  tests/post_training/experimental/sparsify_activations/test_sparsify_activations_conformance.py
  tests/post_training/pipelines/base.py
Due: none

upd exception report msg
  tests/post_training/pipelines/base.py
  tests/post_training/test_quantize_conformance.py
Due: none

add None filling missed columns
  tests/post_training/test_quantize_conformance.py
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
