Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

[OpenVINO] Update reference for YOLOV8 after PR#2610 (#2638)
  tests/cross_fw/examples/example_scope.json
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@ff0c0704c0fff49e01ff780a8a5ed3d02f06f486 🚀
  schema/index.html
Due: none

Adapt F-/BC algos to BF16
  nncf/openvino/graph/model_transformer.py
Due: openvino

Add list of OV notebooks to Tutorials
  ReleaseNotes.md
Due: none

changing tuple to typing.Tuple
  nncf/common/accuracy_aware_training/runner.py
Due: common

Ignore matplotlib import error
  nncf/common/accuracy_aware_training/runner.py
Due: common

change tuple to typing.Tuple
  nncf/common/accuracy_aware_training/runner.py
Due: common

Deterministic order of testscases
  tests/torch/models_hub_test/test_timm.py
  tests/torch/models_hub_test/timm_models.txt
  tests/torch/test_algo_common.py
  tests/torch/test_resume_from_checkpoint.py
Due: none

Deterministic order of testcases (#2642)
  tests/torch/models_hub_test/test_timm.py
  tests/torch/models_hub_test/timm_models.txt
  tests/torch/test_algo_common.py
  tests/torch/test_resume_from_checkpoint.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@48c67bdb7e744119dc31237a50c0fe9902629f03 🚀
  schema/index.html
Due: none

Remove some casts, Add support for optional PIL Image Import
  nncf/common/accuracy_aware_training/runner.py
  nncf/common/accuracy_aware_training/training_loop.py
Due: common

[ONNX] Fix adding output nodes in NNCFGraph (#2538)
  nncf/onnx/graph/nncf_graph_builder.py
  tests/onnx/data/reference_graphs/original_nncf_graph/synthetic/output_with_no_parents_model.dot
  tests/onnx/test_nncf_graph_builder.py
Due: onnx

Deploying to doc_pages from @ openvinotoolkit/nncf@96eef35e544bbddf4d02bd2fdd6342409f7af38c 🚀
  schema/index.html
Due: none

fix: Moved int8 conversion in _validate()
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

parallel
  .github/workflows/precommit.yml
  Makefile
  tests/torch/sparsity/movement/test_components.py
Due: none

t
  .github/workflows/precommit.yml
Due: none

xdist
  tests/torch/requirements.txt
Due: none

t
  .github/workflows/precommit.yml
  Makefile
Due: none

f
  .github/workflows/precommit.yml
Due: none

r
  tests/torch/requirements.txt
Due: none

t
  Makefile
Due: none

Revert change related to inplace compression in sacle estimation.
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: torch, openvino, ptq

add default bach sizes
  tests/post_training/conftest.py
  tests/post_training/model_scope.py
  tests/post_training/test_quantize_conformance.py
Due: none

Add note to quantile parameter
  nncf/quantization/range_estimator.py
Due: ptq

[WC] Align compression subgraphs for both weight input data types (#2537)
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@df81f44545cad470bccd9f3d30f2199a1d002285 🚀
  schema/index.html
Due: none

Include MEDIAN_NO_OUTLIERS aggregator
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/range_estimator.py
Due: torch, onnx, openvino, ptq

Change get_const_value data output
  nncf/openvino/graph/node_utils.py
Due: openvino

Added precomputed scale as new parameter.
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
Due: torch, openvino, ptq

Updated docstrings for compression algo hyperparameters.
  nncf/quantization/advanced_parameters.py
Due: ptq

Fixed pylint error.
  nncf/quantization/advanced_parameters.py
Due: ptq

[Torch] PTQ as QAT initialization and eps fixes
  ReleaseNotes.md
Due: none

set number of devices
  examples/quantization_aware_training/torch/anomalib/main.py
Due: none

Added extra check for compression parameters combination.
  nncf/quantization/quantize_model.py
Due: ptq

Add keyword arguments support in `_determine_compression_rate_step_value` method.
  nncf/common/accuracy_aware_training/training_loop.py
Due: common

Update ReleaseNotes.md with changes made by Nikita S.
  ReleaseNotes.md
Due: none

Reduce OV test scope.
  tests/openvino/native/quantization/test_weights_compression.py
Due: none

[TF] rb sparsity integration test is made determenistic
  tests/tensorflow/sparsity/rb/test_integration.py
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
