Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

Comments
  docs/usage/post_training_compression/post_training_quantization/Usage.md
  docs/usage/training_time_compression/other_algorithms/LegacyQuantization.md
  docs/usage/training_time_compression/quantization_aware_training/Quantization.md
  docs/usage/training_time_compression/quantization_aware_training/Usage.md
Due: none

support nf4 in gptq
  nncf/experimental/tensor/functions/__init__.py
  nncf/experimental/tensor/functions/numeric.py
  nncf/experimental/tensor/functions/numpy_numeric.py
  nncf/experimental/tensor/functions/torch_numeric.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/shared/test_templates/template_test_nncf_tensor.py
Due: torch, ptq

Minor comment
  docs/usage/training_time_compression/quantization_aware_training/Usage.md
Due: none

pytorch happy
  tests/common/test_tensor.py
  tests/shared/test_templates/template_test_nncf_tensor.py
  tests/torch/test_tensor.py
Due: none

[Documentation] QAT after PTQ docs update (#2664)
  README.md
  ReleaseNotes.md
  docs/Algorithms.md
  docs/FAQ.md
  docs/accuracy_aware_model_training/AdaptiveCompressionLevelTraining.md
  docs/accuracy_aware_model_training/EarlyExitTraining.md
  docs/usage/post_training_compression/post_training_quantization/ONNX.md
  docs/usage/post_training_compression/post_training_quantization/Usage.md
  docs/usage/post_training_compression/weights_compression/Usage.md
  docs/usage/training_time_compression/other_algorithms/BatchnormAdaptation.md
  docs/usage/training_time_compression/other_algorithms/KnowledgeDistillation.md
  docs/usage/training_time_compression/other_algorithms/LegacyQuantization.md
  docs/usage/training_time_compression/other_algorithms/Pruning.md
  docs/usage/training_time_compression/other_algorithms/Sparsity.md
  docs/usage/training_time_compression/other_algorithms/Usage.md
  docs/usage/training_time_compression/quantization_aware_training/Usage.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/README.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@c0c61f1d8ffa1285dd6bdcba349cbbdbf8ad0aed 🚀
  schema/index.html
Due: none

[Docs] Fix url link to quantization docs
  docs/usage/post_training_compression/weights_compression/Usage.md
Due: none

[Docs] Fix url link to quantization docs (#2715)
  docs/usage/post_training_compression/weights_compression/Usage.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@1b5c9d83fac4ec36e99fdf035993dce9c522af50 🚀
  schema/index.html
Due: none

Update ReleaseNotes.md
  ReleaseNotes.md
Due: none

test
  nncf/onnx/graph/nncf_graph_builder.py
  nncf/torch/graph/graph_builder.py
  tests/onnx/quantization/test_ptq_params.py
  tests/onnx/quantization/test_quantizer_config.py
  tests/torch/ptq/helpers.py
  tests/torch/test_layer_attributes.py
  tests/torch/test_statistics_aggregator.py
Due: torch, onnx

t
  tests/post_training/test_templates/models.py
  tests/post_training/test_templates/test_min_max.py
  tests/torch/ptq/test_min_max.py
  tests/torch/test_statistics_aggregator.py
Due: none

Link to the documentation is updated
  ReleaseNotes.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@77a88672b23a9a54af05f16d162f94b15ecf6b18 🚀
  _sources/autoapi/nncf/index.rst.txt
  _sources/autoapi/nncf/quantization/advanced_parameters/index.rst.txt
  _sources/autoapi/nncf/quantization/algorithms/layerwise/backend/index.rst.txt
  _sources/autoapi/nncf/quantization/algorithms/layerwise/engine/index.rst.txt
  _sources/autoapi/nncf/quantization/algorithms/layerwise/index.rst.txt
  _sources/autoapi/nncf/quantization/algorithms/layerwise/iterator/index.rst.txt
  _sources/autoapi/nncf/quantization/algorithms/layerwise/openvino_backend/index.rst.txt
  _sources/autoapi/nncf/quantization/algorithms/layerwise/openvino_iterator/index.rst.txt
  _sources/autoapi/nncf/quantization/algorithms/layerwise/scheduler/index.rst.txt
  _sources/autoapi/nncf/quantization/algorithms/weight_compression/gptq/index.rst.txt
  autoapi/nncf/index.html
  autoapi/nncf/quantization/advanced_parameters/index.html
  autoapi/nncf/quantization/algorithms/layerwise/backend/index.html
  autoapi/nncf/quantization/algorithms/layerwise/engine/index.html
  autoapi/nncf/quantization/algorithms/layerwise/index.html
  autoapi/nncf/quantization/algorithms/layerwise/iterator/index.html
  autoapi/nncf/quantization/algorithms/layerwise/openvino_backend/index.html
  autoapi/nncf/quantization/algorithms/layerwise/openvino_iterator/index.html
  autoapi/nncf/quantization/algorithms/layerwise/scheduler/index.html
  autoapi/nncf/quantization/algorithms/weight_compression/gptq/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

Accuracy results for scale estimation algorithm in docs. (#2706)
  docs/usage/post_training_compression/weights_compression/Usage.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@cd64227f976d6e1b343d3d2c8ffe67bd795e6886 🚀
  schema/index.html
Due: none

Remove openvino-dev dep
  ReleaseNotes.md
Due: none

Add OV fix
  ReleaseNotes.md
Due: none

add yolov8 examples
  ReleaseNotes.md
Due: none

Removal install package with extra from tests (#2717)
  tests/cross_fw/install/test_install.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@99b5b85aaa5ee0c200edfa3de1ef8ff27a640385 🚀
  schema/index.html
Due: none

Rm extra
  tests/cross_fw/install/test_install.py
Due: none

Add condition to skip operator wrapping if in unpatched state
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/dynamic_graph/wrappers.py
  tests/torch/test_pytorch_patch.py
Due: torch

Fix test from previous PR
  tests/torch/pytorch_patch_isolated.py
Due: none

fix
  nncf/torch/model_graph_manager.py
Due: torch

stat return types
  nncf/common/tensor_statistics/aggregator.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/fake_quantize.py
  nncf/torch/statistics/aggregator.py
  tests/onnx/quantization/common.py
  tests/post_training/test_templates/test_ptq_params.py
  tests/torch/ptq/test_calculation_quantizer_params.py
Due: common, torch, onnx, openvino, ptq

typehint
  nncf/experimental/tensor/functions/numpy_numeric.py
  nncf/experimental/tensor/functions/torch_numeric.py
Due: torch

draft
  nncf/common/graph/graph.py
  nncf/openvino/quantization/quantize_ifmodel.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/quantize_model.py
  nncf/scopes.py
Due: common, openvino, ptq

ossf
  .github/workflows/api_changes_check.yml
  .github/workflows/assign_issue.yml
  .github/workflows/build_and_publish_doc.yml
  .github/workflows/build_html_doc.yml
  .github/workflows/build_schema_page.yml
  .github/workflows/labeler.yml
  .github/workflows/model_hub.yml
  .github/workflows/mypy.yml
  .github/workflows/nightly.yml
  .github/workflows/post_pr_merge.yml
  .github/workflows/pre-commit-linters.yml
  .github/workflows/precommit.yml
  .github/workflows/python-publish.yml
  .github/workflows/upload_coverage_for_develop.yml
Due: none

Introduce a separate class to track pytorch patching state
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/dynamic_graph/patch_pytorch_state.py
  nncf/torch/dynamic_graph/wrappers.py
  tests/torch/test_pytorch_patch.py
Due: torch

Add copyright
  nncf/torch/dynamic_graph/patch_pytorch_state.py
Due: torch

bandit happy
  examples/quantization_aware_training/torch/anomalib/main.py
Due: none

introduce IgnoredScopeMatch
  nncf/openvino/quantization/quantize_ifmodel.py
  nncf/openvino/quantization/quantize_model.py
  nncf/scopes.py
Due: openvino

Update calibrate tool
  tests/openvino/tools/calibrate.py
Due: none
