Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

comment
  nncf/quantization/quantize_model.py
  nncf/torch/model_creation.py
Due: torch, ptq

fix circular import
  nncf/torch/model_creation.py
Due: torch

wa
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

Bump pydot (#3300)
  pyproject.toml
  tests/common/data/reference_graphs/dot_rw_reference.dot
  tests/torch2/data/function_hook/graph_visualization/to_pydot_style_disable.dot
  tests/torch2/data/function_hook/graph_visualization/to_pydot_style_full.dot
  tests/torch2/data/function_hook/graph_visualization/to_pydot_style_short.dot
  tests/torch2/data/function_hook/handle_inner_functions/inner_functions_BatchNormModel.dot
  tests/torch2/data/function_hook/handle_inner_functions/inner_functions_MultiHeadAttention.dot
  tests/torch2/data/function_hook/handle_inner_functions/inner_functions_ReluModel.dot
  tests/torch2/data/function_hook/nncf_graph/convert_to_nncf_graph.dot
  tests/torch2/data/function_hook/nncf_graph/convert_to_nncf_graph_multi_edges.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_convnext_small.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_densenet121.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_efficientnet_b0.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_inception_v3.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_mobilenet_v2.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_mobilenet_v3_small.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_resnet18.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_resnext50_32x4d.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_shufflenet_v2_x0_5.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_squeezenet1_0.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_swin_v2_b.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_vgg16.dot
  tests/torch2/data/quantization/test_quantized_graphs/alexnet.dot
  tests/torch2/data/quantization/test_quantized_graphs/densenet121.dot
  tests/torch2/data/quantization/test_quantized_graphs/embedding_model.dot
  tests/torch2/data/quantization/test_quantized_graphs/inception.dot
  tests/torch2/data/quantization/test_quantized_graphs/inception_v3.dot
  tests/torch2/data/quantization/test_quantized_graphs/lenet.dot
  tests/torch2/data/quantization/test_quantized_graphs/mobilenet_v2.dot
  tests/torch2/data/quantization/test_quantized_graphs/mobilenet_v3_small.dot
  tests/torch2/data/quantization/test_quantized_graphs/resnet18.dot
  tests/torch2/data/quantization/test_quantized_graphs/rope_model.dot
  tests/torch2/data/quantization/test_quantized_graphs/scaled_dot_product_attention_model.dot
  tests/torch2/data/quantization/test_quantized_graphs/shared_model.dot
  tests/torch2/data/quantization/test_quantized_graphs/shufflenetv2.dot
  tests/torch2/data/quantization/test_quantized_graphs/squeezenet1_1.dot
  tests/torch2/data/quantization/test_quantized_graphs/unet.dot
  tests/torch2/data/quantization/test_quantized_graphs/vgg16.dot
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@1511f32d5defe5d7032e2b4ae1a84d8aead30016 🚀
  schema/index.html
Due: none

Bump transformers version (#3272)
  examples/llm_compression/openvino/smollm2_360m_fp8/requirements.txt
  examples/llm_compression/openvino/tiny_llama/requirements.txt
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  nncf/torch/exporter.py
  tests/openvino/native/quantization/test_weights_compression_statistics_caching.py
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
  tests/torch/data/experimental/sparsify_activations/dummy_llama_int8_sym_weights_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/dummy_llama_sparse_activations.dot
  tests/torch/data/reference_graphs/pruning_groups/1_layer_BERT.dot
  tests/torch/data/reference_graphs/pruning_groups/CLIP.dot
  tests/torch/data/reference_graphs/pruning_groups/DistilBERT.dot
  tests/torch/data/reference_graphs/pruning_groups/RoBERTa.dot
  tests/torch/data/reference_graphs/pruning_groups/ViT.dot
  tests/torch/data/reference_graphs/pruning_groups/ViT_no_heads.dot
  tests/torch/data/reference_graphs/pruning_groups/Wave2Vec_2.0.dot
  tests/torch/data/reference_graphs/pruning_groups/larger_BERT.dot
  tests/torch/data/search_building_block/bert.json
  tests/torch/data/search_building_block/vit.json
  tests/torch/data/search_building_block/wave2vec_2.0.json
  tests/torch/models_hub_test/requirements.txt
  tests/torch/pruning/experimental/test_nodes_grouping.py
  tests/torch/requirements.txt
  tests/torch/sparsity/movement/helpers/trainer.py
  tests/torch/sparsity/movement/test_algo.py
  tests/torch/sparsity/movement/test_model_saving.py
  tests/torch/sparsity/movement/test_structured_mask.py
  tests/torch/test_onnx_export.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@38238043978bb82d8e08f3c6c4eca384a677cef5 🚀
  schema/index.html
Due: none

[Torch] AWQ support for WeightCompression (#3279)
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/quantize_model.py
  nncf/torch/model_transformer.py
  tests/cross_fw/test_templates/template_test_weights_compression.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/data/wc_reference_data_2025.0.yaml
  tests/post_training/model_scope.py
  tests/torch/ptq/test_weights_compression.py
Due: torch, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@0dc592f3e3a608d4f6ff2a3daf7df04bc8221950 🚀
  schema/index.html
Due: none

change attention implementation from old transformers to new torch SDPA
  tests/post_training/experimental/sparsify_activations/pipelines.py
  tests/torch/experimental/search_building_blocks/test_transformer_blocks.py
  tests/torch/experimental/sparsify_activations/helpers.py
  tests/torch/models_hub_test/test_hf_transformers.py
  tests/torch/pruning/experimental/test_nodes_grouping.py
  tests/torch/sparsity/movement/helpers/run_recipe.py
  tests/torch/sparsity/movement/training_scripts/run_glue.py
Due: none

pre commit fix
  tests/torch/pruning/experimental/test_nodes_grouping.py
  tests/torch/sparsity/movement/test_model_saving.py
Due: none

revert attn_implementation according to develop branch
  tests/post_training/experimental/sparsify_activations/pipelines.py
  tests/torch/experimental/search_building_blocks/test_transformer_blocks.py
  tests/torch/experimental/sparsify_activations/helpers.py
  tests/torch/pruning/experimental/test_nodes_grouping.py
  tests/torch/sparsity/movement/helpers/run_recipe.py
Due: none

pre-commit fix
  tests/torch/experimental/search_building_blocks/test_transformer_blocks.py
Due: none

ref
  tests/torch2/data/function_hook/nncf_graph/model_graph_with_shared_parameters.dot
Due: none

[NNCF] Remove abstract methods from common layer attributes
  nncf/common/graph/layer_attributes.py
Due: common

remove xfail for onnx export test
  tests/torch/sparsity/movement/test_model_saving.py
Due: none

[NNCF] Add get_num_filters_legacy function
  nncf/common/graph/utils.py
Due: common

Comments
  nncf/experimental/torch/fx/quantization/quantize_pt2e.py
  nncf/experimental/torch/fx/quantization/quantizer/openvino_quantizer.py
Due: openvino

[NNCF] Replace get_num_filters: experimental torch backend
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
Due: none

[NNCF] Remove get_num_filters from common layer attributes
  nncf/common/graph/layer_attributes.py
Due: common

[NNCF] Update get_weight_shape_legacy function
  nncf/common/graph/utils.py
Due: common

[NNCF] Update get_target_dim_for_compression_legacy function
  nncf/common/graph/utils.py
Due: common

[NNCF] Update get_bias_shape_legacy function
  nncf/common/graph/utils.py
Due: common

Formatting changes due black and isort
  nncf/common/graph/utils.py
  nncf/experimental/torch/sparsity/movement/layers.py
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/init_range.py
Due: common, torch

awq
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  tests/torch2/function_hook/quantization/test_weights_compression.py
Due: torch, ptq

[NNCF] Replace calls: Torch backend
  nncf/torch/quantization/algo.py
  nncf/torch/sparsity/const/algo.py
  nncf/torch/sparsity/magnitude/algo.py
  nncf/torch/sparsity/rb/algo.py
Due: torch

Remove upper bound for matplotlib (#3299)
  pyproject.toml
  tools/requirements.txt
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@a403e29d162bb57db4a425c5acdb7e3cfce827fa 🚀
  schema/index.html
Due: none

Add missed parameter
  tests/torch/sparsity/movement/training_scripts/run_glue.py
Due: none

[OpenVINOQuantizer] Mark quantizer and quantize_pt2e as API (#3277)
  docs/api/source/conf.py
  nncf/experimental/torch/fx/__init__.py
  nncf/experimental/torch/fx/quantization/quantize_pt2e.py
  nncf/experimental/torch/fx/quantization/quantizer/openvino_quantizer.py
Due: openvino

Update reference for 2025.1
  tests/openvino/native/data/2025.1/reference_graphs/quantized/swin-block_performance_transformer.dot
Due: none

Update reference
  tests/openvino/native/data/2025.1/reference_graphs/quantized/swin-block_sq.dot
Due: none

Update reference for 2025.1 (#3304)
  tests/openvino/native/data/2025.1/reference_graphs/quantized/swin-block_performance_transformer.dot
  tests/openvino/native/data/2025.1/reference_graphs/quantized/swin-block_sq.dot
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@f4c9693d4a371c26888a7f44756aa12c7e0e5d75 🚀
  schema/index.html
Due: none

rm from tinyllama_scale_estimation_group_size_64 reference
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/data/wc_reference_data_2025.0.yaml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@8d33e42f78bc7559d61c69bf532ab32ff1ade2ba 🚀
  schema/index.html
Due: none

Implement suggested changes in doc strings
  nncf/common/graph/utils.py
Due: common

Implement suggested refactoring of code
  nncf/common/graph/utils.py
Due: common
