Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

extractor api
  nncf/torch/extractor.py
  tests/torch/test_extractor.py
Due: torch

output_padding_values
  nncf/common/graph/layer_attributes.py
  nncf/torch/dynamic_graph/layer_attributes_handlers.py
  nncf/torch/extractor.py
Due: common, torch

refs
  tests/torch/quantization/test_hawq_precision_init.py
Due: none

Amend get_subset_indices_pot_version to return the same values as get_subset_indices
  nncf/quantization/algorithms/accuracy_control/subset_selection.py
Due: ptq

Add tests for get_subset_indices_pot_version
  tests/common/accuracy_control/test_ranking.py
Due: none

Delete test_subset_selection
  tests/common/accuracy_control/test_subset_selection.py
Due: none

Move test_select_subset into test_ranking.py
  tests/common/accuracy_control/test_ranking.py
Due: none

Delete print statement
  tests/common/accuracy_control/test_algorithm.py
Due: none

Fixed netron visualization (#2567)
  nncf/experimental/common/graph/netron.py
  tests/common/experimental/test_netron.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@6f03560fa93dd0e5632a6cad52def614d28a4be9 🚀
  schema/index.html
Due: none

support windows in examples
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  tests/shared/command.py
Due: none

Added adwanced parametrs for compression.
  nncf/quantization/advanced_parameters.py
Due: ptq

fix: statistical points get remove only after being used
  nncf/quantization/algorithms/pipeline.py
Due: ptq

Revert changes to test_subset_indices_pot_version and adjust testcases
  nncf/quantization/algorithms/accuracy_control/subset_selection.py
  tests/common/accuracy_control/test_ranking.py
Due: ptq

fix
  nncf/torch/dynamic_graph/layer_attributes_handlers.py
  tests/torch/test_layer_attributes.py
Due: torch

comment
  nncf/torch/dynamic_graph/wrappers.py
Due: torch

extract_model
  nncf/torch/extractor.py
  tests/torch/test_extractor.py
Due: torch

Added advanced parameters to compression algo.
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
Due: torch, ptq

clean
  nncf/torch/extractor.py
Due: torch

tabulate
  examples/quantization_aware_training/torch/resnet18/main.py
  licensing/third-party-programs.txt
  nncf/common/utils/helpers.py
  nncf/torch/pruning/base_algo.py
  nncf/torch/pruning/filter_pruning/algo.py
  setup.py
Due: common, torch

Make restorer report tests more parametrized
  tests/common/accuracy_control/test_algorithm.py
Due: none

Simplified tests for collecting original biases and weights
  tests/common/accuracy_control/test_algorithm.py
Due: none

Removed unnecessary quantized model
  tests/common/accuracy_control/test_algorithm.py
Due: none

Extended collect original biases and weights test
  tests/common/accuracy_control/test_algorithm.py
Due: none

Update Good First Issue template (#2572)
  .github/ISSUE_TEMPLATE/good_first_issue.yml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@1349247478de928a7feeb9256cc8362c3a652698 🚀
  schema/index.html
Due: none

Fix broken link
  docs/compression_algorithms/CompressWeights.md
Due: none

Description is updated
  docs/compression_algorithms/CompressWeights.md
Due: none

Update docs/compression_algorithms/CompressWeights.md
  docs/compression_algorithms/CompressWeights.md
Due: none

floatfmt, fix exception
  nncf/common/utils/helpers.py
Due: common

Changed AWQ logick.
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
Due: ptq

Fix broken link (#2575)
  docs/compression_algorithms/CompressWeights.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@5c75b05a18e068f415342c8b9b2bac004e2ed241 🚀
  schema/index.html
Due: none

Revert "Fix broken link (#2575)"
  docs/compression_algorithms/CompressWeights.md
Due: none

create_table
  examples/quantization_aware_training/torch/resnet18/main.py
Due: none

Remove .dockerignore
  .dockerignore
Due: none

CI/CD: Modified Tests for new functionality
  tests/common/test_statistic_points.py
Due: none

fix: Method removes only the algorithm's tensor
  nncf/common/tensor_statistics/statistic_point.py
Due: common

fix: Returned the correct usage of new method
  nncf/quantization/algorithms/pipeline.py
Due: ptq

Remove .dockerignore (#2577)
  .dockerignore
Due: none
