Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

comment changes
  nncf/common/graph/operator_metatypes.py
  nncf/experimental/torch/fx/nncf_graph_builder.py
  nncf/torch/graph/operator_metatypes.py
Due: common, torch

update operator metatypes
  nncf/torch/graph/operator_metatypes.py
Due: torch

revert breaking changes
  nncf/common/graph/operator_metatypes.py
  nncf/experimental/torch/fx/nncf_graph_builder.py
Due: common

init
  constraints.txt
  docs/Installation.md
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/post_training_quantization/torch_fx/resnet18/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
  nncf/torch/extensions/src/quantization/cpu/functions_cpu.cpp
  nncf/version.py
  tests/torch/data/reference_graphs/fx/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/reference_attributes/default_shared_attribute_test_model.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/mobilenet_v3_small.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/resnet18.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/swin_v2_s.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/synthetic_transformer.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/unet.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/vit_b_16.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/yolo11n_sdpa_block.json
  tests/torch/data/reference_graphs/fx/resnet18.dot
  tests/torch/data/reference_graphs/fx/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/synthetic_transformer.dot
  tests/torch/data/reference_graphs/fx/unet.dot
  tests/torch/data/reference_graphs/fx/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/yolo11n_sdpa_block.dot
  tests/torch/fx/test_model_transformer.py
Due: torch

fix weights only issue
  nncf/torch/accuracy_aware_training/runner.py
Due: torch

[ruff] INP rule, extend install tests (#3244)
  nncf/experimental/quantization/__init__.py
  nncf/experimental/quantization/algorithms/__init__.py
  nncf/experimental/quantization/algorithms/post_training/algorithm.py
  nncf/experimental/quantization/algorithms/post_training/pipeline.py
  nncf/experimental/quantization/algorithms/range_estimator/__init__.py
  nncf/experimental/quantization/algorithms/range_estimator/algorithm.py
  nncf/experimental/quantization/quantizer.py
  nncf/experimental/torch/fx/quantization/quantize_pt2e.py
  nncf/experimental/torch/fx/quantization/quantizer/__init__.py
  nncf/experimental/torch/fx/quantization/quantizer/openvino_adapter.py
  nncf/experimental/torch/fx/quantization/quantizer/openvino_quantizer.py
  nncf/experimental/torch/fx/quantization/quantizer/torch_ao_adapter.py
  nncf/experimental/torch2/quantization/__init__.py
  nncf/experimental/torch2/statistics/__init__.py
  nncf/quantization/algorithms/smooth_quant/torch_backend.py
  nncf/quantization/algorithms/smooth_quant/torch_fx_backend.py
  pyproject.toml
  tests/cross_fw/install/common.py
  tests/cross_fw/install/install_checks_onnx.py
  tests/cross_fw/install/install_checks_tf.py
  tests/cross_fw/install/install_checks_torch.py
  tests/cross_fw/shared/helpers.py
  tests/torch/fx/test_quantizer.py
Due: torch, openvino, ptq

Add create_compressed_model_impl
  nncf/tensorflow/helpers/model_creation.py
  nncf/tensorflow/quantization/quantize_model.py
Due: tensorflow

Move get_config
  nncf/tensorflow/__init__.py
  nncf/tensorflow/helpers/model_creation.py
  nncf/tensorflow/utils/state.py
Due: tensorflow

Avoid import nncf in tests/cross_fw/shared/json.py (#3243)
  .github/workflows/examples.yml
  nncf/tensor/functions/numeric.py
  nncf/tensor/functions/torch_numeric.py
  tests/cross_fw/shared/json.py
  tests/cross_fw/test_templates/template_test_nncf_tensor.py
  tests/cross_fw/test_templates/test_calculate_quantizer_parameters.py
Due: torch

update graphs
  tests/torch/data/reference_graphs/fx/extracted/ConvolutionWithNotTensorBiasModelconv2d_conv2d_output_conv2d.dot
  tests/torch/data/reference_graphs/fx/extracted/ConvolutionWithNotTensorBiasModelconv2d_output.dot
  tests/torch/data/reference_graphs/fx/extracted/ConvolutionWithSeveralOutputsconv2d_conv2d_output_conv2d.dot
  tests/torch/data/reference_graphs/fx/extracted/ConvolutionWithSeveralOutputsconv2d_output.dot
  tests/torch/data/reference_graphs/fx/transformed/cat_constant_update.dot
  tests/torch/data/reference_graphs/fx/transformed/compress_post_quantize_per_channel_invalid.dot
  tests/torch/data/reference_graphs/fx/transformed/compress_post_quantize_per_channel_valid.dot
  tests/torch/data/reference_graphs/fx/transformed/compress_post_quantize_per_tensor_invalid.dot
  tests/torch/data/reference_graphs/fx/transformed/compress_post_quantize_per_tensor_valid.dot
  tests/torch/data/reference_graphs/fx/transformed/constant_update.dot
  tests/torch/data/reference_graphs/fx/transformed/folded_model_with_constraints_per_channel.dot
  tests/torch/data/reference_graphs/fx/transformed/folded_model_with_constraints_per_tensor.dot
  tests/torch/data/reference_graphs/fx/transformed/model_insertion.dot
  tests/torch/data/reference_graphs/fx/transformed/model_insertion_leaf.dot
  tests/torch/data/reference_graphs/fx/transformed/node_removal_ref.dot
  tests/torch/data/reference_graphs/fx/transformed/output_insertion_cat_5_2.dot
  tests/torch/data/reference_graphs/fx/transformed/output_insertion_cat_6_1.dot
  tests/torch/data/reference_graphs/fx/transformed/output_insertion_conv2d_1_5_1.dot
  tests/torch/data/reference_graphs/fx/transformed/output_insertion_conv2d_6_0.dot
  tests/torch/data/reference_graphs/fx/transformed/output_insertion_conv2d_6_1.dot
  tests/torch/data/reference_graphs/fx/transformed/output_insertion_conv2d_7_None.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_cat_5_2_per_channel.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_cat_5_2_per_tensor.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_cat_6_1_per_channel.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_cat_6_1_per_tensor.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_conv2d_1_5_1_per_channel.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_conv2d_1_5_1_per_tensor.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_conv2d_6_0_per_channel.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_conv2d_6_0_per_tensor.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_conv2d_6_1_per_channel.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_conv2d_6_1_per_tensor.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_conv2d_7_None_per_channel.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_insert_conv2d_7_None_per_tensor.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_shared_insert_weights_per_channel.dot
  tests/torch/data/reference_graphs/fx/transformed/qdq_shared_insert_weights_per_tensor.dot
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@62cb0df5c567099463fd32c8436d3baf4aa8bd28 🚀
  schema/index.html
Due: none

update graphs
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/resnet18.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/synthetic_transformer.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/unet.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/yolo11n_sdpa_block.dot
Due: none

update
  nncf/tensorflow/helpers/model_creation.py
Due: tensorflow

Set environment variable on LNL CPUs before compression model compilation (#3246)
  nncf/common/utils/backend.py
  nncf/common/utils/cpu_info.py
  nncf/common/utils/helpers.py
  nncf/openvino/optimized_functions/models.py
  pyproject.toml
  tests/common/utils/test_helpers.py
Due: common, openvino

Deploying to doc_pages from @ openvinotoolkit/nncf@bc907b0e5c5c3f094e59f6be324e1cdb8ce0a125 🚀
  _sources/autoapi/nncf/common/utils/cpu_info/index.rst.txt
  autoapi/nncf/common/utils/cpu_info/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

r
  tests/cross_fw/test_templates/fq_params/fq_params.json
Due: none

rename
  nncf/experimental/quantization/algorithms/post_training/algorithm.py
  nncf/experimental/quantization/algorithms/post_training/pipeline.py
  nncf/experimental/quantization/algorithms/range_estimator/algorithm.py
  nncf/experimental/quantization/quantizer.py
  nncf/experimental/torch/fx/quantization/quantize_pt2e.py
  nncf/experimental/torch/fx/quantization/quantizer/__init__.py
  nncf/experimental/torch/fx/quantization/quantizer/openvino_adapter.py
  nncf/experimental/torch/fx/quantization/quantizer/openvino_quantizer.py
  nncf/experimental/torch/fx/quantization/quantizer/torch_ao_adapter.py
  tests/torch/fx/test_quantizer.py
Due: torch, openvino

regex
  tests/cross_fw/install/install_checks_onnx.py
  tests/cross_fw/install/install_checks_openvino.py
  tests/cross_fw/install/install_checks_tf.py
  tests/cross_fw/install/install_checks_torch.py
Due: none

update model loading instances
  examples/quantization_aware_training/torch/resnet18/main.py
  examples/torch/common/model_loader.py
  examples/torch/common/models/classification/mobilenet_v2_cifar10.py
  examples/torch/common/models/classification/resnet_cifar10.py
  examples/torch/common/models/classification/vgg11_bn_cifar10.py
  examples/torch/object_detection/main.py
  examples/torch/object_detection/models/ssd_mobilenet.py
  examples/torch/object_detection/models/ssd_vgg.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
  nncf/experimental/torch/nas/bootstrapNAS/search/supernet.py
  nncf/experimental/torch/nas/bootstrapNAS/training/training_algorithm.py
  nncf/torch/automl/agent/ddpg/ddpg.py
  nncf/torch/quantization/precision_init/hawq_init.py
  tests/torch/quantization/quantization_helpers.py
  tests/torch/sample_test_validator.py
  tests/torch/sparsity/movement/helpers/trainer.py
  tests/torch/test_backward_compat.py
  tests/torch/test_models/ssd_mobilenet.py
  tests/torch/test_models/ssd_vgg.py
  tests/torch/test_sanity_sample.py
  tests/torch2/function_hook/test_handle_inner_functions.py
  tools/add_new_quantization_parameters.py
  tools/add_qualifiers_to_activation_quantizers.py
  tools/convert_mobilenet_v2_to_torchvision.py
  tools/correct_checkpoint.py
Due: torch

[TORCH] Add xfail for conformance (#3240)
  tests/post_training/data/wc_reference_data_2025.0.yaml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@b37408f8c7dda953ca0a01a088de4e8a59972ec8 🚀
  schema/index.html
Due: none

Update TF QAT docs. Deprecate TF create_compressed_model method (#3217)
  README.md
  docs/usage/training_time_compression/quantization_aware_training/Usage.md
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/quantization_aware_training/tensorflow/mobilenet_v2/main.py
  nncf/tensorflow/__init__.py
  nncf/tensorflow/helpers/model_creation.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/tensorflow/quantization/quantize_model.py
  nncf/tensorflow/utils/state.py
  nncf/torch/model_creation.py
Due: torch, tensorflow

Deploying to doc_pages from @ openvinotoolkit/nncf@e4c6678ee3d6469cd6f1488bb37c2720af04db36 🚀
  schema/index.html
Due: none

[ruff] INP rule, extend install tests (#3245)
  nncf/experimental/quantization/__init__.py
  nncf/experimental/quantization/algorithms/__init__.py
  nncf/experimental/quantization/algorithms/post_training/algorithm.py
  nncf/experimental/quantization/algorithms/post_training/pipeline.py
  nncf/experimental/quantization/algorithms/range_estimator/__init__.py
  nncf/experimental/quantization/algorithms/range_estimator/algorithm.py
  nncf/experimental/quantization/quantizer.py
  nncf/experimental/torch/fx/quantization/quantize_pt2e.py
  nncf/experimental/torch/fx/quantization/quantizer/__init__.py
  nncf/experimental/torch/fx/quantization/quantizer/openvino_adapter.py
  nncf/experimental/torch/fx/quantization/quantizer/openvino_quantizer.py
  nncf/experimental/torch/fx/quantization/quantizer/torch_ao_adapter.py
  nncf/experimental/torch2/quantization/__init__.py
  nncf/experimental/torch2/statistics/__init__.py
  nncf/quantization/algorithms/smooth_quant/torch_backend.py
  nncf/quantization/algorithms/smooth_quant/torch_fx_backend.py
  pyproject.toml
  tests/cross_fw/install/common.py
  tests/cross_fw/install/install_checks_onnx.py
  tests/cross_fw/install/install_checks_tf.py
  tests/cross_fw/install/install_checks_torch.py
  tests/cross_fw/shared/helpers.py
  tests/torch/fx/test_quantizer.py
Due: torch, openvino, ptq

Update operator_metatypes.py
  nncf/torch/graph/operator_metatypes.py
Due: torch

Update TF QAT docs. Deprecate TF create_compressed_model method (#3217) (#3254)
  README.md
  docs/usage/training_time_compression/quantization_aware_training/Usage.md
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/quantization_aware_training/tensorflow/mobilenet_v2/main.py
  nncf/tensorflow/__init__.py
  nncf/tensorflow/helpers/model_creation.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/tensorflow/quantization/quantize_model.py
  nncf/tensorflow/utils/state.py
  nncf/torch/model_creation.py
Due: torch, tensorflow

upd calibration dataset
  tests/post_training/pipelines/gpt.py
  tests/post_training/pipelines/masked_language_modeling.py
Due: none

fix aten op error
  nncf/experimental/torch/fx/nncf_graph_builder.py
  nncf/torch/graph/operator_metatypes.py
Due: torch

fix
  nncf/experimental/torch/fx/nncf_graph_builder.py
  nncf/torch/graph/operator_metatypes.py
Due: torch

[DOCS] Updating references to OV docs - port 3250 (#3251)
  README.md
  docs/Installation.md
  docs/ModelZoo.md
  docs/usage/post_training_compression/weights_compression/Usage.md
  nncf/experimental/torch/sparsity/movement/MovementSparsity.md
Due: none

[Release_v2150] Bump OV version (#3236)
  constraints.txt
  docs/Installation.md
  examples/llm_compression/openvino/smollm2_360m_fp8/requirements.txt
  examples/llm_compression/openvino/tiny_llama/requirements.txt
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/post_training_quantization/torch_fx/resnet18/requirements.txt
  examples/quantization_aware_training/tensorflow/mobilenet_v2/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
Due: none

[DOCS] Updating references to OV docs (#3250)
  README.md
  docs/Installation.md
  docs/ModelZoo.md
  docs/usage/post_training_compression/weights_compression/Usage.md
  nncf/experimental/torch/sparsity/movement/MovementSparsity.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@8f84b41953a03e61e30b3eb765f336aa1763e9c0 🚀
  schema/index.html
Due: none

Bump OV version (#3236) (#3256)
  constraints.txt
  docs/Installation.md
  examples/llm_compression/openvino/smollm2_360m_fp8/requirements.txt
  examples/llm_compression/openvino/tiny_llama/requirements.txt
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/post_training_quantization/torch_fx/resnet18/requirements.txt
  examples/quantization_aware_training/tensorflow/mobilenet_v2/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@be61f692ebe755948fd33beb8504f13fe8856995 🚀
  schema/index.html
Due: none

Added new xfails
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/test_examples.py
  tests/torch/sota_checkpoints_eval.json
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
