Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

Docstrings
  nncf/torch/dynamic_graph/context.py
  nncf/torch/model_transformer.py
  nncf/torch/nncf_network.py
Due: torch

Move add method to a function
  nncf/common/hook_handle.py
  nncf/tensorflow/layers/operation.py
  nncf/torch/dynamic_graph/context.py
  nncf/torch/layer_utils.py
  nncf/torch/nncf_network.py
  tests/common/test_hook_handle.py
  tests/torch/sparsity/magnitude/test_modules.py
  tests/torch/sparsity/rb/test_components.py
Due: common, torch, tensorflow

Docstrings
  nncf/common/hook_handle.py
Due: common

HookHandle adds ops by itself
  nncf/common/hook_handle.py
  nncf/tensorflow/layers/operation.py
  nncf/torch/dynamic_graph/context.py
  nncf/torch/layer_utils.py
  tests/common/test_hook_handle.py
  tests/torch/sparsity/magnitude/test_modules.py
  tests/torch/sparsity/rb/test_components.py
Due: common, torch, tensorflow

fix OV test
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  tests/post_training/test_templates/helpers.py
Due: ptq

HookGroup enum to str
  nncf/torch/dynamic_graph/context.py
  nncf/torch/graph/transformations/commands.py
  nncf/torch/model_transformer.py
  nncf/torch/nncf_network.py
  nncf/torch/statistics/aggregator.py
  tests/torch/test_model_transformer.py
  tests/torch/test_nncf_network.py
Due: torch

fix ONNX test
  nncf/onnx/graph/node_utils.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
Due: onnx, ptq

tests
  nncf/common/tensor_statistics/aggregator.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  tests/common/test_statistics_aggregator.py
Due: common, onnx, ptq

Fix collectors
  nncf/experimental/common/tensor_statistics/collectors.py
Due: none

fix torch tests
  nncf/quantization/algorithms/min_max/torch_backend.py
  tests/torch/ptq/test_graphs.py
Due: torch, ptq

fix tests
  tests/common/graph/test_utils.py
  tests/onnx/data/reference_scales/activation_matmul_model_mixed.json
  tests/onnx/data/reference_scales/activation_matmul_model_performance.json
  tests/onnx/data/reference_scales/linear_model_mixed.json
  tests/onnx/data/reference_scales/one_depthwise_convolutional_model_mixed.json
Due: none

common tests
  tests/onnx/quantization/test_quantizer_config.py
  tests/openvino/native/quantization/test_quantizer_config.py
  tests/post_training/test_templates/test_quantizer_config.py
  tests/torch/ptq/test_quantizer_config.py
Due: none

add docs
  nncf/common/tensor_statistics/aggregator.py
  nncf/onnx/graph/metatypes/groups.py
  nncf/openvino/graph/metatypes/groups.py
  nncf/torch/graph/operator_metatypes.py
Due: common, torch, onnx, openvino

comment
  nncf/data/dataset.py
Due: none

Minor tests fixes
  tests/torch/test_statistics_aggregator.py
Due: none

Added a note about execution time of data-based mixed precision weight compression (#2405)
  docs/compression_algorithms/CompressWeights.md
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
Due: ptq

Update test for empty tensor
  tests/common/experimental/test_statistic_collector.py
Due: none

Added metric for AWQ.
  docs/compression_algorithms/CompressWeights.md
  nncf/quantization/algorithms/weight_compression/algorithm.py
Due: ptq

Update with the new RawReducer
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/onnx/statistics/collectors.py
  nncf/openvino/statistics/collectors.py
  nncf/torch/tensor_statistics/collectors.py
  tests/common/experimental/test_reducers_and_aggregators.py
  tests/common/experimental/test_statistic_collector.py
  tests/onnx/quantization/test_reducers_and_aggregators.py
  tests/openvino/native/quantization/test_reducers_and_aggregators.py
  tests/torch/ptq/test_reducers_and_aggregators.py
Due: torch, onnx, openvino

get_output_name is removed from base reducer class
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/onnx/statistics/collectors.py
  nncf/openvino/graph/model_transformer.py
  nncf/openvino/graph/node_utils.py
  nncf/openvino/graph/transformations/commands.py
  nncf/openvino/statistics/aggregator.py
  nncf/openvino/statistics/collectors.py
  tests/openvino/native/test_model_transformer.py
Due: onnx, openvino

Added comments to example
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/README.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/main.py
Due: none

[Experimental][Collectors] Decouple inplace reducers from base reducers (#2391)
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/onnx/statistics/collectors.py
  nncf/openvino/graph/model_transformer.py
  nncf/openvino/graph/node_utils.py
  nncf/openvino/graph/transformations/commands.py
  nncf/openvino/statistics/aggregator.py
  nncf/openvino/statistics/collectors.py
  tests/openvino/native/test_model_transformer.py
Due: onnx, openvino

Deploying to doc_pages from @ openvinotoolkit/nncf@3eeb0a08d0237f82d02ad0278708c6882d082e56 🚀
  schema/index.html
Due: none

Add first version of fuzzing tests (#2402)
  Makefile
  tests/cross_fw/sdl/fuzz/quantize_api.py
  tests/cross_fw/sdl/fuzz/requirements.txt
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@c9d4d6909e16b92df274fa576a75ab868682d068 🚀
  schema/index.html
Due: none

rollback changes for torch possible impact qat
  nncf/torch/quantization/init_range.py
Due: torch

upd conformance
  tests/post_training/pipelines/causal_language_model.py
  tests/post_training/pipelines/image_classification_timm.py
  tests/post_training/pipelines/masked_language_modeling.py
Due: none

upd calibrate.py
  tests/openvino/tools/calibrate.py
Due: none

Add release notes for release v2.8.0 (#2360)
  ReleaseNotes.md
Due: none

Update ReleaseNotes.md
  ReleaseNotes.md
Due: none

[PTQ][OV] Drop POT (#2390)
  nncf/openvino/pot/__init__.py
  nncf/openvino/pot/engine.py
  nncf/openvino/pot/quantization/__init__.py
  nncf/openvino/pot/quantization/accuracy_aware.py
  nncf/openvino/pot/quantization/quantize_model.py
  nncf/openvino/pot/telemetry_extractors.py
  nncf/openvino/quantization/backend_parameters.py
  nncf/openvino/quantization/quantize_model.py
  tests/openvino/pot/__init__.py
  tests/openvino/pot/quantization/__init__.py
  tests/openvino/pot/quantization/test_helpers.py
  tests/openvino/pot/quantization/test_parameters.py
  tests/openvino/pot/quantization/test_sanity.py
  tests/openvino/pot/test_engine.py
  tests/openvino/pot/utils.py
  tests/openvino/test_transform_fn.py
  tests/openvino/tools/calibrate.py
  tests/post_training/model_scope.py
  tests/post_training/pipelines/base.py
  tests/post_training/reference_data.yaml
Due: openvino

Deploying to doc_pages from @ openvinotoolkit/nncf@ffc06f153260da72860670a607c225f5204db3e7 🚀
  _sources/autoapi/nncf/openvino/pot/engine/index.rst.txt
  _sources/autoapi/nncf/openvino/pot/index.rst.txt
  _sources/autoapi/nncf/openvino/pot/quantization/accuracy_aware/index.rst.txt
  _sources/autoapi/nncf/openvino/pot/quantization/index.rst.txt
  _sources/autoapi/nncf/openvino/pot/quantization/quantize_model/index.rst.txt
  _sources/autoapi/nncf/openvino/pot/telemetry_extractors/index.rst.txt
  autoapi/nncf/openvino/pot/engine/index.html
  autoapi/nncf/openvino/pot/index.html
  autoapi/nncf/openvino/pot/quantization/accuracy_aware/index.html
  autoapi/nncf/openvino/pot/quantization/index.html
  autoapi/nncf/openvino/pot/quantization/quantize_model/index.html
  autoapi/nncf/openvino/pot/telemetry_extractors/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

Fix docs
  docs/compression_algorithms/CompressWeights.md
Due: none

is_version -> is_valid_version
  tests/openvino/native/common.py
Due: none

Updated release notes (#2406)
  ReleaseNotes.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@bdff0ed18204799fb6dfd6a587d5bf19ca6ea7d3 🚀
  schema/index.html
Due: none

Added FP8 option to calibrate.py
  tests/openvino/tools/calibrate.py
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
