Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

Changed int4 ratio in table.
  docs/compression_algorithms/CompressWeights.md
Due: none

Update _CONV_BASE_CONST_LAYOUT values type
  nncf/openvino/graph/layout.py
Due: openvino

Compress weights of Conv layers to 8 bit (#2416)
  docs/compression_algorithms/CompressWeights.md
  nncf/common/tensor_statistics/collectors.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/config.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch/ptq/test_weights_compression.py
Due: common, torch, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@bdeef8d9e2f407fa41a13b6be6cc7df02b8389a5 🚀
  _sources/autoapi/nncf/index.rst.txt
  autoapi/nncf/index.html
  schema/index.html
  searchindex.js
Due: none

[PTQ] Update get_conv_weights_layout method (#2442)
  nncf/openvino/graph/layout.py
  tests/openvino/native/test_layer_attributes.py
Due: openvino

Deploying to doc_pages from @ openvinotoolkit/nncf@bea1bfc1fa562ab36946f11d47d0950e82be3719 🚀
  schema/index.html
Due: none

SpecifierSet
  nncf/common/logging/logger.py
  nncf/tensorflow/__init__.py
  nncf/torch/__init__.py
  nncf/version.py
Due: common, torch, tensorflow

added is_floating_point to FunctionsToPatchWithoutTracing
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/graph/operator_metatypes.py
Due: torch, ptq

green torch tests
  tests/torch/data/reference_graphs/quantized/synthetic_model/ShiftScale__normalize__multi_input_branch.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/ShiftScale__normalize__single_input_branch.dot
Due: none

comments
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/pipelines/base.py
Due: none

Update nncf/quantization/fake_quantize.py
  nncf/quantization/fake_quantize.py
Due: ptq

Added test for stateful model. (#2441)
  tests/openvino/native/models.py
  tests/openvino/native/test_engine.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@eda4368e10107baabd9a89f475d74f982017c087 🚀
  schema/index.html
Due: none

Update CompressWeights.md
  docs/compression_algorithms/CompressWeights.md
Due: none

reduced threshold for data-aware algorithms
  tests/post_training/data/wc_reference_data.yaml
Due: none

added readme
  tests/post_training/README.md
Due: none

tf
  nncf/tensorflow/__init__.py
Due: tensorflow

Revert "reduced threshold for data-aware algorithms"
  tests/post_training/data/wc_reference_data.yaml
Due: none

update atol
  tests/post_training/data/wc_reference_data.yaml
Due: none

corrected clean-up in case of error
  tests/post_training/test_quantize_conformance.py
Due: none

Added test
  nncf/openvino/quantization/quantize_ifmodel.py
  tests/openvino/native/models.py
  tests/openvino/native/test_model_utils.py
Due: openvino

Avoiding overflow on summing 32-bit int on Windows
  nncf/quantization/algorithms/weight_compression/config.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: ptq

Updated compression_weights algo
  nncf/quantization/quantize_model.py
Due: ptq

Avoiding overflow on summing 32-bit int on Windows (#2431)
  nncf/quantization/algorithms/weight_compression/config.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@3544d49e0faf378bcbcf7bdbc09ee3f281d2db44 🚀
  schema/index.html
Due: none

Conformance test for weight compression (#2425)
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  tests/post_training/README.md
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/causal_language_model.py
  tests/post_training/pipelines/image_classification_timm.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/post_training/pipelines/masked_language_modeling.py
  tests/post_training/requirements.txt
  tests/post_training/test_quantize_conformance.py
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@848b280d6e83919e0f21c6b7833386ab6b855309 🚀
  schema/index.html
Due: none

fix
  nncf/tensorflow/tf_internals.py
Due: tensorflow

Test decorators.py
  tests/common/utils/__init__.py
  tests/common/utils/test_decorators.py
Due: none

Test os.py
  tests/common/utils/test_os.py
Due: none

Added is_floating_point to FunctionsToPatchWithoutTracing (#2433)
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/graph/operator_metatypes.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/ShiftScale__normalize__multi_input_branch.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/ShiftScale__normalize__single_input_branch.dot
Due: torch, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@1391667ec6ba640719f109fcddc284bbc7348c95 🚀
  schema/index.html
Due: none

Added short description about AWQ suffix.
  docs/compression_algorithms/CompressWeights.md
Due: none

Updated compressino_weights
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
Due: torch, openvino, ptq

Fix mypy with more involvement
  nncf/common/sparsity/controller.py
  nncf/common/sparsity/schedulers.py
  nncf/tensorflow/sparsity/magnitude/algorithm.py
  nncf/tensorflow/sparsity/rb/algorithm.py
  nncf/torch/sparsity/base_algo.py
  nncf/torch/sparsity/rb/algo.py
  nncf/torch/sparsity/rb/loss.py
  tests/tensorflow/sparsity/test_common.py
  tests/torch/sparsity/test_common.py
Due: common, torch, tensorflow

Add mypy config file and a pre-commit scope GH action
  .github/workflows/mypy.yml
  .mypy.ini
  .pre-commit-config.yaml
Due: none

[PT][WC] Add WC tests for functional models (#2446)
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  tests/torch/ptq/test_weights_compression.py
Due: torch, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@2872f279c6e008a4593fcc3d487501c7f26cd9cc 🚀
  schema/index.html
Due: none

Fix .yml
  .github/workflows/mypy.yml
Due: none

[PT][WC] Add WC tests for functional models
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  tests/torch/ptq/test_weights_compression.py
Due: torch, ptq
