Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

Typehints
  tests/torch/fx/test_model_transformer.py
Due: none

add gzip
  nncf/common/tensor_statistics/aggregator.py
Due: common

add description
  nncf/quantization/advanced_parameters.py
Due: ptq

update WCstatistics
  nncf/common/tensor_statistics/statistics.py
  nncf/experimental/common/tensor_statistics/statistics.py
  nncf/quantization/algorithms/weight_compression/activation_stats.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/lora_correction.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
Due: common, torch, openvino, ptq

fix init
  nncf/experimental/common/tensor_statistics/statistics.py
Due: none

f
  .github/workflows/examples.yml
Due: none

rollback build_statistic_container
  nncf/experimental/common/tensor_statistics/statistics.py
Due: none

typo; fix mypy
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/collectors.py
  nncf/experimental/common/tensor_statistics/statistics.py
Due: common

remain only compressed mode
  nncf/common/tensor_statistics/aggregator.py
Due: common

add docstrings
  nncf/common/tensor_statistics/aggregator.py
Due: common

minor
  nncf/quantization/advanced_parameters.py
Due: ptq

Add logging
  tests/openvino/tools/calibrate.py
Due: none

Add inference_precision_hint param
  nncf/common/factory.py
  nncf/common/tensor_statistics/aggregator.py
  nncf/openvino/engine.py
  nncf/openvino/quantization/backend_parameters.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/algorithms/accuracy_control/evaluator.py
  nncf/quantization/algorithms/accuracy_control/openvino_backend.py
  nncf/quantization/algorithms/pipeline.py
  nncf/quantization/algorithms/post_training/pipeline.py
Due: common, openvino, ptq

Minor fix
  nncf/openvino/engine.py
  nncf/quantization/algorithms/accuracy_control/openvino_backend.py
Due: openvino, ptq

Update calibrate tool
  tests/openvino/tools/calibrate.py
Due: none

[GA] fail status for example workflow (#3015)
  .github/workflows/examples.yml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@cb0fe0dcc986a3d70c1bdbcfab6768205c6123bf 🚀
  schema/index.html
Due: none

adding space between descriptions and params
  nncf/experimental/torch/fx/transformations.py
Due: none

Add spaces, Remove extra code
  nncf/experimental/torch/fx/quantization/quantize_model.py
  nncf/experimental/torch/fx/transformations.py
Due: none

pre-commit fix, comment refactoring
  nncf/experimental/torch/fx/transformations.py
Due: none

[NNCF][BC] Add test case with depthwise/transpose convolutions to template and backend specific tests (#3004)
  nncf/experimental/torch/fx/transformations.py
  nncf/onnx/graph/metatypes/groups.py
  nncf/openvino/graph/metatypes/groups.py
  tests/cross_fw/test_templates/helpers.py
  tests/cross_fw/test_templates/test_bias_correction.py
  tests/onnx/quantization/test_bias_correction.py
  tests/openvino/native/test_bias_correction.py
  tests/torch/data/reference_graphs/fx/quantized/unet.dot
  tests/torch/fx/test_bias_correction.py
Due: onnx, openvino

Deploying to doc_pages from @ openvinotoolkit/nncf@17f799e0f03d2bff4fd5579e40083c1be253689c 🚀
  schema/index.html
Due: none

Fix single node being passed to _set_new_node_meta
  nncf/experimental/torch/fx/transformations.py
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/unet.dot
  tests/torch/data/reference_graphs/fx/quantized/unet.dot
Due: none

Add fixes
  nncf/common/tensor_statistics/statistics.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: common, ptq

Add test for AWQ + GPTQ + SE
  tests/openvino/native/quantization/test_weights_compression.py
Due: none

Update events info format
  nncf/telemetry/extractors.py
  nncf/telemetry/wrapper.py
Due: none

Update tests/torch/fx/test_models.py
  tests/torch/fx/test_models.py
Due: none

addressed comments
  tests/tools/test_compression_visualization.py
  tools/README.md
  tools/data/phi3_asym.md
Due: none

fixed typo
  tools/README.md
Due: none

rm WeightQuantizationErrorTensorStatistic
  nncf/common/tensor_statistics/aggregator.py
  nncf/experimental/common/tensor_statistics/statistics.py
Due: common

Fixed dead link to old location of WWB
  docs/usage/post_training_compression/weights_compression/Usage.md
  tests/tools/test_compression_visualization.py
Due: none

add tests
  tests/common/test_statistics_caching.py
  tests/cross_fw/test_templates/test_statistics_caching.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/native/test_statistics_caching.py
  tests/torch/ptq/test_statistics_caching.py
  tests/torch/ptq/test_weights_compression.py
Due: none

move data to test/tools/data
  tests/tools/data/phi3_asym.csv
  tests/tools/data/phi3_asym.md
  tests/tools/test_compression_visualization.py
  tools/visualize_compression_results.py
Due: none

improve code
  tests/common/test_statistics_caching.py
  tests/cross_fw/test_templates/test_statistics_caching.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch/ptq/test_weights_compression.py
Due: none

add __eq__ for statistics
  nncf/experimental/common/tensor_statistics/statistics.py
Due: none

Visualisation of weight compression results (#3009)
  docs/usage/post_training_compression/weights_compression/Usage.md
  docs/usage/post_training_compression/weights_compression/llama2_asym.png
  docs/usage/post_training_compression/weights_compression/phi3_asym.png
  tests/tools/data/phi3_asym.csv
  tests/tools/data/phi3_asym.md
  tests/tools/requirements.txt
  tests/tools/test_compression_visualization.py
  tools/README.md
  tools/visualize_compression_results.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@73eb8b3695b2d45e5cb4d4322b813c75a341085f 🚀
  schema/index.html
Due: none

polishing
  tests/cross_fw/test_templates/test_statistics_caching.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: none

dump objects
  nncf/common/tensor_statistics/aggregator.py
Due: common

_get_statistics_key abstarctmethod
  nncf/common/tensor_statistics/aggregator.py
  nncf/experimental/common/tensor_statistics/statistics.py
  nncf/onnx/statistics/aggregator.py
  nncf/openvino/statistics/aggregator.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/torch/statistics/aggregator.py
  tests/torch/ptq/test_statistics_caching.py
Due: common, torch, onnx, openvino, ptq

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
