Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

Style
  nncf/experimental/torch/sparsify_activations/ema_aggregator.py
  nncf/experimental/torch/sparsify_activations/sparsify_activations_impl.py
  tests/torch/experimental/sparsify_activations/test_components.py
Due: none

extend se block
  nncf/common/graph/patterns/patterns.py
  nncf/onnx/quantization/ignored_patterns.py
  nncf/openvino/quantization/ignored_patterns.py
Due: common, onnx, openvino

Handle Lora correction in torch fx weights compression
  nncf/experimental/torch/fx/quantization/quantize_model.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  nncf/quantization/quantize_model.py
  tests/torch/fx/test_compress_weights.py
Due: torch, ptq

Add graph test for compressed models in test_models
  tests/torch/data/reference_graphs/fx/compressed/mobilenet_v3_small_int8_asym.dot
  tests/torch/data/reference_graphs/fx/compressed/mobilenet_v3_small_int8_sym.dot
  tests/torch/data/reference_graphs/fx/compressed/resnet18_int8_asym.dot
  tests/torch/data/reference_graphs/fx/compressed/resnet18_int8_sym.dot
  tests/torch/data/reference_graphs/fx/compressed/swin_v2_s_int8_asym.dot
  tests/torch/data/reference_graphs/fx/compressed/swin_v2_s_int8_sym.dot
  tests/torch/data/reference_graphs/fx/compressed/unet_int8_asym.dot
  tests/torch/data/reference_graphs/fx/compressed/unet_int8_sym.dot
  tests/torch/data/reference_graphs/fx/compressed/vit_b_16_int8_asym.dot
  tests/torch/data/reference_graphs/fx/compressed/vit_b_16_int8_sym.dot
  tests/torch/fx/test_models.py
Due: none

pre commit fix
  tests/torch/fx/test_models.py
Due: none

updated the compatibility table
  docs/Installation.md
Due: none

add pattern to ignore in tests
  tests/onnx/test_pattern_manager.py
  tests/torch/test_pattern_manager.py
Due: none

polishing
  nncf/common/graph/patterns/patterns.py
  nncf/openvino/quantization/ignored_patterns.py
  tests/onnx/test_pattern_manager.py
Due: common, openvino

Deploying to doc_pages from @ openvinotoolkit/nncf@b4e216d0cc71c0c7b8601e9e264670e57018202d 🚀
  schema/index.html
Due: none

merge se_with_reshape and se
  nncf/openvino/quantization/ignored_patterns.py
  tests/onnx/test_pattern_manager.py
  tests/torch/test_pattern_manager.py
Due: openvino

rm SE_BLOCK_WITH_RESHAPE
  nncf/common/graph/patterns/patterns.py
Due: common

fix mobilenet_v3_small graph
  tests/onnx/data/reference_graphs/quantization/mobilenet_v3_small.dot
Due: none

Comments
  nncf/experimental/torch/fx/groups.py
Due: none

Comment
  nncf/experimental/torch/fx/model_transformer.py
Due: none

[TorchFX] Bias correction implementation
  nncf/experimental/torch/fx/groups.py
  nncf/experimental/torch/fx/model_transformer.py
  nncf/experimental/torch/fx/model_utils.py
  nncf/experimental/torch/fx/node_utils.py
  nncf/experimental/torch/fx/quantization/quantize_model.py
  nncf/experimental/torch/fx/transformations.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/bias_correction/openvino_backend.py
  nncf/quantization/algorithms/bias_correction/torch_fx_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  nncf/torch/graph/operator_metatypes.py
  tests/cross_fw/test_templates/test_bias_correction.py
  tests/onnx/quantization/test_bias_correction.py
  tests/openvino/native/test_bias_correction.py
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/model_scope.py
  tests/torch/data/reference_graphs/fx/extracted/ConvolutionWithAllConstantInputsModelconv2d_conv2d.dot
  tests/torch/data/reference_graphs/fx/extracted/ConvolutionWithNotTensorBiasModelconv2d_conv2d.dot
  tests/torch/data/reference_graphs/fx/extracted/MultiBranchesConnectedModelconv2d_1_add__1.dot
  tests/torch/data/reference_graphs/fx/extracted/MultiBranchesConnectedModelconv2d_add__1.dot
  tests/torch/data/reference_graphs/fx/extracted/MultiBranchesConnectedModelconv2d_add__add.dot
  tests/torch/data/reference_graphs/fx/extracted/MultiBranchesConnectedModelconv2d_conv2d_1_add__add__1.dot
  tests/torch/data/reference_graphs/fx/extracted/MultiBranchesConnectedModelconv2d_conv2d_2.dot
  tests/torch/fx/helpers.py
  tests/torch/fx/test_bias_correction.py
  tests/torch/fx/test_fast_bias_correction.py
  tests/torch/fx/test_model_transformer.py
  tests/torch/test_models/synthetic.py
Due: torch, onnx, openvino, ptq

Compatibility table updated (#2925)
  docs/Installation.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@cf06bc12fc2e365e11413a9f6c91b8b93ea3cf23 🚀
  schema/index.html
Due: none

Added statefull GPTNeox for PTQ conformance tests (#2923)
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/causal_language_model.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@cc7b3d287df4255a77d9fd255e301672ab8da60f 🚀
  schema/index.html
Due: none

Update README.md
  README.md
Due: none

Remove Yolov7 deadlink from Readme.md (#2927)
  README.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@caf851afc7331d2049a73b50f43d068d73e582eb 🚀
  schema/index.html
Due: none

Preserve the constant subgraph (#2902)
  nncf/quantization/algorithms/accuracy_control/ranker.py
  nncf/quantization/algorithms/layerwise/scheduler.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/passes.py
  tests/common/quantization/test_passes.py
  tests/common/quantization/test_quantizer_removal.py
  tests/cross_fw/test_templates/test_ptq_params.py
  tests/cross_fw/test_templates/test_quantizer_config.py
Due: torch, onnx, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@6be2fd5880254dcd1df9ef49a129bbacd319ebba 🚀
  schema/index.html
Due: none

Fix random.sample for python312 (#2914)
  tests/common/quantization/mock_graphs.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@2a52f86edd1aeef089e2b9f2eb654ab539c91995 🚀
  schema/index.html
Due: none

Add find_shapeof_subgraphs method
  nncf/quantization/algorithms/accuracy_control/ranker.py
  nncf/quantization/passes.py
  tests/common/quantization/test_quantizer_removal.py
Due: ptq

Add find_constant_subgraphs method
  nncf/quantization/passes.py
  tests/common/quantization/test_passes.py
Due: ptq

Minor fix
  nncf/quantization/passes.py
Due: ptq

Add preserved nodes
  nncf/quantization/algorithms/layerwise/scheduler.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/passes.py
  tests/cross_fw/test_templates/test_ptq_params.py
  tests/cross_fw/test_templates/test_quantizer_config.py
Due: torch, onnx, openvino, ptq

Add docs
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/passes.py
Due: ptq

Update ReleaseNotes.md
  ReleaseNotes.md
Due: none

More comments
  nncf/experimental/torch/fx/model_transformer.py
  nncf/experimental/torch/fx/model_utils.py
  nncf/experimental/torch/fx/transformations.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/torch_backend.py
  nncf/quantization/algorithms/fast_bias_correction/torch_fx_backend.py
  tests/post_training/data/ptq_reference_data.yaml
  tests/torch/data/reference_graphs/fx/transformed/output_insertion_conv2d_1_5_1_ref.dot
  tests/torch/data/reference_graphs/fx/transformed/output_insertion_conv2d_6_0_ref.dot
  tests/torch/data/reference_graphs/fx/transformed/output_insertion_conv2d_6_1_ref.dot
  tests/torch/data/reference_graphs/fx/transformed/output_insertion_conv2d_7_None_ref.dot
  tests/torch/fx/test_model_transformer.py
Due: torch, ptq

[GA] Fix remove api label (#2911)
  .github/workflows/api_set_label.yml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@0e90dac127b08dee763aee47020211b73a5d1ddd 🚀
  schema/index.html
Due: none

More comments
  nncf/experimental/torch/fx/model_transformer.py
  nncf/experimental/torch/fx/model_utils.py
Due: none

More comments
  nncf/experimental/torch/fx/transformations.py
Due: none

Add device
  tests/openvino/tools/calibrate.py
Due: none
