Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

rm requirements.txt
  requirements.txt
Due: none

[Conformance] Ultralytics yolov8n and yolo11n
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/ultralytics_detection.py
  tests/post_training/requirements.txt
Due: none

lib
  .github/workflows/examples.yml
Due: none

f
  .github/workflows/examples.yml
Due: none

Update examples/llm_compression/openvino/smollm2_360m_fp8/README.md
  examples/llm_compression/openvino/smollm2_360m_fp8/README.md
Due: none

FP8 example (#3062)
  examples/llm_compression/openvino/smollm2_360m_fp8/README.md
  examples/llm_compression/openvino/smollm2_360m_fp8/main.py
  examples/llm_compression/openvino/smollm2_360m_fp8/requirements.txt
  tests/cross_fw/examples/.test_durations
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@2db9fb9cf77b2d12db469d09d29377013708f6b1 🚀
  schema/index.html
Due: none

draft to use safetensors
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/statistics_serializer.py
  nncf/experimental/common/tensor_statistics/statistics.py
Due: common

seek for bugs
  nncf/experimental/common/tensor_statistics/statistics.py
Due: none

draft
  nncf/experimental/common/tensor_statistics/collectors.py
Due: none

fix imports
  examples/llm_compression/openvino/smollm2_360m_fp8/main.py
  examples/llm_compression/openvino/smollm2_360m_fp8/requirements.txt
Due: none

somehow works
  nncf/common/tensor_statistics/aggregator.py
  nncf/experimental/common/tensor_statistics/statistics.py
Due: common

[Conformance][TorchFX] GPU quantization support
  nncf/quantization/algorithms/smooth_quant/torch_fx_backend.py
  tests/post_training/conftest.py
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/image_classification_base.py
  tests/post_training/pipelines/image_classification_torchvision.py
  tests/post_training/test_quantize_conformance.py
Due: torch, ptq

Fix constant folding in CPU constant case
  nncf/experimental/torch/fx/constant_folding.py
  tests/torch/data/reference_graphs/fx/transformed/folded_scalar_clone_model.dot
  tests/torch/fx/test_model_transformer.py
  tests/torch/test_models/synthetic.py
Due: none

Update with WA
  tests/post_training/pipelines/masked_language_modeling.py
Due: none

Remove extra
  tests/post_training/pipelines/masked_language_modeling.py
Due: none

Adjust mobilenet_v3_small FX model metrics
  tests/post_training/data/ptq_reference_data.yaml
Due: none

Redundant code is removed from tests
  tests/cross_fw/test_templates/test_quantizer_config.py
Due: none

Revert "[DO NOT MERGE] Test on staging runner"
  .github/workflows/precommit.yml
Due: none

Empty change
  .github/workflows/precommit.yml
Due: none

[Tests] A redundant code is removed (#3119)
  tests/cross_fw/test_templates/test_quantizer_config.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@76e0ffc94a1dad765ca1d3d0bc601cadac1d0474 🚀
  schema/index.html
Due: none

c
  README.md
  docs/Installation.md
Due: none

Apply comment
  tests/post_training/model_scope.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/masked_language_modeling.py
  tests/post_training/test_quantize_conformance.py
Due: none

upd tests
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/statistics_serializer.py
  nncf/experimental/common/tensor_statistics/statistics.py
  tests/common/test_statistics_caching.py
  tests/cross_fw/test_templates/test_statistics_caching.py
  tests/cross_fw/test_templates/test_statistics_serializer.py
  tests/onnx/test_statistics_caching.py
  tests/openvino/native/test_statistics_caching.py
  tests/torch/fx/test_statistics_caching.py
  tests/torch/ptq/test_statistics_caching.py
  tests/torch/test_statistics_serializer.py
Due: common

polishing
  nncf/common/tensor_statistics/statistics_serializer.py
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/experimental/common/tensor_statistics/statistics.py
Due: common

Added BF16 & FP16 models to PTQ tests (#2922)
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/masked_language_modeling.py
Due: none

TensorBackendType -> TensorBackend
  nncf/common/tensor_statistics/statistics_serializer.py
  nncf/experimental/common/tensor_statistics/statistics.py
  nncf/tensor/__init__.py
  nncf/tensor/definitions.py
  tests/common/test_statistics_serializer.py
  tests/cross_fw/test_templates/test_statistics_serializer.py
  tests/torch/test_statistics_serializer.py
Due: common

Deploying to doc_pages from @ openvinotoolkit/nncf@9c5220a861c493fe4c5ef3b2fd608f64b5ae6d29 🚀
  schema/index.html
Due: none

add safetensors t]o pyproject
  pyproject.toml
Due: none

remove unused class
  nncf/tensor/__init__.py
  nncf/tensor/definitions.py
Due: none

remove unused class (#3123)
  nncf/tensor/__init__.py
  nncf/tensor/definitions.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@7c64c3d059a46fa234901363d69b4d3ebe7e225f 🚀
  schema/index.html
Due: none

fix
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/statistics_serializer.py
  tests/common/experimental/test_reducers_and_aggregators.py
  tests/cross_fw/test_templates/test_statistics_serializer.py
Due: common

change errors to nncf errors
  nncf/common/tensor_statistics/statistics_serializer.py
Due: common

safetensors>=0.4.1
  pyproject.toml
Due: none

Fix imports in FP8 example (#3117)
  examples/llm_compression/openvino/smollm2_360m_fp8/main.py
  examples/llm_compression/openvino/smollm2_360m_fp8/requirements.txt
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@03c054059914e47abe6fcf893e751cc42e13c95e 🚀
  schema/index.html
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
