Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

use _is_conv and remove _is_conv_node
  nncf/experimental/torch/fx/transformations.py
Due: none

Change Makefile
  Makefile
Due: none

Update ReleaseNotes.md (#2837)
  ReleaseNotes.md
Due: none

Remove super() and call parent class directly in fast bc test
  tests/torch/fx/test_fast_bias_correction.py
Due: none

Update OpenVINO version
  constraints.txt
  docs/Installation.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
Due: none

pre-commit fix
  tests/torch/fx/test_fast_bias_correction.py
Due: none

Torch and OV solver bug repro
  tests/openvino/native/data/2024.1/reference_graphs/quantized/scaled_dot_product_attention.dot
  tests/openvino/native/models.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/ScaledDotProductModel.dot
  tests/torch/test_compressed_graph.py
  tests/torch/test_models/synthetic.py
Due: none

bump torch 2.4.0
  README.md
  constraints.txt
  docs/Installation.md
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
Due: none

skipped tf_inception_v3_imagenet_rb_sparsity_int8 test for OV 2024.3
  tests/openvino/native/common.py
  tests/post_training/test_quantize_conformance.py
  tests/shared/openvino_version.py
  tests/tensorflow/sota_checkpoints_eval.json
  tests/tensorflow/test_sota_checkpoints.py
Due: none

Scale for covering full range of compressed weights. (#2790)
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/openvino/native/data/2024.1/reference_scales/IntegerModel_compressed_weights_int4_sym.json
  tests/openvino/native/data/2024.1/reference_scales/IntegerModel_compressed_weights_int8_sym.json
  tests/openvino/native/quantization/test_gptq.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/post_training/data/wc_reference_data.yaml
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@d1e4ec5a0cf42677fb0da42103cf93d25c7ea118 🚀
  schema/index.html
Due: none

add preset log
  tests/openvino/tools/calibrate.py
Due: none

Check all output branches are quantized before merging quantizers
  nncf/common/quantization/quantizer_propagation/graph.py
  nncf/common/quantization/quantizer_propagation/solver.py
  tests/torch/test_models/synthetic.py
Due: common

[TorchFX] Graph/metatypes tests implementation (#2796)
  nncf/torch/graph/operator_metatypes.py
  tests/torch/data/reference_graphs/fx/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/reference_metatypes/mobilenet_v3_small.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/resnet18.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/swin_v2_s.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/vit_b_16.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/yolov8n.json
  tests/torch/data/reference_graphs/fx/resnet18.dot
  tests/torch/data/reference_graphs/fx/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/yolov8n.dot
  tests/torch/fx/test_models.py
  tests/torch/test_models/yolov8/block.py
  tests/torch/test_models/yolov8/conv.py
  tests/torch/test_models/yolov8/head.py
  tests/torch/test_models/yolov8/model.py
  tests/torch/test_models/yolov8/transformer.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@25eff0673ac9ee606dd9a398960783a32928ada8 🚀
  schema/index.html
Due: none

[TorchFX]: Test Fast Bias Correction algorithm (#2812)
  nncf/experimental/torch/fx/transformations.py
  nncf/torch/graph/operator_metatypes.py
  tests/torch/fx/test_fast_bias_correction.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@2a0a93e16939ecf15c26b0b35f2a745068b443f3 🚀
  schema/index.html
Due: none

Add test for statistics aggregator
  tests/torch/fx/test_statistics_aggregator.py
Due: none

Import fix
  tests/torch/fx/test_statistics_aggregator.py
Due: none

WIP
  nncf/common/quantization/quantizer_propagation/solver.py
  tests/common/quantization/metatypes.py
  tests/common/quantization/test_quantizer_propagation_solver.py
  tests/torch/test_compressed_graph.py
  tests/torch/test_models/synthetic.py
Due: common

WIP Tests
  tests/openvino/native/data/2024.1/reference_graphs/quantized/scaled_dot_product_attention.dot
  tests/openvino/native/models.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/ScaledDotProductModel.dot
  tests/torch/test_compressed_graph.py
  tests/torch/test_models/synthetic.py
Due: none

pre-commit fix
  tests/torch/fx/test_statistics_aggregator.py
Due: none

gelsy
  nncf/quantization/algorithms/weight_compression/lora_correction.py
Due: ptq

unsupported options
  nncf/quantization/quantize_model.py
Due: ptq

renaming and comments in LoRA algorithm
  nncf/quantization/algorithms/weight_compression/lora_correction.py
Due: ptq

less transpose, should be faster and less memory
  nncf/quantization/algorithms/weight_compression/lora_correction.py
Due: ptq

Skip inception_v3_imagenet_rb_sparsity_int8 test from Tensorflow backend (#2849)
  tests/openvino/native/common.py
  tests/post_training/test_quantize_conformance.py
  tests/shared/openvino_version.py
  tests/tensorflow/sota_checkpoints_eval.json
  tests/tensorflow/test_sota_checkpoints.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@f60b805118dfc95f673fbe3fd9b8d1cd756a6fa0 🚀
  schema/index.html
Due: none

Add Junit report to torch cpu/gpu tasks
  Makefile
Due: none

Use INPUT_SHAPE for example input
  tests/torch/fx/test_statistics_aggregator.py
Due: none

add slice metatype to hw configs
  nncf/common/hardware/configs/cpu.json
  nncf/common/hardware/configs/gpu.json
  nncf/common/hardware/configs/npu.json
  nncf/common/hardware/opset.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
Due: common, openvino

Add junit report to torch cpu/gpu makefile tasks (#2857)
  Makefile
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@ef2aa5a305035d9e84a372a56d20dff6cbc473c6 🚀
  schema/index.html
Due: none

[TorchFX] Test implementation of YoloV8 is removed
  tests/torch/data/reference_graphs/fx/reference_metatypes/yolov8n.json
  tests/torch/data/reference_graphs/fx/yolov8n.dot
  tests/torch/fx/test_models.py
  tests/torch/requirements.txt
  tests/torch/test_models/yolov8/block.py
  tests/torch/test_models/yolov8/conv.py
  tests/torch/test_models/yolov8/head.py
  tests/torch/test_models/yolov8/model.py
  tests/torch/test_models/yolov8/transformer.py
Due: none

Update OpenVINO version (#2851)
  constraints.txt
  docs/Installation.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
Due: none

Tests
  tests/openvino/native/data/2024.1/reference_graphs/quantized/scaled_dot_product_attention.dot
  tests/openvino/native/models.py
Due: none

Revert "Revert memory monitor usage in conformance tests"
  tests/post_training/conftest.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/post_training/test_quantize_conformance.py
Due: none

Added warning regarding non-reproducibility
  tests/post_training/conftest.py
Due: none
