Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

PERF402
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_depth.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/torch/dynamic_graph/context.py
Due: torch, ptq

pyproject
  pyproject.toml
Due: none

update
  .ci/cspell_dict.txt
  constraints.txt
  nncf/onnx/graph/model_utils.py
  nncf/onnx/graph/nncf_graph_builder.py
  nncf/onnx/quantization/quantize_model.py
  tests/onnx/requirements.txt
Due: onnx

add AWQ and tests for AWQ, Mixed precision.
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  nncf/quantization/quantize_model.py
  tests/torch/fx/test_compress_weights.py
Due: torch, ptq

Update CI spell dict with FXAWQ
  .ci/cspell_dict.txt
Due: none

update
  nncf/onnx/graph/nncf_graph_builder.py
  nncf/onnx/quantization/quantize_model.py
Due: onnx

update
  .ci/cspell_dict.txt
Due: none

minor update
  nncf/onnx/graph/model_transformer.py
Due: onnx

Add Scale Estimation Support
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/quantize_model.py
  tests/torch/fx/test_compress_weights.py
Due: ptq

refactor
  tests/torch/fx/test_compress_weights.py
Due: none

refactor
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
Due: torch, ptq

remove unsupported error throw test
  tests/torch/fx/test_compress_weights.py
Due: none

Fix tests
  nncf/onnx/graph/nncf_graph_builder.py
  nncf/onnx/quantization/quantize_model.py
Due: onnx

add latest updates from develop
  tests/torch/fx/test_compress_weights.py
Due: none

Enable caching back after an exception
  nncf/common/utils/caching.py
Due: common

Add test
  tests/common/utils/test_cache_results_decorator.py
Due: none

Use pytest.raises instead of a thread
  tests/common/utils/test_cache_results_decorator.py
Due: none

Use RuntimeError instead of Exception
  tests/common/utils/test_cache_results_decorator.py
Due: none

Fix disable_caching context manager (#3410)
  nncf/common/utils/caching.py
  tests/common/utils/test_cache_results_decorator.py
Due: common

Deploying to doc_pages from @ openvinotoolkit/nncf@1e77d272a507da7c1047f1ab449e32c96e02abc4 🚀
  schema/index.html
Due: none

fix failing test
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
Due: torch, ptq

mypy
  nncf/common/pruning/node_selector.py
Due: common

Update ReleaseNotes.md
  ReleaseNotes.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@e14c978a21974dd00f942353ba7dcdf786d57b90 🚀
  schema/index.html
Due: none

Enable mypy for nncf/quantization/*py
  nncf/common/graph/graph.py
  nncf/experimental/torch/fx/quantization/quantize_model.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/algorithms/hyperparameter_tuner/algorithm.py
  nncf/quantization/fake_quantize.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
  pyproject.toml
Due: common, torch, openvino, ptq

Reorder
  examples/llm_compression/openvino/smollm2_360m_fp8/main.py
Due: none

moved "tuning with LoRA" to QAT section
  ReleaseNotes.md
Due: none

[Release_v2160] Update Release notes (#3380)
  ReleaseNotes.md
Due: none

comments
  nncf/experimental/torch2/function_hook/strip.py
  tests/torch/quantization/test_strip.py
  tests/torch2/function_hook/quantization/strip/test_strip_dequantize.py
Due: none

[Release_v2160] FP8 example minor changes (#3414)
  examples/llm_compression/openvino/smollm2_360m_fp8/main.py
Due: none

[PT2] strip for dequantize format (#3404)
  nncf/experimental/torch2/function_hook/strip.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/torch/quantization/quantize_functions.py
  nncf/torch/quantization/strip.py
  tests/torch/quantization/test_strip.py
  tests/torch2/data/reference_graphs/compress_weights/fq_lora/shared_weights_all_layers_False.dot
  tests/torch2/data/reference_graphs/compress_weights/fq_lora/shared_weights_all_layers_True.dot
  tests/torch2/function_hook/quantization/strip/test_strip_dequantize.py
  tests/torch2/function_hook/quantization/strip/test_strip_native.py
  tests/torch2/function_hook/quantization/test_fq_lora.py
  tests/torch2/requirements.txt
Due: torch, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@0fae3b20c1e260bb3cbd1e367717f05b0b2d0b39 🚀
  schema/index.html
Due: none

FP8 example minor changes (#3414) (#3415)
  examples/llm_compression/openvino/smollm2_360m_fp8/main.py
Due: none
