Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

[NNCF] Add get_weight_shape_legacy function (#3249)
  nncf/common/graph/utils.py
Due: common

[NNCF] Add get_target_dim_for_compression_legacy function (#3249)
  nncf/common/graph/utils.py
Due: common

[NNCF] Add get_bias_shape_legacy function (#3249)
  nncf/common/graph/utils.py
Due: common

[NNCF] Experimental torch backend: Replace (#3249)
  nncf/experimental/torch/sparsity/movement/layers.py
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
Due: none

[NNCF] Experimental tensorflow backend: Replace (#3249)
  nncf/experimental/tensorflow/quantization/algorithm.py
Due: none

[NNCF] Experimental common backend: Replace (#3249)
  nncf/experimental/common/pruning/nodes_grouping.py
Due: none

[NNCF] Torch backend: Replace (#3249)
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/init_range.py
Due: torch

Fix: GPTQ fails with per-channel int4 compression. (#3285)
  nncf/quantization/algorithms/weight_compression/gptq.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@9df265abcf24cab01126d75e2d7e17a50b3a1297 🚀
  schema/index.html
Due: none

Lora correction input transpose support
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

[PT2] no use gradient for building graph (#3278)
  nncf/experimental/torch2/function_hook/graph/build_graph_mode.py
  nncf/experimental/torch2/function_hook/graph/graph_utils.py
  tests/torch2/data/function_hook/graph_visualization/to_pydot_style_full.dot
  tests/torch2/data/function_hook/handle_inner_functions/inner_functions_BatchNormModel.dot
  tests/torch2/data/function_hook/handle_inner_functions/inner_functions_MultiHeadAttention.dot
  tests/torch2/data/function_hook/handle_inner_functions/inner_functions_ReluModel.dot
  tests/torch2/function_hook/graph/test_build_graph_mode.py
  tests/torch2/function_hook/nncf_graph/test_layer_attributes.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@93192d627ef6d4b7622290766e3c1a1bb82e9aaa 🚀
  schema/index.html
Due: none

[NNCF] Remove backend-specific methods from common layer attributes
  nncf/common/graph/layer_attributes.py
Due: common

[TESTS] Make a common entry point for conformance tests (#3265)
  tests/post_training/README.md
  tests/post_training/conftest.py
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/experimental/sparsify_activations/model_scope.py
  tests/post_training/experimental/sparsify_activations/pipelines.py
  tests/post_training/experimental/sparsify_activations/test_sparsify_activations_conformance.py
  tests/post_training/model_scope.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/image_classification_base.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/post_training/test_quantize_conformance.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@033be9b08433e599f90df7c538385beb244b6555 🚀
  schema/index.html
Due: none

nympy
  pyproject.toml
Due: none

[NNCF] Missing import statements in utils.py
  nncf/common/graph/utils.py
Due: common

[PT2] SmoothQuant (#3276)
  nncf/experimental/torch2/commands.py
  nncf/experimental/torch2/model_transformer.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  nncf/quantization/algorithms/smooth_quant/backend.py
  nncf/quantization/algorithms/smooth_quant/openvino_backend.py
  nncf/quantization/algorithms/smooth_quant/torch_backend.py
  nncf/quantization/algorithms/smooth_quant/torch_fx_backend.py
  nncf/torch/graph/transformations/command_creation.py
  nncf/torch/layer_utils.py
  tests/torch2/function_hook/quantization/test_smooth_quant.py
Due: torch, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@59511532060f810f9a5627b98db709d6cf433ea7 🚀
  schema/index.html
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@7715561688031d99db936e17abc7c1d31079a6d0 🚀
  _sources/autoapi/nncf/index.rst.txt
  autoapi/nncf/index.html
  schema/index.html
Due: none

Bump nympy and networkx (#3289)
  pyproject.toml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@cc7f67ab57918ca024b5c977af021d9f9ae6722b 🚀
  schema/index.html
Due: none

fix model transformer issue
  tests/torch/data/reference_graphs/fx/transformed/folded_scalar_clone_model.dot
  tests/torch/fx/test_model_transformer.py
Due: none

initial commit
  tools/llm_weight_compression/README.md
  tools/llm_weight_compression/config_optimum_cli.json
  tools/llm_weight_compression/requirements.txt
  tools/llm_weight_compression/run.py
Due: none

add_additional_outputs is True by default in LayerwiseScheduler
  nncf/quantization/algorithms/layerwise/scheduler.py
Due: ptq

add lm_eval version
  tools/llm_weight_compression/README.md
Due: none

minor improvements
  tools/llm_weight_compression/run.py
Due: none

[GHA] Bump actions (#3284)
  .github/workflows/api_changes_check.yml
  .github/workflows/api_set_label.yml
  .github/workflows/build_and_publish_doc.yml
  .github/workflows/build_html_doc.yml
  .github/workflows/build_schema_page.yml
  .github/workflows/call_precommit.yml
  .github/workflows/call_precommit_windows.yml
  .github/workflows/conformance_weight_compression.yml
  .github/workflows/examples.yml
  .github/workflows/install.yml
  .github/workflows/macos.yml
  .github/workflows/model_hub.yml
  .github/workflows/mypy.yml
  .github/workflows/nightly.yml
  .github/workflows/pre-commit-linters.yml
  .github/workflows/python-publish.yml
  .github/workflows/sdl.yml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@05be5f2ee59283aaa2c041c8ded8de3f5d38b2b7 🚀
  schema/index.html
Due: none

POC
  nncf/openvino/optimized_functions/__init__.py
  nncf/openvino/optimized_functions/functions.py
  nncf/openvino/optimized_functions/models.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: openvino, ptq

add who_what_benchmark
  tools/llm_weight_compression/config_optimum_lm_eval.json
  tools/llm_weight_compression/config_optimum_wwb.json
  tools/llm_weight_compression/run.py
Due: none

Update version
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
  tests/torch/models_hub_test/requirements.txt
  tests/torch/requirements.txt
Due: none

minor
  tools/llm_weight_compression/run.py
Due: none

typehint
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
Due: torch, ptq

Update references
  tests/torch/data/experimental/sparsify_activations/dummy_llama_int8_sym_weights_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/dummy_llama_sparse_activations.dot
  tests/torch/data/reference_graphs/pruning_groups/1_layer_BERT.dot
  tests/torch/data/reference_graphs/pruning_groups/CLIP.dot
  tests/torch/data/reference_graphs/pruning_groups/DistilBERT.dot
  tests/torch/data/reference_graphs/pruning_groups/RoBERTa.dot
  tests/torch/data/reference_graphs/pruning_groups/ViT.dot
  tests/torch/data/reference_graphs/pruning_groups/ViT_no_heads.dot
  tests/torch/data/reference_graphs/pruning_groups/Wave2Vec_2.0.dot
  tests/torch/data/reference_graphs/pruning_groups/larger_BERT.dot
  tests/torch/data/search_building_block/bert.json
  tests/torch/data/search_building_block/vit.json
  tests/torch/data/search_building_block/wave2vec_2.0.json
  tests/torch/pruning/experimental/test_nodes_grouping.py
  tests/torch/sparsity/movement/test_algo.py
  tests/torch/sparsity/movement/test_model_saving.py
  tests/torch/sparsity/movement/test_structured_mask.py
  tests/torch/test_onnx_export.py
Due: none

parse results
  tools/llm_weight_compression/run.py
Due: none

fix style
  tools/llm_weight_compression/run.py
Due: none

Polishing
  nncf/openvino/graph/node_utils.py
  nncf/openvino/optimized_functions/functions.py
  nncf/openvino/optimized_functions/models.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/tensor/functions/openvino_numeric.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/optimized_functions/test_ov_model_parameters.py
Due: torch, openvino, ptq
