Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

Update version of tensorflow_hub
  examples/tensorflow/requirements.txt
  tests/tensorflow/requirements.txt
Due: none

Added docstring; improved test
  nncf/torch/dynamic_graph/patch_pytorch.py
  tests/torch/pytorch_patch_isolated.py
Due: torch

Replaced key check by type check
  nncf/torch/dynamic_graph/patch_pytorch.py
  tests/torch/pytorch_patch_isolated.py
Due: torch

Rename
  nncf/torch/dynamic_graph/patch_pytorch.py
Due: torch

Addressed changes
  nncf/torch/dynamic_graph/patch_pytorch.py
Due: torch

Update
  .github/workflows/precommit.yml
  tests/tensorflow/sparsity/rb/test_components.py
Due: none

Removed unused assert and changed model for AWQ test.
  nncf/quantization/algorithms/weight_compression/awq.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: ptq

Update
  Makefile
  constraints.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  tests/tensorflow/requirements.txt
Due: none

Add exception for compilation of optimized model
  nncf/torch/dynamic_graph/patch_pytorch.py
  tests/torch/test_pytorch_patch.py
Due: torch

revert
  Makefile
Due: none

WIP
  nncf/experimental/torch_fx/model_transformer.py
  nncf/experimental/torch_fx/nncf_graph_builder.py
  nncf/experimental/torch_fx/operator_metatypes.py
  nncf/torch/__init__.py
  torch_compile_ex_release.py
Due: torch

del NNCFCollectorTensorProcessor
  nncf/common/tensor_statistics/collectors.py
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/tensorflow/tensor_statistics/collectors.py
  nncf/torch/tensor_statistics/collectors.py
  tests/tensorflow/tensor_statistics/test_tensor_statistics.py
Due: common, torch, tensorflow

Fix
  tests/tensorflow/sparsity/rb/test_components.py
Due: none

Revert
  examples/tensorflow/requirements.txt
  tests/tensorflow/requirements.txt
Due: none

Revert
  examples/tensorflow/requirements.txt
Due: none

rm zero_elements
  nncf/experimental/tensor/functions/__init__.py
  nncf/experimental/tensor/functions/numeric.py
  nncf/experimental/tensor/functions/numpy_numeric.py
  nncf/experimental/tensor/functions/torch_numeric.py
  tests/shared/test_templates/template_test_nncf_tensor.py
Due: torch

Revert
  tests/tensorflow/requirements.txt
Due: none

rework torch masked
  nncf/experimental/tensor/functions/torch_numeric.py
Due: torch

Update tensorflow_addons
  examples/tensorflow/requirements.txt
  tests/tensorflow/requirements.txt
Due: none

tests
  nncf/experimental/tensor/functions/torch_numeric.py
  tests/shared/test_templates/template_test_nncf_tensor.py
Due: torch

Comments
  docs/usage/post_training_compression/post_training_quantization/ONNX.md
  docs/usage/post_training_compression/post_training_quantization/Usage.md
  docs/usage/post_training_compression/weights_compression/Usage.md
  docs/usage/training_time_compression/other_algorithms/BatchnormAdaptation.md
  docs/usage/training_time_compression/other_algorithms/KnowledgeDistillation.md
  docs/usage/training_time_compression/other_algorithms/LegacyQuantization.md
  docs/usage/training_time_compression/other_algorithms/Pruning.md
  docs/usage/training_time_compression/other_algorithms/Sparsity.md
  docs/usage/training_time_compression/other_algorithms/Usage.md
  docs/usage/training_time_compression/quantization_aware_training/Usage.md
Due: none

Fix
  examples/tensorflow/requirements.txt
  tests/tensorflow/requirements.txt
Due: none

Fix
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  setup.py
Due: none

Fix
  constraints.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  setup.py
Due: none

Fix
  setup.py
Due: none

torch==2.3.0
  README.md
  constraints.txt
  docs/Installation.md
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
  setup.py
Due: none

Add log message for when no matches were found for AWQ algorithm
  nncf/quantization/algorithms/weight_compression/awq.py
Due: ptq

more tests
  tests/shared/test_templates/template_test_nncf_tensor.py
Due: none

add new method for searching Add node which represents bias
  nncf/openvino/graph/node_utils.py
  nncf/openvino/graph/transformations/command_creation.py
  nncf/quantization/algorithms/channel_alignment/openvino_backend.py
Due: openvino, ptq

WIP transformation is ok, performance is bad
  nncf/experimental/torch_fx/model_transformer.py
  torch_compile_ex_release.py
Due: none

fix
  nncf/quantization/algorithms/channel_alignment/openvino_backend.py
Due: openvino, ptq

Add more functions for experimental tensor (#2687)
  nncf/experimental/tensor/functions/__init__.py
  nncf/experimental/tensor/functions/numeric.py
  nncf/experimental/tensor/functions/numpy_numeric.py
  nncf/experimental/tensor/functions/torch_numeric.py
  tests/shared/test_templates/template_test_nncf_tensor.py
Due: torch

Add log message for when no matches were found for AWQ algorithm (#2691)
  nncf/quantization/algorithms/weight_compression/awq.py
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@3d11e8a599ac87d6c822c973a0efd6367e979a10 🚀
  schema/index.html
Due: none

refs
  tests/torch/data/reference_graphs/quantized/synthetic_model/MHA.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/MHA_single_input.dot
Due: none

fix tests
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/experimental/tensor/functions/torch_numeric.py
  tests/common/experimental/test_reducers_and_aggregators.py
Due: torch

fix tf
  nncf/tensorflow/tensor_statistics/collectors.py
Due: tensorflow

add sorting using get_target_inputs()
  nncf/openvino/graph/nncf_graph_builder.py
Due: openvino

apply comment
  nncf/quantization/algorithms/channel_alignment/openvino_backend.py
Due: openvino, ptq

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
