Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

Refactor NLS code in separate folder
  examples/llm_compression/torch/qat_with_lora/README.md
  examples/llm_compression/torch/qat_with_lora/__init__.py
  examples/llm_compression/torch/qat_with_nls_downstream/README.md
  examples/llm_compression/torch/qat_with_nls_downstream/main.py
  examples/llm_compression/torch/qat_with_nls_downstream/pics/lora_vs_nls.png
  examples/llm_compression/torch/qat_with_nls_downstream/requirements.txt
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
Due: none

Explicit mapping GPU target device to CPU for a8w8 (#3489)
  nncf/common/hardware/configs/gpu.json
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/common/quantization/test_minmax.py
  tests/common/test_hardware_config.py
Due: common, ptq

use stateful model in the tiny_llama example
  examples/llm_compression/openvino/tiny_llama/main.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@3eb9532e65c37a0294dab8a01cb9d392fa89e6ad 🚀
  schema/index.html
Due: none

Rollback debug code
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: ptq

Use stateful model in the tiny_llama example (#3490)
  examples/llm_compression/openvino/tiny_llama/main.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@c62960721341e8b54d74ae0557274d46e3fa37d8 🚀
  schema/index.html
Due: none

Aligned bf16 tuning vs f32 inference for 4bit compression
  examples/llm_compression/torch/qat_with_lora/README.md
  nncf/torch/quantization/quantize_functions.py
  tests/cross_fw/examples/example_scope.json
  tests/torch2/function_hook/quantization/strip/test_strip_dequantize.py
  tests/torch2/function_hook/quantization/test_fq_lora.py
Due: torch

use default dynamic quantization group size
  examples/llm_compression/openvino/smollm2_360m_fp8/main.py
  examples/llm_compression/openvino/tiny_llama/main.py
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/main.py
  examples/llm_compression/torch/qat_with_lora/main.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/torch2/function_hook/quantization/test_fq_lora.py
Due: none

Added tests and example.
  examples/llm_compression/openvino/smollm2_360m_codebook/main.py
  nncf/parameters.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: ptq

Use average time for onnx with accuracy control
  tests/cross_fw/examples/.test_durations
Due: none

took the test durations from latest jobs
  tests/cross_fw/examples/.test_durations
  tests/post_training/data/wc_test_durations.json
Due: none

Added file with compression data structures.
  nncf/quantization/algorithms/weight_compression/common.py
Due: ptq

Removed debug information.
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/weight_compression/codebook.py
  nncf/quantization/algorithms/weight_compression/common.py
Due: ptq

Added custom codebook to example.
  examples/llm_compression/openvino/smollm2_360m_codebook/README.md
  examples/llm_compression/openvino/smollm2_360m_codebook/main.py
  examples/llm_compression/openvino/smollm2_360m_codebook/requirements.txt
  nncf/__init__.py
  nncf/version.py
Due: none

init commit
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/graph/onnx_helper.py
  nncf/onnx/quantization/quantize_model.py
  nncf/quantization/algorithms/weight_compression/onnx_backend.py
Due: onnx, ptq

remove test
  tests/onnx/quantization/test_weights_compression.py
Due: none

Update cspell_dict
  .ci/cspell_dict.txt
Due: none

Fixed bug with group_size=-1.
  nncf/quantization/algorithms/weight_compression/codebook.py
Due: ptq

Moved convert before gather.
  examples/llm_compression/openvino/smollm2_360m_codebook/main.py
  nncf/openvino/graph/node_utils.py
Due: openvino

Removed backend specific parameter from advanced parameters.
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

Fixed tests.
  tests/openvino/native/quantization/test_weights_compression.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@b3c911932bc27a5e70313c10731fc5e9410ab168 🚀
  schema/index.html
Due: none

fix for _get_ignored_scope_weight_statistics
  nncf/quantization/algorithms/weight_compression/algorithm.py
Due: ptq

Aligned bf16 tuning vs f32 inference for 4bit compression (#3493)
  examples/llm_compression/torch/qat_with_lora/README.md
  nncf/torch/quantization/quantize_functions.py
  tests/cross_fw/examples/example_scope.json
  tests/torch2/function_hook/quantization/strip/test_strip_dequantize.py
  tests/torch2/function_hook/quantization/test_fq_lora.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@0d42595edddb9f2edf042617e49e26a7676eacee 🚀
  schema/index.html
Due: none

optimum
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
  tests/torch/requirements.txt
  tests/torch2/requirements.txt
Due: none

ref
  tests/torch/data/reference_graphs/pruning_groups/ViT.dot
  tests/torch/data/reference_graphs/pruning_groups/ViT_no_heads.dot
  tests/torch2/data/function_hook/sparsify_activations/dummy_llama_int8_sym_weights_sparse_activations.dot
  tests/torch2/data/function_hook/sparsify_activations/dummy_llama_sparse_activations.dot
Due: none

ref
  tests/torch/pruning/experimental/test_nodes_grouping.py
Due: none

lora atol
  tests/torch2/function_hook/quantization/test_fq_lora.py
Due: none

rename fx utils
  examples/llm_compression/torch_fx/tiny_llama/main.py
  examples/llm_compression/torch_fx/tiny_llama/modelling.py
Due: none

pre commit fix
  examples/llm_compression/openvino/tiny_llama/main.py
  tests/post_training/pipelines/base.py
Due: none

[Fix] Calculation of statistics for ignored weights (#3500)
  nncf/quantization/algorithms/weight_compression/algorithm.py
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@1a419a98dcfa2ec7f6a3f424caaa0a7fc73802b5 🚀
  schema/index.html
Due: none

fix precommit
  examples/llm_compression/openvino/tiny_llama/main.py
  tests/post_training/pipelines/base.py
Due: none

Merge develop
  .github/workflows/sdl.yml
  examples/llm_compression/torch/qat_with_lora/README.md
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/torch/quantization/quantize_functions.py
  tests/cross_fw/examples/example_scope.json
  tests/torch2/function_hook/quantization/strip/test_strip_dequantize.py
  tests/torch2/function_hook/quantization/test_fq_lora.py
Due: torch, ptq

Add export to OV
  examples/llm_compression/torch/qat_with_nls_downstream/main.py
Due: none

Fix main NLS export to OV
  examples/llm_compression/torch/qat_with_nls_downstream/main.py
Due: none

Fix for prevent Gather from low-precision types be recognized as input for graph.
  nncf/openvino/graph/metatypes/openvino_metatypes.py
Due: openvino
