Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

Update weight_lowering.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: ptq

Add caching for _can_run_optimized
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: ptq

license note
  examples/llm_compression/torch/qat_with_lora/custom_eval_tasks/preprocess_wikitext.py
Due: none

Added note about copy-pasted code with MIT license (#3502)
  examples/llm_compression/torch/qat_with_lora/custom_eval_tasks/preprocess_wikitext.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@955a2b9b5c95ef8f5f8b48206ca53e4ef3801c35 🚀
  schema/index.html
Due: none

use default dynamic quantization group size (#3495)
  examples/llm_compression/openvino/smollm2_360m_fp8/main.py
  examples/llm_compression/openvino/tiny_llama/main.py
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/main.py
  examples/llm_compression/torch/qat_with_lora/main.py
  tests/cross_fw/examples/.test_durations
  tests/post_training/data/wc_test_durations.json
  tests/post_training/pipelines/lm_weight_compression.py
  tests/torch2/function_hook/quantization/test_fq_lora.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@daa5174e71dc1c79982293f56becd38a78f62c6e 🚀
  schema/index.html
Due: none

Fixed mypy test.
  nncf/common/graph/operator_metatypes.py
Due: common

Add default lora rank space
  examples/llm_compression/torch/qat_with_nls_downstream/main.py
Due: none

added license for autogptq and lm_eval
  licensing/third-party-programs.txt
Due: none

Fix defaults for training
  examples/llm_compression/torch/qat_with_nls_downstream/README.md
  examples/llm_compression/torch/qat_with_nls_downstream/main.py
Due: none

Fix example with do_train as default
  tests/cross_fw/examples/run_example.py
Due: none

Add eval_only
  examples/llm_compression/torch/qat_with_nls_downstream/README.md
  examples/llm_compression/torch/qat_with_nls_downstream/main.py
Due: none

Fix pre-commit error
  examples/llm_compression/torch/qat_with_nls_downstream/main.py
Due: none

added support for fp8 weight compression into 4 bit types
  nncf/openvino/optimized_functions/models.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/config.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/quantization/test_gptq.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: openvino, ptq

Added test for fp8 SDPA.
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
Due: none

Fixed for mypy.
  nncf/common/graph/operator_metatypes.py
Due: common

fixed backup precsion
  nncf/quantization/algorithms/weight_compression/algorithm.py
Due: ptq

added license to source files
  examples/llm_compression/torch/qat_with_lora/custom_eval_tasks/preprocess_wikitext.py
  tests/openvino/native/quantization/test_gptq.py
Due: none

Release QAT example with NLS (#3480)
  .ci/cspell_dict.txt
  examples/llm_compression/torch/qat_with_nls_downstream/README.md
  examples/llm_compression/torch/qat_with_nls_downstream/main.py
  examples/llm_compression/torch/qat_with_nls_downstream/pics/lora_vs_nls.png
  examples/llm_compression/torch/qat_with_nls_downstream/requirements.txt
  nncf/common/quantization/structs.py
  nncf/parameters.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/layers.py
  tests/cross_fw/examples/.test_durations
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
Due: common, torch, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@a283adc0fd45766573e36cd3882243bfb0120071 🚀
  _sources/autoapi/nncf/common/quantization/structs/index.rst.txt
  _sources/autoapi/nncf/index.rst.txt
  autoapi/nncf/common/quantization/structs/index.html
  autoapi/nncf/index.html
  schema/index.html
  searchindex.js
Due: none

Extend test for codebook.
  tests/openvino/native/quantization/test_weights_compression.py
Due: none

review changes
  examples/llm_compression/torch_fx/tiny_llama/main.py
  examples/llm_compression/torch_fx/tiny_llama/modelling.py
  tests/cross_fw/examples/test_examples.py
Due: none

Bump transformers to 4.51.3 (#3471)
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
  tests/torch/data/reference_graphs/pruning_groups/ViT.dot
  tests/torch/data/reference_graphs/pruning_groups/ViT_no_heads.dot
  tests/torch/models_hub_test/requirements.txt
  tests/torch/pruning/experimental/test_nodes_grouping.py
  tests/torch/requirements.txt
  tests/torch2/data/function_hook/sparsify_activations/dummy_llama_int8_sym_weights_sparse_activations.dot
  tests/torch2/data/function_hook/sparsify_activations/dummy_llama_sparse_activations.dot
  tests/torch2/function_hook/quantization/test_fq_lora.py
  tests/torch2/requirements.txt
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@a36c440ae276a17760250c27d5451794f9dc9729 🚀
  schema/index.html
Due: none

rm legacy
  tests/torch/quantization/test_layers.py
Due: none

remove test
  tests/onnx/quantization/test_weights_compression.py
Due: none

Update cspell_dict
  .ci/cspell_dict.txt
Due: none

init commit
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/graph/onnx_helper.py
  nncf/onnx/quantization/quantize_model.py
  nncf/quantization/algorithms/weight_compression/onnx_backend.py
Due: onnx, ptq

draft
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/data/wwb_ref_answers/tinyllama__tinyllama-1.1b-step-50k-105b/ref_qa_onnx.csv
  tests/post_training/model_scope.py
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

test
  tests/post_training/requirements.txt
Due: none

update conformance_weight_compression.yml
  .github/workflows/conformance_weight_compression.yml
Due: none

fix
  tests/post_training/requirements.txt
Due: none

fix
  .github/workflows/conformance_weight_compression.yml
Due: none

revert
  .github/workflows/conformance_weight_compression.yml
Due: none

opset19
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

add tests
  tests/onnx/test_onnx_helper.py
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

fixes for deepseek-r1
  nncf/openvino/optimized_functions/models.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
Due: openvino, ptq

Fixed nls for sym mode
  nncf/torch/quantization/layers.py
  tests/torch/quantization/test_layers.py
Due: torch

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
