Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@d94c56491105e8afc47b11ce471a698f5613504c 🚀
  schema/index.html
Due: none

minor
  Makefile
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
Due: none

fix version
  examples/tensorflow/requirements.txt
  tests/tensorflow/requirements.txt
Due: none

black 24.4.2
  .pre-commit-config.yaml
  nncf/common/quantization/quantizer_propagation/graph.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/common/tensor_statistics/statistic_point.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/tensorflow/utils/node.py
  nncf/torch/quantization/init_range.py
  tests/tensorflow/test_sanity_sample.py
  tests/torch/qat/helpers.py
  tests/torch/qat/test_qat_object_detection.py
  tests/torch/test_statistics_aggregator.py
Due: common, torch, tensorflow, openvino, ptq

Add loop body quantization
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  nncf/openvino/graph/node_utils.py
  nncf/openvino/quantization/quantize_ifmodel.py
  nncf/openvino/quantization/quantize_loopmodel.py
  nncf/openvino/quantization/quantize_model.py
Due: openvino

Minor update
  nncf/openvino/quantization/quantize_loopmodel.py
Due: openvino

Bump version of black to 24.4.2 (#2678)
  .pre-commit-config.yaml
  nncf/common/quantization/quantizer_propagation/graph.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/common/tensor_statistics/statistic_point.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/tensorflow/utils/node.py
  nncf/torch/quantization/init_range.py
  tests/tensorflow/test_sanity_sample.py
  tests/torch/qat/helpers.py
  tests/torch/qat/test_qat_object_detection.py
  tests/torch/test_statistics_aggregator.py
Due: common, torch, tensorflow, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@551285dc331b57ed685f7ab6e3a5a35a2986b5c3 🚀
  schema/index.html
Due: none

removed compress from openvino examples
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
  examples/post_training_quantization/openvino/yolov8/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  examples/post_training_quantization/torch/ssd300_vgg16/main.py
  examples/quantization_aware_training/torch/resnet18/main.py
  tests/shared/paths.py
Due: none

Remove openvino-dev dependency (#2675)
  constraints.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/main.py
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
  tests/onnx/benchmarking/requirements.txt
  tests/onnx/requirements.txt
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
  tests/tensorflow/requirements.txt
  tests/torch/requirements.txt
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@66b381c22e62e1137a669d6fa83f73cfdaed4980 🚀
  schema/index.html
Due: none

[TF] Fix dependency conflict (#2677)
  examples/tensorflow/requirements.txt
  tests/tensorflow/requirements.txt
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@707075a767762152ef58168d086b448b354dc750 🚀
  schema/index.html
Due: none

Added scale_estimation flag to IR metadata.
  nncf/quantization/algorithms/weight_compression/algorithm.py
Due: ptq

Added scale_estimation flag to IR metadata. (#2680)
  nncf/quantization/algorithms/weight_compression/algorithm.py
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@69ebebee2771c9a196a8c4fddaaf12123dc09dd4 🚀
  schema/index.html
Due: none

reverted paths.py to initial state
  tests/shared/paths.py
Due: none

clean
  nncf/experimental/tensor/README.md
  tests/shared/test_templates/template_test_nncf_tensor.py
Due: none

[quantization] Fix config compatible check
  nncf/common/quantization/structs.py
Due: common

[quantization] Fix config compatible check (#2681)
  nncf/common/quantization/structs.py
Due: common

Deploying to doc_pages from @ openvinotoolkit/nncf@9cfc7b48f6511356021801790e725453b2612ac4 🚀
  schema/index.html
Due: none

Comments
  examples/post_training_quantization/torch/save_load_mobilenet_v2/common.py
  examples/post_training_quantization/torch/save_load_mobilenet_v2/export_onnx.py
  examples/post_training_quantization/torch/save_load_mobilenet_v2/export_openvino.py
  examples/post_training_quantization/torch/save_load_mobilenet_v2/quantize.py
  examples/post_training_quantization/torch/save_load_mobilenet_v2/requirements.txt
  tests/cross_fw/examples/run_example.py
Due: none

[Torch][PTQ] Resnet18 example updated to showcase comrpession save/load
  examples/quantization_aware_training/torch/resnet18/main.py
  tests/cross_fw/examples/example_scope.json
Due: none

WIP
  nncf/torch/dynamic_graph/patch_pytorch.py
  reproducer.py
Due: torch

Comments
  examples/quantization_aware_training/torch/resnet18/main.py
Due: none

Unpatch torch operators during torch compile call and during compiled model forward call
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/dynamic_graph/wrappers.py
  reproducer.py
Due: torch

add fns
  nncf/experimental/tensor/functions/__init__.py
  nncf/experimental/tensor/functions/numeric.py
  nncf/experimental/tensor/functions/numpy_numeric.py
  nncf/experimental/tensor/functions/torch_numeric.py
  tests/shared/test_templates/template_test_nncf_tensor.py
Due: torch

[Torch][PTQ] Resnet18 example updated to showcase comrpession save/load (#2685)
  examples/quantization_aware_training/torch/resnet18/main.py
  tests/cross_fw/examples/example_scope.json
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@24f0ee707cd5a35abf351f8647efc0fbd0ee273b 🚀
  schema/index.html
Due: none

f
  nncf/experimental/tensor/functions/numeric.py
  nncf/experimental/tensor/functions/numpy_numeric.py
  nncf/experimental/tensor/functions/torch_numeric.py
  tests/shared/test_templates/template_test_nncf_tensor.py
Due: torch

fix
  nncf/experimental/tensor/functions/numeric.py
  nncf/experimental/tensor/functions/torch_numeric.py
  tests/shared/test_templates/template_test_nncf_tensor.py
Due: torch

Update nncf/experimental/tensor/functions/numeric.py
  nncf/experimental/tensor/functions/numeric.py
Due: none

Update mish activation
  examples/tensorflow/common/object_detection/architecture/darknet.py
Due: none

Update README.md
  README.md
Due: none

Update version
  examples/tensorflow/requirements.txt
  nncf/version.py
  setup.py
  tests/tensorflow/requirements.txt
Due: none

Minor update
  examples/tensorflow/common/object_detection/architecture/darknet.py
  setup.py
Due: none

Minor update
  setup.py
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
