Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

mention dejavu for acceleration example
  nncf/experimental/torch/sparsify_activations/ActivationSparsity.md
Due: none

Revise ActivationSparsity.md * remove ignore_scope argument sparsify_activations call in example snippet
  nncf/experimental/torch/sparsify_activations/ActivationSparsity.md
Due: none

Revise ActivationSparsity.md * Add notes about experimental features and in-development of runtime kernel * Elaborate on target support only on Linear layers for LLMs
  nncf/experimental/torch/sparsify_activations/ActivationSparsity.md
Due: none

revert
  tests/common/graph/test_dot_file_rw.py
Due: none

Fix pytest warnings (#2813)
  tests/common/accuracy_control/test_calculate_drop.py
  tests/common/quantization/test_minmax.py
  tests/common/quantization/test_passes.py
  tests/common/quantization/test_quantizer_removal.py
  tests/common/requirements.txt
  tests/onnx/pytest.ini
  tests/onnx/quantization/test_classification_models_graph.py
  tests/onnx/quantization/test_opset_versions.py
  tests/onnx/test_nncf_graph_builder.py
  tests/onnx/test_weightless_model.py
  tests/post_training/test_templates/test_quantizer_config.py
  tests/tensorflow/pytest.ini
  tests/torch/nas/test_state.py
  tests/torch/nncf_network/test_hook_handlers.py
  tests/torch/nncf_network/test_nncf_network.py
  tests/torch/pruning/experimental/test_nodes_grouping.py
  tests/torch/quantization/test_tracing.py
  tests/torch/test_algo_common.py
  tests/torch/test_no_nncf_trace_patching.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@d113c2ab6089d1ab4e12d38307f438ed63d5660e 🚀
  schema/index.html
Due: none

remove log from autogenerated ignored node names
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
Due: torch, onnx, openvino, ptq

Initial draft. Rebased.
  nncf/common/logging/logger.py
  nncf/openvino/quantization/compression_primitives.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/utils.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: common, openvino, ptq

Changed API for memory logger. Added tests.
  .github/workflows/precommit.yml
  tests/tools/requirements.txt
  tests/tools/test_memory_monitor.py
  tools/memory_logger.py
  tools/memory_monitor.py
  tools/requirements.txt
Due: none

forked
  constraints.txt
  tests/post_training/requirements.txt
  tests/post_training/test_quantize_conformance.py
Due: none

Tweaks
  tests/tools/test_memory_monitor.py
  tools/memory_monitor.py
Due: none

Fix tests
  tests/post_training/test_templates/test_quantizer_config.py
Due: none

Reply to the comments
  nncf/common/graph/graph.py
  nncf/onnx/graph/node_utils.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
Due: common, onnx, openvino, ptq

Add fix for ONNX backend
  nncf/onnx/graph/node_utils.py
Due: onnx

Reply to the comments
  nncf/common/graph/graph.py
  nncf/onnx/graph/node_utils.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/bias_correction/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  nncf/quantization/algorithms/smooth_quant/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
Due: common, onnx, openvino, ptq

Update test model
  tests/openvino/native/models.py
Due: none

Use a graph to find the output port id for the activation quantization target point
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
Due: openvino, ptq

Update references
  tests/openvino/native/data/2024.1/reference_scales/LSTMSequenceModel_mixed.json
  tests/openvino/native/data/2024.1/reference_scales/LSTMSequenceModel_performance.json
Due: none

Minor fix
  nncf/quantization/algorithms/min_max/algorithm.py
Due: ptq

Integrated memory monitor into PTQ/WC conformance tests
  tests/post_training/conftest.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/post_training/test_quantize_conformance.py
  tests/tools/test_memory_monitor.py
  tools/memory_monitor.py
Due: none

Temporary enable memory monitor by default
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

Revert "Temporary enable memory monitor by default"
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

bench try
  tests/post_training/pipelines/base.py
Due: none

build url
  tests/post_training/pipelines/base.py
Due: none

More optimal parameters for Scale Estimation
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
Due: ptq

Avoid squeeze for seq_len equal to one.
  nncf/quantization/algorithms/weight_compression/algorithm.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: ptq

Reply to the comments
  nncf/common/graph/graph.py
  nncf/onnx/graph/node_utils.py
Due: common, onnx

Fix model_extraction_transformation
  nncf/openvino/graph/model_transformer.py
Due: openvino

add patterns
  nncf/common/graph/patterns/patterns.py
  nncf/openvino/hardware/fused_patterns.py
  tests/onnx/test_pattern_manager.py
  tests/torch/test_pattern_manager.py
Due: common, openvino

Use a graph to find the output port id for the activation quantization target point (#2802)
  nncf/common/graph/graph.py
  nncf/onnx/graph/node_utils.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/bias_correction/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  nncf/quantization/algorithms/smooth_quant/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  tests/openvino/native/data/2024.1/reference_scales/LSTMSequenceModel_mixed.json
  tests/openvino/native/data/2024.1/reference_scales/LSTMSequenceModel_performance.json
  tests/openvino/native/models.py
  tests/post_training/test_templates/test_quantizer_config.py
Due: common, onnx, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@380d2bb544f80c02369ad57467b98cf952642287 🚀
  schema/index.html
Due: none

Add test
  tests/post_training/test_templates/helpers.py
Due: none

Refine a note
  nncf/quantization/algorithms/min_max/algorithm.py
Due: ptq

Fixed tests.
  nncf/quantization/algorithms/weight_compression/algorithm.py
Due: ptq

[OpenVINO] Add HW patterns (#2822)
  nncf/common/graph/patterns/patterns.py
  nncf/openvino/hardware/fused_patterns.py
  tests/onnx/test_pattern_manager.py
  tests/torch/test_pattern_manager.py
Due: common, openvino

Correction files
  tests/post_training/data/wc_reference_data_2024.4.yaml
  tests/post_training/test_quantize_conformance.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@2a83751a7aec1220551511ee9c6b06e2d1bc79d0 🚀
  schema/index.html
Due: none

Add PyPi publishing file
  docs/PyPiPublishing.md
Due: none

spellcheck
  tests/openvino/native/common.py
Due: none

Increase approx abs
  tests/torch/sparsity/movement/test_model_saving.py
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
