Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

c2
  README.md
Due: none

./docs/Installation.md
  README.md
Due: none

polishing
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/statistics_serializer.py
  nncf/experimental/common/tensor_statistics/statistics.py
  nncf/tensor/tensor.py
Due: common

Revert "Added BF16 & FP16 models to PTQ tests (#2922)"
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/masked_language_modeling.py
Due: none

Revert "Added BF16 & FP16 models to PTQ tests" (#3124)
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/masked_language_modeling.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@07996341cc083c4c31ae512887c9d22c9084bbfe 🚀
  schema/index.html
Due: none

fix group_conv
  nncf/onnx/graph/metatypes/groups.py
Due: onnx

Fixed propagation for quantizable types
  nncf/common/quantization/quantizer_removal.py
Due: common

dynamic CONSTANT_WEIGHT_LAYER_METATYPES
  nncf/onnx/graph/metatypes/groups.py
Due: onnx

CONSTANT_WEIGHT_LAYER_METATYPES and POSSIBLE_WEIGHT_LAYER_METATYPES dynamic
  nncf/onnx/graph/metatypes/groups.py
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/onnx/graph/nncf_graph_builder.py
Due: onnx

fix
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
Due: onnx, ptq

minor
  nncf/onnx/graph/metatypes/groups.py
Due: onnx

fix x2
  nncf/onnx/graph/metatypes/groups.py
Due: onnx

Remove requirements.txt (#3115)
  requirements.txt
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@af4fec48cadd2ef8f0e84c3f536ed09d028e33fd 🚀
  schema/index.html
Due: none

Update readme and installation (#3111)
  README.md
  docs/Installation.md
Due: none

Improve examples (#3091)
  .github/workflows/examples.yml
  .gitignore
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/deploy.py
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
  examples/post_training_quantization/openvino/yolov8/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  examples/post_training_quantization/torch/ssd300_vgg16/main.py
  examples/post_training_quantization/torch_fx/resnet18/main.py
  examples/quantization_aware_training/torch/anomalib/main.py
  examples/quantization_aware_training/torch/resnet18/main.py
  nncf/quantization/algorithms/accuracy_control/evaluator.py
  tests/cross_fw/examples/conftest.py
  tests/cross_fw/examples/run_example.py
  tests/cross_fw/examples/test_examples.py
  tests/cross_fw/shared/command.py
  tests/cross_fw/shared/helpers.py
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@b1ea59d2fd6448e1244ba9a05a8bcce823ce3599 🚀
  schema/index.html
Due: none

[TorchFX] Bias fusing is removed from default transformations (#3027)
  nncf/experimental/torch/fx/constant_folding.py
  nncf/experimental/torch/fx/model_transformer.py
  nncf/experimental/torch/fx/node_utils.py
  nncf/experimental/torch/fx/quantization/quantize_model.py
  nncf/experimental/torch/fx/transformations.py
  nncf/quantization/algorithms/bias_correction/torch_fx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/torch_fx_backend.py
  tests/torch/data/reference_graphs/fx/extracted/ConvolutionWithNotTensorBiasModelconv2d_conv2d_output_1_conv2d.dot
  tests/torch/data/reference_graphs/fx/extracted/ConvolutionWithNotTensorBiasModelconv2d_output_1.dot
  tests/torch/data/reference_graphs/fx/extracted/ConvolutionWithSeveralOutputsconv2d_conv2d_output_1_conv2d.dot
  tests/torch/data/reference_graphs/fx/extracted/ConvolutionWithSeveralOutputsconv2d_output_1.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/resnet18.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/synthetic_transformer.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/unet.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/quantized/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/quantized/resnet18.dot
  tests/torch/data/reference_graphs/fx/quantized/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/quantized/synthetic_transformer.dot
  tests/torch/data/reference_graphs/fx/quantized/unet.dot
  tests/torch/data/reference_graphs/fx/quantized/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/transformed/folded_model.dot
  tests/torch/data/reference_graphs/fx/transformed/folded_model_with_constraints_per_channel.dot
  tests/torch/data/reference_graphs/fx/transformed/folded_model_with_constraints_per_tensor.dot
  tests/torch/fx/helpers.py
  tests/torch/fx/test_model_transformer.py
  tests/torch/test_models/synthetic.py
Due: torch, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@b7326d0fa07cbfd5118f037a697522dcb18ec3f5 🚀
  schema/index.html
Due: none

docstrings
  nncf/common/tensor_statistics/statistics_serializer.py
  nncf/experimental/common/tensor_statistics/statistics.py
  nncf/tensor/tensor.py
Due: common

str -> Path
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/statistics_serializer.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/statistics_caching.py
Due: common, openvino, ptq

use metadata instead iterdir()
  nncf/common/tensor_statistics/statistics_serializer.py
Due: common

get_safetensors_backend_fn dispatcher
  nncf/common/tensor_statistics/statistics_serializer.py
Due: common

[TorchFX][MicroFix] Folded constats do not require grad
  nncf/experimental/torch/fx/constant_folding.py
  tests/torch/fx/test_model_transformer.py
Due: none

Experimental quantization
  nncf/experimental/common/quantization/algorithms/post_training/algorithm.py
  nncf/experimental/common/quantization/algorithms/post_training/pipeline.py
  nncf/experimental/common/quantization/algorithms/quantizer/fx_quantizer.py
  nncf/experimental/torch/fx/quantization/quantize_pt2e.py
  nncf/experimental/torch/fx/transformations.py
  tests/torch/data/reference_graphs/fx/experimental/X86InductorQuantizer/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/experimental/X86InductorQuantizer/resnet18.dot
  tests/torch/data/reference_graphs/fx/experimental/X86InductorQuantizer/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/experimental/X86InductorQuantizer/synthetic_transformer.dot
  tests/torch/data/reference_graphs/fx/experimental/X86InductorQuantizer/unet.dot
  tests/torch/data/reference_graphs/fx/experimental/X86InductorQuantizer/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/experimental/X86InductorQuantizer/yolo11n_sdpa_block.dot
  tests/torch/fx/test_quantizer.py
  torch_fx_experimental_q.py
Due: none

Correct use of transform_for_annotation
  nncf/experimental/torch/fx/quantization/quantize_pt2e.py
Due: none

WIP experimental quantization
  nncf/experimental/common/quantization/algorithms/post_training/__init__.py
  nncf/experimental/common/quantization/algorithms/post_training/algorithm.py
  nncf/experimental/common/quantization/algorithms/post_training/pipeline.py
  nncf/experimental/common/quantization/algorithms/quantizer/fx_quantizer.py
  nncf/experimental/common/quantization/algorithms/quantizer/quantizer.py
  nncf/experimental/common/quantization/algorithms/range_estimator/backend.py
  nncf/experimental/common/quantization/algorithms/range_estimator/range_estimator.py
  nncf/experimental/common/quantization/algorithms/range_estimator/torch_fx_backend.py
  nncf/experimental/torch/fx/quantization/quantize_pt2e.py
  torch_fx_experimental_q.py
Due: torch

Reuse MinMax algo instead of copy-paste
  nncf/experimental/common/quantization/algorithms/post_training/algorithm.py
  nncf/experimental/common/quantization/algorithms/post_training/pipeline.py
  nncf/experimental/common/quantization/algorithms/quantizer/base_quantizer.py
  nncf/experimental/common/quantization/algorithms/quantizer/fx_quantizer.py
  nncf/experimental/common/quantization/algorithms/range_estimator/backend.py
  nncf/experimental/common/quantization/algorithms/range_estimator/range_estimator.py
  nncf/experimental/common/quantization/algorithms/range_estimator/torch_fx_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/common/quantization/test_minmax.py
Due: torch, ptq

stack
  nncf/experimental/common/tensor_statistics/statistics.py
Due: none

List -> Tensor
  nncf/experimental/common/tensor_statistics/statistics.py
Due: none

resolve coliision in santized names
  nncf/common/tensor_statistics/statistics_serializer.py
Due: common

add exception handles
  nncf/common/tensor_statistics/statistics_serializer.py
Due: common

add add_unique_name
  nncf/common/tensor_statistics/statistics_serializer.py
  tests/cross_fw/test_templates/test_statistics_serializer.py
Due: common

numpy
  tests/cross_fw/examples/requirements.txt
Due: none

add metadata description
  nncf/common/tensor_statistics/statistics_serializer.py
Due: common

mypy
  nncf/common/tensor_statistics/statistics_serializer.py
Due: common

minor
  nncf/common/tensor_statistics/statistics_serializer.py
Due: common

upd and merge reference for PTQs
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/data/ptq_reference_data_2024.5.yaml
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/data/wc_reference_data_2024.5.yaml
Due: none

Fix missed numpy requirements for cross_fw (#3130)
  tests/cross_fw/examples/requirements.txt
Due: none
