Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

[TorchFX] Constant folding
  nncf/experimental/torch/fx/constant_folding.py
  nncf/experimental/torch/fx/transformations.py
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/quantized/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/quantized/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/transformed/folded_model.dot
  tests/torch/data/reference_graphs/fx/transformed/folded_model_with_constraints_per_channel.dot
  tests/torch/data/reference_graphs/fx/transformed/folded_model_with_constraints_per_tensor.dot
  tests/torch/fx/test_model_transformer.py
  tests/torch/fx/test_models.py
  tests/torch/test_models/synthetic.py
Due: none

Correct metric after migrate to numpy2
  tests/torch/sota_checkpoints_eval.json
Due: none

Data-free mixed precision algorithm for Torch and Torch FX backends (#3042)
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/quantize_model.py
  tests/post_training/data/wc_reference_data_2024.5.yaml
  tests/post_training/model_scope.py
  tests/post_training/test_quantize_conformance.py
  tests/torch/fx/test_compress_weights.py
  tests/torch/ptq/test_weights_compression.py
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@51a7fb6e9c4c0f59821f72474532df675941a619 🚀
  schema/index.html
Due: none

available_backends -> get_available_backends
  nncf/experimental/torch/sparsify_activations/sparsify_activations_impl.py
  nncf/quantization/algorithms/algorithm.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/channel_alignment/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/hyperparameter_tuner/param_grid.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/pipeline.py
  nncf/quantization/algorithms/post_training/algorithm.py
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/quantize_model.py
Due: ptq

typo
  nncf/quantization/algorithms/algorithm.py
Due: ptq

minor fix
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
Due: none

rollback backend check
  nncf/experimental/torch/sparsify_activations/sparsify_activations_impl.py
  nncf/quantization/algorithms/algorithm.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/channel_alignment/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/hyperparameter_tuner/param_grid.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/pipeline.py
  nncf/quantization/algorithms/post_training/algorithm.py
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/quantize_model.py
Due: ptq

update transformations for impure nodes.
  nncf/experimental/torch/fx/transformations.py
Due: none

comments
  nncf/quantization/algorithms/algorithm.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/quantize_model.py
Due: ptq

isolate patching problematic function and move it to nncf/torch/__init__.py
  nncf/torch/__init__.py
  nncf/torch/dynamic_graph/patch_pytorch.py
Due: torch

pre-commit
  nncf/torch/__init__.py
Due: torch

pre-commit fix
  nncf/torch/dynamic_graph/patch_pytorch.py
Due: torch

add protobuf
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
Due: none

save/load of compressed model in Torch backend
  nncf/torch/layer_utils.py
  nncf/torch/quantization/layers.py
  tests/torch/ptq/test_weights_compression.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@4ddb5dab3da65840d36551f8bf30aff199c4fde7 🚀
  _sources/autoapi/nncf/common/tensor_statistics/statistics_serializer/index.rst.txt
  _sources/autoapi/nncf/common/tensor_statistics/statistics_validator/index.rst.txt
  _sources/autoapi/nncf/quantization/advanced_parameters/index.rst.txt
  _sources/autoapi/nncf/quantization/statistics_caching/index.rst.txt
  autoapi/nncf/common/tensor_statistics/statistics_serializer/index.html
  autoapi/nncf/common/tensor_statistics/statistics_validator/index.html
  autoapi/nncf/quantization/advanced_parameters/index.html
  autoapi/nncf/quantization/statistics_caching/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

Added ignored RoPE block
  nncf/common/graph/patterns/patterns.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  nncf/openvino/quantization/ignored_patterns.py
  tests/openvino/native/data/2024.4/reference_graphs/quantized/RoPEModel.dot
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_graphs.py
Due: common, openvino

[WC][Tests] Update Scale Estimation metric
  tests/post_training/data/wc_reference_data.yaml
Due: none

Fix pytorch requirements
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  examples/post_training_quantization/torch_fx/resnet18/requirements.txt
Due: none

update wc metrics
  tests/post_training/data/wc_reference_data_2024.5.yaml
Due: none

Fix dependency
  examples/post_training_quantization/torch_fx/resnet18/requirements.txt
Due: none

check pytorch version before importing polyfills loader
  nncf/torch/__init__.py
Due: torch

Suggested fixes
  nncf/experimental/torch/fx/transformations.py
  nncf/torch/__init__.py
Due: torch

minor fix
  tests/cross_fw/examples/test_examples.py
Due: none

fix
  tests/cross_fw/examples/test_examples.py
Due: none

Fix tests for ONNX/PT
  tests/onnx/test_pattern_manager.py
  tests/torch/test_pattern_manager.py
Due: none

add docs for stat caching
  docs/usage/post_training_compression/weights_compression/Usage.md
Due: none

add fix
  tests/cross_fw/examples/test_examples.py
Due: none

rollback protobuf
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
Due: none

Add logic for computing zero point from precomputed scale
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/fake_quantize.py
Due: ptq

Fix
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: ptq

Add test
  tests/openvino/native/quantization/test_weights_compression.py
Due: none

Improve test
  tests/openvino/native/quantization/test_weights_compression.py
Due: none

[left over] Update weight compression metrics (#3051)
  tests/post_training/data/wc_reference_data_2024.5.yaml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@a812a2782ee350a7abb001aa37e9861fd1129cb6 🚀
  schema/index.html
Due: none

[WC][Tests] Update Scale Estimation metric (#3048)
  tests/post_training/data/wc_reference_data.yaml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@774056f510e29d62395f9e62401116d71201f7db 🚀
  schema/index.html
Due: none

Update ultralytics 8.3.22 (#3038)
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/deploy.py
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/yolov8/main.py
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  tests/cross_fw/examples/test_examples.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@3ba9b0656bc9e26a717e53abbd84e83a02e3ea3b 🚀
  schema/index.html
Due: none
