Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

Disable test_not_accessible for Windows (#3473)
  tests/onnx/test_external_data.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@549d3ed9b5bfcbd91d49601fa004425156685b8b 🚀
  schema/index.html
Due: none

minor
  .ci/cspell_dict.txt
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/graph/passes.py
  nncf/onnx/quantization/quantize_model.py
Due: onnx

fix
  tests/onnx/test_external_data.py
Due: none

revert
  tests/onnx/data/reference_graphs/original_nncf_graph/MaskRCNN-12.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/fcn-resnet50-12.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/ssd-12.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/synthetic/shape_of_model.dot
  tests/onnx/data/reference_graphs/quantization/MaskRCNN-12.dot
  tests/onnx/data/reference_graphs/quantization/fcn-resnet50-12.dot
  tests/onnx/data/reference_graphs/quantization/gpt2-10.dot
  tests/onnx/data/reference_graphs/quantization/ssd-12.dot
  tests/onnx/data/reference_graphs/quantization/synthetic/shape_of_model.dot
Due: none

Add tests
  tests/onnx/models.py
  tests/onnx/test_passes.py
Due: none

comment fix
  examples/llm_compression/openvino/tiny_llama/main.py
  examples/llm_compression/torch_fx/tiny_llama/fx_utils.py
  examples/llm_compression/torch_fx/tiny_llama/main.py
  tests/cross_fw/examples/run_example.py
Due: none

comment fix
  examples/llm_compression/torch_fx/tiny_llama/requirements.txt
  tests/cross_fw/examples/example_scope.json
Due: none

[ONNX] Add eliminate_nop_cast pass (#3376)
  nncf/onnx/graph/passes.py
  nncf/onnx/quantization/quantize_model.py
  tests/onnx/models.py
  tests/onnx/test_passes.py
Due: onnx

fix example test
  tests/cross_fw/examples/test_examples.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@c72f787d5f55fe4d9fb7a6e85812d3c8b9f35840 🚀
  _sources/autoapi/nncf/onnx/graph/passes/index.rst.txt
  autoapi/nncf/onnx/graph/passes/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

revert openvino example
  examples/llm_compression/openvino/tiny_llama/main.py
Due: none

move norm function tests to TemplateTestNNCFTensorOperators for cross-framework testing
  tests/cross_fw/test_templates/template_test_nncf_tensor.py
  tests/tensorflow/test_tensor.py
Due: none

Update torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
Due: torch, ptq

Update backend.py
  nncf/quantization/algorithms/weight_compression/backend.py
Due: ptq

Update openvino_backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

Update torch_fx_backend.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
Due: torch, ptq

update
  nncf/quantization/algorithms/weight_compression/onnx_backend.py
Due: onnx, ptq

pre-commit fix
  nncf/quantization/algorithms/weight_compression/onnx_backend.py
Due: onnx, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@0d8316320f311f95d5d319c886fa7f9369f755af 🚀
  schema/index.html
Due: none

wa
  tests/torch2/function_hook/quantization/test_fq_lora.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@799249f1cede5d1b89b46b3f3f8d5a664e0c0c5a 🚀
  schema/index.html
Due: none

Remove qat tests for old tracing
  tests/torch/qat/README.md
  tests/torch/qat/helpers.py
  tests/torch/qat/test_qat_classification.py
  tests/torch/qat/test_qat_object_detection.py
  tests/torch/qat/test_qat_segmentation.py
Due: none

1) Fixed bug with data-free AWQ and mixed-precision. 2) Added conformance tests for data-free AWQ.
  nncf/quantization/algorithms/weight_compression/awq.py
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/data/wc_test_durations.json
  tests/post_training/model_scope.py
Due: ptq

rtol
  tests/torch/quantization/test_hawq_precision_init.py
Due: none

Fixed test.
  tests/post_training/data/wc_reference_data.yaml
Due: none

Update nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
Due: ptq

Update nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/gptq.py
Due: ptq

Update nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
Due: ptq

fix tensor norm tests to align with documented behavior
  tests/cross_fw/test_templates/template_test_nncf_tensor.py
Due: none

[Tenosr] Fix len() of unsized object for numpy impl
  nncf/tensor/tensor.py
  tests/cross_fw/test_templates/template_test_nncf_tensor.py
Due: none

[pt] Remove qat tests for old tracing (#3477)
  tests/torch/qat/README.md
  tests/torch/qat/helpers.py
  tests/torch/qat/test_qat_classification.py
  tests/torch/qat/test_qat_object_detection.py
  tests/torch/qat/test_qat_segmentation.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@a666e8434a7631db73e9c8eaa092f5082cde2470 🚀
  schema/index.html
Due: none

Add tensorflow tensor support (#3340)
  .github/workflows/mypy.yml
  docs/api/source/conf.py
  nncf/tensor/definitions.py
  nncf/tensor/functions/__init__.py
  nncf/tensor/functions/dispatcher.py
  nncf/tensor/functions/numpy_io.py
  nncf/tensor/functions/numpy_numeric.py
  nncf/tensor/functions/tf_io.py
  nncf/tensor/functions/tf_linalg.py
  nncf/tensor/functions/tf_numeric.py
  tests/cross_fw/test_templates/template_test_nncf_tensor.py
  tests/tensorflow/test_tensor.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@d8f089710e79f1a3bd67a2b7a175143813106116 🚀
  _sources/autoapi/nncf/tensor/functions/tf_io/index.rst.txt
  _sources/autoapi/nncf/tensor/functions/tf_linalg/index.rst.txt
  _sources/autoapi/nncf/tensor/functions/tf_numeric/index.rst.txt
  autoapi/nncf/tensor/functions/tf_io/index.html
  autoapi/nncf/tensor/functions/tf_linalg/index.html
  autoapi/nncf/tensor/functions/tf_numeric/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

pre-commit fix
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
Due: ptq

Added logging for compilation trigger (#3469)
  tests/torch/test_utils.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@a878ed87f3afa5fa3eab0a19bec0a850086cac58 🚀
  schema/index.html
Due: none

Fix pt nightly (#3478)
  tests/torch/quantization/test_hawq_precision_init.py
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
