Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@5ad9bc45457ea8e118b959599aa11f6b83779a01 🚀
  _sources/autoapi/aggregator/index.rst.txt
  _sources/autoapi/nncf/experimental/common/check_feature/index.rst.txt
  _sources/autoapi/nncf/experimental/torch2/commands/index.rst.txt
  _sources/autoapi/nncf/experimental/torch2/function_hook/handle_inner_functions/index.rst.txt
  _sources/autoapi/nncf/experimental/torch2/model_transformer/index.rst.txt
  _sources/autoapi/quantize_model/index.rst.txt
  autoapi/aggregator/index.html
  autoapi/nncf/experimental/common/check_feature/index.html
  autoapi/nncf/experimental/torch2/commands/index.html
  autoapi/nncf/experimental/torch2/function_hook/handle_inner_functions/index.html
  autoapi/nncf/experimental/torch2/model_transformer/index.html
  autoapi/quantize_model/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

[DO NOT MERGE] Test changes in the runner's configuration
  .github/workflows/call_precommit.yml
  .github/workflows/install.yml
Due: none

ruff
  nncf/experimental/torch2/model_transformer.py
  nncf/experimental/torch2/quantization/quantize_model.py
  nncf/experimental/torch2/statistics/aggregator.py
Due: none

pytorch 2.6.0
  constraints.txt
  docs/Installation.md
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/post_training_quantization/torch_fx/resnet18/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
Due: none

[WA][conformance][TorchFX] reshape model explicitly
  tests/post_training/pipelines/base.py
Due: none

bump md-dead-link-check to 1.1.0 (#3219)
  .github/workflows/nightly.yml
  .github/workflows/pre-commit-linters.yml
  docs/usage/training_time_compression/other_algorithms/LegacyQuantization.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@34795fdef6e8e3d094fe8b9c72816f508f724413 🚀
  schema/index.html
Due: none

[release_v2150][WA][conformance][TorchFX] reshape model explicitly (#3228)
  tests/post_training/pipelines/base.py
Due: none

[PT] detach tensor in get_const_data (#3199)
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/torch/model_graph_manager.py
  tests/torch/test_model_graph_manager.py
Due: torch, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@b0897b3a44c5171d704ba01c1b7abca0af1cd56b 🚀
  schema/index.html
Due: none

rollback torch.inference_mode()
  nncf/experimental/torch/fx/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
Due: torch

update
  nncf/tensorflow/__init__.py
  nncf/tensorflow/helpers/model_creation.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/tensorflow/quantization/quantize_model.py
  nncf/tensorflow/utils/state.py
Due: tensorflow

Update ReleaseNotes.md
  ReleaseNotes.md
Due: none

update
  docs/usage/training_time_compression/quantization_aware_training/Usage.md
Due: none

update
  nncf/tensorflow/helpers/model_creation.py
  nncf/torch/model_creation.py
Due: torch, tensorflow

[WA][conformance][TorchFX] reshape model explicitly (#3229)
  tests/post_training/pipelines/base.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@42755139edae859515800a35062995c4663fcc68 🚀
  schema/index.html
Due: none

[PTQ] Remove HWConfig hardcode from calculate_quantizer_parameters
  nncf/quantization/fake_quantize.py
  tests/cross_fw/shared/json.py
  tests/cross_fw/test_templates/fq_params/fq_params.json
  tests/cross_fw/test_templates/test_calculate_quantizer_parameters.py
Due: ptq

init
  nncf/experimental/torch2/function_hook/extractor.py
  tests/torch2/function_hook/test_extractor.py
Due: none

typo
  nncf/quantization/quantize_model.py
Due: ptq

[Torch][WeightCompression] Add Scale Estimation data-aware support (#3179)
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/experimental/torch/fx/quantization/quantize_model.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/layers.py
  nncf/torch/quantization/quantize_model.py
  tests/common/experimental/test_reducers_and_aggregators.py
  tests/cross_fw/test_templates/template_test_weights_compression.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_reducers_and_aggregators.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/torch/experimental/sparsify_activations/test_components.py
  tests/torch/fx/test_compress_weights.py
  tests/torch/fx/test_weights_compression_backends.py
  tests/torch/ptq/test_weights_compression.py
  tests/torch/ptq/test_weights_compression_backends.py
Due: torch, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@f0cb70c6bcd9c38c05e806ed5428268e5eb19e0e 🚀
  schema/index.html
Due: none

Requirements
  ReleaseNotes.md
Due: none

t
  nncf/experimental/torch2/function_hook/extractor.py
  nncf/torch/model_graph_manager.py
Due: torch

quantize_pt2e and OpenVINOQuantizer
  ReleaseNotes.md
Due: none

Comments
  nncf/common/quantization/quantizers.py
  nncf/quantization/fake_quantize.py
Due: common, ptq

half_range calc hardcoded narrow_range is removed
  nncf/quantization/fake_quantize.py
  tests/cross_fw/test_templates/fq_params/fq_params.json
Due: ptq

Set env var on LNL before compression model compilation
  nncf/common/utils/cpu_info.py
  nncf/common/utils/helpers.py
  nncf/openvino/optimized_functions/models.py
  nncf/version.py
Due: common, openvino

Add py-cpuinfo to requirements
  nncf/common/utils/cpu_info.py
  nncf/openvino/optimized_functions/models.py
Due: common, openvino

Fix
  nncf/version.py
  pyproject.toml
Due: none

Fix mypy
  nncf/common/utils/cpu_info.py
Due: common

Fix mypy
  nncf/common/utils/helpers.py
Due: common

update
  docs/usage/training_time_compression/quantization_aware_training/Usage.md
  nncf/tensorflow/__init__.py
  nncf/tensorflow/helpers/model_creation.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/tensorflow/quantization/quantize_model.py
  nncf/tensorflow/utils/state.py
Due: tensorflow

update
  examples/quantization_aware_training/tensorflow/mobilenet_v2/main.py
  nncf/tensorflow/helpers/model_creation.py
  nncf/tensorflow/quantization/quantize_model.py
  nncf/tensorflow/utils/state.py
Due: tensorflow

[OV][Tests] Merge test_fq_params_calculation.py and test_calculation_quantizer_params.py
  tests/openvino/native/quantization/test_calculation_quantizer_params.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
  tests/openvino/native/quantization/test_graphs.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: none

update
  nncf/tensorflow/quantization/quantize_model.py
Due: tensorflow

[PTQ] Remove HWConfig hardcode from calculate_quantizer_parameters (#3232)
  nncf/common/quantization/quantizers.py
  nncf/quantization/fake_quantize.py
  tests/cross_fw/shared/json.py
  tests/cross_fw/test_templates/fq_params/fq_params.json
  tests/cross_fw/test_templates/test_calculate_quantizer_parameters.py
Due: common, ptq

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
