Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

Add mode based parameters
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/quantize_model.py
Due: openvino, ptq

Improve logging in LLM tune hyperparams example
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/main.py
Due: none

fix
  nncf/torch/graph/graph_builder.py
Due: torch

val arg
  nncf/torch/graph/graph_builder.py
Due: torch

Improve logging in LLM tune hyperparams example (#2470)
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/main.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@4c360c996f46610ed2c67dcbfb9ca8936ded9ccd 🚀
  schema/index.html
Due: none

Update/restore params
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/quantize_model.py
Due: openvino, ptq

fixes after merge
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/openvino/engine.py
  tests/common/test_statistics_aggregator.py
  tests/openvino/native/test_model_transformer.py
Due: openvino

Added stateful model to weight compression tests (#2463)
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

Fix tests
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/min_max/algorithm.py
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@65392725075b63aa8de7a7bedcbb597578bdd61e 🚀
  schema/index.html
Due: none

Revert
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
Due: none

Optinal device
  nncf/quantization/algorithms/min_max/algorithm.py
Due: ptq

Update tests
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/common/quantization/test_minmax.py
  tests/openvino/native/quantization/test_graphs.py
Due: ptq

WIP tests
  tests/common/quantization/metatypes.py
  tests/common/quantization/test_quantizer_propagation_graph.py
  tests/common/quantization/test_quantizer_propagation_solver.py
  tests/common/quantization/test_quantizer_setup.py
Due: none

Reenable scale unification
  nncf/common/quantization/quantizer_propagation/graph.py
  tests/common/quantization/test_quantizer_propagation_graph.py
  tests/torch/quantization/test_unified_scales.py
Due: common

Update googlenet reference graph
  tests/onnx/data/reference_graphs/quantization/googlenet.dot
Due: none

Fix test
  tests/common/quantization/test_quantizer_propagation_graph.py
Due: none

Add tests
  nncf/common/quantization/quantizer_propagation/graph.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/common/quantization/quantizer_setup.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/torch/quantization/algo.py
  tests/common/quantization/metatypes.py
  tests/common/quantization/test_quantizer_propagation_solver.py
  tests/common/quantization/test_quantizer_setup.py
Due: common, torch, tensorflow, onnx, openvino, ptq

TF 2.11 reference graphs
  tests/tensorflow/data/reference_graphs/2.11/quantized/w_sym_ch_a_asym_t/densenet121.pb
  tests/tensorflow/data/reference_graphs/2.11/quantized/w_sym_ch_a_asym_t/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.11/quantized/w_sym_ch_a_asym_t/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/2.11/quantized/w_sym_ch_a_asym_t/yolo_v4.pb
  tests/tensorflow/data/reference_graphs/2.11/quantized/w_sym_t_a_sym_t/densenet121.pb
  tests/tensorflow/data/reference_graphs/2.11/quantized/w_sym_t_a_sym_t/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.11/quantized/w_sym_t_a_sym_t/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/2.11/quantized/w_sym_t_a_sym_t/yolo_v4.pb
Due: none

Add BatchNorm to HW config and allow it to be 8-bit per-channel quantized
  nncf/common/hardware/configs/cpu.json
  nncf/common/hardware/opset.py
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  nncf/tensorflow/graph/metatypes/keras_layers.py
  nncf/torch/graph/operator_metatypes.py
Due: common, torch, tensorflow, onnx, openvino

Lint
  nncf/common/hardware/opset.py
  nncf/common/quantization/quantizer_propagation/graph.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/common/quantization/quantizer_setup.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/torch/quantization/algo.py
  tests/common/quantization/test_quantizer_propagation_graph.py
  tests/common/quantization/test_quantizer_propagation_solver.py
  tests/common/quantization/test_quantizer_setup.py
  tests/tensorflow/test_compressed_graph.py
  tests/torch/quantization/test_unified_scales.py
  tests/torch/sparsity/movement/training_scripts/run_glue.py
Due: common, torch, tensorflow

Fix references
  tests/tensorflow/data/reference_graphs/2.11/quantized/w_sym_t_a_sym_t/densenet121.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_t_a_sym_t/densenet121.pb
Due: none

Lint
  tests/common/quantization/test_quantizer_propagation_solver.py
  tests/torch/sparsity/movement/training_scripts/run_glue.py
Due: none

Align symlinks
  tests/tensorflow/data/reference_graphs/2.11/quantized/w_sym_ch_a_asym_t/densenet121.pb
  tests/tensorflow/data/reference_graphs/2.11/quantized/w_sym_ch_a_asym_t/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.11/quantized/w_sym_ch_a_asym_t/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/2.11/quantized/w_sym_ch_a_asym_t/mobilenet_v1.pb
  tests/tensorflow/data/reference_graphs/2.11/quantized/w_sym_ch_a_asym_t/yolo_v4.pb
  tests/tensorflow/data/reference_graphs/2.11/quantized/w_sym_t_a_sym_t/densenet121.pb
  tests/tensorflow/data/reference_graphs/2.11/quantized/w_sym_t_a_sym_t/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.11/quantized/w_sym_t_a_sym_t/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/2.11/quantized/w_sym_t_a_sym_t/yolo_v4.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/hw/CPU/mobilenet_v2.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/hw/CPU/resnet50.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/hw/GPU/mobilenet_v2.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/hw/GPU/resnet50.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/hw/VPU/mobilenet_v2.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/hw/VPU/resnet50.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_ch_a_asym_t/densenet121.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_ch_a_asym_t/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_ch_a_asym_t/mobilenet_v1.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_ch_a_asym_t/mobilenet_v2.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_ch_a_asym_t/mobilenet_v3_large.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_ch_a_asym_t/mobilenet_v3_small.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_ch_a_asym_t/yolo_v4.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_t_a_sym_t/densenet121.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_t_a_sym_t/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_t_a_sym_t/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_t_a_sym_t/mobilenet_v1.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_t_a_sym_t/mobilenet_v2.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_t_a_sym_t/mobilenet_v3_large.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_t_a_sym_t/mobilenet_v3_small.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_t_a_sym_t/yolo_v4.pb
Due: none

Fix references
  tests/tensorflow/data/reference_graphs/2.11/quantized/w_sym_t_a_sym_t/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.8/quantized/hw/VPU/mobilenet_v2.pb
  tests/tensorflow/data/reference_graphs/2.8/quantized/hw/VPU/resnet50.pb
  tests/tensorflow/data/reference_graphs/2.8/quantized/w_sym_t_a_sym_t/densenet121.pb
Due: none

TF 2.8 reference graphs
  tests/tensorflow/data/reference_graphs/2.8/quantized/w_sym_ch_a_asym_t/densenet121.pb
  tests/tensorflow/data/reference_graphs/2.8/quantized/w_sym_ch_a_asym_t/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.8/quantized/w_sym_ch_a_asym_t/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/2.8/quantized/w_sym_ch_a_asym_t/yolo_v4.pb
  tests/tensorflow/data/reference_graphs/2.8/quantized/w_sym_t_a_sym_t/densenet121.pb
  tests/tensorflow/data/reference_graphs/2.8/quantized/w_sym_t_a_sym_t/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.8/quantized/w_sym_t_a_sym_t/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/2.8/quantized/w_sym_t_a_sym_t/yolo_v4.pb
Due: none

Rebase and lint
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/tensorflow/conftest.py
Due: ptq

Adjust references
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_ch_a_asym_t/mobilenet_v1.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_ch_a_asym_t/mobilenet_v2.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_ch_a_asym_t/mobilenet_v3_large.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_ch_a_asym_t/mobilenet_v3_small.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_t_a_sym_t/mobilenet_v1.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_t_a_sym_t/mobilenet_v2.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_t_a_sym_t/mobilenet_v3_large.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_t_a_sym_t/mobilenet_v3_small.pb
Due: none

Update ref resnet
  tests/tensorflow/data/reference_graphs/2.12/quantized/hw/CPU/resnet50.pb
Due: none

Fix TF reference graphs
  tests/tensorflow/conftest.py
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_ch_a_asym_t/densenet121.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_ch_a_asym_t/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_ch_a_asym_t/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_ch_a_asym_t/yolo_v4.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_t_a_sym_t/densenet121.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_t_a_sym_t/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_t_a_sym_t/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_t_a_sym_t/yolo_v4.pb
  tests/tensorflow/quantization/test_unified_scales.py
  tests/tensorflow/test_compressed_graph.py
Due: none

Fix references
  tests/tensorflow/data/reference_graphs/2.11/quantized/hw/CPU/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.11/quantized/hw/GPU/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.11/quantized/hw/VPU/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.12/quantized/hw/CPU/mobilenet_v2.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/hw/CPU/resnet50.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/hw/GPU/mobilenet_v2.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/hw/GPU/resnet50.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/hw/VPU/mobilenet_v2.pb
  tests/tensorflow/data/reference_graphs/2.12/quantized/hw/VPU/resnet50.pb
Due: none

Fix exception type
  tests/common/quantization/test_quantizer_propagation_solver.py
Due: none

Fix reference
  tests/onnx/data/reference_graphs/quantization/inception_v3.dot
Due: none

Do not skip friendly name duplicates removal if it was already applied
  nncf/openvino/graph/model_utils.py
Due: openvino

Typo fix
  nncf/openvino/graph/model_utils.py
Due: openvino

Remove duplicates after model compression
  nncf/openvino/quantization/quantize_model.py
Due: openvino

Tweak
  nncf/openvino/quantization/quantize_model.py
Due: openvino

Update reference
  tests/torch/sota_checkpoints_eval.json
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
