Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

Fixed tests
  nncf/quantization/algorithms/weight_compression/algorithm.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: ptq

Make SE algorithm also return zero points (#3054)
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@5d2be87e0fe842d682fab4f84c33c47c4f389afa 🚀
  schema/index.html
Due: none

fixed stats caching
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/statistics_caching.py
Due: openvino, ptq

Adopt misalignment test to check the degree of misalignment
  nncf/quantization/algorithms/weight_compression/openvino_modeling.py
  nncf/tensor/functions/ov.py
  tests/openvino/native/quantization/test_openvino_modeling.py
Due: openvino, ptq

handle inner functions
  nncf/experimental/torch2/function_hook/graph/build_graph_mode.py
  nncf/experimental/torch2/function_hook/handle_inner_functions.py
  nncf/experimental/torch2/function_hook/hook_executor_mode.py
  tests/torch2/data/function_hook/handle_inner_functions/inner_functions_BatchNormModel.dot
  tests/torch2/data/function_hook/handle_inner_functions/inner_functions_MultiHeadAttention.dot
  tests/torch2/data/function_hook/handle_inner_functions/inner_functions_ReluModel.dot
  tests/torch2/function_hook/test_handle_inner_functions.py
Due: none

move torch version up to torch 2.5.1
  constraints.txt
  docs/Installation.md
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/post_training_quantization/torch_fx/resnet18/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
Due: none

[TorchFX] Constant folding (#3047)
  nncf/experimental/torch/fx/constant_folding.py
  nncf/experimental/torch/fx/transformations.py
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/quantized/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/quantized/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/transformed/folded_model.dot
  tests/torch/data/reference_graphs/fx/transformed/folded_model_with_constraints_per_channel.dot
  tests/torch/data/reference_graphs/fx/transformed/folded_model_with_constraints_per_tensor.dot
  tests/torch/fx/test_model_transformer.py
  tests/torch/fx/test_models.py
  tests/torch/test_models/synthetic.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@a3895e58b3e228426b3211b9c84f7371290be104 🚀
  _sources/autoapi/nncf/experimental/torch/fx/constant_folding/index.rst.txt
  autoapi/nncf/experimental/torch/fx/constant_folding/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

returned OV 2024.3 references for OV 2024.5
  tests/post_training/data/wc_reference_data_2024.5.yaml
Due: none

rm onnx from example reqs
  examples/llm_compression/openvino/tiny_llama/requirements.txt
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
Due: none

f
  tests/cross_fw/examples/run_example.py
Due: none

set onnx==1.17.0
  examples/llm_compression/openvino/tiny_llama/requirements.txt
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
Due: none

space
  examples/llm_compression/openvino/tiny_llama/requirements.txt
Due: none

Fix windows test example (#3057)
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  tests/cross_fw/examples/run_example.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@defb624ad3ec547930c2353565f017a13a182110 🚀
  schema/index.html
Due: none

pre-commit fix
  tests/torch/fx/test_model_transformer.py
Due: none

moved subset_size to ctor of mixed_precision_cls
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/statistics_caching.py
Due: ptq

update reference graph
  tests/torch/data/reference_graphs/fx/quantized/swin_v2_s.dot
Due: none

Merge-related fixes
  tests/openvino/native/quantization/test_openvino_modeling.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: none

Collect statistics from subset in weight compression (#3061)
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/statistics_caching.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@20ab35df3dbca5a7d2a4459e430e326b4d525bb6 🚀
  schema/index.html
Due: none

Added ignored RoPE for ONNX/PT (#3059)
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/onnx/quantization/ignored_patterns.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/quantization/ignored_patterns.py
  tests/cross_fw/test_templates/helpers.py
  tests/onnx/data/reference_graphs/quantization/synthetic/rope_model.dot
  tests/onnx/models.py
  tests/onnx/quantization/test_graphs.py
  tests/onnx/test_pattern_manager.py
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/rope_model.dot
  tests/torch/ptq/test_graphs.py
  tests/torch/test_pattern_manager.py
Due: torch, onnx

Deploying to doc_pages from @ openvinotoolkit/nncf@80df08b19d5ba1f0a8b44362865297604aad96a8 🚀
  schema/index.html
Due: none

Tweaks
  nncf/quantization/algorithms/weight_compression/openvino_modeling.py
  nncf/tensor/functions/ov.py
  tests/openvino/native/quantization/test_openvino_modeling.py
Due: openvino, ptq

add table of content; apply comments
  docs/usage/post_training_compression/weights_compression/Usage.md
Due: none

[PT] handle inner functions (#3064)
  nncf/experimental/torch2/function_hook/graph/build_graph_mode.py
  nncf/experimental/torch2/function_hook/handle_inner_functions.py
  nncf/experimental/torch2/function_hook/hook_executor_mode.py
  tests/torch2/data/function_hook/handle_inner_functions/inner_functions_BatchNormModel.dot
  tests/torch2/data/function_hook/handle_inner_functions/inner_functions_MultiHeadAttention.dot
  tests/torch2/data/function_hook/handle_inner_functions/inner_functions_ReluModel.dot
  tests/torch2/function_hook/test_handle_inner_functions.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@589396206ac071fa074cda11765c3a28e3c7b310 🚀
  _sources/autoapi/nncf/experimental/torch2/function_hook/handle_inner_functions/index.rst.txt
  autoapi/nncf/experimental/torch2/function_hook/handle_inner_functions/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

remove metatypes
  nncf/experimental/torch2/function_hook/nncf_graph/nncf_graph_builder.py
  nncf/experimental/torch2/function_hook/nncf_graph/operator_metatypes.py
  tests/torch2/data/function_hook/nncf_graph/model_graph_densenet121.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_efficientnet_b0.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_inception_v3.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_mobilenet_v2.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_mobilenet_v3_small.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_resnet18.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_resnext50_32x4d.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_shufflenet_v2_x0_5.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_squeezenet1_0.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_swin_v2_b.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_vgg16.dot
  tests/torch2/function_hook/nncf_graph/test_nncf_graph.py
  tests/torch2/utils.py
Due: none

mypy
  nncf/experimental/torch2/function_hook/nncf_graph/nncf_graph_builder.py
Due: none

fix warning
  nncf/quantization/algorithms/weight_compression/backend.py
Due: ptq

[PT] builder nncf graph (#3056)
  nncf/common/graph/graph.py
  nncf/experimental/torch2/function_hook/nncf_graph/nncf_graph_builder.py
  tests/torch2/data/function_hook/nncf_graph/convert_to_nncf_graph.dot
  tests/torch2/data/function_hook/nncf_graph/convert_to_nncf_graph_multi_edges.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_convnext_small.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_densenet121.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_efficientnet_b0.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_inception_v3.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_mobilenet_v2.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_mobilenet_v3_small.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_resnet18.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_resnext50_32x4d.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_shufflenet_v2_x0_5.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_squeezenet1_0.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_swin_v2_b.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_vgg16.dot
  tests/torch2/function_hook/graph/test_build_graph_mode.py
  tests/torch2/function_hook/helpers.py
  tests/torch2/function_hook/nncf_graph/test_nncf_graph.py
  tests/torch2/requirements.txt
  tests/torch2/utils.py
Due: common

Deploying to doc_pages from @ openvinotoolkit/nncf@8ff96f38bc8b2c068d53c0d0b9c81c30a694eab1 🚀
  _sources/autoapi/nncf_graph_builder/index.rst.txt
  autoapi/nncf_graph_builder/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

polishing
  docs/usage/post_training_compression/weights_compression/Usage.md
Due: none

reformulate
  docs/usage/post_training_compression/weights_compression/Usage.md
Due: none

Fix deprecation warning (#3067)
  nncf/quantization/algorithms/weight_compression/backend.py
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@b8b0dee860df1eaede23cd1b5f1ffe98652e4c34 🚀
  schema/index.html
Due: none

updated metrics for xfail tests
  tests/post_training/data/wc_reference_data_2024.5.yaml
Due: none

add Data-free methods section
  docs/usage/post_training_compression/weights_compression/Usage.md
Due: none

reorder imports
  examples/llm_compression/openvino/tiny_llama/main.py
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
