Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

test
  .github/workflows/call_precommit_windows.yml
Due: none

comment
  tests/common/experimental/test_reducers_and_aggregators.py
Due: none

test
  .github/workflows/call_precommit_windows.yml
  tests/onnx/quantization/test_classification_models_graph.py
  tests/onnx/test_weightless_model.py
Due: none

f
  .github/workflows/call_precommit_windows.yml
Due: none

comments
  nncf/torch/quantization/quantize_functions.py
  tests/common/experimental/test_reducers_and_aggregators.py
Due: torch

if
  tests/torch/test_pytorch_patch.py
Due: none

fin
  .github/workflows/nightly.yml
Due: none

pt_n1
  .github/workflows/call_precommit_windows.yml
Due: none

test
  .github/workflows/nightly.yml
Due: none

f
  .github/workflows/nightly.yml
  .github/workflows/precommit.yml
Due: none

f
  .github/workflows/nightly.yml
Due: none

mypy
  nncf/common/quantization/initialization/range.py
  nncf/common/quantization/quantizer_propagation/graph.py
  nncf/common/quantization/quantizer_propagation/grouping.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/common/quantization/quantizer_setup.py
  nncf/common/quantization/structs.py
  nncf/common/scopes.py
  nncf/common/utils/dot_file_rw.py
  pyproject.toml
Due: common

mypy
  nncf/common/pruning/clusterization.py
  nncf/common/pruning/mask_propagation.py
  nncf/common/pruning/model_analysis.py
  nncf/common/pruning/node_selector.py
  nncf/common/pruning/operations.py
  nncf/common/pruning/schedulers.py
  nncf/common/pruning/shape_pruning_processor.py
  nncf/common/pruning/symbolic_mask.py
  nncf/common/pruning/utils.py
  nncf/common/pruning/weights_flops_calculator.py
  nncf/common/scopes.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
  pyproject.toml
Due: common

Comments
  nncf/experimental/quantization/quantizers/torch_ao_adapter.py
  nncf/quantization/algorithms/min_max/algorithm.py
Due: torch, ptq

Move ov models to separate module
  nncf/common/utils/caching.py
  nncf/common/utils/decorators.py
  nncf/openvino/optimized_functions/__init__.py
  nncf/openvino/optimized_functions/functions.py
  nncf/openvino/optimized_functions/models.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/tensor/functions/numeric.py
  nncf/tensor/functions/ov_numeric.py
  tests/openvino/optimized_functions/test_compression_functions.py
  tests/openvino/optimized_functions/test_ov_model_parameters.py
Due: common, openvino, ptq

Introduce NNCFLogger
  nncf/common/logging/logger.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/torch/quantization/algo.py
Due: common, torch, ptq

rollback no_grad
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/torch/engine.py
  tests/post_training/data/wc_reference_data.yaml
Due: torch, ptq

Addressed other comments
  nncf/common/utils/backend.py
  nncf/common/utils/caching.py
  nncf/import_utils.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/openvino/optimized_functions/test_compression_functions.py
Due: common, ptq

Fixed caching test
  tests/common/utils/test_cache_results_decorator.py
Due: none

add torch.no_grad()
  nncf/experimental/torch/fx/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
Due: torch

update
  examples/quantization_aware_training/tensorflow/mobilenet_v2/main.py
  tests/cross_fw/examples/example_scope.json
Due: none

start of cuda in conformance
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

comment
  tests/onnx/test_nncf_graph_builder.py
Due: none

Disable levit
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/model_scope.py
Due: none

Fix: not catch exception without massage
  tests/post_training/test_quantize_conformance.py
Due: none

Bump actions/setup-python to see if the network issue will go
  .github/workflows/call_precommit.yml
Due: none

Update test_durations
  tests/cross_fw/examples/.test_durations
Due: none

Update batch
  examples/quantization_aware_training/tensorflow/mobilenet_v2/main.py
Due: none

update metrics
  tests/cross_fw/examples/example_scope.json
Due: none

[Experimental][TorchFX] quantize_pt2e + X86Quantizer introduction (#3121)
  nncf/experimental/quantization/algorithms/post_training/__init__.py
  nncf/experimental/quantization/algorithms/post_training/algorithm.py
  nncf/experimental/quantization/algorithms/post_training/pipeline.py
  nncf/experimental/quantization/algorithms/range_estimator/algorithm.py
  nncf/experimental/quantization/quantizers/__init__.py
  nncf/experimental/quantization/quantizers/quantizer.py
  nncf/experimental/quantization/quantizers/torch_ao_adapter.py
  nncf/experimental/torch/fx/nncf_graph_builder.py
  nncf/experimental/torch/fx/quantization/quantize_pt2e.py
  nncf/experimental/torch/fx/transformations.py
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/common/quantization/test_minmax.py
  tests/torch/data/reference_graphs/fx/experimental/X86InductorQuantizer/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/experimental/X86InductorQuantizer/resnet18.dot
  tests/torch/data/reference_graphs/fx/experimental/X86InductorQuantizer/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/experimental/X86InductorQuantizer/synthetic_transformer.dot
  tests/torch/data/reference_graphs/fx/experimental/X86InductorQuantizer/unet.dot
  tests/torch/data/reference_graphs/fx/experimental/X86InductorQuantizer/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/experimental/X86InductorQuantizer/yolo11n_sdpa_block.dot
  tests/torch/fx/test_quantizer.py
Due: torch, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@d1b52293eb7584c4a2eff7859debe4534f74c515 🚀
  _sources/autoapi/algorithm/index.rst.txt
  _sources/autoapi/nncf/experimental/torch/fx/quantization/quantize_pt2e/index.rst.txt
  _sources/autoapi/post_training/algorithm/index.rst.txt
  _sources/autoapi/post_training/index.rst.txt
  _sources/autoapi/post_training/pipeline/index.rst.txt
  _sources/autoapi/quantizers/index.rst.txt
  _sources/autoapi/quantizers/quantizer/index.rst.txt
  _sources/autoapi/quantizers/torch_ao_adapter/index.rst.txt
  autoapi/algorithm/index.html
  autoapi/nncf/experimental/torch/fx/quantization/quantize_pt2e/index.html
  autoapi/post_training/algorithm/index.html
  autoapi/post_training/index.html
  autoapi/post_training/pipeline/index.html
  autoapi/quantizers/index.html
  autoapi/quantizers/quantizer/index.html
  autoapi/quantizers/torch_ao_adapter/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

get operator by class instead of name
  nncf/common/graph/operator_metatypes.py
Due: common

init
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
Due: torch, onnx, openvino, ptq

[mypy] nncf/common/quantization (part 2) (#3197)
  nncf/common/quantization/initialization/range.py
  nncf/common/quantization/quantizer_propagation/graph.py
  nncf/common/quantization/quantizer_propagation/grouping.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/common/quantization/quantizer_setup.py
  nncf/common/quantization/structs.py
  nncf/common/scopes.py
  nncf/common/utils/dot_file_rw.py
  pyproject.toml
Due: common

Deploying to doc_pages from @ openvinotoolkit/nncf@0931072ac03117f4dcc07b45dbd3b1d263815a29 🚀
  schema/index.html
Due: none

add scale estimation test
  tests/cross_fw/test_templates/template_test_weights_compression.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch/fx/test_weights_compression_backends.py
  tests/torch/ptq/test_weights_compression.py
Due: none

upd year
  tests/torch/fx/test_weights_compression_backends.py
Due: none

Disable cache in gha
  .github/workflows/build_html_doc.yml
  .github/workflows/build_schema_page.yml
  .github/workflows/call_precommit.yml
  .github/workflows/conformance_weight_compression.yml
  .github/workflows/examples.yml
  .github/workflows/install.yml
  .github/workflows/macos.yml
  .github/workflows/nightly.yml
Due: none

[mypy] nncf/common/pruning (#3198)
  nncf/common/pruning/clusterization.py
  nncf/common/pruning/mask_propagation.py
  nncf/common/pruning/model_analysis.py
  nncf/common/pruning/node_selector.py
  nncf/common/pruning/operations.py
  nncf/common/pruning/schedulers.py
  nncf/common/pruning/shape_pruning_processor.py
  nncf/common/pruning/symbolic_mask.py
  nncf/common/pruning/utils.py
  nncf/common/pruning/weights_flops_calculator.py
  nncf/common/scopes.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
  pyproject.toml
Due: common

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
