Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@ffd7be50d706133c7fc501e8cc58fd09f2c194d7 🚀
  schema/index.html
Due: none

Added tests for numeric functions.
  nncf/experimental/tensor/functions/numeric.py
  nncf/experimental/tensor/functions/numpy_numeric.py
  nncf/experimental/tensor/functions/torch_numeric.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/shared/test_templates/template_test_nncf_tensor.py
Due: torch, ptq

Adjust timm/crossvit_9_240_backend_TORCH metrics (#2413)
  tests/post_training/reference_data.yaml
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@a7b67f419111df9f993238dd5ec833e58e2643c6 🚀
  schema/index.html
Due: none

_HookHandle -> HookHandle
  nncf/common/hook_handle.py
  nncf/torch/dynamic_graph/context.py
  nncf/torch/layer_utils.py
  nncf/torch/model_transformer.py
  nncf/torch/nncf_network.py
  tests/torch/sparsity/magnitude/test_modules.py
  tests/torch/sparsity/rb/test_components.py
  tests/torch/test_nncf_network.py
Due: common, torch

numeric.quantile is introduced
  nncf/experimental/tensor/functions/__init__.py
  nncf/experimental/tensor/functions/numeric.py
  nncf/experimental/tensor/functions/numpy_numeric.py
  nncf/experimental/tensor/functions/torch_numeric.py
  tests/shared/test_templates/template_test_nncf_tensor.py
Due: torch

Update nncf/experimental/tensor/functions/numpy_numeric.py
  nncf/experimental/tensor/functions/numpy_numeric.py
Due: none

Fix typehints
  nncf/experimental/tensor/functions/numeric.py
  nncf/experimental/tensor/functions/numpy_numeric.py
  nncf/experimental/tensor/functions/torch_numeric.py
Due: torch

np._NoValue is removed
  nncf/experimental/tensor/functions/numeric.py
  nncf/experimental/tensor/functions/numpy_numeric.py
  nncf/experimental/tensor/functions/torch_numeric.py
  tests/shared/test_templates/template_test_nncf_tensor.py
Due: torch

Changed quantile parameters.
  nncf/experimental/tensor/functions/torch_numeric.py
Due: torch

Moved AWQ algorithm outside of compression.
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

initial test implementation
  tests/weight_compression/README.md
  tests/weight_compression/__init__.py
  tests/weight_compression/conftest.py
  tests/weight_compression/model_scope.py
  tests/weight_compression/pipelines/lm_weight_compression.py
  tests/weight_compression/ref_compress_weights.py
  tests/weight_compression/ref_evaluate_sim.py
  tests/weight_compression/reference_data.yaml
  tests/weight_compression/requirements.txt
  tests/weight_compression/test_compress_weight_conformance.py
Due: none

[PTSQ 3/4][Torch] Removable hooks (#2313)
  nncf/common/hook_handle.py
  nncf/tensorflow/layers/operation.py
  nncf/tensorflow/utils/hook_handle.py
  nncf/torch/dynamic_graph/context.py
  nncf/torch/graph/transformations/commands.py
  nncf/torch/layer_utils.py
  nncf/torch/model_transformer.py
  nncf/torch/nncf_network.py
  nncf/torch/statistics/aggregator.py
  tests/common/test_hook_handle.py
  tests/torch/helpers.py
  tests/torch/sparsity/magnitude/test_modules.py
  tests/torch/sparsity/rb/test_components.py
  tests/torch/test_model_transformer.py
  tests/torch/test_nncf_network.py
  tests/torch/test_statistics_aggregator.py
Due: common, torch, tensorflow

Deploying to doc_pages from @ openvinotoolkit/nncf@6849fbfd5e8ee2bc19dc92d249e493548e1c12e8 🚀
  _sources/autoapi/nncf/common/hook_handle/index.rst.txt
  _sources/autoapi/nncf/tensorflow/utils/hook_handle/index.rst.txt
  autoapi/nncf/common/hook_handle/index.html
  autoapi/nncf/tensorflow/utils/hook_handle/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

removed model state recovering after model tracing
  nncf/torch/dynamic_graph/graph_tracer.py
Due: torch

using FP32 precsion to calculate compressed weights
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: torch, ptq

Rollback telemetry version
  setup.py
Due: none

Update installation.md
  docs/Installation.md
Due: none

Update BKC versions
  README.md
  docs/Installation.md
  nncf/version.py
Due: none

Always cast quantile output to float64
  nncf/experimental/tensor/functions/torch_numeric.py
  tests/common/test_tensor.py
  tests/shared/test_templates/template_test_nncf_tensor.py
  tests/torch/test_tensor.py
Due: torch

Update NNCF/OV version (#2394)
  README.md
  docs/Installation.md
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  nncf/version.py
  setup.py
  tests/onnx/benchmarking/requirements.txt
  tests/onnx/requirements.txt
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
  tests/torch/requirements.txt
Due: none

comments
  nncf/common/tensor_statistics/aggregator.py
  nncf/onnx/graph/node_utils.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
Due: common, onnx, ptq

len of a torch scalar is not implemented in torch, moved to .numel()
  nncf/experimental/tensor/functions/torch_numeric.py
  tests/shared/test_templates/template_test_nncf_tensor.py
Due: torch

Update TF OV version
  tests/tensorflow/requirements.txt
Due: none

[Experimental tensor] numeric.quantile is introduced (#2418)
  nncf/experimental/tensor/functions/__init__.py
  nncf/experimental/tensor/functions/numeric.py
  nncf/experimental/tensor/functions/numpy_numeric.py
  nncf/experimental/tensor/functions/torch_numeric.py
  tests/common/test_tensor.py
  tests/shared/test_templates/template_test_nncf_tensor.py
  tests/torch/test_tensor.py
Due: torch

Resolved lint errors
  nncf/errors.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
  tests/openvino/native/test_model_transformer.py
  tests/torch/quantization/test_range_init.py
  tests/torch/test_nncf_network.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@759978c2d151f176e44f31a3a1f768575e1e20be 🚀
  schema/index.html
Due: none

Import-as for error classes in __init__.py
  nncf/__init__.py
Due: none

Fix expected error classes in common tests
  tests/common/quantization/test_minmax.py
  tests/common/quantization/test_quantizer_propagation_graph.py
  tests/cross_fw/sdl/symlinks.py
Due: none

Fix expected error types for torch tests
  nncf/config/extractors.py
  nncf/torch/nncf_network.py
  tests/common/test_statistics_aggregator.py
  tests/torch/accuracy_aware_training/test_accuracy_aware_config.py
  tests/torch/quantization/test_unified_scales.py
  tests/torch/sparsity/movement/test_algo.py
  tests/torch/test_algo_common.py
  tests/torch/test_nncf_network.py
Due: torch

Same for tensorflow
  nncf/tensorflow/pruning/filter_pruning/algorithm.py
  tests/tensorflow/pruning/test_flops_pruning.py
  tests/tensorflow/test_sanity_sample.py
  tests/torch/quantization/test_unified_scales.py
Due: tensorflow

Fix OV, onnx and lint
  tests/post_training/test_templates/test_smooth_quant.py
Due: none

Changed loss function for AWQ.
  nncf/quantization/algorithms/weight_compression/awq.py
Due: ptq

check only major and minor version
  nncf/torch/__init__.py
  nncf/version.py
  ruff.toml
  setup.py
Due: torch

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
