Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

Update
  nncf/torch/quantization/reference.py
Due: torch

Update quantize_functions.py
  nncf/torch/quantization/quantize_functions.py
Due: torch

Rollback
  nncf/torch/quantization/quantize_functions.py
Due: torch

Update approach
  nncf/torch/quantization/reference.py
Due: torch

Enable FunctionHookMode tracing by default (#3338)
  .gitignore
  examples/llm_compression/torch/qat_with_lora/main.py
  examples/post_training_quantization/torch/ssd300_vgg16/main.py
  nncf/common/factory.py
  nncf/common/utils/backend.py
  nncf/experimental/common/check_feature.py
  nncf/experimental/torch2/function_hook/serialization.py
  nncf/experimental/torch2/model_transformer.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/smooth_quant/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/quantize_model.py
  nncf/torch/dynamic_graph/context.py
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/graph/graph.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/model_creation.py
  nncf/torch/strip.py
  tests/cross_fw/examples/example_scope.json
  tests/torch/conftest.py
  tests/torch2/conftest.py
  tests/torch2/function_hook/test_serialization.py
  tests/torch2/test_patching.py
Due: common, torch, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@77f0bf6e526d8e80257ed74b814132db0325cc5b 🚀
  schema/index.html
Due: none

remove jstyleson (#3373)
  .ci/cspell_dict.txt
  .github/workflows/build_schema_page.yml
  docs/ConfigFile.md
  examples/common/sample_config.py
  examples/torch/classification/configs/mixed_precision/mobilenet_v2_imagenet_mixed_int_manual.json
  examples/torch/classification/configs/mixed_precision/mobilenet_v2_imagenet_mixed_int_manual_staged.json
  examples/torch/classification/configs/mixed_precision/resnet50_imagenet_mixed_int_manual.json
  examples/torch/classification/configs/mixed_precision/resnet50_imagenet_mixed_int_manual_staged.json
  examples/torch/classification/configs/mixed_precision/squeezenet1_1_imagenet_mixed_int_hawq_old_eval.json
  examples/torch/classification/configs/mixed_precision/squeezenet1_1_imagenet_mixed_int_manual.json
  examples/torch/classification/configs/mixed_precision/squeezenet1_1_imagenet_mixed_int_manual_staged.json
  examples/torch/classification/configs/pruning/resnet34_imagenet_pruning_geometric_median_kd.json
  examples/torch/classification/configs/quantization/mobilenet_v2_imagenet.json
  examples/torch/classification/configs/quantization/squeezenet1_1_imagenet.json
  examples/torch/object_detection/configs/ssd300_mobilenet_voc_magnitude_int8.json
  examples/torch/object_detection/configs/ssd300_vgg_voc.json
  examples/torch/object_detection/configs/ssd300_vgg_voc_pruning_geometric_median.json
  examples/torch/object_detection/configs/ssd512_vgg_voc.json
  nncf/common/hardware/config.py
  nncf/common/hardware/configs/cpu.json
  nncf/common/hardware/configs/npu.json
  nncf/common/hardware/configs/template.md
  nncf/config/config.py
  pyproject.toml
  tests/common/data/schema_validation_bad_configs/hawq_bitwidth_per_scope_format_mismatch.json
  tests/torch/sparsity/movement/test_training.py
  tests/torch/sparsity/movement/training_scripts/run_glue.py
Due: common

Deploying to doc_pages from @ openvinotoolkit/nncf@c254fc52d7a521887cf969cdff4da8a09ce8926a 🚀
  schema/index.html
Due: none

Enable mypy for nncf/quantization/*py (#3413)
  nncf/common/graph/graph.py
  nncf/experimental/torch/fx/quantization/quantize_model.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/algorithms/hyperparameter_tuner/algorithm.py
  nncf/quantization/fake_quantize.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
  pyproject.toml
Due: common, torch, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@801c941e2a3d81f37bce8fb84e3b5fbcf8af39fa 🚀
  _sources/autoapi/nncf/index.rst.txt
  schema/index.html
Due: none

[ruff] perflint (#3411)
  nncf/common/pruning/node_selector.py
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/collectors.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_depth.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/multi_elasticity_handler.py
  nncf/experimental/torch/search_building_blocks/search_blocks.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/torch/automl/environment/quantization_env.py
  nncf/torch/dynamic_graph/context.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/quantization/metrics.py
  pyproject.toml
  tests/cross_fw/test_templates/test_ptq_params.py
  tests/torch/automl/test_ddpg.py
  tests/torch/ptq/test_weights_compression.py
  tests/torch/quantization/test_algo_quantization.py
  tests/torch/quantization/test_range_init.py
  tests/torch/test_get_modules_by_type.py
  tests/torch/test_graph_building.py
  tools/extract_ov_subgraph.py
Due: common, torch, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@489bc511481013e5b0ff973ce1c0b61a41bf59a9 🚀
  schema/index.html
Due: none

Revert "PERF403"
  nncf/config/extractors.py
  nncf/torch/checkpoint_loading.py
  nncf/torch/dynamic_graph/graph.py
Due: torch

polishing
  nncf/quantization/algorithms/weight_compression/onnx_backend.py
Due: onnx, ptq

Revert "draft for enabling conformance for wc"
  nncf/quantization/quantize_model.py
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/lm_weight_compression.py
Due: ptq

pt2
  nncf/experimental/torch/sparsify_activations/sparsify_activations_impl.py
  nncf/experimental/torch/sparsify_activations/torch_backend.py
  nncf/torch/model_creation.py
  tests/torch2/data/sparsify_activations/dummy_llama_int8_sym_weights_sparse_activations.dot
  tests/torch2/data/sparsify_activations/dummy_llama_sparse_activations.dot
  tests/torch2/data/sparsify_activations/linear_int8_sym_weights_sparse_activations.dot
  tests/torch2/data/sparsify_activations/linear_sparse_activations.dot
  tests/torch2/data/sparsify_activations/three_linear_ignore1_int8_sym_weights_sparse_activations.dot
  tests/torch2/data/sparsify_activations/three_linear_ignore1_sparse_activations.dot
  tests/torch2/data/sparsify_activations/three_linear_int8_sym_weights_sparse_activations.dot
  tests/torch2/data/sparsify_activations/three_linear_sparse_activations.dot
  tests/torch2/function_hook/sparsify_activations/__init__.py
  tests/torch2/function_hook/sparsify_activations/helpers.py
  tests/torch2/function_hook/sparsify_activations/test_algo.py
  tests/torch2/function_hook/sparsify_activations/test_components.py
Due: torch

del
  tests/torch/data/experimental/sparsify_activations/dummy_llama_int8_sym_weights_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/dummy_llama_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/linear_int8_sym_weights_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/linear_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/three_linear_ignore1_int8_sym_weights_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/three_linear_ignore1_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/three_linear_int8_sym_weights_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/three_linear_sparse_activations.dot
  tests/torch/experimental/sparsify_activations/__init__.py
  tests/torch/experimental/sparsify_activations/helpers.py
  tests/torch/experimental/sparsify_activations/test_algo.py
  tests/torch/experimental/sparsify_activations/test_components.py
Due: none

helper
  tests/torch2/function_hook/sparsify_activations/test_algo.py
  tests/torch2/function_hook/sparsify_activations/test_components.py
Due: none

t
  tests/post_training/experimental/sparsify_activations/pipelines.py
Due: none

Fix tests. Minor fixes
  nncf/common/utils/backend.py
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/graph/model_utils.py
  nncf/onnx/graph/node_utils.py
  nncf/onnx/graph/onnx_helper.py
  nncf/onnx/model.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_bias_correction.py
  tests/onnx/quantization/test_fast_bias_correction.py
  tests/onnx/quantization/test_qdq_params_calculation.py
  tests/onnx/test_engine.py
  tests/onnx/test_model_transformer.py
  tests/onnx/test_node_utils.py
  tests/onnx/test_statistics_aggregator.py
Due: common, onnx, ptq

NNCF_TORCH_LEGACY_TRACING for sanity tests
  tests/torch/test_sanity_sample.py
Due: none

[pt2] activation sparsity (#3433)
  nncf/experimental/torch/sparsify_activations/sparsify_activations_impl.py
  nncf/experimental/torch/sparsify_activations/torch_backend.py
  nncf/torch/model_creation.py
  tests/post_training/experimental/sparsify_activations/pipelines.py
  tests/torch/data/experimental/sparsify_activations/dummy_llama_int8_sym_weights_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/dummy_llama_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/linear_int8_sym_weights_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/linear_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/three_linear_ignore1_int8_sym_weights_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/three_linear_ignore1_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/three_linear_int8_sym_weights_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/three_linear_sparse_activations.dot
  tests/torch2/data/sparsify_activations/dummy_llama_int8_sym_weights_sparse_activations.dot
  tests/torch2/data/sparsify_activations/dummy_llama_sparse_activations.dot
  tests/torch2/data/sparsify_activations/linear_int8_sym_weights_sparse_activations.dot
  tests/torch2/data/sparsify_activations/linear_sparse_activations.dot
  tests/torch2/data/sparsify_activations/three_linear_ignore1_int8_sym_weights_sparse_activations.dot
  tests/torch2/data/sparsify_activations/three_linear_ignore1_sparse_activations.dot
  tests/torch2/data/sparsify_activations/three_linear_int8_sym_weights_sparse_activations.dot
  tests/torch2/data/sparsify_activations/three_linear_sparse_activations.dot
  tests/torch2/function_hook/sparsify_activations/__init__.py
  tests/torch2/function_hook/sparsify_activations/helpers.py
  tests/torch2/function_hook/sparsify_activations/test_algo.py
  tests/torch2/function_hook/sparsify_activations/test_components.py
Due: torch

Remove disable patching for fx examples and docs (#3435)
  README.md
  examples/post_training_quantization/torch_fx/resnet18/main.py
  tests/post_training/pipelines/image_classification_torchvision.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@09269bfbe9adcf22fdb230ce41a940bfc956f80d 🚀
  schema/index.html
Due: none

Fix pt nightly (#3434)
  tests/torch/test_sanity_sample.py
Due: none

Remove disable patching for fx
  README.md
  examples/post_training_quantization/torch_fx/resnet18/main.py
  tests/post_training/pipelines/image_classification_torchvision.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@1d3d98a1f2c50b79554116fc81609e308b760388 🚀
  schema/index.html
Due: none

comments
  tests/torch2/function_hook/sparsify_activations/test_algo.py
Due: none

c
  nncf/experimental/torch/sparsify_activations/torch_backend.py
Due: torch

Fix fp32 model saving
  tests/post_training/experimental/sparsify_activations/pipelines.py
Due: none

c
  README.md
Due: none

Update pipelines.py
  tests/post_training/experimental/sparsify_activations/pipelines.py
Due: none

break circular dependency between old and new tensor statistics implementations
  nncf/experimental/common/tensor_statistics/collectors.py
Due: none

Add NNCF_VERSION
  nncf/definitions.py
  nncf/openvino/quantization/quantize_model.py
  nncf/openvino/rt_info.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/quantization/test_quantization_pipeline.py
Due: openvino, ptq

Added parameter to define usage of data-free AWQ.
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@ba31f1a913fb707df8bb092f4dc12b09b02c0550 🚀
  schema/index.html
Due: none

is_torch_tracing_by_patching
  nncf/common/check_features.py
  nncf/common/factory.py
  nncf/common/utils/backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/smooth_quant/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/quantize_model.py
  nncf/torch/dynamic_graph/context.py
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/function_hook/strip.py
  nncf/torch/graph/graph.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/model_creation.py
  nncf/torch/strip.py
Due: common, torch, ptq
