Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

Fix NNCF compatibility with torch.compile (#2665)
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/dynamic_graph/wrappers.py
  tests/torch/pytorch_patch_isolated.py
  tests/torch/test_pytorch_patch.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@1468a9bb676b6685113e1673ea48d6131bc7efaf 🚀
  schema/index.html
Due: none

Remove dependency from typing_extensions (#2696)
  nncf/common/accuracy_aware_training/training_loop.py
Due: common

Deploying to doc_pages from @ openvinotoolkit/nncf@b8b3e3b18055c1d326a7cc35c8a3ef73ea7bfa11 🚀
  schema/index.html
Due: none

any
  nncf/common/accuracy_aware_training/training_loop.py
Due: common

any
  setup.py
Due: none

c
  nncf/common/utils/decorators.py
Due: common

Init grpah converter
  nncf/experimental/torch_fx/model_transformer.py
  nncf/experimental/torch_fx/nncf_graph_builder.py
  nncf/experimental/torch_fx/operator_metatypes.py
  nncf/torch/dynamic_graph/structs.py
  nncf/torch/graph/operator_metatypes.py
  torch_compile_ex_release.py
Due: torch

c
  nncf/experimental/tensor/functions/numeric.py
Due: none

clean readme
  README.md
Due: none

Update main.py due to the issues 2669
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
Due: none

WIP min_max support
  nncf/common/factory.py
  nncf/common/graph/patterns/manager.py
  nncf/common/utils/backend.py
  nncf/experimental/torch_fx/__init__.py
  nncf/experimental/torch_fx/engine.py
  nncf/experimental/torch_fx/model_transformer.py
  nncf/experimental/torch_fx/quantization/__init__.py
  nncf/experimental/torch_fx/quantization/quantize_model.py
  nncf/experimental/torch_fx/statistics/__init__.py
  nncf/experimental/torch_fx/statistics/aggregator.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  nncf/quantization/quantize_model.py
  nncf/torch/__init__.py
  nncf/torch/dynamic_graph/patch_pytorch.py
  tests/torch/ptq/test_calculation_quantizer_params.py
  tests/torch/ptq/test_min_max.py
  tests/torch/ptq/test_ptq_params.py
  tests/torch/ptq/test_quantizer_config.py
  tests/torch/test_statistics_aggregator.py
  torch_compile_ex_release.py
Due: common, torch, ptq

Fix SQ algorithm ports usage
  nncf/quantization/algorithms/smooth_quant/algorithm.py
Due: ptq

remove unnecessary extra input
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
Due: none

dev
  nncf/common/utils/decorators.py
  requirements-dev.txt
  setup.py
Due: common

bkc for pt
  nncf/version.py
Due: none

Update BKC for PyTroch (#2700)
  nncf/version.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@2369078c964b8c775614d0b6205e4ee4e50b5860 🚀
  schema/index.html
Due: none

Update nncf/common/utils/decorators.py
  nncf/common/utils/decorators.py
Due: common

plots
  nncf/common/utils/decorators.py
  setup.py
Due: common

WIP statistic collection and quantizer params calculation
  nncf/experimental/torch_fx/model_transformer.py
  nncf/experimental/torch_fx/nncf_graph_builder.py
  nncf/experimental/torch_fx/statistics/aggregator.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  nncf/torch/__init__.py
  nncf/torch/graph/operator_metatypes.py
  torch_compile_ex_release.py
Due: torch, ptq

WIP FQ insertion
  nncf/experimental/torch_fx/model_transformer.py
  nncf/experimental/torch_fx/node_creation.py
  nncf/experimental/torch_fx/statistics/aggregator.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
Due: torch, ptq

Fix SQ algorithm ports usage (#2672)
  nncf/quantization/algorithms/smooth_quant/algorithm.py
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@eb377e654d8aa00af16c09456f36ccf16a0e44ef 🚀
  schema/index.html
Due: none

Removal of installation extras in setup.py (#2694)
  README.md
  examples/torch/README.md
  nncf/common/utils/decorators.py
  setup.py
  tests/cross_fw/examples/test_examples.py
  tests/cross_fw/install/test_install.py
  tests/shared/helpers.py
  tests/shared/install_fixtures.py
  tests/torch/test_extensions_build.py
Due: common

Deploying to doc_pages from @ openvinotoolkit/nncf@14f628d8c136c38c9779d223e2bd98e8b0ba31b3 🚀
  schema/index.html
Due: none

gptq implementation
  nncf/experimental/tensor/definitions.py
  nncf/experimental/tensor/functions/__init__.py
  nncf/experimental/tensor/functions/dispatcher.py
  nncf/experimental/tensor/functions/numeric.py
  nncf/experimental/tensor/functions/numpy_numeric.py
  nncf/experimental/tensor/functions/torch_numeric.py
  nncf/experimental/tensor/tensor.py
  nncf/openvino/graph/model_transformer.py
  nncf/openvino/graph/transformations/commands.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/layerwise/__init__.py
  nncf/quantization/algorithms/layerwise/backend.py
  nncf/quantization/algorithms/layerwise/engine.py
  nncf/quantization/algorithms/layerwise/iterator.py
  nncf/quantization/algorithms/layerwise/openvino_backend.py
  nncf/quantization/algorithms/layerwise/openvino_iterator.py
  nncf/quantization/algorithms/layerwise/scheduler.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
  tests/openvino/native/quantization/test_gptq.py
Due: torch, openvino, ptq

Change get_const_value behavior
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@3d3b32bc4d839365ba9a6110afeaa692fbc1c0dc 🚀
  schema/index.html
Due: none

remove OMZ model_tools from install; add dataset_definitions.yml
  Makefile
  tests/openvino/data/ac_configs/googlenet-v3-pytorch.yml
  tests/openvino/data/ac_configs/mobilenet-v3-small-1.0-224-tf.yml
  tests/openvino/data/ac_configs/resnet-18-pytorch.yml
  tests/openvino/data/ac_configs/retinaface-resnet50-pytorch.yml
  tests/openvino/data/ov_dataset_definitions.yml
  tests/shared/data/dataset_definitions.yml
  tests/shared/paths.py
Due: none

fix test exmaple
  tests/cross_fw/examples/example_scope.json
Due: none

[OpenVINO] Yolov8 example: Remove unnecessary extra input (#2701)
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
Due: none

Fix test examples (#2703)
  tests/cross_fw/examples/example_scope.json
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@90a7f0d5c7b6a7a02586792c597d59984ea2a109 🚀
  schema/index.html
Due: none

Resolve Graph execution error
  tests/tensorflow/sparsity/rb/test_integration.py
  tests/tensorflow/test_sanity_sample.py
Due: none

debug
  tests/tensorflow/sparsity/rb/test_integration.py
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
