Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

Add estimated test duration
  nncf/torch/quantization/layers.py
  tests/cross_fw/examples/.test_durations
Due: torch

Fix NLS quantizers
  nncf/torch/quantization/layers.py
Due: torch

Fix NLS instructions
  examples/llm_compression/torch/qat_with_lora/NLSDownstreamTasks.md
Due: none

Aanuf/data free awq (#3315)
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/quantize_model.py
  tests/cross_fw/test_templates/template_test_weights_compression.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/data/wc_test_durations.json
  tests/post_training/model_scope.py
  tests/torch2/function_hook/quantization/test_weights_compression.py
  tests/torch2/fx/test_compress_weights.py
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@55325d189ceb04fcaf37c080595bc211f1c4dd92 🚀
  _sources/autoapi/nncf/quantization/advanced_parameters/index.rst.txt
  autoapi/nncf/quantization/advanced_parameters/index.html
  schema/index.html
  searchindex.js
Due: none

[TF] atleast_1d
  nncf/tensor/functions/tf_numeric.py
Due: none

Apply suggestion
  nncf/tensor/functions/dispatcher.py
  nncf/tensor/functions/openvino_numeric.py
  nncf/tensor/tensor.py
  tests/cross_fw/test_templates/template_test_nncf_tensor.py
  tests/openvino/test_tensor.py
Due: openvino

Bring back the test
  tests/cross_fw/test_templates/template_test_nncf_tensor.py
  tests/openvino/test_tensor.py
Due: none

[TF] NNCF tensor atleast_1d implementation (#3488)
  nncf/tensor/functions/tf_numeric.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@b5fe35320723b7428c80d5c0f637505d3662842d 🚀
  schema/index.html
Due: none

refactored creation of eval model
  examples/llm_compression/torch/qat_with_lora/main.py
Due: none

Draft.
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/onnx_backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: onnx, openvino, ptq

Fix test
  examples/llm_compression/torch/qat_with_lora/NLSDownstreamTasks.md
  examples/llm_compression/torch/qat_with_lora/main_nls.py
Due: none

Draft.
  nncf/quantization/algorithms/weight_compression/onnx_backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: torch, onnx, openvino, ptq

Fix acc. tolerance
  tests/cross_fw/examples/example_scope.json
Due: none

Update tests/cross_fw/examples/.test_durations
  tests/cross_fw/examples/.test_durations
Due: none

Use model.dummy_inputs instead of get_model_input
  examples/llm_compression/torch/qat_with_lora/main_nls.py
Due: none

Remove unnecessary import
  examples/llm_compression/torch/qat_with_lora/main_nls.py
Due: none

use dummy_inputs and fixed docstrings
  examples/llm_compression/torch/qat_with_lora/main.py
Due: none

Dummy inputs to device
  examples/llm_compression/torch/qat_with_lora/main_nls.py
Due: none

[XNNPACKQuantizer 2/N][TorchFX] `SharedQuantizationSpec` support (#3385)
  nncf/common/quantization/quantizer_setup.py
  nncf/experimental/torch/fx/quantization/quantizer/torch_ao_adapter.py
  tests/torch2/data/fx/OpenVINOQuantizer/mobilenet_v3_small.dot
  tests/torch2/data/fx/OpenVINOQuantizer/resnet18.dot
  tests/torch2/data/fx/OpenVINOQuantizer/swin_v2_t.dot
  tests/torch2/data/fx/OpenVINOQuantizer/synthetic_transformer.dot
  tests/torch2/data/fx/OpenVINOQuantizer/unet.dot
  tests/torch2/data/fx/OpenVINOQuantizer/vit_b_16.dot
  tests/torch2/data/fx/OpenVINOQuantizer/yolo11n_sdpa_block.dot
  tests/torch2/data/fx/X86InductorQuantizer/mobilenet_v3_small.dot
  tests/torch2/data/fx/X86InductorQuantizer/resnet18.dot
  tests/torch2/data/fx/X86InductorQuantizer/swin_v2_t.dot
  tests/torch2/data/fx/X86InductorQuantizer/synthetic_transformer.dot
  tests/torch2/data/fx/X86InductorQuantizer/unet.dot
  tests/torch2/data/fx/X86InductorQuantizer/vit_b_16.dot
  tests/torch2/data/fx/XNNPACKQuantizer/mobilenet_v3_small.dot
  tests/torch2/data/fx/XNNPACKQuantizer/resnet18.dot
  tests/torch2/data/fx/XNNPACKQuantizer/swin_v2_t.dot
  tests/torch2/data/fx/XNNPACKQuantizer/synthetic_transformer.dot
  tests/torch2/data/fx/XNNPACKQuantizer/unet.dot
  tests/torch2/data/fx/XNNPACKQuantizer/vit_b_16.dot
  tests/torch2/data/fx/XNNPACKQuantizer/yolo11n_sdpa_block.dot
  tests/torch2/data/fx/ao_export_quantization_OpenVINOQuantizer/mobilenet_v3_small.dot
  tests/torch2/data/fx/ao_export_quantization_OpenVINOQuantizer/resnet18.dot
  tests/torch2/data/fx/ao_export_quantization_OpenVINOQuantizer/synthetic_transformer.dot
  tests/torch2/data/fx/ao_export_quantization_OpenVINOQuantizer/unet.dot
  tests/torch2/data/fx/ao_export_quantization_OpenVINOQuantizer/vit_b_16.dot
  tests/torch2/data/fx/ao_export_quantization_OpenVINOQuantizer/yolo11n_sdpa_block.dot
  tests/torch2/fx/test_quantizer.py
Due: common, torch

Deploying to doc_pages from @ openvinotoolkit/nncf@089dc04dd95a966a5d29c30e4cbf4c87924d245e 🚀
  schema/index.html
Due: none

Add additional empty line
  nncf/openvino/optimized_functions/models.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: openvino, ptq

move dummy_inputs to device
  examples/llm_compression/torch/qat_with_lora/main.py
Due: none

Draft for codebook.
  nncf/parameters.py
  nncf/quantization/algorithms/weight_compression/codebook.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: ptq

Optimized weights compression for NF4 data type (#3369)
  .ci/cspell_dict.txt
  nncf/openvino/optimized_functions/__init__.py
  nncf/openvino/optimized_functions/functions.py
  nncf/openvino/optimized_functions/models.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/lora_correction.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/tensor/functions/dispatcher.py
  nncf/tensor/functions/numeric.py
  nncf/tensor/functions/openvino_numeric.py
  nncf/tensor/tensor.py
  tests/cross_fw/test_templates/template_test_weights_compression.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/optimized_functions/test_compression_functions.py
  tests/openvino/optimized_functions/test_ov_model_parameters.py
  tests/openvino/test_tensor.py
Due: openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@d369c316cc74fa3907ffda9a72fc846a83070fab 🚀
  schema/index.html
Due: none

Add MIN_INPUT_SIZE_FOR_OPTIMIZED_COMPRESSION
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/optimized_functions/test_compression_functions.py
Due: ptq

explicity mapping GPU target device to CPU for a8w8
  nncf/common/hardware/configs/gpu.json
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/common/quantization/test_minmax.py
  tests/common/test_hardware_config.py
Due: common, ptq

WIP
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: ptq

remove strip (#3262)
  README.md
  docs/usage/training_time_compression/quantization_aware_training/Usage.md
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/quantization_aware_training/tensorflow/mobilenet_v2/main.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@68abb9d2a7e592a28e7ba75609fabdda96ce3d25 🚀
  schema/index.html
Due: none

Compression for default codebook.
  .ci/cspell_dict.txt
  nncf/openvino/graph/node_utils.py
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/codebook.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
Due: openvino, ptq

Reverted change in spell check.
  .ci/cspell_dict.txt
  nncf/openvino/graph/node_utils.py
Due: openvino

remove strip
  README.md
  docs/usage/training_time_compression/quantization_aware_training/Usage.md
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/quantization_aware_training/tensorflow/mobilenet_v2/main.py
Due: none

delete by hook name only
  nncf/torch/function_hook/hook_storage.py
  nncf/torch/function_hook/strip.py
  tests/torch2/function_hook/test_hook_storage.py
Due: torch

minor rename
  nncf/torch/function_hook/strip.py
Due: torch

QAT + LoRA sample on wikitext (#3486)
  examples/llm_compression/torch/qat_with_lora/custom_eval_tasks/preprocess_wikitext.py
  examples/llm_compression/torch/qat_with_lora/custom_eval_tasks/wikitext_validation.yaml
  examples/llm_compression/torch/qat_with_lora/main.py
  examples/llm_compression/torch/qat_with_lora/requirements.txt
  nncf/parameters.py
  nncf/torch/function_hook/hook_storage.py
  nncf/torch/function_hook/strip.py
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
  tests/cross_fw/examples/test_examples.py
  tests/torch2/function_hook/quantization/strip/test_strip_in_place.py
  tests/torch2/function_hook/test_hook_storage.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@7c2b0c773884274a5d3021bc78b6a02a6b2abb71 🚀
  _sources/autoapi/nncf/index.rst.txt
  autoapi/nncf/index.html
  schema/index.html
  searchindex.js
Due: none

Fixed compression to 4bit for codebook indexes.
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/codebook.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Due: openvino, ptq
