Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

Issue fixed in nncf/common/sparsity- [NNCF] Make NNCF common sparsity code pass mypy checks #22312 (#2428)
  .github/workflows/mypy.yml
  .mypy.ini
  .pre-commit-config.yaml
  nncf/common/schedulers.py
  nncf/common/sparsity/collector.py
  nncf/common/sparsity/controller.py
  nncf/common/sparsity/schedulers.py
  nncf/common/sparsity/statistics.py
  nncf/common/utils/registry.py
  nncf/tensorflow/sparsity/magnitude/algorithm.py
  nncf/tensorflow/sparsity/rb/algorithm.py
  nncf/torch/sparsity/base_algo.py
  nncf/torch/sparsity/rb/algo.py
  nncf/torch/sparsity/rb/loss.py
  tests/tensorflow/sparsity/test_common.py
  tests/torch/sparsity/test_common.py
Due: common, torch, tensorflow

Deploying to doc_pages from @ openvinotoolkit/nncf@57bece96cc5301d34fe45825985a1ace6bcc7705 🚀
  _sources/autoapi/nncf/tensorflow/sparsity/magnitude/algorithm/index.rst.txt
  _sources/autoapi/nncf/tensorflow/sparsity/rb/algorithm/index.rst.txt
  _sources/autoapi/nncf/torch/sparsity/base_algo/index.rst.txt
  _sources/autoapi/nncf/torch/sparsity/rb/algo/index.rst.txt
  autoapi/nncf/tensorflow/sparsity/magnitude/algorithm/index.html
  autoapi/nncf/tensorflow/sparsity/rb/algorithm/index.html
  autoapi/nncf/torch/sparsity/base_algo/index.html
  autoapi/nncf/torch/sparsity/rb/algo/index.html
  genindex.html
  objects.inv
  schema/index.html
  searchindex.js
Due: none

More strict threshold for accuracy and minor corrections (#2458)
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/pipelines/lm_weight_compression.py
  tests/post_training/test_quantize_conformance.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@4f071e313d4c4cf1020b9ddcd25113358d38402b 🚀
  schema/index.html
Due: none

Add fp32 model once for each model_id, not for each test case
  tests/post_training/model_scope.py
  tests/post_training/test_quantize_conformance.py
Due: none

Added clarification for AWQ.
  docs/compression_algorithms/CompressWeights.md
Due: none

Add AWQ to LLM hyperparams tuning example
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/README.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/main.py
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
Due: none

Fix json serialization
  tests/cross_fw/examples/run_example.py
Due: none

Added test for the stateful model
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

Use onnxruntime
  nncf/quantization/algorithms/accuracy_control/onnx_backend.py
Due: onnx, ptq

Add tune_hyperparams for ONNX
  nncf/onnx/quantization/quantize_model.py
Due: onnx

update comment
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/main.py
Due: none

Add the AAQ algorithm for the ONNX backend (#2399)
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
  nncf/common/factory.py
  nncf/common/quantization/quantizer_removal.py
  nncf/onnx/graph/metatypes/groups.py
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/graph/transformations/command_creation.py
  nncf/onnx/graph/transformations/commands.py
  nncf/onnx/quantization/quantize_model.py
  nncf/quantization/algorithms/accuracy_control/algorithm.py
  nncf/quantization/algorithms/accuracy_control/backend.py
  nncf/quantization/algorithms/accuracy_control/evaluator.py
  nncf/quantization/algorithms/accuracy_control/onnx_backend.py
  nncf/quantization/algorithms/accuracy_control/ranker.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/quantize_model.py
  tests/common/accuracy_control/backend.py
  tests/common/accuracy_control/test_ranking.py
  tests/common/quantization/metatypes.py
  tests/common/quantization/test_quantizer_removal.py
  tests/onnx/test_model_transformer.py
  tests/openvino/native/quantization/test_quantizer_removal.py
Due: common, onnx, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@7bddab9d8d850d2672133ffac2a60f7b0985fe15 🚀
  _sources/autoapi/nncf/quantization/algorithms/accuracy_control/onnx_backend/index.rst.txt
  autoapi/nncf/quantization/algorithms/accuracy_control/onnx_backend/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

Cache ref data to accelerate conformance tests for weight compression (#2460)
  tests/post_training/data/wwb_ref_answers/tinyllama__tinyllama-1.1b-step-50k-105b/ref_qa.csv
  tests/post_training/model_scope.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/post_training/requirements.txt
  tests/post_training/test_quantize_conformance.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@14bd2aa665fc55c0eddf6eaf21caffea1a92478d 🚀
  schema/index.html
Due: none

[Fixed]: Resolved the errors pointed out by reviewer #22313 #2438
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/collectors.py
Due: common

Update test_bias_correction.py
  tests/openvino/native/test_bias_correction.py
Due: none

Update test_fast_bias_correction.py
  tests/openvino/native/test_fast_bias_correction.py
Due: none

Update test_smooth_quant.py
  tests/openvino/native/test_smooth_quant.py
Due: none

Add AWQ to LLM hyperparams tuning example (#2447)
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/README.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/main.py
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@27e4b33946325eb947c1585f831ec33a88215b39 🚀
  schema/index.html
Due: none

update whowhatbench link
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/README.md
Due: none

subset_size, awq is keyword-only arguments of nncf.compress_weights
  nncf/quantization/quantize_model.py
Due: ptq

Add example
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/deploy.py
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
Due: none

updates aggregators, reducers for BC and FBC
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/experimental/common/tensor_statistics/statistical_functions.py
  nncf/onnx/statistics/collectors.py
  nncf/openvino/graph/node_utils.py
  nncf/openvino/statistics/collectors.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/torch_backend.py
  nncf/torch/tensor_statistics/collectors.py
  tests/common/experimental/test_reducers_and_aggregators.py
  tests/common/test_statistics_aggregator.py
  tests/onnx/quantization/test_reducers_and_aggregators.py
  tests/openvino/native/quantization/test_reducers_and_aggregators.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/native/test_statistics_aggregator.py
  tests/torch/ptq/test_reducers_and_aggregators.py
Due: torch, onnx, openvino, ptq

Add README.md file
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/README.md
Due: none

Updated the reduction.py by changing the type of a variable from List to list #22313 #2438
  mypy.ini
  nncf/common/tensor_statistics/reduction.py
Due: common

Updated the reduction code to support the python version lower than 3.9 #22313 #2438
  mypy.ini
  nncf/common/tensor_statistics/reduction.py
Due: common

Add instance method patching test
  tests/common/test_monkey_patching.py
Due: none

Add test for timer
  tests/common/utils/test_os.py
  tests/common/utils/test_timer.py
Due: none

Propagate is_shared attribute from constant node
  nncf/torch/dynamic_graph/context.py
  nncf/torch/dynamic_graph/trace_tensor.py
  nncf/torch/graph/graph_builder.py
  nncf/torch/nncf_network.py
  tests/torch/helpers.py
  tests/torch/nas/helpers.py
  tests/torch/ptq/test_wrap_model.py
Due: torch

QUANTIZE_NODE_TYPES
  nncf/torch/graph/graph_builder.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/model_analyzer.py
Due: torch

ruff
  nncf/torch/graph/graph_builder.py
Due: torch

Add tests for schema
  tests/common/sdl/test_schema.py
Due: none

subset_size and awq are keyword-only arguments in nncf.compress_weights (#2466)
  nncf/quantization/quantize_model.py
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@287ec6bbc750b177574e303c8dcfe2610c341077 🚀
  _sources/autoapi/nncf/index.rst.txt
  autoapi/nncf/index.html
  schema/index.html
  searchindex.js
Due: none

Fix for AWQ stabilization.
  nncf/quantization/algorithms/weight_compression/awq.py
Due: ptq

upd torch mean_per_channel
  nncf/torch/tensor_statistics/collectors.py
Due: torch

fix BC
  nncf/quantization/algorithms/bias_correction/algorithm.py
Due: ptq

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
