Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

from nncf.torch import get_config, load_from_config
  README.md
  docs/usage/training_time_compression/quantization_aware_training/Usage.md
  examples/quantization_aware_training/torch/resnet18/main.py
  nncf/torch/__init__.py
  nncf/torch/model_creation.py
  tests/torch2/function_hook/test_serialization.py
Due: torch

Context manager to disable tracing
  nncf/experimental/torch2/function_hook/hook_executor_mode.py
  nncf/torch/dynamic_graph/context.py
  nncf/torch/dynamic_graph/patch_pytorch.py
  tests/torch2/data/function_hook/disable_tracing/graph.dot
  tests/torch2/function_hook/test_disable_tracing.py
  tests/torch2/function_hook/test_train.py
Due: torch

Support partial forward
  nncf/experimental/torch2/function_hook/wrapper.py
  tests/torch2/function_hook/test_wrapper.py
Due: none

added todo to fix wa for new tracing
  nncf/torch/quantization/layers.py
Due: torch

rework ForwardWithHooks
  nncf/experimental/torch2/function_hook/graph/build_graph_mode.py
  nncf/experimental/torch2/function_hook/hook_executor_mode.py
  nncf/experimental/torch2/function_hook/wrapper.py
  tests/torch2/function_hook/test_train.py
  tests/torch2/function_hook/test_wrapper.py
Due: none

refactored strip
  nncf/torch/quantization/strip.py
Due: torch

Update
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: ptq

corrections
  nncf/torch/quantization/strip.py
Due: torch

Use openvino instead of cpuinfo to get CPU full name (#3357)
  nncf/openvino/cpu_info.py
  nncf/openvino/optimized_functions/models.py
  pyproject.toml
Due: openvino

Deploying to doc_pages from @ openvinotoolkit/nncf@97a3a3a21fbe89c4993bb9d86e6bb28390b447a1 🚀
  _sources/autoapi/nncf/common/utils/cpu_info/index.rst.txt
  _sources/autoapi/nncf/openvino/cpu_info/index.rst.txt
  autoapi/nncf/common/utils/cpu_info/index.html
  autoapi/nncf/openvino/cpu_info/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

Update
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: openvino, ptq

[QAT Lora 5/N] Fixes for loading/saving compression checkpoint (#3341)
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/torch/quantization/layers.py
  tests/torch/ptq/test_fq_lora.py
  tests/torch/ptq/test_weights_compression.py
  tests/torch/quantization/test_layers.py
  tests/torch/test_models/synthetic.py
Due: torch, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@98b14c27cde99fcae508aa2fd595008c6bfb1c38 🚀
  schema/index.html
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@d614c1ed9f2e143895a74d21a75f6369c1decff7 🚀
  schema/index.html
Due: none

Extended test for strip
  tests/torch/quantization/test_strip.py
Due: none

p
  nncf/torch/model_creation.py
Due: torch

fixed tests
  tests/torch/quantization/test_strip.py
Due: none

[PT2] Context manager to disable tracing (#3361)
  nncf/experimental/torch2/function_hook/hook_executor_mode.py
  nncf/torch/dynamic_graph/context.py
  nncf/torch/dynamic_graph/patch_pytorch.py
  tests/torch2/data/function_hook/disable_tracing/graph.dot
  tests/torch2/function_hook/test_disable_tracing.py
  tests/torch2/function_hook/test_train.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@cb9e9ac040b7fbbe6fcf88a7293100c108b9bcf3 🚀
  schema/index.html
Due: none

extend tests
  tests/torch2/data/function_hook/disable_tracing/graph.dot
  tests/torch2/function_hook/test_disable_tracing.py
Due: none

[PT2] Detect missed inputs for noed based on TensorMeta in arguments (#3360)
  nncf/torch/graph/graph.py
  tests/torch2/function_hook/nncf_graph/test_nncf_graph.py
Due: torch

[QAT Lora 4/N] Strip for LoRA modules (#3348)
  nncf/__init__.py
  nncf/api/compression.py
  nncf/common/composite_compression.py
  nncf/common/strip.py
  nncf/experimental/tensorflow/quantization/algorithm.py
  nncf/parameters.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/tensorflow/algorithm_selector.py
  nncf/tensorflow/pruning/base_algorithm.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/tensorflow/sparsity/base_algorithm.py
  nncf/tensorflow/strip.py
  nncf/torch/algo_selector.py
  nncf/torch/nncf_network.py
  nncf/torch/pruning/filter_pruning/algo.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/strip.py
  nncf/torch/sparsity/base_algo.py
  nncf/torch/strip.py
  tests/torch/helpers.py
  tests/torch/ptq/test_fq_lora.py
  tests/torch/quantization/test_strip.py
  tests/torch/requirements.txt
Due: common, torch, tensorflow, ptq

Disable optimized compression on ARM CPUs until the next release
  nncf/openvino/cpu_info.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@cd3c678bcf9c58903d1a0448a960e57dcc80e731 🚀
  _sources/autoapi/nncf/api/compression/index.rst.txt
  _sources/autoapi/nncf/index.rst.txt
  _sources/autoapi/nncf/torch/pruning/filter_pruning/algo/index.rst.txt
  _sources/autoapi/nncf/torch/quantization/algo/index.rst.txt
  _sources/autoapi/nncf/torch/sparsity/base_algo/index.rst.txt
  autoapi/nncf/api/compression/index.html
  autoapi/nncf/index.html
  autoapi/nncf/torch/pruning/filter_pruning/algo/index.html
  autoapi/nncf/torch/quantization/algo/index.html
  autoapi/nncf/torch/sparsity/base_algo/index.html
  genindex.html
  objects.inv
  schema/index.html
  searchindex.js
Due: none

Import only if openvino is installed
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: ptq

usage
  docs/usage/training_time_compression/quantization_aware_training/Usage.md
Due: none

VIT/Swin models refs/ symbolic types are expanded
  nncf/experimental/torch/fx/nncf_graph_builder.py
  nncf/experimental/torch/fx/quantization/quantize_model.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  nncf/torch/model_graph_manager.py
  nncf/torch/utils.py
  tests/torch/data/reference_graphs/fx/dynamic_shapes/post_quantization_compressed/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/post_quantization_compressed/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/quantized/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/quantized/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/quantized/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/quantized/vit_b_16.dot
Due: torch, onnx, openvino, ptq

Move 2025.2 refs to the 2025.1 dir
  tests/openvino/native/data/2025.1/reference_graphs/quantized/swin-block_performance_transformer.dot
  tests/openvino/native/data/2025.1/reference_graphs/quantized/swin-block_sq.dot
  tests/openvino/native/data/2025.2/reference_graphs/quantized/swin-block_performance_transformer.dot
  tests/openvino/native/data/2025.2/reference_graphs/quantized/swin-block_sq.dot
Due: none

refactored
  examples/llm_compression/torch/qat_with_lora/main.py
Due: none

[PT2] rework ForwardWithHooks (#3362)
  nncf/experimental/torch2/function_hook/graph/build_graph_mode.py
  nncf/experimental/torch2/function_hook/hook_executor_mode.py
  nncf/experimental/torch2/function_hook/wrapper.py
  tests/torch2/function_hook/test_train.py
  tests/torch2/function_hook/test_wrapper.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@dd0ef137a8c296e321e17fc50be9910e273f9e34 🚀
  schema/index.html
Due: none

some fixes
  .ci/cspell_dict.txt
  examples/llm_compression/torch/qat_with_lora/README.md
  examples/llm_compression/torch/qat_with_lora/main.py
  examples/llm_compression/torch/qat_with_lora/requirements.txt
Due: none

verified that working on RTX 24Gb GPU memory
  examples/llm_compression/torch/qat_with_lora/main.py
Due: none

Minor refactoring
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: ptq

[OpenVINO] Update reference files for the new 2025.1 OpenVINO release (#3358)
  tests/openvino/native/data/2025.1/reference_graphs/quantized/swin-block_performance_transformer.dot
  tests/openvino/native/data/2025.1/reference_graphs/quantized/swin-block_sq.dot
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@faa6bed90e693c0cd12b744209d811e9e7234029 🚀
  schema/index.html
Due: none

c
  README.md
  docs/usage/training_time_compression/quantization_aware_training/Usage.md
  examples/quantization_aware_training/torch/resnet18/main.py
Due: none

fix for compress weight
  examples/llm_compression/torch/qat_with_lora/main.py
Due: none

refactor channel axes handling
  nncf/quantization/algorithms/min_max/algorithm.py
Due: ptq
