Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

Revert changes (#2827)
  nncf/onnx/graph/node_utils.py
Due: onnx

Deploying to doc_pages from @ openvinotoolkit/nncf@43d3300fad26c40d2a29107a548c7dd76155263c 🚀
  schema/index.html
Due: none

Post-training Activation Pruning algorithm (#2683)
  README.md
  nncf/experimental/torch/sparsify_activations/ActivationSparsity.md
  nncf/experimental/torch/sparsify_activations/__init__.py
  nncf/experimental/torch/sparsify_activations/sparsify_activations_impl.py
  nncf/experimental/torch/sparsify_activations/target_scope.py
  nncf/experimental/torch/sparsify_activations/torch_backend.py
  tests/post_training/experimental/sparsify_activations/model_scope.py
  tests/post_training/experimental/sparsify_activations/pipelines.py
  tests/post_training/experimental/sparsify_activations/reference_data.yaml
  tests/post_training/experimental/sparsify_activations/test_sparsify_activations_conformance.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/torch/data/experimental/sparsify_activations/dummy_llama_int8_sym_weights_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/dummy_llama_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/linear_int8_sym_weights_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/linear_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/three_linear_ignore1_int8_sym_weights_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/three_linear_ignore1_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/three_linear_int8_sym_weights_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/three_linear_sparse_activations.dot
  tests/torch/experimental/sparsify_activations/__init__.py
  tests/torch/experimental/sparsify_activations/helpers.py
  tests/torch/experimental/sparsify_activations/test_algo.py
  tests/torch/experimental/sparsify_activations/test_components.py
Due: torch

Deploying to doc_pages from @ openvinotoolkit/nncf@49e98205975e46fc81a227ca4b2e66ca043ef91e 🚀
  _sources/autoapi/nncf/experimental/torch/sparsify_activations/index.rst.txt
  _sources/autoapi/nncf/experimental/torch/sparsify_activations/sparsify_activations_impl/index.rst.txt
  _sources/autoapi/nncf/experimental/torch/sparsify_activations/target_scope/index.rst.txt
  _sources/autoapi/nncf/experimental/torch/sparsify_activations/torch_backend/index.rst.txt
  autoapi/nncf/experimental/torch/sparsify_activations/index.html
  autoapi/nncf/experimental/torch/sparsify_activations/sparsify_activations_impl/index.html
  autoapi/nncf/experimental/torch/sparsify_activations/target_scope/index.html
  autoapi/nncf/experimental/torch/sparsify_activations/torch_backend/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

Revert changes
  nncf/onnx/graph/node_utils.py
Due: onnx

Update setup.py
  setup.py
Due: none

Added docstring for shape computation.
  nncf/quantization/algorithms/weight_compression/algorithm.py
Due: ptq

disable progress bar in the test examples
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  tests/cross_fw/examples/run_example.py
Due: none

Update references for int4/8 compression.
  tests/openvino/native/data/2024.1/reference_scales/IntegerModel_compressed_weights_int4_sym.json
  tests/openvino/native/data/2024.1/reference_scales/IntegerModel_compressed_weights_int8_sym.json
Due: none

Update tests for signed scale.
  tests/openvino/native/quantization/test_weights_compression.py
Due: none

Fix pass to remove ShapeOf subgraph
  nncf/quantization/passes.py
Due: ptq

Minor fix
  nncf/quantization/passes.py
Due: ptq

r
  tests/torch/sparsity/movement/test_model_saving.py
Due: none

Increase approx abs (#2826)
  tests/torch/sparsity/movement/test_model_saving.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@e70befd21c27cd16485e7bd502cb9846da5bba86 🚀
  schema/index.html
Due: none

Fix incorrect scales in SmoothQuant algo
  docs/usage/post_training_compression/weights_compression/Usage.md
  nncf/quantization/algorithms/smooth_quant/algorithm.py
Due: ptq

Fix shared_memory issue with cast
  nncf/openvino/graph/model_transformer.py
Due: openvino

update reference for squeezenet1_1_imagenet_int8_per_tensor
  tests/torch/sota_checkpoints_eval.json
Due: none

Fix tests
  nncf/openvino/graph/model_transformer.py
Due: openvino

Set upper limit for pydot version 3.0.0 (#2814)
  setup.py
Due: none

[CI] Correction files for conformance tests (#2824)
  tests/openvino/native/common.py
  tests/post_training/data/wc_reference_data_2024.4.yaml
  tests/post_training/test_quantize_conformance.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@8744c2052101269391d90ae45040fb2824f86510 🚀
  schema/index.html
Due: none

Reduce test_examples logs (#2828)
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  tests/cross_fw/examples/run_example.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@204bc9fe6f282e43c2bbf7f18c4de1931e1f3d27 🚀
  schema/index.html
Due: none

Lora Correction Algorithm for int4/nf4 weight compression
  docs/usage/post_training_compression/weights_compression/Usage.md
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/weight_compression/activation_stats.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/lora_correction.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
  tests/openvino/conftest.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/model_scope.py
Due: torch, openvino, ptq

Fix shared_memory issue with cast (#2834)
  nncf/openvino/graph/model_transformer.py
Due: openvino

Deploying to doc_pages from @ openvinotoolkit/nncf@b328e4d0e0a6e3b471ed7ad155caf3848ab703d1 🚀
  schema/index.html
Due: none

Fix in comments.
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Due: ptq

conformance test values
  tests/post_training/data/wc_reference_data.yaml
Due: none

Bump version of laber
  .github/action_configs/labeler.yml
  .github/workflows/labeler.yml
Due: none

release tag
  .github/action_configs/labeler.yml
Due: none

checkout
  .github/workflows/labeler.yml
Due: none

Revert "checkout"
  .github/workflows/labeler.yml
Due: none

Set upper limit for pydot version 3.0.0 (#2814) (#2833)
  setup.py
Due: none

Increase approx abs (#2826) (#2832)
  tests/torch/sparsity/movement/test_model_saving.py
Due: none

[PTQ] Remove logs from autogenerated ignored node names (#2815)
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
Due: torch, onnx, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@60000e4988da53a381c5e9aeeec2cbebc592983f 🚀
  schema/index.html
Due: none

Fix for model transformer command (#2823)
  nncf/openvino/graph/model_transformer.py
  tests/post_training/test_templates/helpers.py
Due: openvino
