Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

add list
  tests/post_training/test_quantize_conformance.py
Due: none

add columns filling for --forked
  tests/post_training/test_quantize_conformance.py
Due: none

uniq port_id for list input
  nncf/experimental/torch2/function_hook/graph/build_graph_mode.py
  nncf/experimental/torch2/function_hook/hook_executor_mode.py
  tests/torch2/data/function_hook/graph_visualization/to_pydot_style_full.dot
  tests/torch2/data/function_hook/handle_inner_functions/inner_functions_MultiHeadAttention.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_densenet121.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_inception_v3.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_shufflenet_v2_x0_5.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_squeezenet1_0.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_swin_v2_b.dot
  tests/torch2/data/quantization/test_quantized_graphs/densenet121.dot
  tests/torch2/data/quantization/test_quantized_graphs/inception.dot
  tests/torch2/data/quantization/test_quantized_graphs/inception_v3.dot
  tests/torch2/data/quantization/test_quantized_graphs/shufflenetv2.dot
  tests/torch2/data/quantization/test_quantized_graphs/squeezenet1_1.dot
  tests/torch2/data/quantization/test_quantized_graphs/unet.dot
  tests/torch2/function_hook/nncf_graph/test_layer_attributes.py
  tests/torch2/function_hook/nncf_graph/test_nncf_graph.py
  tests/torch2/function_hook/test_function_hook_mode.py
Due: none

doc
  nncf/experimental/torch2/function_hook/graph/build_graph_mode.py
Due: none

[TorchFX] Refines for ExecuTorch OpenVINO backend integration (#3270)
  nncf/experimental/torch/fx/quantization/quantize_pt2e.py
  nncf/experimental/torch/fx/quantization/quantizer/openvino_adapter.py
  nncf/experimental/torch/fx/quantization/quantizer/openvino_quantizer.py
Due: openvino

Deploying to doc_pages from @ openvinotoolkit/nncf@77ef40c47810e7056778f9f8c81e36919ae28cb5 🚀
  schema/index.html
Due: none

Bump transformers version
  examples/llm_compression/openvino/smollm2_360m_fp8/requirements.txt
  examples/llm_compression/openvino/tiny_llama/requirements.txt
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
  tests/torch/models_hub_test/requirements.txt
  tests/torch/requirements.txt
Due: none

Bump optimum-intel version as dependency
  examples/llm_compression/openvino/smollm2_360m_fp8/requirements.txt
  examples/llm_compression/openvino/tiny_llama/requirements.txt
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
Due: none

Bump optimum as dependency
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
Due: none

Update statistics caching test
  tests/openvino/native/quantization/test_weights_compression_statistics_caching.py
Due: none

Update references
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/data/wc_reference_data_2025.0.yaml
Due: none

Bump accelerate
  tests/torch/requirements.txt
Due: none

More test fixes
  nncf/torch/exporter.py
  tests/torch/sparsity/movement/helpers/trainer.py
Due: torch

make order based on max length in dataframed
  tests/post_training/test_quantize_conformance.py
Due: none

[MinMax] set_ignored_scope method
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/cross_fw/test_templates/test_min_max.py
Due: ptq

rm subset_size recalculation
  tests/post_training/model_scope.py
  tests/post_training/test_quantize_conformance.py
Due: none

add column report reordering logic
  tests/post_training/pipelines/base.py
  tests/post_training/test_quantize_conformance.py
Due: none

[PT2] FBC (#3258)
  nncf/common/factory.py
  nncf/experimental/torch2/function_hook/extractor.py
  nncf/experimental/torch2/function_hook/graph/build_graph_mode.py
  nncf/experimental/torch2/function_hook/nncf_graph/nncf_graph_builder.py
  nncf/experimental/torch2/model_transformer.py
  nncf/quantization/algorithms/fast_bias_correction/torch_backend.py
  nncf/torch/__init__.py
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/model_graph_manager.py
  nncf/torch/model_transformer.py
  tests/torch/test_model_graph_manager.py
  tests/torch2/function_hook/quantization/test_fast_bias_correction.py
  tests/torch2/function_hook/test_extractor.py
Due: common, torch, ptq

[MinMax] set_ignored_scope method (#3274)
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/cross_fw/test_templates/test_min_max.py
Due: ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@fc5e2be5a1b1e41f83fb3262bd2a82d80d802cec 🚀
  _sources/autoapi/nncf/experimental/torch2/function_hook/extractor/index.rst.txt
  autoapi/nncf/experimental/torch2/function_hook/extractor/index.html
  genindex.html
  objects.inv
  py-modindex.html
  schema/index.html
  searchindex.js
Due: none

update transformers requirement
  examples/torch/common/model_loader.py
  examples/torch/object_detection/models/ssd_mobilenet.py
  examples/torch/object_detection/models/ssd_vgg.py
  nncf/experimental/torch/nas/bootstrapNAS/search/supernet.py
  tests/post_training/requirements.txt
  tests/torch/models_hub_test/requirements.txt
  tests/torch/requirements.txt
  tests/torch/sparsity/movement/helpers/trainer.py
  tests/torch/sparsity/movement/training_scripts/run_glue.py
  tests/torch/test_backward_compat.py
  tests/torch2/function_hook/test_handle_inner_functions.py
Due: none

load_weight and torch 2 fixes
  examples/experimental/torch/classification/bootstrap_nas_search.py
  nncf/experimental/torch2/function_hook/handle_inner_functions.py
  tests/torch2/function_hook/test_handle_inner_functions.py
Due: none

missed out model hf fix
  tests/torch/models_hub_test/test_hf_transformers.py
Due: none

big fix: use self attention instead of SDPA while loading hf models
  tests/torch/pruning/experimental/test_nodes_grouping.py
  tests/torch/sparsity/movement/helpers/run_recipe.py
  tests/torch/sparsity/movement/training_scripts/run_glue.py
Due: none

part of big fix
  tests/torch/models_hub_test/test_hf_transformers.py
Due: none

fix comments
  nncf/experimental/torch2/function_hook/handle_inner_functions.py
  tests/torch/experimental/search_building_blocks/test_transformer_blocks.py
Due: none

pre-commit fix
  nncf/experimental/torch2/function_hook/handle_inner_functions.py
  tests/torch/pruning/experimental/test_nodes_grouping.py
Due: none

update reference graphs
  nncf/experimental/torch2/function_hook/handle_inner_functions.py
  tests/torch/data/experimental/sparsify_activations/dummy_llama_int8_sym_weights_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/dummy_llama_sparse_activations.dot
  tests/torch/experimental/search_building_blocks/test_transformer_blocks.py
Due: none

change torch.export for swin model to torch.export.export_for_inference
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/image_classification_torchvision.py
  tests/torch/data/reference_graphs/fx/transformed/folded_scalar_clone_model.dot
  tests/torch/fx/test_model_transformer.py
Due: none

update optimum intel version
  nncf/torch/dynamic_graph/trace_tensor.py
  tests/post_training/pipelines/image_classification_torchvision.py
  tests/post_training/requirements.txt
Due: torch

revert old pt fix
  nncf/torch/dynamic_graph/trace_tensor.py
  tests/torch/sparsity/movement/test_model_saving.py
Due: torch

change export in conformance test
  tests/post_training/pipelines/image_classification_torchvision.py
Due: none

added TorchFX in the PyPiPublishing.md
  docs/PyPiPublishing.md
Due: none

sq
  nncf/experimental/torch2/commands.py
  nncf/experimental/torch2/model_transformer.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  nncf/quantization/algorithms/smooth_quant/backend.py
  nncf/quantization/algorithms/smooth_quant/openvino_backend.py
  nncf/quantization/algorithms/smooth_quant/torch_backend.py
  nncf/quantization/algorithms/smooth_quant/torch_fx_backend.py
  nncf/torch/graph/transformations/command_creation.py
  nncf/torch/layer_utils.py
  tests/torch2/function_hook/quantization/test_smooth_quant.py
Due: torch, openvino, ptq

Add TorchFX backend in the PyPiPublishing.md (#3275)
  docs/PyPiPublishing.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@2f3fb1c53816e53ec27833b036fcd60d3abd1451 🚀
  schema/index.html
Due: none

[PT2] Use unique inport_port_id for list of tensors (#3271)
  nncf/experimental/torch2/function_hook/graph/build_graph_mode.py
  nncf/experimental/torch2/function_hook/hook_executor_mode.py
  tests/torch2/data/function_hook/graph_visualization/to_pydot_style_full.dot
  tests/torch2/data/function_hook/handle_inner_functions/inner_functions_MultiHeadAttention.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_densenet121.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_inception_v3.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_shufflenet_v2_x0_5.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_squeezenet1_0.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_swin_v2_b.dot
  tests/torch2/data/quantization/test_quantized_graphs/densenet121.dot
  tests/torch2/data/quantization/test_quantized_graphs/inception.dot
  tests/torch2/data/quantization/test_quantized_graphs/inception_v3.dot
  tests/torch2/data/quantization/test_quantized_graphs/shufflenetv2.dot
  tests/torch2/data/quantization/test_quantized_graphs/squeezenet1_1.dot
  tests/torch2/data/quantization/test_quantized_graphs/unet.dot
  tests/torch2/function_hook/nncf_graph/test_layer_attributes.py
  tests/torch2/function_hook/nncf_graph/test_nncf_graph.py
  tests/torch2/function_hook/test_function_hook_mode.py
Due: none

each test has own NumCompressNodes
  tests/post_training/conftest.py
  tests/post_training/experimental/sparsify_activations/pipelines.py
  tests/post_training/experimental/sparsify_activations/test_sparsify_activations_conformance.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/post_training/test_quantize_conformance.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@61f5886519f9eaccfef3dfe2a4dd1dadc27bc459 🚀
  schema/index.html
Due: none

add typehints
  tests/post_training/experimental/sparsify_activations/pipelines.py
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
