Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

Remove links to deprecated OV notebooks
  README.md
Due: none

Added tests for AWQ/scale estimation for cases with negative group_size and pre compressed models.
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
Due: none

Replace one link
  README.md
Due: none

Remove links to deprecated OV notebooks (#2661)
  README.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@08d5f0c524d2195609fb562971e6453c23756417 🚀
  schema/index.html
Due: none

fix: Corrected reference data for TORCH backend
  tests/post_training/data/wc_reference_data.yaml
Due: none

refactor: Code made cleaner
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

fix: Utilized wikitext for TORCH models as well
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

feat: Implemented get_num_compressed
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

fix: Dumping the fp32 model correctly
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

chore: Removed unneccesary model wrapping
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

fix: Changed _validate to match the modified pipeline
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

[NNCF]: Add INT8 weight compression conformance test for Tinyllama-1.1b PyTorch model (#2636)
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/lm_weight_compression.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@ba7e1a420cb47939c72e08d17801e5f08eb55a21 🚀
  schema/index.html
Due: none

upd test_nncf_graph_builder
  tests/openvino/native/data/2024.1/reference_graphs/original_nncf_graph/googlenet-v3-pytorch.dot
  tests/openvino/native/data/2024.1/reference_graphs/original_nncf_graph/inception-v3.dot
  tests/openvino/native/data/2024.1/reference_graphs/original_nncf_graph/mobilenet-v2-pytorch.dot
  tests/openvino/native/data/2024.1/reference_graphs/original_nncf_graph/mobilenet-v2.dot
  tests/openvino/native/data/2024.1/reference_graphs/original_nncf_graph/mobilenet-v3-small-1.0-224-tf.dot
  tests/openvino/native/data/2024.1/reference_graphs/original_nncf_graph/mobilenet-v3-small.dot
  tests/openvino/native/data/2024.1/reference_graphs/original_nncf_graph/resnet-18-pytorch.dot
  tests/openvino/native/data/2024.1/reference_graphs/original_nncf_graph/resnet-18.dot
  tests/openvino/native/data/2024.1/reference_graphs/original_nncf_graph/ssd-mobilenet.dot
  tests/openvino/native/data/2024.1/reference_graphs/original_nncf_graph/ssd_mobilenet_v1_coco.dot
  tests/openvino/native/data/2024.1/reference_graphs/original_nncf_graph/yolo-v4-tiny-tf.dot
  tests/openvino/native/models.py
  tests/openvino/native/test_nncf_graph_builder.py
Due: none

upd test_graphs
  tests/openvino/native/data/2024.1/reference_graphs/quantized/mobilenet-v2-pytorch_performance.dot
  tests/openvino/native/data/2024.1/reference_graphs/quantized/mobilenet-v2_performance.dot
  tests/openvino/native/data/2024.1/reference_graphs/quantized/mobilenet-v3-small-1.0-224-tf_performance.dot
  tests/openvino/native/data/2024.1/reference_graphs/quantized/mobilenet-v3-small_performance.dot
  tests/openvino/native/data/2024.1/reference_graphs/quantized/resnet-18-pytorch_performance.dot
  tests/openvino/native/data/2024.1/reference_graphs/quantized/resnet-18_performance.dot
  tests/openvino/native/data/2024.1/reference_graphs/quantized/resnet-18_performance_CPU_SPR.dot
  tests/openvino/native/data/2024.1/reference_graphs/quantized/resnet-50-pytorch_performance_CPU_SPR.dot
  tests/openvino/native/data/2024.1/reference_graphs/quantized/scaled_dot_product_attention.dot
  tests/openvino/native/data/2024.1/reference_graphs/quantized/ssd-vgg-300_performance.dot
  tests/openvino/native/data/2024.1/reference_graphs/quantized/swin-t_performance_transformer.dot
  tests/openvino/native/data/2024.1/reference_graphs/quantized/swin-t_sq.dot
  tests/openvino/native/data/2024.1/reference_graphs/quantized/swin-tiny-patch4-window7-224_performance_transformer.dot
  tests/openvino/native/data/2024.1/reference_graphs/quantized/swin-tiny-patch4-window7-224_sq.dot
  tests/openvino/native/data/2024.1/reference_graphs/quantized/yolo-v4-tiny-tf_performance.dot
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_graphs.py
  tests/torch/test_models/swin.py
Due: none

[Torch][Tests] Build cuda qantizer extentions before the DataParallel
  tests/torch/quantization/test_algo_quantization.py
Due: none

add reqs for OV
  tests/openvino/requirements.txt
Due: none

added diag, cholesky, cholesky_inverse, inv
  nncf/experimental/tensor/functions/__init__.py
  nncf/experimental/tensor/functions/linalg.py
  nncf/experimental/tensor/functions/numeric.py
  nncf/experimental/tensor/functions/numpy_linalg.py
  nncf/experimental/tensor/functions/numpy_numeric.py
  nncf/experimental/tensor/functions/torch_linalg.py
  nncf/experimental/tensor/functions/torch_numeric.py
  tests/shared/test_templates/template_test_nncf_tensor.py
Due: torch

replied to comments
  nncf/experimental/tensor/functions/numpy_linalg.py
  nncf/experimental/tensor/functions/torch_linalg.py
  tests/shared/test_templates/template_test_nncf_tensor.py
Due: torch

Comments
  nncf/quantization/algorithms/smooth_quant/torch_backend.py
  nncf/torch/graph/transformations/serialization.py
  nncf/torch/layer_utils.py
  nncf/torch/pruning/filter_pruning/layers.py
  nncf/torch/quantization/layers.py
  nncf/torch/sparsity/layers.py
  nncf/torch/sparsity/rb/layers.py
  tests/torch/helpers.py
  tests/torch/test_serialization.py
Due: torch, ptq

[Torch][Tests] Build cuda qantizer extentions before the DataParallel (#2662)
  tests/torch/quantization/test_algo_quantization.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@ac15a65a886959b43480de297ef26c23bd68a133 🚀
  schema/index.html
Due: none

reverse unnecessary changes
  tests/openvino/native/data/2024.1/reference_graphs/quantized/scaled_dot_product_attention.dot
Due: none

Update reference
  tests/torch/quantization/test_hawq_precision_init.py
Due: none

Align NPU to CPU
  nncf/common/hardware/configs/npu.json
Due: common

Align NPU to CPU
  nncf/common/hardware/configs/cpu.json
  nncf/common/hardware/configs/npu.json
Due: common

Change refs
  tests/torch/quantization/test_hawq_precision_init.py
Due: none

Fix minors
  nncf/common/hardware/configs/npu.json
Due: common

Fix refs
  tests/torch/quantization/test_hawq_precision_init.py
Due: none

Update Torch refs
  tests/torch/data/reference_graphs/quantized/adjust_paddings/npu_all_activations_int8.dot
  tests/torch/data/reference_graphs/quantized/adjust_paddings/npu_all_activations_int8_requnt.dot
  tests/torch/data/reference_graphs/quantized/adjust_paddings/npu_all_int8.dot
  tests/torch/data/reference_graphs/quantized/adjust_paddings/npu_all_int8_requnt.dot
  tests/torch/data/reference_graphs/quantized/adjust_paddings/npu_all_weights_int8.dot
  tests/torch/data/reference_graphs/quantized/adjust_paddings/npu_all_weights_int8_requnt.dot
  tests/torch/data/reference_graphs/quantized/adjust_paddings/npu_bd_int8.dot
  tests/torch/data/reference_graphs/quantized/adjust_paddings/npu_bd_int8_requnt.dot
  tests/torch/data/reference_graphs/quantized/autoq/inception_v3_device_NPU__eval_subset_ratio_0.4__with_ignored_scopes.dot
  tests/torch/data/reference_graphs/quantized/autoq/inception_v3_device_NPU__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/mobilenet_v2_tv_092_device_NPU.dot
  tests/torch/data/reference_graphs/quantized/autoq/mobilenet_v2_tv_092_device_NPU__eval_subset_ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/mobilenet_v2_tv_092_device_NPU__eval_subset_ratio_0.4__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/mobilenet_v2_tv_092_device_NPU__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/resnet50_device_NPU.dot
  tests/torch/data/reference_graphs/quantized/autoq/resnet50_device_NPU__eval_subset_ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/resnet50_device_NPU__eval_subset_ratio_0.4__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/resnet50_device_NPU__iter_number_4__warmup_iter_number_2.dot
  tests/torch/data/reference_graphs/quantized/autoq/resnet50_device_NPU__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/squeezenet1_1_device_NPU.dot
  tests/torch/data/reference_graphs/quantized/autoq/ssd_vgg_512_test_device_NPU__eval_subset_ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/ssd_vgg_512_test_device_NPU__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/hawq/inception_v3_device_NPU__mode_liberal__ratio_1.3__with_target_scopes.dot
  tests/torch/data/reference_graphs/quantized/hawq/inception_v3_device_NPU__mode_liberal__ratio_1.5.dot
  tests/torch/data/reference_graphs/quantized/hawq/inception_v3_device_NPU__mode_liberal__ratio_1.5__with_ignored_scopes.dot
  tests/torch/data/reference_graphs/quantized/hawq/inception_v3_device_NPU__mode_strict__ratio_1.dot
  tests/torch/data/reference_graphs/quantized/hawq/manual_init_int4_sym_int8_asym.dot
  tests/torch/data/reference_graphs/quantized/hawq/mobilenet_v2_tv_092_device_NPU__mode_liberal__ratio_1.5.dot
  tests/torch/data/reference_graphs/quantized/hawq/mobilenet_v2_tv_092_device_NPU__mode_strict__ratio_1.02.dot
  tests/torch/data/reference_graphs/quantized/hawq/resnet50_device_NPU__mode_liberal__ratio_1.5.dot
  tests/torch/data/reference_graphs/quantized/hawq/resnet50_device_NPU__mode_strict__ratio_1.11.dot
  tests/torch/data/reference_graphs/quantized/hawq/squeezenet1_1_device_NPU__mode_strict.dot
  tests/torch/data/reference_graphs/quantized/hawq/ssd_vgg_512_test_device_NPU__mode_liberal__ratio_1.5.dot
  tests/torch/data/reference_graphs/quantized/hawq/ssd_vgg_512_test_device_NPU__mode_strict__ratio_1.09.dot
  tests/torch/data/reference_graphs/quantized/hw/NPU/inception_v3.dot
  tests/torch/data/reference_graphs/quantized/hw/NPU/mobilenet_v2.dot
  tests/torch/data/reference_graphs/quantized/hw/NPU/resnet50.dot
Due: none

Added test & missed config
  nncf/common/hardware/configs/npu.json
  tests/common/test_hardware_config.py
Due: common

Remove tests for PT
  tests/torch/data/reference_graphs/quantized/hw/NPU/inception_v3.dot
  tests/torch/data/reference_graphs/quantized/hw/NPU/mobilenet_v2.dot
  tests/torch/data/reference_graphs/quantized/hw/NPU/resnet50.dot
  tests/torch/test_compressed_graph.py
Due: none

Fixed NPU config
  nncf/common/hardware/configs/npu.json
Due: common

Fix minors
  nncf/common/hardware/configs/npu.json
  nncf/common/utils/dot_file_rw.py
Due: common

Update TF refs
  tests/tensorflow/data/reference_graphs/2.8/quantized/hw/NPU/mobilenet_v2.pb
  tests/tensorflow/data/reference_graphs/2.8/quantized/hw/NPU/resnet50.pb
Due: none

happy ruff
  nncf/experimental/tensor/functions/numpy_linalg.py
Due: none

Path conditions:
  common: any of: nncf/common, but not: nncf/**/torch_*.py, nncf/**/tensorflow_*.py, nncf/**/onnx_*.py, nncf/**/openvino_*.py, examples, tests, tools
  torch: any of: nncf/torch, nncf/**/torch_*.py, but not: examples, tests, tools
  tensorflow: any of: nncf/tensorflow, nncf/**/tensorflow_*.py, but not: examples, tests, tools
  onnx: any of: nncf/onnx, nncf/**/onnx_*.py, but not: examples, tests, tools
  openvino: any of: nncf/openvino, nncf/**/openvino_*.py, but not: examples, tests, tools
  ptq: any of: nncf/quantization, but not: examples, tests, tools
