Repository openvinotoolkit/nncf: changes, and which Codecov flags are due for each by the changed paths.
All: common, torch, tensorflow, onnx, openvino, ptq

codecov.yml:

ignore:
  - "examples"
  - "tests"
  - "tools"

codecov:
  notify:
     wait_for_ci: true
  max_report_age: off

coverage:
  status:
    project:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"
    patch:
      default:
        branches:
          - develop
        target: 90%
        informational: true
        only_pulls: true
        paths:
          - "nncf"

comment:
  layout: "reach, diff, files, flags, components"
  require_changes: false

  require_head: false
  require_base: false

flag_management:
  # Flag coverage percentage seems to show the "percentage of lines under the flag path covered as reported ONLY
  # by the upload with the corresponding flag", so e.g. for COMMON the flag coverage percentage will report the
  # percentage of common code tested ONLY by the common tests, and e.g. not by backend-specific precommit parts
  # (which also run common code and are therefore indirectly providing coverage). Ideally each flag-specific path
  # would be described below with the corresponding flag and provide valuable information on whether the test code base
  # is written efficiently, e.g. that the backend-specific tests predominantly validate backend-specific code and the
  # common tests completely cover the common code on their own. However, if we set all flags with paths here, then the
  # total repo coverage percentage will sink, because codecov currently reports the overall coverage based on the union
  # of the "flag" coverages - not the "component" coverages (see below) - and currently NNCF's precommit tests are
  # biased toward validating common code via backend-specific tests. In the future the tests will be gradually
  # refactored to have more "locality" in what each precommit section tests.
  individual_flags:
    - name: COMMON
      paths:
        - nncf/common
        - nncf/quantization

component_management:
  # In contrast to the "flag" coverage above, the "component" display seems to calculate percentage based on the
  # coverage information from ALL uploads for the code in the specified path. With this, the "component" coverage
  # percentage is a better representation of what sub-paths in the NNCF code base are covered with at least one test,
  # without distinction whether the test was run in the
  individual_components:
    - component_id: common
      name: common
      paths:
        - nncf/common
        - "!nncf/**/torch_*.py"
        - "!nncf/**/tensorflow_*.py"
        - "!nncf/**/onnx_*.py"
        - "!nncf/**/openvino_*.py"
    - component_id: torch
      name: torch
      paths:
        - nncf/torch
        - nncf/**/torch_*.py
    - component_id: tensorflow
      name: tensorflow
      paths:
        - nncf/tensorflow
        - nncf/**/tensorflow_*.py
    - component_id: onnx
      name: onnx
      paths:
        - nncf/onnx
        - nncf/**/onnx_*.py
    - component_id: openvino
      name: openvino
      paths:
        - nncf/openvino
        - nncf/**/openvino_*.py
    - component_id: quantization
      name: ptq
      paths:
        - nncf/quantization

Updated ReleaseNotes
  ReleaseNotes.md
Due: none

Replace tutorials
  ReleaseNotes.md
Due: none

add validation with batch_size
  tests/post_training/pipelines/image_classification_timm.py
Due: none

Reduce OV test scope.
  tests/openvino/native/quantization/test_weights_compression.py
Due: none

Fix linter
  ReleaseNotes.md
Due: none

Added some missed PRs
  ReleaseNotes.md
Due: none

Apply comments
  ReleaseNotes.md
Due: none

Update OpenVINO version
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
  setup.py
  tests/onnx/benchmarking/requirements.txt
  tests/onnx/requirements.txt
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
  tests/tensorflow/requirements.txt
  tests/torch/requirements.txt
Due: none

Fixed EOF
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
Due: none

Fixed EOF
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
Due: none

Update Installation.md
  docs/Installation.md
Due: none

Fix quantile parameter not being fed to NoOutliersAggregator constructor (#2641)
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/range_estimator.py
Due: torch, onnx, openvino, ptq

Deploying to doc_pages from @ openvinotoolkit/nncf@c33b1f21dfd0459f964092a632c26f1acf126425 🚀
  _sources/autoapi/nncf/quantization/range_estimator/index.rst.txt
  autoapi/nncf/quantization/range_estimator/index.html
  schema/index.html
  searchindex.js
Due: none

Updated schedulers
  nncf/common/pruning/schedulers.py
Due: common

Change list() to use cast(List[]) when converting compressed training history dictionary keys and values.
  nncf/common/accuracy_aware_training/runner.py
Due: common

Used cast(List[]) instead of list()
  nncf/common/accuracy_aware_training/training_loop.py
Due: common

rework
  constraints.txt
  examples/llm_compression/openvino/tiny_llama/requirements.txt
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
  tests/onnx/benchmarking/requirements.txt
  tests/onnx/requirements.txt
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
  tests/torch/models_hub_test/requirements.txt
  tests/torch/requirements.txt
Due: none

test loader
  .github/workflows/precommit.yml
  nncf/torch/quantization/extensions.py
Due: torch

t
  .github/workflows/precommit.yml
Due: none

ubuntu-20.04
  .github/workflows/precommit.yml
Due: none

build-essential
  .github/workflows/precommit.yml
Due: none

Runner info
  .github/workflows/precommit.yml
Due: none

ubuntu-20.04-8-cores
  .github/workflows/precommit.yml
Due: none

QAT anomaly example (#2582)
  examples/quantization_aware_training/torch/anomalib/README.md
  examples/quantization_aware_training/torch/anomalib/main.py
  examples/quantization_aware_training/torch/anomalib/requirements.txt
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
  tests/cross_fw/examples/test_examples.py
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@eb56bdf43ae43f1206545084e6a24d909380a91b 🚀
  schema/index.html
Due: none

upd reference
  tests/post_training/data/ptq_reference_data.yaml
Due: none

timeout
  .github/workflows/precommit.yml
Due: none

Added exception for AWQ and SE in the case gruop_size==-1.
  nncf/quantization/quantize_model.py
Due: ptq

Release notes 2.10 (#2640)
  ReleaseNotes.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@d3a3fe96190721c778156b14001e92de7dc594c2 🚀
  schema/index.html
Due: none

[Release] Release notes 2.10 (#2640) (#2646)
  ReleaseNotes.md
Due: none

applied comments
  docs/compression_algorithms/post_training/Quantization.md
Due: none

Simplify test
  tests/tensorflow/sparsity/rb/test_integration.py
Due: none

[PTQ] batch_size in PTQ docs (#2619)
  docs/compression_algorithms/post_training/Quantization.md
Due: none

Deploying to doc_pages from @ openvinotoolkit/nncf@fa1a4ceabee06e10f7dfb42ce12bdd9b04ed4b79 🚀
  schema/index.html
Due: none

Comments
  nncf/torch/graph/transformations/commands.py
  nncf/torch/nncf_network.py
  tests/torch/nncf_network/helpers.py
  tests/torch/nncf_network/test_get_applied_modifications.py
Due: torch

Shared operations case handling
  nncf/torch/graph/graph.py
  nncf/torch/nncf_network.py
  tests/torch/helpers.py
  tests/torch/nncf_network/helpers.py
  tests/torch/nncf_network/test_get_applied_modifications.py
Due: torch
